﻿@model ISM_Project.Models.IIC
@{
    /**/

    ViewBag.Title = "CorrespondenceResponse";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<style>
    .alert-danger {
        background-color: #ff5454 !important;
        border-left: 8px solid rgba(0,0,0,0.1) !important;
    }

    .attachments-tag .fileUpload.btn-success {
        background-color: #CE0B2C;
        border-color: #CE0B2C;
    }

    .scope_new h2 {
        color: #B28B34 !important;
    }

    .user-tittle {
        background-color: #B28B34;
    }

    .create-user-page .form-group label.col-form-label {
        font-weight: 400;
    }

    .alert-info, .alert-success, .alert-danger, .alert-warning {
        display: none;
        position: fixed;
        top: 60px;
        z-index: 1;
        width: 100%;
        border-radius: 0;
        min-height: 45px;
        font-size: 18px;
        border: none;
    }
</style>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="userPage-wrapper">
                <div class="container">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-center">
                        <div class="row">
                            <div class="user-tittle">
                                <h2>Correspondence Response</h2>
                            </div>
                            <div class="x_panel">

                                @if (Model.responseStatus == 0)
                                {
                                    if(Model.ISRCHistory != null && Model.ISRCHistory.ToList().Count > 0)
                                    {
                                    <div class="inner-x_content">
                                        <div class="table-tittle">
                                            <h2>Communication History</h2>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        @foreach (var corresp in Model.ISRCHistory.ToList())
                                        {
                                            if (!string.IsNullOrEmpty(corresp.StakeholderResponse))
                                            {
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">@corresp.CREATEDON <br /> Stakeholder Response </label>
                                                    <div class="col-sm-8 col-form-box">
                                                        @Html.TextArea("StakeholderResponse", corresp.StakeholderResponse, new { @disabled = true, @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                    </div>
                                                </div>

                                            }
                                            if (!string.IsNullOrEmpty(corresp.IICCommentsforSHResponse))
                                            {
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> @corresp.UPDATEDON <br /> ICC Comments for SH Response </label>
                                                    <div class="col-sm-8 col-form-box">
                                                        @Html.TextArea("ICCResponse", corresp.IICCommentsforSHResponse, new { @disabled = true, @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                    </div>
                                                </div>
                                            }
                                        }
                                        </div>


                                    }
                                    using (Html.BeginForm("CorrespondenceResponse", "Anonymous", FormMethod.Post, new { @id = "new_corrspondence", enctype = "multipart/form-data" }))
                                    {
                                        <div class="x_content create-user-page mtop15">
                                            <div class="form-group">
                                                @if (Model.LKInitialCorrespondenceMessageTypeID != 6)
                                                {
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">From (Email Address)<span class="text-danger">*</span></label>
                                                }
                                                else
                                                {
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">From</label>
                                                }
                                                
                                                <div class="col-sm-8 col-form-box">

                                                    @if (Model.LKInitialCorrespondenceMessageTypeID != 6)
                                                    {
                                                        @Html.TextBoxFor(a => a.CorrespondenceMessageResponseFrom, new { Value = "", @class = "form-control form-textbox" })
                                                    }
                                                    else
                                                    {
                                                        @Html.Label("CorrespondenceMessageFromMail", Model.CorrespondenceMessageResponseFrom)
                                                        @Html.Hidden("CorrespondenceMessageResponseFrom", Model.CorrespondenceMessageResponseFrom)
                                                    }
                                                    @Html.Hidden("CorrespondenceMessageFrom", Model.CorrespondenceMessageFrom)
                                                    @Html.Hidden("CorrespondenceID", Model.CorrespondenceID)
                                                    @Html.Hidden("CorrespondenceControlNumber", Model.CorrespondenceControlNumber)
                                                    @Html.Hidden("CorrespondenceInitiatedDate", DateTime.Now)
                                                    @Html.Hidden("SR_ID", Model.SR_ID)
                                                    @Html.Hidden("SR_Response_ID", Model.SR_Response_ID)
                                                    @Html.Hidden("Subject", Model.Subject)
                                                    @Html.Hidden("CORR_MSG_TYPE", "REPLY")
                                                    @Html.Hidden("HdnMode", "response")
                                                    @Html.Hidden("CorrespondenceControlNumber", Convert.ToString(TempData["CONTROL_NUMER"]))
                                                    @Html.HiddenFor(a => a.LKCorrespondenceMessageTypeID, new { @Value = "4" })
                                                    @Html.HiddenFor(a => a.LKInitialCorrespondenceMessageTypeID, new { @Value = Model.LKInitialCorrespondenceMessageTypeID })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Comments<span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextAreaFor(a => a.CorrespondenceContent, new { @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Attachments <span class="text-danger"></span></label>
                                                <div class="col-sm-8 padding-right">
                                                    <div class="form-group attachments-tag">
                                                        <div class="input-group tag-bottom">
                                                            <input id="corresuploadFile_0" class="form-control" placeholder="Choose File" disabled="disabled">
                                                            <div class="input-group-btn">
                                                                <div id="FileUpload" class="fileUpload btn btn-success">
                                                                    <span><i class="fa fa-upload" aria-hidden="true"></i>Choose File</span>
                                                                    <input id="uploadBtn_0" type="file" name="CorresFiles[]" class="upload corresupload" multiple="multiple">
                                                                    @* @Html.TextBoxFor(a => a.CorresFiles, new { @type = "file", @class="upload corresupload" })*@
                                                                    <input type="hidden" id="hdnVal_0" class="hdnfile" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <label class="cur" id="corres_add_attachment"> Add Attachment <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                                </div>
                                            </div>
                                            @if (Model.LKInitialCorrespondenceMessageTypeID == 6)
                                            {
                                                <div class="form-group">
                                                    <label class="col-sm-12 col-form-label" for="exampleInputPassword1">An email notification will be sent to @Model.CorrespondenceMessageResponseFrom  once you submit </label>
                                                </div>
                                            }
                                        </div>

                                        <div class="create-bottom-btn">
                                            <button type="button" class="btn btn-save" id="btnSaveCorres" onclick="saveCorrespondence('corresupload');">Submit</button>
                                        </div>
                                        }
                                        }
                                        else if (Model.responseStatus == 1)
                                        {
                                        <div class="x_content create-user-table mtop15">
                                            <div class="form-group">
                                                <h4 style="font-weight:bold"> You have already responded.</h4>
                                            </div>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="x_content create-user-table mtop15">
                                            <div class="form-group">
                                                <h4 style="font-weight:bold"> You could not respond to this SR.</h4>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>