﻿@model ISM_Project.Models.SR
@{
    ViewBag.Title = "SRCommittee";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<style>
    .alert-danger {
        background-color: #ff5454 !important;
        border-left: 8px solid rgba(0,0,0,0.1) !important;
    }

    .alert-info, .alert-success, .alert-danger, .alert-warning {
        display: none;
        position: fixed;
        top: 60px;
        z-index: 1;
        width: 100%;
        border-radius: 0;
        min-height: 45px;
        font-size: 18px;
        border: none;
    }
</style>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper">
                <div class="main-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-center">
                        <div class="row">
                            <div class="x_panel">
                                <div class="info-tittle">
                                    <h2>SR Committee Action</h2>
                                </div>
                                @if (Model.SRCommitteeActionStatus == false)
                                {
                                    using (Html.BeginForm("SRCommittee", "Anonymous", FormMethod.Post, new { @id = "SR_History" }))
                                    {
                                        <div class="x_content create-user-table mtop15">
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">From</label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.Label("SRCommitteeEmail", Model.SRCommitteeEmailID)
                                                    @Html.Hidden("SRCommitteeEmailID", Model.SRCommitteeEmailID)
                                                    @Html.Hidden("SRID", Model.SRID)
                                                    @Html.Hidden("SRHistoryID", Model.SRHistoryID)
                                                </div>
                                            </div>
                                            @if (!string.IsNullOrEmpty(Model.HistoryOfFlight))
                                            {
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">History of Flight</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        @Html.TextArea("HistoryOfFlight", Model.HistoryOfFlight, new { @disabled = true, @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                    </div>
                                                </div>
                                            }
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Stakeholder Response</label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextArea("StakeholderResponse", Model.StakeholderResponse, new { @disabled = true, @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">IIC Comments</label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextArea("IICCommentsforSHResponse", Model.IICCommentsforSHResponse, new { @disabled = true, @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">SR Implementation Status</label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.Label("SRIMPLEMENTATIONSTATUS", Model.SRIMPLEMENTATIONSTATUS, new { @disabled = true, @class = "form-values", @rows = 10, @style = "height:inherit" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Safety Recommendation</label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextArea("SafetyRecommendation", System.Text.RegularExpressions.Regex.Replace(Model.SafetyRecommendation, @"<[^>]+>|&nbsp;", String.Empty), new { @disabled = true, @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Comments<span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextAreaFor(a => a.SRCommitteeComments, new { @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">SR Closure Approval<span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.DropDownListFor(a => a.SRCommitteeClosureStatus, ViewBag.SRClosureApprovalList as SelectList, new { @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="create-bottom-btn">
                                            <button type="button" class="btn btn-save" id="btnSaveSRCommitteeAction" onclick="updateSRHistory();">Submit</button>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="x_content create-user-table mtop15">
                                        <div class="form-group">
                                            <h4 style="font-weight:bold">You have already taken action on this SR.</h4>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

