﻿@using PagedList;
@using PagedList.Mvc;
@model ISM_Project.Models.Form39
@{
    ViewBag.Title = "DIDashboard";

    if (ViewBag.page_count > 0 || ViewBag.page_count == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        //Layout = null;
    }
    int? Occ_cur_page = ViewBag.page_count;
}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper">
                @using (Html.BeginForm("DIDashboard", "Dashboard", null, FormMethod.Post, new { id = "DIForm" }))
                {
                    <div class="main-wrapper current-project-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                Filter by occurrence year:
                                            </label>
                                            <div class="col-sm-6 col-form-box">
                                                <div type="text" class='input-group srdate'>
                                                    <input type="text" id="Occurrenceyear" class="form-control" name="Occurrenceyear" value="@ViewBag.Occurrence_year" />
                                                    @*@Html.Hidden("Occurrenceyear", (object)(ViewBag.Occurrence_year))*@
                                                    <input type="hidden" id="Occ_year" name="Occ_year" value="@ViewBag.Occurrence_year" />
                                                    <span id="occYearCalender" class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Filter by occurrence status:</label>
                                            <div class="col-sm-6 col-form-box">
                                                @Html.DropDownList("LKOccurrenceStatusTypeId", ViewBag.Occurrence_Status as SelectList, "Select", new { @class = "form-control" })
                                                @Html.Hidden("LKOccurrenceStatusTypeId")
                                                <input type="hidden" id="occstatusid" name="occstatusid" value="@ViewBag.LKOccurrenceStatusTypeId" />
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inner-x_content">
                                        <div class="info-tittle">
                                            <h2>Previous Notifications</h2>
                                        </div>
                                        <div id="delete-dialog" title="Confirmation" hidden="hidden">
                                            <p>Are you sure you want to delete ?</p>
                                        </div>
                                    </div>
                                    <div class="table-responsive table-top">
                                        <table id="datatable" class="table table-bordered table-hover table-responsive">
                                            <!-- need pagination table -->
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Notification ID</th>
                                                    <th>Occurrence Date</th>
                                                    <th>Occurrence Type</th>
                                                    <th>Location</th>
                                                    <th>Status</th>

                                                    @if (@ViewBag.Delete_Notification == true)
                                                    {                                                       
                                                        <th>Delete</th>
                                                    }

                                                </tr>
                                            </thead>
                                            <tbody>

                                                @if (Model.diDashBoard.Count() > 0)
                                                {

                                                    int i = ViewBag.serial_nbr;

                                                    var occlistpage = Model.diDashBoard.ToList().ToPagedList(Occ_cur_page ?? 1, 10);

                                                    foreach (var diOccur in occlistpage)
                                                    {
                                                        string conv_Time = Convert.ToDateTime(diOccur.LocalDateAndTimeOfOccurrence).ToString("dd/MM/yyyy");

                                                        i += 1;
                                                        <tr>
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => diOccur.NotificationId)
                                                            </td>
                                                            <td>

                                                                @Html.Label(conv_Time)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelIem => diOccur.LKIncidentTypeName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => diOccur.LKCountryName)
                                                            </td>
                                                            <td>
                                                                @if (@ViewBag.Delete_Notification == false)
                                                                {
                                                                    if (diOccur.LKOccurrenceStatusTypeId == 1)
                                                                    {
                                                                        @Html.ActionLink(diOccur.LKOccurrenceStatusTypeName, "Addnotification", "Notifications", new { id = diOccur.OccurrenceDetailID }, new { @class = "dashboardlink Inv_Incomplete" })
                                                                    }
                                                                    else if (diOccur.LKOccurrenceStatusTypeId == 2)
                                                                    {
                                                                        @Html.ActionLink(diOccur.LKOccurrenceStatusTypeName, "Form_35_tab", "DI", new { id = diOccur.OccurrenceDetailID }, new { @class = "dashboardlink Inv_Incomplete" })
                                                                    }
                                                                    else if (diOccur.LKOccurrenceStatusTypeId == 3)
                                                                    {
                                                                        @Html.ActionLink(diOccur.LKOccurrenceStatusTypeName, "Form_35_tab", "DI", new { id = diOccur.OccurrenceDetailID }, new { @class = "dashboardlink Inv_UnderInvestigation" })
                                                                    }
                                                                    else if (diOccur.LKOccurrenceStatusTypeId == 4)
                                                                    {
                                                                        @Html.Label(diOccur.LKOccurrenceStatusTypeName, new { @class = "dashboardlink Inv_Completed" })
                                                                    }
                                                                    else if (diOccur.LKOccurrenceStatusTypeId == 5)
                                                                    {
                                                                        @Html.ActionLink(diOccur.LKOccurrenceStatusTypeName, "Form_35_tab", "DI", new { id = diOccur.OccurrenceDetailID }, new { @class = "dashboardlink Inv_Completed" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.Label(diOccur.LKOccurrenceStatusTypeName, new { @class = "dashboardlink Inv_Completed" })
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @Html.Label(diOccur.LKOccurrenceStatusTypeName@*, new { @class = "dashboardlink Inv_Completed" }*@)
                                                                }
                                                            </td>
                                                            @if (@ViewBag.Delete_Notification == true)
                                                            {
                                                                <td>@Html.ActionLink("Delete", "DeleteNotification", "DI", new { id = diOccur.OccurrenceDetailID }, new { @class = "dashboardlink Inv_Incomplete delete-link" })</td>
                                                            }
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr><td colspan="9"><p style="text-align:center">No Occurrences available</p></td></tr>
                                                }
                                            </tbody>
                                        </table>
                                        @if (ViewBag.count_page > 10)
                                        {
                                            @Html.PagedListPager(Model.diDashBoard.ToList().ToPagedList(Occ_cur_page ?? 1, 10), page => Url.Action("DiDashboard", new { page = page, occyear = ViewBag.Occurrence_year, occstatusid = ViewBag.LKOccurrenceStatusTypeId }))
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

