﻿@using PagedList;
@using PagedList.Mvc;

@model ISM_Project.Models.Form39
@{
    ViewBag.Title = "DirectorDashboard";

    if (ViewBag.page_no > 0 || ViewBag.page_no1 > 0 || ViewBag.page_no2 > 0 || ViewBag.page_no3 > 0 || ViewBag.page_no4 > 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    int? Occ_cur_page = (ViewBag.page_no);
    int? inv_cur_page = (ViewBag.page_no1);
    int? Cor_cur_page = (ViewBag.page_no2);
    int? SR_cur_page = (ViewBag.page_no3);
    int? CD_cur_page = (ViewBag.page_no4);
}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper">
                @using (Html.BeginForm("DirectorDashboard", "Dashboard", null, FormMethod.Post, new { id = "DAAIForm" }))
                {
                    <div class="main-wrapper current-project-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">

                                <div class="x_panel">
                                    <div class="col-sm-6 col-form-box" style="float:right;">
                                        <div class="form-group">
                                            <div class="col-sm-3 col-form-box" style="float:right;">
                                                <div type="date" class='input-group chartdate' onchange="displayChart()">
                                                    <input type="text" id="ChartYear" class="form-control" name="ChartYear" value="@ViewBag.CurrentYear" />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columns">


                                        <div id="chart_div" style="width: 290px; height: 400px;"></div>


                                        <div id="inv_chart_div" style="width: 480px; height: 400px;"></div>


                                        <div id="Sr_chart_div" style="width: 290px; height: 400px;"></div>


                                    </div>
                                </div>
                                <div class="x_panel">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                Filter by occurrence year:
                                            </label>
                                            <div class="col-sm-6 col-form-box">
                                                <div type="text" class='input-group srdate'>
                                                    <input type="text" id="Occurrenceyear" class="form-control" name="Occurrenceyear" value="@ViewBag.Occurrence_year" />
                                                    @Html.Hidden("Occurrenceyear", Convert.ToInt32(DateTime.Now.Year))
                                                    <span class="input-group-addon">
                                                        <span id="occYearCalender" class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Filter by occurrence status: </label>
                                            <div class="col-sm-6 col-form-box">
                                                @Html.DropDownList("LKOccurrenceStatusTypeId", ViewBag.Occurrence_Status as SelectList, "Select", new { @class = "form-control" })
                                                @Html.Hidden("LKOccurrenceStatusTypeId")
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="inner-x_content">
                                        <div class="table-tittle">
                                            <h2>Occurrences</h2>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="Invtable" class="table table-bordered table-hover table-responsive  table-top">
                                            <!-- need pagination table -->
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Notification ID</th>
                                                    <th>Occurrence Date</th>
                                                    @*<th>Estimated Report Publish Date</th>*@
                                                    <th>Occurrence Type</th>
                                                    <th>Location</th>
                                                    <th>Status</th>
                                                    @*
                        <th>My Role</th>*@
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @if (Model.OccList.Count() != 0)
                                                {
                                                    int i = ViewBag.serial_nbr;
                                                    var occlistpage = Model.OccList.ToList().ToPagedList(Occ_cur_page ?? 1, 10);
                                                    foreach (var dirOcc in occlistpage)
                                                    {
                                                        i += 1;
                                                        string Occur_Date = Convert.ToDateTime(dirOcc.OccurenceDate).ToString("dd/MM/yyyy");
                                                        string Estimate_Date = Convert.ToDateTime(dirOcc.EstimatedReportDate).ToString("dd/MM/yyyy");
                                                        <tr>
                                                            <td>
                                                                @if (dirOcc.IsViewedOrActionTaken == false && dirOcc.LKOccurrenceStatusTypeId != 3)
                                                                {
                                                                    <b>
                                                                        @i
                                                                    </b>
                                                                }

                                                                else
                                                                {
                                                                    @i
                                                                }

                                                            </td>
                                                            <td>
                                                                @if (dirOcc.IsViewedOrActionTaken == false && dirOcc.LKOccurrenceStatusTypeId != 3)
                                                                {
                                                                    <b>
                                                                        @Html.DisplayFor(ModelItem => dirOcc.NotificationID)
                                                                    </b>
                                                                }

                                                                else
                                                                {
                                                                    @Html.DisplayFor(ModelItem => dirOcc.NotificationID)
                                                                }

                                                            </td>
                                                            <td>
                                                                @if (dirOcc.IsViewedOrActionTaken == false && dirOcc.LKOccurrenceStatusTypeId != 3)
                                                                {
                                                                    <b>
                                                                        @Html.DisplayFor(ModelItem => Occur_Date)
                                                                    </b>
                                                                }

                                                                else
                                                                {
                                                                    @Html.DisplayFor(ModelItem => Occur_Date)
                                                                }

                                                            </td>
                                                            @*<td>
                                                                @if (dirOcc.IsViewedOrActionTaken == false && dirOcc.LKOccurrenceStatusTypeId != 3)
                                                                {
                                                                    <b>
                                                                        @Html.DisplayFor(ModelItem => Estimate_Date)
                                                                    </b>
                                                                }

                                                                else
                                                                {
                                                                    @Html.DisplayFor(ModelItem => Estimate_Date)
                                                                }

                                                            </td>*@
                                                            <td>
                                                                @if (dirOcc.IsViewedOrActionTaken == false && dirOcc.LKOccurrenceStatusTypeId != 3)
                                                                {
                                                                    <b>
                                                                        @Html.DisplayFor(ModelItem => dirOcc.IncidentType)
                                                                    </b>
                                                                }

                                                                else
                                                                {
                                                                    @Html.DisplayFor(ModelItem => dirOcc.IncidentType)
                                                                }

                                                            </td>
                                                            <td>
                                                                @if (dirOcc.IsViewedOrActionTaken == false && dirOcc.LKOccurrenceStatusTypeId != 3)
                                                                {
                                                                    <b>
                                                                        @Html.DisplayFor(ModelItem => dirOcc.Location)
                                                                    </b>
                                                                }

                                                                else
                                                                {
                                                                    @Html.DisplayFor(ModelItem => dirOcc.Location)
                                                                }

                                                            </td>
                                                            <td>
                                                                @if (dirOcc.IsViewedOrActionTaken == false && dirOcc.LKOccurrenceStatusTypeId != 3)
                                                                {
                                                                    <b>
                                                                        @Html.DisplayFor(ModelItem => dirOcc.OccuranceStatus)
                                                                    </b>
                                                                }

                                                                else
                                                                {
                                                                    @Html.DisplayFor(ModelItem => dirOcc.OccuranceStatus)
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (dirOcc.LKOccurrenceStatusTypeId == 3)
                                                                {
                                                                    @Html.ActionLink("View Investigation", "IICTasks", "IIC", new { id = dirOcc.InvestigationFileID }, new { @class = "dashboardlink" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.ActionLink("View F35", "DI_Filled_Form35", "Director", new { id = dirOcc.InvestigationFileID }, new { @class = "dashboardlink" })
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr><td colspan="9"><p style="text-align:center">No Occurrences available</p></td></tr>
                                                }
                                            </tbody>
                                        </table>
                                        @if (ViewBag.Dir_count_pagecontent > 10)
                                        {
                                            @Html.PagedListPager(Model.OccList.ToList().ToPagedList(Occ_cur_page ?? 1, 10), page1 => Url.Action("DirectorDashboard", new { page1, occyear = ViewBag.Occurrence_year }))
                                        }
                                    </div>
                                </div>

                                <div class="x_panel">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                Filter by occurrence year:
                                            </label>
                                            <div class="col-sm-6 col-form-box">
                                                <div type="text" class='input-group srdate'>
                                                    <input type="text" id="InvOccurrenceyear" class="form-control" name="InvOccurrenceyear" value="@ViewBag.InvOccurrence_year" />
                                                    @*@Html.Hidden("InvOccurrenceyear", Convert.ToInt32(DateTime.Now.Year))*@
                                                    <input type="hidden" id="Occ_year" name="Occ_year" value="@ViewBag.Occurrence_year" />
                                                    <span class="input-group-addon">
                                                        <span id="occYearCalender" class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Filter by occurrence status:</label>
                                            <div class="col-sm-6 col-form-box">
                                                @Html.DropDownList("InvLKOccurrenceStatusTypeId", ViewBag.InvOccurrence_Status as SelectList, "Select", new { @class = "form-control" })
                                                @Html.Hidden("InvLKOccurrenceStatusTypeId")
                                                <input type="hidden" id="occstatusid" name="occstatusid" value="@ViewBag.LKOccurrenceStatusTypeId" />
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inner-x_content">
                                        <div class="table-tittle">
                                            <h2>Investigations</h2>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="Invtable" class="table table-bordered table-hover table-responsive table-top">
                                            <!-- need pagination table -->
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>@*AAIS*@ Case No</th>
                                                    <th>Occ@*urrence*@ Date</th>
                                                    @*<th>Estimated Report Publish Date</th>*@
                                                    <th>@*Occurrence*@ Type</th>
                                                    <th>@*Occurrence*@ Occ Tittle</th>
                                                    <th>Location</th>
                                                    <th>IIC @*Assigned*@</th>
                                                    <th>Status</th>
                                                    @*
        <th>My Role</th>*@
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @if (Model.InvList.Count() != 0)
                                                {
                                                    int i = ViewBag.serial_nbr1;
                                                    // int i = 0;
                                                    var invlistpage = Model.InvList.ToList().ToPagedList(inv_cur_page ?? 1, 10);
                                                    foreach (var dirOcc in invlistpage)
                                                    {
                                                        i += 1;
                                                        string Occur_Date = Convert.ToDateTime(dirOcc.LocalDateAndTimeOfOccurrence).ToString("dd/MM/yyyy");
                                                        string Estimate_Date = Convert.ToDateTime(dirOcc.EstimatedReportDate).ToString("dd/MM/yyyy");
                                                        <tr>
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.InvestigationNumber)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => Occur_Date)
                                                            </td>
                                                            @*<td>
                                                                @Html.DisplayFor(ModelItem => Estimate_Date)
                                                            </td>*@
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.IncidentType)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.OccurrenceCategorization)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.CountryName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.IICAssignedName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.LKOccurrenceStatusTypeName)
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("View Investigation", "IICTasks", "IIC", new { id = dirOcc.InvestigationFileID }, new { @class = "dashboardlink" })
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr><td colspan="9"><p style="text-align:center">No Investigations available</p></td></tr>
                                                }
                                            </tbody>
                                        </table>
                                        @if (ViewBag.Dir_count_pagecontent1 > 10)
                                        {
                                            @Html.PagedListPager(Model.InvList.ToList().ToPagedList(inv_cur_page ?? 1, 10), page2 => Url.Action("DirectorDashboard", new { page2 , occyear = ViewBag.InvOccurrence_year, occstatusid = ViewBag.LKOccurrenceStatusTypeId }))
                                        }
                                    </div>
                                </div>
                                @if (Model.Corres.Count() > 0)
                                {
                                    int i = ViewBag.serial_nbr2;
                                    var corresList = Model.Corres.ToList().ToPagedList(Cor_cur_page ?? 1, 10);
                                    <div class="x_panel">
                                        <div class="inner-x_content">
                                            <div class="table-tittle">
                                                <h2>Notifications</h2>
                                            </div>
                                        </div>
                                        <div class="table-responsive">

                                            <table id="Correstable" class="table table-bordered table-hover table-responsive table-top">
                                                <!-- need pagination table -->
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>AAIS Case No</th>
                                                        <th>Correpondence Control Number</th>
                                                        <th>Subject</th>
                                                        <th>Correspondence Type</th>
                                                        <th>Correspondence Initated Date</th>
                                                        <th>Correspondence From</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>


                                                    @foreach (var corres in corresList)
                                                    {
                                                        i += 1;
                                                        string Corres_Date = Convert.ToDateTime(corres.CorrespondenceInitiatedDate).ToString("dd/MM/yyyy");

                                                        <tr>
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => corres.InvestigationFileNumber)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => corres.CorrespondenceControlNumber)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => corres.Subject)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => corres.LKCorrespondenceTypeName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => Corres_Date)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => corres.CorrespondenceMessageFrom)
                                                            </td>

                                                            <td>
                                                                @Html.ActionLink("Review Correspondence", "ViewCorrespondence", "IIC", new { id = corres.InvestigationFileID, Corr_id = corres.CorrespondenceID }, new { @class = "dashboardlink" })
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                            @if (ViewBag.Dir_count_pagecontent2 > 10)
                                            {
                                                @Html.PagedListPager(Model.Corres.ToList().ToPagedList(Cor_cur_page ?? 1, 10), page3 => Url.Action("DirectorDashboard", new { page3 }))
                                            }
                                        </div>
                                    </div>
                                }

                                @if (Model.ClouserDet.Count() > 0)
                                {
                                    int i = ViewBag.serial_nbr4;
                                    var CDList = Model.ClouserDet.ToList().ToPagedList(CD_cur_page ?? 1, 10);
                                    <div class="x_panel">
                                        <div class="inner-x_content">
                                            <div class="table-tittle">
                                                <h2>Investigation Closure Notification</h2>
                                            </div>

                                        </div>
                                        <div class="table-responsive">

                                            <table id="SRtable" class="table table-bordered table-hover table-responsive table-top">
                                                <!-- need pagination table -->
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>AAIS Case No</th>
                                                        <th>Recommended By</th>
                                                        <th>Created Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var courDet in CDList)
                                                    {
                                                        i += 1;
                                                        string Created_Date = Convert.ToDateTime(courDet.DateCreated).ToString("dd/MM/yyyy");
                                                        <tr>
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => courDet.InvestigationFileNumber)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => courDet.ClosureRecommendedUserName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => Created_Date)
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("View", "CloseInvestigation", "Task", new { Id = courDet.InvestigationClosureDetailID }, new { @class = "dashboardlink" })
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                            @if (ViewBag.Dir_count_pagecontent4 > 10)
                                            {
                                                @Html.PagedListPager(Model.ClouserDet.ToList().ToPagedList(CD_cur_page ?? 1, 10), page5 => Url.Action("DirectorDashboard", new { page5 }))
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                </div>
        </div>
    </div>
</div>

<input type="hidden" id="showchart" value="1" />


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', { 'packages': ['corechart'] });

    google.charts.load('current', { 'packages': ['line'] });

    google.charts.load("current", { packages: ["imagelinechart"] });

   // $(document).ready(function
     //   displayChart() {
    //}
    //);
  
    function displayChart() {

        google.charts.setOnLoadCallback(drawOccurrenceChart);

        google.charts.setOnLoadCallback(drawInvestigationLineChart);

        google.charts.setOnLoadCallback(drawSRChart);
    }

    function drawOccurrenceChart() {

        var yearid = $('#ChartYear').val();

        $.ajax(
            {
                type: 'POST',
                dataType: 'JSON',
                url: '/Chart/GetChartData',
                data: { _year: parseInt(yearid) },
                success:
                function (response) {
                    var options = {
                        title: 'Occurrence Type',
                        //vaxis: { title: 'No.of Occurrence' },
                        haxis: { title: 'Occurrence Month' },
                        seriestype: 'bars',
                        //isStacked: true,
                        //height: 600,
                        legend: { position: 'top', maxLines: 3 },
                        hAxis: {
                            title: 'Year',
                            minValue: 0,
                            ticks: [0, .3, .6, .9, 1],
                            fontSize: 10,
                            fontName: 'Arial',
                            bold: true,
                            titleTextStyle: {
                                fontName: 'sans-serif',
                                bold:true
                            }
                        },
                        vAxis: {
                            //title: 'No.of Occurrence',
                            format: '#',
                            fontSize: 10,
                            fontName: 'Arial',
                            bold: true,
                            titleTextStyle: {
                                fontName: 'sans-serif',
                                bold:true 
                            }
                        },
                        pieSliceText: 'value',
                        //backgroundColor: '#e2e1e0',
                        sliceVisibilityThreshold: 0,
                        series: { 50: { type: 'line' } }
                    };
                    // Draw.
                    drawOccurrenceGraph(response, options, 'chart_div');
                }
            });
    };

    function drawOccurrenceGraph(dataValues, options, elementId) {
        // Initialization.
        var data = new google.visualization.DataTable();

        // Setting.
        data.addColumn('string', 'Year');
        data.addColumn('number', 'Accident');
        data.addColumn('number', 'Serious Incident');
        data.addColumn('number', 'Incident');
        data.addColumn('number', 'Others');

        // Processing.
        for (var i = 0; i < dataValues.length; i++) {
            // Setting.
            data.addRow([dataValues[i].OccurrenceYear, dataValues[i].Accident, dataValues[i].Serious_Incident, dataValues[i].Incident, dataValues[i].Others]);
        }

        var view = new google.visualization.DataView(data);

        var chart = new google.visualization.ColumnChart(document.getElementById(elementId));

        // Draw chart.
        chart.draw(view, options);
    }

    function drawSRChart() {

        var yearid = $('#ChartYear').val();

        $.ajax(
            {
                type: 'POST',
                dataType: 'JSON',
                url: '/Chart/GetSRChartData',
                data: { _year: parseInt(yearid) },
                success:
                function (response) {
                    var options = {
                        title: 'Investigation Safety Recommendation',
                        vaxis: { title: 'Investigation Number' },
                        haxis: { title: ' Year ' },
                        seriestype: 'bars',
                        //isStacked: true,
                        //height: 600,
                        legend: { position: 'top', maxLines: 3 },
                        hAxis: {
                            minValue: 0,
                            ticks: [0, .3, .6, .9, 1], fontSize: 10,
                            fontName: 'Arial',
                            bold: true,
                        },
                        vAxis: {
                            format: '#', fontSize: 10,
                            fontName: 'Arial',
                            bold: true,
                        },
                        pieSliceText: 'value',
                        //backgroundColor: '#e2e1e0',
                        sliceVisibilityThreshold: 0,
                        series: { 50: { type: 'line' } },
                        pieHole: 0.6,
                    };
                    // Draw.
                    drawSRGraph(response, options, 'Sr_chart_div');
                }
            });
    };

    function drawSRGraph(dataValues, options, elementId) {
        // Initialization.
        var data = new google.visualization.DataTable();

        // Setting.
        data.addColumn('string', 'SRStatus');
        data.addColumn('number', 'No.of SR');

        // Processing.
        for (var i = 0; i < dataValues.length; i++) {
            // Setting.
            data.addRow([dataValues[i].SRStatus, dataValues[i].NoOfSRreleased]);
        }

        var view = new google.visualization.DataView(data);

        var chart = new google.visualization.PieChart(document.getElementById(elementId));

        // Draw chart.
        chart.draw(view, options);
    }

    function drawInvestigationLineChart() {

        var yearid = $('#ChartYear').val();

        $.ajax(
            {

                type: 'POST',
                dataType: 'JSON',
                url: '/Chart/GetInvestigationChart',
                data: { _year: parseInt(yearid) },
                success:
                function (response) {
                    var options = {
                        title: 'Investigation Chart',                        
                        curveType: 'function',
                        legend: { position: 'top' },

                        hAxis: {
                            title: 'Month',
                            minValue: '',
                            format: '0',
                          
                            textStyle: {
                                color: '#000000',
                                //fontSize: 20,
                                fontName: 'sans-serif',
                               // bold: false,
                                //italic: true
                            },

                            titleTextStyle: {
                                color: '#000000',
                                //fontSize: 16,
                                fontName: 'sans-serif',
                                bold: true,
                                //italic: true
                            },

                        },

                        vAxis: {
                            //title: 'No.of Investigation',
                            textStyle: {
                                color: '#000000',
                                fontName: 'sans-serif',
                               // fontSize: 12,
                               // bold: true
                            },
                            titleTextStyle: {
                                color: '#000000',
                                fontName: 'sans-serif',
                               // fontSize: 12,
                                bold: true
                            }
                        }, 
                        
                    };
                    // Draw.
                    drawInvestigationLineGraph(response, options, 'inv_chart_div');
                }
            });
    };

    function drawInvestigationLineGraph(dataValues, options, elementId) {
        // Initialization.
        var data = new google.visualization.DataTable();

        // Setting.
        data.addColumn('string', 'Month');
        data.addColumn('number', 'Reported');
        data.addColumn('number', 'Ongoing');
        data.addColumn('number', 'Closed');

        // Processing.
        for (var i = 0; i < dataValues.length; i++) {
            // Setting.
            data.addRow([dataValues[i].OccurrenceMonth, dataValues[i].Reported_Notifications, dataValues[i].Ongoing_Investigation, dataValues[i].Closed_Investigation]);
        }

        //var chart = new google.charts.Line(document.getElementById(elementId));

        //chart.draw(data, google.charts.Line.convertOptions(options));

        var view = new google.visualization.DataView(data);

        var chart = new google.visualization.LineChart(document.getElementById(elementId));

        // Draw chart.
        chart.draw(view, options);

    }

</script>







