﻿@using PagedList;
@using PagedList.Mvc;
@*@model IPagedList<ISM_Project.Models.USP_VIEW_INVESTIGATIONDETAILS_BY_OCCURRENCESTATUSTYPE_ID_Result>*@
@model ISM_Project.Models.Form39
@{
    ViewBag.Title = "DirectorDashboard";
    if (ViewBag.page_count > 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    int? inv_cur_page = (ViewBag.page_no);
    int? tem_cur_page = (ViewBag.page_no1);
}
@{string search_key = ""; }

@if (Convert.ToString(TempData["SearchKey"]) != "")
{
    search_key = TempData["SearchKey"].ToString();
}
@{string search_tooltip = "Search"; }
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper">
                @using (Html.BeginForm("InvestigatorDashboard", "Dashboard", null, FormMethod.Post, new { id = "IICForm" }))
                {
                    <div class="main-wrapper current-project-wrapper">
                        <div class="col-md-18 col-sm-18 col-xs-18"> 
                            <div class="row">
                                <div class="x_panel">
                                        
                                    <div class="col-md-4">
                                        <div class="form-group">    
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                Filter by occurrence year:  
                                            </label>
                                            <div class="col-sm-4 col-form-box">
                                                <div type="text" class='input-group srdate'>
                                                    <input type="text" id="InvOccurrenceyear" class="form-control" name="InvOccurrenceyear" value="@ViewBag.InvOccurrence_year" />
                                                    <input type="hidden" id="Occ_year" name="Occ_year" value="@ViewBag.Occurrence_year" />
                                                    <span class="input-group-addon">
                                                        <span id="occYearCalender" class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @*<label class="col-sm-2 col-form-label" for="exampleInputEmail1">
                                                Search:
                                            </label>*@
                                            <div  class="input-group">
                                                @Html.TextBox("InvSearchtext", "", new { @placeholder = "AAIS Case No, Occurrence Type, Location, Status, Notification ID, Notification Type, Occurence Title", @class = "form-control IIC_search_main" })
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info btn-lg" type="submit">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Filter by Description: </label>
                                                <div class="col-sm-6 col-form-box">
                                                    @Html.DropDownList("InvLKOccurrenceStatusTypeId", ViewBag.InvOccurrence_Status as SelectList, "Select", new { @class = "form-control" })
                                                    @*@Html.Hidden("InvLKOccurrenceStatusTypeId")*@
                                                    <input type="hidden" id="occstatusid" name="occstatusid" value="@ViewBag.LKOccurrenceStatusTypeId" />
                                                    <small id="emailHelp" class="form-text text-muted"></small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="x_content">
                                            <div class="inner-x_content">
                                                <div class="table-tittle">
                                                    <h2>Investigations Assigned</h2>
                                                </div>
                                                <div id="Invdelete-dialog" title="Confirmation" hidden="hidden">
                                                    <p>Are you sure you want to delete ?</p>
                                                </div>
                                            </div>
                                            <div class="table-responsive main-table-wrapper table-top">

                                                @* Aju Test Connection Design *@
                                                <table id="datatable" class="table table-bordered table-hover table-responsive">
                                                    <!-- need pagination table -->
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>@*AAIS*@ Case No</th>
                                                            <th>Occ@*urrence*@ Date</th>
                                                            @*<th>Estimated Report Publish Date</th>*@
                                                            <th>@*Occurrence*@ Type</th>
                                                            <th>Occ Tittle</th>
                                                            <th>Location</th>
                                                            <th>Status</th>
                                                            @if (ViewBag.Delete_Investigation == true)
                                                            {
                                                                <th>Delete</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.InvDashBoard.Count() > 0)
                                                        {
                                                            int i = ViewBag.serial_nbr;
                                                            var invlistpage = Model.InvDashBoard.ToList().ToPagedList(inv_cur_page ?? 1, 10);

                                                            foreach (var InvDetails in invlistpage)
                                                            {
                                                                i += 1;
                                                                <tr>
                                                                    <th>
                                                                        <p1>
                                                                            @i
                                                                        </p1>
                                                                    </th>
                                                                    <td>
                                                                        <p1>
                                                                            @if (ViewBag.Delete_Investigation == true)
                                                                            {
                                                                                @Html.Label(InvDetails.InvestigationNumber)
                                                                            }
                                                                            else
                                                                            {
                                                                                @Html.ActionLink(Convert.ToString(InvDetails.InvestigationNumber), "IICTasks", "IIC", new { id = InvDetails.InvestigationFileID }, new { @class = "dashboardlink" })
                                                                            }
                                                                        </p1>
                                                                    </td>

                                                                    <td>
                                                                        <p1>
                                                                            @Html.Label(Convert.ToDateTime(InvDetails.LocalDateAndTimeOfOccurrence).ToString("dd/MM/yyyy"))
                                                                        </p1>
                                                                    </td>
                                                                    <td>
                                                                        <p1>
                                                                            @Html.Label(InvDetails.IncidentType)
                                                                        </p1>
                                                                    </td>
                                                                    <td>
                                                                        <p1>
                                                                            @Html.Label(InvDetails.OccurrenceCategorization)
                                                                        </p1>
                                                                    </td>
                                                                    <td>
                                                                        <p1>
                                                                            @Html.Label(InvDetails.CountryName)
                                                                        </p1>
                                                                    </td>
                                                                    <td>
                                                                        <p1>
                                                                            @Html.Label(@InvDetails.LKOccurrenceStatusTypeName)
                                                                        </p1>
                                                                    </td>
                                                                    @if (ViewBag.Delete_Investigation == true)
                                                                    {
                                                                        <td>@Html.ActionLink("Delete", "DeleteInvestigation", "IIC", new { id = InvDetails.InvestigationFileID }, new { @class = "dashboardlink Inv_Incomplete Invdelete-link" })</td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr><td colspan="9"><p style="text-align:center">No Investigations available</p></td></tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                @if (ViewBag.count_pagecontent > 10)
                                                {
                                                    @Html.PagedListPager(Model.InvDashBoard.ToList().ToPagedList(inv_cur_page ?? 1, 10), Page => Url.Action("InvestigatorDashboard", new { Page, occyear = ViewBag.InvOccurrence_year, occstatusid = ViewBag.LKOccurrenceStatusTypeId }))
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    @if (ViewBag.Delete_Investigation == false)
                                    {
                                        int i = ViewBag.serial_nbr1;
                                        var TemList = Model.InvTeamMemDashBoard.ToList().ToPagedList(tem_cur_page ?? 1, 10);
                                        <div class="x_panel">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                        Filter by occurrence year:
                                                    </label>
                                                    <div class="col-sm-6 col-form-box">
                                                        <div type="text" class='input-group srdate'>
                                                            <input type="text" id="TaskInvOccurrenceyear" class="form-control" name="TaskInvOccurrenceyear" value="@ViewBag.TaskInvOccurrence_year" />
                                                            <input type="hidden" id="Occ_year1" name="Occ_year1" value="@ViewBag.TaskOccurrence_year" />
                                                            <span class="input-group-addon">
                                                                <span id="occYearCalender" class="fa fa-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Filter by InvestigationNo: </label>
                                                    <div class="col-sm-6 col-form-box">
                                                        @Html.DropDownList("InvInvestigationId", ViewBag.Inv_LKOInvestigationId as SelectList, "Select", new { @class = "form-control" })
                                                        <input type="hidden" id="occinvestgtnid" name="occinvestgtnid" value="@ViewBag.LKOInvestigation_Id" />
                                                        <small id="emailHelp" class="form-text text-muted"></small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-x_content">
                                                <div class="table-tittle">
                                                    <h2>Task Notifications</h2>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table id="datatable" class="table table-bordered table-hover table-top">
                                                    <!-- need pagination table -->
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>

                                                            <th>AAIS Case No</th>
                                                            <th>Notification Type</th>
                                                            <th>Notification Date</th>
                                                            <th>Completion Date</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.InvTeamMemDashBoard.Count() > 0)
                                                        {
                                                            i = ViewBag.serial_nbr1;
                                                            var teamlistpage = Model.InvTeamMemDashBoard.ToList().ToPagedList(tem_cur_page ?? 1, 10);
                                                            string ClassName = "";
                                                            foreach (var InvDetails in teamlistpage)
                                                            {
                                                                i += 1;
                                                                if (InvDetails.EventSubmitStatus == 1)
                                                                {
                                                                    ClassName = "TskCompl_green";
                                                                }
                                                                else if (InvDetails.NoofDayRemainingforCompletion < 15 && InvDetails.NoofDayRemainingforCompletion > 10)
                                                                {
                                                                    ClassName = "TskCompl_yellow";
                                                                }
                                                                else if (InvDetails.NoofDayRemainingforCompletion < 10 && InvDetails.NoofDayRemainingforCompletion > 7)
                                                                {
                                                                    ClassName = "TskCompl_orange";
                                                                }
                                                                else if (InvDetails.NoofDayRemainingforCompletion <= 7)
                                                                {
                                                                    ClassName = "TskCompl_red";
                                                                }
                                                                else
                                                                {
                                                                    ClassName = "TskCompl_blue";
                                                                }

                                                                <tr>
                                                                    <td>
                                                                        @i
                                                                    </td>
                                                                    <td>
                                                                        @Html.Label(InvDetails.InvestigationNumber)
                                                                    </td>
                                                                    <td>
                                                                        @Html.Label("Sub-Task" + InvDetails.InvestigationTaskGroupEventName.Remove(0, 5) + " " + InvDetails.InvestigationTaskGroupEventDescription + "  Assigned")
                                                                    </td>
                                                                    <td>
                                                                        @Html.Label(Convert.ToDateTime(InvDetails.NotificationDate).ToString("dd/MM/yyyy"))
                                                                    </td>
                                                                    <td>
                                                                        @Html.Label(InvDetails.ExpectedDateOfCompletion.Value.Date.ToString("dd/MM/yyyy"), new { @class = ClassName })
                                                                    </td>
                                                                    <td>
                                                                        @Html.ActionLink("Open Sub-Task " + InvDetails.InvestigationTaskGroupEventName.Remove(0, 5), "InvestigationDetails", "task", new { id = InvDetails.InvestigationTaskAssignmentID, }, new { @class = "dashboardlink" })
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr><td colspan="9"><p style="text-align:center">No Event available</p></td></tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                @if (ViewBag.count_pagecontent1 > 10)
                                                {
                                                    @Html.PagedListPager(Model.InvTeamMemDashBoard.ToList().ToPagedList(tem_cur_page ?? 1, 10), page1 => Url.Action("InvestigatorDashboard", new { page1, occyear = ViewBag.InvOccurrence_year, occstatusid = ViewBag.LKOccurrenceStatusTypeId, occyeartask = ViewBag.TaskOccurrence_year, occinvestgtnid = ViewBag.LKOInvestigation_Id }))
                                                }
                                            </div>
                                        </div>
                                    }

                                </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>