﻿@using PagedList;
@using PagedList.Mvc;
@*@model IPagedList<ISM_Project.Models.USP_VIEW_INVESTIGATIONDETAILS_BY_OCCURRENCESTATUSTYPE_ID_Result>*@
@model ISM_Project.Models.Form39
@{
    ViewBag.Title = "DirectorDashboard";
    if (ViewBag.page_count > 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    int? inv_cur_page = (ViewBag.page_no);
    int? tem_cur_page = (ViewBag.page_no1);
}


<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper">
                @using (Html.BeginForm("SRManagementDashboard", "Dashboard", null, FormMethod.Post, new { id = "IICForm" }))
                {
                    <div class="main-wrapper current-project-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                Filter by occurrence year:
                                            </label>
                                            <div class="col-sm-6 col-form-box">
                                                <div type="text" class='input-group srdate'>
                                                    <input type="text" id="InvOccurrenceyear" class="form-control" name="InvOccurrenceyear" value="@ViewBag.InvOccurrence_year" />
                                                    @*@Html.Hidden("InvOccurrenceyear", Convert.ToInt32(DateTime.Now.Year))*@
                                                    <input type="hidden" id="Occ_year" name="Occ_year" value="@ViewBag.Occurrence_year" />
                                                    <span class="input-group-addon">
                                                        <span id="occYearCalender" class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Filter by occurrence status: </label>
                                            <div class="col-sm-6 col-form-box">
                                                @Html.DropDownList("InvLKOccurrenceStatusTypeId", ViewBag.InvOccurrence_Status as SelectList, "Select", new { @class = "form-control" })
                                                <input type="hidden" id="occstatusid" name="occstatusid" value="@ViewBag.LKOccurrenceStatusTypeId" />
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="x_content">
                                        <div class="inner-x_content">
                                            <div class="table-tittle">
                                                <h2>Investigations Assigned</h2>
                                            </div>
                                            <div id="Invdelete-dialog" title="Confirmation" hidden="hidden">
                                                <p>Are you sure you want to delete ?</p>
                                            </div>
                                        </div>
                                        <div class="table-responsive main-table-wrapper table-top">

                                            @* Aju Test Connection Design *@
                                            <table id="datatable" class="table table-bordered table-hover table-responsive">
                                                <!-- need pagination table -->
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Case No</th>
                                                        <th>Occ Date</th>
                                                        <th> Type</th>
                                                        <th>Occ Tittle</th>
                                                        <th>Location</th>
                                                        <th>Status</th>
                                                        @if (ViewBag.Delete_Investigation == true)
                                                        {
                                                            <th>Delete</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.srInvestigationDashBoard.Count() > 0)
                                                    {
                                                        int i = ViewBag.serial_nbr;
                                                        var invlistpage = Model.srInvestigationDashBoard.ToList().ToPagedList(inv_cur_page ?? 1, 10);

                                                        foreach (var InvDetails in invlistpage)
                                                        {
                                                            i += 1;
                                                            <tr>
                                                                <th>
                                                                    <p1>
                                                                        @i
                                                                    </p1>
                                                                </th>
                                                                <td>
                                                                    <p1>
                                                                        @if (ViewBag.Delete_Investigation == true)
                                                                        {
                                                                            @Html.Label(InvDetails.InvestigationNumber)
                                                                        }
                                                                        else
                                                                        {
                                                                            @Html.ActionLink(Convert.ToString(InvDetails.InvestigationNumber), "IICTasks", "IIC", new { id = InvDetails.InvestigationFileID }, new { @class = "dashboardlink" })
                                                                        }
                                                                    </p1>
                                                                </td>

                                                                <td>
                                                                    <p1>
                                                                        @Html.Label(Convert.ToDateTime(InvDetails.LocalDateAndTimeOfOccurrence).ToString("dd/MM/yyyy"))
                                                                    </p1>
                                                                </td>
                                                                <td>
                                                                    <p1>
                                                                        @Html.Label(InvDetails.IncidentType)
                                                                    </p1>
                                                                </td>
                                                                <td>
                                                                    <p1>
                                                                        @Html.Label(InvDetails.OccurrenceCategorization)
                                                                    </p1>
                                                                </td>
                                                                <td>
                                                                    <p1>
                                                                        @Html.Label(InvDetails.CountryName)
                                                                    </p1>
                                                                </td>
                                                                <td>
                                                                    <p1>
                                                                        @Html.Label(@InvDetails.LKOccurrenceStatusTypeName)
                                                                    </p1>
                                                                </td>
                                                                @if (ViewBag.Delete_Investigation == true)
                                                                {
                                                                    <td>@Html.ActionLink("Delete", "DeleteInvestigation", "IIC", new { id = InvDetails.InvestigationFileID }, new { @class = "dashboardlink Inv_Incomplete Invdelete-link" })</td>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr><td colspan="9"><p style="text-align:center">No Investigations available</p></td></tr>
                                                    }
                                                </tbody>
                                            </table>
                                            @if (ViewBag.count_pagecontent > 10)
                                            {
                                                @Html.PagedListPager(Model.srInvestigationDashBoard.ToList().ToPagedList(inv_cur_page ?? 1, 10), Page => Url.Action("SRManagementDashboard", new { Page, occyear = ViewBag.InvOccurrence_year, occstatusid = ViewBag.LKOccurrenceStatusTypeId }))
                                            }
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>