﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ISM_Project.Models.USP_VIEW_INVESTIGATIONDETAILS_FOR_MULTIPLE_TEAMMEMBER_DASHBOARD_Result>
@{
    ViewBag.Title = "TeamMemberDashboard";
    if (ViewBag.page_count > 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper">

                <div class="main-wrapper current-project-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="inner-x_content">
                                    <div class="table-tittle">
                                        <h2>Notifications</h2>
                                    </div>

                                </div>
                                <div class="table-responsive">
                                    <table id="datatable" class="table table-bordered table-hover table-top">
                                        <!-- need pagination table -->
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                               
                                                <th>AAIS Case No</th>
                                                <th>Location</th>
                                                <th>Notification Type</th>
                                                <th>Notification Date</th>
                                                <th>Notification Actor</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Count() > 0)
                                            {
                                                int i = ViewBag.serial_nbr;

                                                foreach (var InvDetails in Model)
                                                {
                                                    i += 1;
                                                    <tr>
                                                        <td>
                                                            @i
                                                        </td>
                                                        
                                                        <td>
                                                            @Html.Label(InvDetails.InvestigationNumber)
                                                        </td>
                                                        <td>
                                                            @Html.Label(Convert.ToString(InvDetails.CountryName))
                                                        </td>
                                                        <td>
                                                            @Html.Label("Sub-Task" + InvDetails.InvestigationTaskGroupEventName.Remove(0, 5) + " " + InvDetails.InvestigationTaskGroupEventDescription + "  Assigned")
                                                        </td>
                                                        <td>
                                                            @Html.Label(Convert.ToDateTime(InvDetails.NotificationDate).ToString("dd/MM/yyyy"))
                                                        </td>
                                                        <td>
                                                            @Html.Label(InvDetails.NotificationActor)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Open "  + InvDetails.InvestigationTaskGroupEventName, "InvestigationDetails", "task", new { id = InvDetails.InvestigationTaskAssignmentID,}, new { @class = "dashboardlink" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr><td colspan="9"><p style="text-align:center">No Investigations available</p></td></tr>
                                            }


                                           
                                        </tbody>
                                    </table>
                                    @if (ViewBag.count_page > 10)
                                    {
                                        @Html.PagedListPager(Model, page => Url.Action("TeamMemberDashboard", new { page }))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

