﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>404 page</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="header-wrapper">
        <div class="text-wrapper">
            <div class="title" data-content="404">
                404
            </div>
            <div class="subtitle">
                The page cannot be found.
            </div>
            <div class="goto-buttons">

                @if (Convert.ToInt32(Session["RoleId"]) == 1)
                {
                <a class="btn" href="@Url.Action("AdminDashboard", "Dashboard")">Go To Home</a>
                }
                else if (Convert.ToInt32(Session["RoleId"]) == 2)
                {
                    <a class="btn" href="@Url.Action("DIDashboard", "Dashboard")">Go To Home</a>
                }
                else if (Convert.ToInt32(Session["RoleId"]) == 3)
                {
                    <a class="btn" href="@Url.Action("DirectorDashboard", "Dashboard")"> Go To Home</a>
                }
                else if (Convert.ToInt32(Session["RoleId"]) == 4)
                {
                    <a class="btn" href="@Url.Action("InvestigatorDashboard", "Dashboard")">Go To Home</a>
                }
                else if (Convert.ToInt32(Session["RoleId"]) == 5)
                {
                    <a button class="btn" href="@Url.Action("TeamMemberDashboard", "Dashboard")">Go To Home</a>
                }


            </div>
        </div>
    </div>
</body>
</html>
