﻿@{
    ViewBag.Title = "Site_Map";
}

<ul>
    <li>
        <a href="http://ism.xminds.com/" target="_blank">WB001</a>
        <p>Login Screen for Duty Investigator - DI has to enter the username (which is user's Email ID) and password.Once the username is validated, ISM takes DI to the Dashboard.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Home/Dashboard" target="_blank">WB002</a>
        <p>Dashboard of Duty Investigator - displays the list of previous occurrences reported by the DI</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/Addnotification" target="_blank">WB003</a>
        <p>New Occurrence - DI can add new notification.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Home/Dashboard" target="_blank">WB004</a>
        <p>On clicking notify in add notification will take DI back to dashboard which displays the last included notification.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Home/Dashboard" target="_blank">WB005</a>
        <p>On clicking notify in add notification will take DI back to dashboard which displays the last included notification.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/Form_35_tab" target="_blank">WB006</a>
        <p>
            Update existing occurrence (Update F35) will allow DI to enter all the details about the occurrence.Initially General info needs to be updated.
        </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/Form_35_tab" target="_blank">WB007</a>
        <p>
            Next Section of Form35 is Occurrence Classfication.Occurrence type,Occurrence Description and attachments need to be filled.
        </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/Form_35_tab" target="_blank">WB008</a>
        <p>
            Next Section of Form35 is Passenger Info.All the details about the passengers and crew members need to be filled.
        </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/Form_35_tab" target="_blank">WB009</a>
        <p>
            Next Section of Form35 is Aircraft Details.All the details about the aircraft needs to be filled.
        </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/Form_35_tab" target="_blank">WB010</a>
        <p>
            Next Section of Form35 is DI Occurrence Assessment.
        </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/Form_35_tab" target="_blank">WB011</a>
        <p>
            Next Section of Form35 is DI Suggestion and further Investigation.
        </p>
    </li>
    <li>
        <a href="#">WB012</a>
        <p>
            Once DI learns about the new occurrence, DI will send email notification list to Distribution List which also includes DAAI.
            DAAI will receive a mail notification with a link(reference number) to view the occurrence details, on clicking the link, DAAI will be taken to login page of ISM.
        </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/" target="_blank">WB013</a>
        <p>DAAI can login to the ISM by giving username (Email ID) and password.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/DI_Filled_Form35" target="_blank">WB014</a>
        <p>Occurrence Details screen - General Info.DAAI can view the occurrence details filled by DI.Not all the details will be populated initially,but gets populated as and when DI updates all the details. </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/DI_Filled_Form35" target="_blank">WB015</a>
        <p>Occurrence Details screen - Aircraft Info and OCcurrence Classification </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/DI_Filled_Form35/" target="_blank">WB016</a>
        <p>Occurrence Details screen - DI Assessment </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/DI_Filled_Form35" target="_blank">WB017</a>
        <p>Occurrence Details screen - DI Suggestions and Further Investigations.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/DI_Filled_Form35" target="_blank">WB018</a>
        <p>Form 035 submitted screen - Once DI fills all the details in form 035, Open Investigation file and Close investigation buttons will be enabled in DAAI screen.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/DI_Filled_Form35" target="_blank">WB019</a>
        <p>Close Investigation - If DAAI clicks on close investigation in the previous screen, popup appears asking for reason for closing investigation.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/DI_Filled_Form35" target="_blank">WB020</a>
        <p>Occurrence Closed Confirmation screen.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/DI_Filled_Form35" target="_blank">WB021</a>
        <p>Form 035 submitted screen - Open Investigation File</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/Form_39" target="_blank">WB022</a>
        <p>Investigator In-Charge Assignment screen - Open investigation file in the previous screen will open this screen where DAAI can assign IIC and team members for the investigation.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/Form_39" target="_blank">WB023</a>
        <p>List of existing IICs will be displayed.Clicking on Profile view displays the details of a potential IIC screen.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/Form_39" target="_blank">WB024</a>
        <p>Assigning investigation to selected IIC - DAAI can choose an IIC from the list.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Notifications/IIC_Assigned" target="_blank">WB025</a>
        <p>IIC selection confirmation screen - Confirmation for IIC chosen.</p>
    </li>
    <li>
        <a href="#" target="_blank">WB026</a>
        <p>IIC Mail Notification - Once DAAI confirms the IIC, IIC will receive a mail notiification containing the link for investigation.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com" target="_blank">WB027</a>
        <p>IIC Login Screen - IIC needs to login to ISM to view the investigation.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Form_35IIC" target="_blank">WB028</a>(Pg.no.49)
        <p>Team Management Selection</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Teammanagement" target="_blank">WB031</a>
        <p>Team Management - On clicking the assign or reassign in any of the task groups,team members can be searched and assigned for investigation.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Form_35IIC" target="_blank">WB028</a>
        <p>Investigation details screen - Once IIC clicks on the reference number in dashboard, the investigation details screen will be displayed.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Defn_Inv_Scope" target="_blank">WB029</a>
        <p>Define Investigation Scope screen - All the task groups will be displayed from which the neccessary groups are selected by IIC</p>
    </li>

    <li>
        <a href="http://ism.xminds.com/Task/TaskGroup" target="_blank">WB030</a>
        <p>Task Defining screen - On clicking the task group, group details will be dispayed here</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Assigning_team_members" target="_blank">WB031 (P.g.No 57)</a>
        <p>Assigning Team Members- On clicking the assign or reassign in any of the task groups,team members can be searched and assigned for investigation.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/task/TaskGroup" target="_blank">WB032</a>
        <p>Task assigned to Team Members screen - Assigned team members name will be displayed in each group.</p>
    </li>
    <li>
        <a href="#">WB033</a>
        <p>Team member Mail notification- Assigned team members will receive a mail notiification with the reference number link.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com" target="_blank">WB034</a>
        <p>Team member Login Screen.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Home/DashBoard" target="_blank">WB035</a>
        <p>Team member Dashboard - List of all the assigned investigations</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/InvestigationDetails_new" target="_blank">WB036</a>
        <p>Team member Task Screen - Lists all the events that are under particular task group and details about the task group</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/InvestigationDetails_new" target="_blank">WB037</a>
        <p>Team member Task detailed view screen</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/InvestigationDetails_new" target="_blank">WB038</a>
        <p>Task compeletion screen - once the task is comepleted,report task compeleted is clicked,</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Form_35IIC" target="_blank">WB039</a>
        <p>View Invesitigation progress </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/View_Inv_Prg" target="_blank">WB040</a>
        <p>Invesitigation progress screen - displays all the taks group's current status.   </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/InvestigationFlow" target="_blank">WB041</a>
        <p>Invesitigation status group monitor screen - displays the status of all the task groups  all the taks group's current status.clicking on an event will display the details   </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/InvestigationDetails" target="_blank">WB042</a>
        <p>Operation Task view screen - displays the selected event's details. </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/InvestigationDetails" target="_blank">WB043</a>
        <p>Completed Tasks view - displays the comepleted events and saves them.   </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Form_35IIC" target="_blank">WB044</a>
        <p>Correspondence management selection</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/CorrespondenceManagement" target="_blank">WB045</a>
        <p>Correspondence management - lists all the correspondences of an investigation </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/AddNewCorrespondence" target="_blank">WB046</a>
        <p>New Correspondence - creates a new correspondence,IIC needs to fill the metadata before saving the correspondence. </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/CorrespondenceManagement" target="_blank">WB047</a>
        <p>Correspondence screen - displays the last added correspondence.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com" target="_blank">WB048</a>
        <p>DAAI Login </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Home/Dashboard" target="_blank">WB049</a>
        <p>DAAI Dashboard - list of all notiifcations with review correspondence link  </p>
    <li>
        <a href="http://ism.xminds.com/Task/CorrespondenceManagement_approval" target="_blank">WB050</a>
        <p>
            Correspondence detailed view - displays the correspondence and DAAI can either approve or reject the correspondence.
            If DAAI approves the correspondence,ISM will send an email to intended receipents and will be included in the correspondence list.
            If DAAI rejects it ,email will be sent to the IIC about the rejection.
        </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/CorrespondenceManagement" target="_blank">WB051</a>
        <p>Correspondence screen - display all the correspondences. </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/CorrespondenceManagement" target="_blank">WB052</a>
        <p>Correspondence screen - display all the correspondences.Only IIC or DAAI can view this screen. </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/CorrespondenceDetailList" target="_blank">WB053</a>
        <p>Correspondences -Responses screen - displays the correspondence detail and also the reaponses that are given by the recipients. </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/AddNewCorrespondenceFromDetails" target="_blank">WB054</a>
        <p>New Correspondence against an existing control number screen - allows IIC to add a new correspondence to the exiting control number.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/CorrespondenceDetailList" target="_blank">WB055</a>
        <p>Correspondence sorted by date of entry screen -displays the correspondence bssed on list of entry</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Form_35IIC" target="_blank">WB056</a>
        <p>Evidence Management</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/EvidenceManagement" target="_blank">WB057</a>
        <p>Evidence Management screen - displays the list of all evidences of an investigation. </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/AddNewEvidence/0" target="_blank">WB058</a>
        <p>New Evidence Entry Screen -allows IIC to fill the metadata ,can upload any number of attachments and save the evidence</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/EvidenceManagement target=" _blank"">WB059</a>
        <p>Evidence Management -updates the last added evidence in the list</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/EvidenceManagement" target="_blank">WB060</a>
        <p>Evidence Management -list all the evidences </p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/EvidenceManagement" target="_blank">WB061</a>
        <p>Update Evidence details - screen to update evidence details</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/AddNewEvidence/1" target="_blank">WB062</a>
        <p>New Evidence Movement - adds new evidences movement.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/AddNewEvidence/1" target="_blank">WB063</a>
        <p>New evidence movement updation - New evidence movement has been updated here</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Form_35IIC" target="_blank">WB064</a>
        <p>SR Management</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/SR/SR_View" target="_blank">WB065</a>
        <p>SR Management -list all the Safety Recommendations.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/SR/New_SR?mode=new" target="_blank">WB066</a>
        <p>New SR screen - adds new safety recommendation and saves it</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/SR/New_SR?mode=new" target="_blank">WB066</a>
        <p>Update SR screen - popup for asking reason for updating the SR.</p>
    </li>
    @* <li>
            <a href="http://ism.xminds.com/SR/SR_View" target="_blank">WB067</a>
            <p>SR Management - once the SR gets saved,it is listed here</p>
        </li>
            <li>
                <a href="http://ism.xminds.com/SR/SR_View" target="_blank">WB068</a>
                <p>SR Listing screen - can view the exiting SRs.</p>
            </li>
            <li>
                <a href="http://ism.xminds.com/SR/New_SR?mode=view" target="_blank">WB069</a>
                <p>SR approved by DAAI - displays the details about the SR and IIC can send it to External Stakeholders.</p>
            </li>
            <li>
                <a href="http://ism.xminds.com/SR/SR_Correspondence?mode=new" target="_blank">WB070</a>
                <p>Correpondence Management -Once IIC clicks send to External Stakeholders, correspondence gets opened where IIC has to fill all the metadata and save them.</p>
            </li>
            <li>
                <a href="http://ism.xminds.com/SR/New_SR?mode=view_corres" target="_blank">WB071</a>
                <p>External Stakeholders Feedback screen - IIC can enter the consolidated feedback from the stakeholders and saves it.</p>
            </li>*@
    <li>
        <a href="http://ism.xminds.com/Task/Form_35IIC" target="_blank">WB072</a>
        <p>Forms and Reports</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Gen_Forms" target="_blank">WB073</a>
        <p>Download forms - Click on any download button will automatically generate the corresponding form in MS Word and will download it.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Form_35IIC" target="_blank">WB074</a>
        <p>Close Inestigation - IIC/DAAI can close any investigation after getting the approval.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Form_35IIC" target="_blank">WB075</a>
        <p>Close Inestigation - A popup will appear for closing the investigation.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Form_35IIC" target="_blank">WB072</a>(Pg. 110)
        <p>Manage Distribution List Selection.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/Task/Managedistributionlist" target="_blank">WB031</a>(Pg. 111)
        <p>Manage Distribution List -Dsiplays the list of distribution list.</p>
    </li>
    <li>
        <a href="http://ism.xminds.com/task/Addnewdistributionlist" target="_blank">WB046</a>(Pg. 112)
        <p>Add New Distribution List Screen-Adds new distribution list.</p>
    </li>
</ul>
