﻿@model ISM_Project.Models.AdminModel
@{
    ViewBag.Title = "AddDesignation";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-title">
        <h2>Add User Designation</h2>
    </div>
</div>

<div class="modal-body" id="User_Designation">
    <small id="emailHelp" class="form-text popup_danger"></small>
    @using (Html.BeginForm("AddDesignations", "Admin", FormMethod.Post, new { id = "frm_AddDesignation" }))
    {
        <div class="closeinvestigation-wrapp">
            <div class="closeinvestigation-inner create-user-table">
                <form>
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                           User Designation <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @Html.HiddenFor(m => m.LKDesignationID, new { @type = "text", @class = "form-control hidden" })
                            @Html.TextBoxFor(m => m.LKDesignationName, new { @type = "text", @class = "form-control", @style = "margin-bottom:10px" })
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-save" onclick="SaveUserDesignation()">Save</button>
        </div>
    }
</div>

