﻿@model ISM_Project.Models.InventoryModel
@{
    ViewBag.Title = "AddNewCorrespondence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "new_inventory", enctype = "multipart/form-data" }))
                                        {
                                            <div class="tab-content ">
                                                <div class="tab-pane active">
                                                    <div class="x_panel">
                                                        <div class="x_content create-user-table form-69-wrapper">
                                                            <div class="info-tittle">
                                                                <h2>
                                                                    Item Details
                                                                    @if (ViewBag.InveUpdtHistory > 0)
                                                                    {
                                                                        <a class="view-inventory-history" id="btnViewQuanHistory" href="@Url.Action("ViewInventoryQuantityHistory", "Admin", new { id = ViewBag.InventoryID })">Quantity History</a>
                                                                    }
                                                                    @if (ViewBag.InveUseHIst > 0)
                                                                    {
                                                                        <a class="view-inventory-history" id="btnViewQuanUsage" href="@Url.Action("ViewInventoryUsage", "Admin", new { id = ViewBag.InventoryID })">Item Usage</a>
                                                                    }
                                                                </h2>
                                                            </div>
                                                            <div class="x_content create-user-table mtop15">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">
                                                                        Category<span class="text-danger">*</span>
                                                                    </label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBox("CategoryName", null, new { @class = " Inv-Category form-control", @type = "text", @autocomplete = "off", @placeholder = "Start typing for category" })
                                                                        @Html.HiddenFor(a => a.Category)
                                                                        @Html.Hidden("InventoryID", null, new { @Value = ViewBag.InventoryID })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Item<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(a => a.Item, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "Enter Item" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Item No<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(a => a.ItemNo, new { @class = "form-control", @type = "number", @autocomplete = "off", @placeholder = "Enter Item No" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Description<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextAreaFor(a => a.Description, new { @class = "form-control", @type = "text", @rows = 5, @style = "height:inherit", @placeholder = "Enter Description" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label"> Part No  <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(a => a.PartNo, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "Enter Part No" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label"> Serial No <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(a => a.SNo, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "Enter Serial No" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Quantity<span class="text-danger">*</span></label>
                                                                    @*@Html.TextBoxFor(a => a.Quantity, new { @class = "form-control", @type = "text" })*@
                                                                    @if (Model.InventoryID == 0)
                                                                    {
                                                                        <div class="col-sm-6 col-form-box">
                                                                            <input type="number" style="display: initial;width: 20%; " id="Quantity" class="form-control" placeholder="Quantity" min="0" maxlength="1000" name="Quantity" value="@ViewBag.Quantity" autocomplete="off" />
                                                                            <input style="display: initial;width: 25%;" id="QuantityType" class="invquan-type form-control" placeholder="Variable" name="QuantityType" value="@ViewBag.QuantityType" autocomplete="off" onKeyPress = "return ValidateAlpha(event);"/>
                                                                            <span>(like pcs,pkt,boxes,sets,etc)</span>
                                                                            @Html.HiddenFor(a => a.QuantityID)
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                <div class="col-sm-4 col-form-box">
                                                                    @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control ", @type = "number", Value = ViewBag.Quantity, @autocomplete = "off", @style = "display: initial;width: 20%;" })
                                                                    @Html.TextBoxFor(m => m.QuantityType, new { @class = "form-control invquan-type", Value = ViewBag.QuantityType, @autocomplete = "off", @style = "display: initial;width: 25%;", @onKeyPress = "return ValidateAlpha(event);" })
                                                                    <span>(like pcs,pkt,boxes,sets,etc)</span>
                                                                </div>
                                                                        <div class="col-sm-4 col-form-box">
                                                                            <a class="ChangeQuantity" id="btnChange_Quantity" data-toggle="modal"> Edit Quantity </a>
                                                                            <a class="UpdateInventoryUse" id="AddInventoryUse" data-toggle="modal"> Add Item Usage </a>
                                                                        </div>

                                                                    }
                                                                </div>
                                                               
                                                                <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label">Availability <span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            @Html.TextBoxFor(a => a.Availability, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "Enter Availability" })
                                                                        </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label"> Expiry Date <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <div class='input-group all-dates' id='dtExpiry'>
                                                                            <input type="text" id="ExpiryDate" class="form-control" name="ExpiryDate" value="@ViewBag.ExpiryDate" autocomplete="off" />
                                                                            <span class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*<div class="form-group">
                                                                        <label class="col-sm-4 col-form-label">Expired Items<span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            @Html.TextBoxFor(a => a.ExpiredItems, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "Enter Expired Items" })
                                                                        </div>
                                                                    </div>*@
                                                                @*<div class="form-group">
                                                                        <label class="col-sm-4 col-form-label">Required Items<span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            @Html.TextBoxFor(a => a.RequiredItems, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "Enter Required Items" })
                                                                        </div>
                                                                    </div>*@
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Comments</label>
                                                                    <div class="col-sm-8  col-form-box">
                                                                        @Html.TextAreaFor(a => a.Comments, new { @class = "form-control form-textarea", @rows = 5, @style = "height:inherit", @placeholder = "Enter Comments" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Images <span class="text-danger"></span></label>
                                                                    <div class="col-sm-7 padding-right">
                                                                        <div class="form-group attachments-tag">
                                                                            <div class="input-group tag-bottom">
                                                                                <input id="invnuploadFile_0" class="form-control" placeholder="Choose File" disabled="disabled">
                                                                                <div class="input-group-btn">
                                                                                    <div id="FileUpload" class="fileUpload btn btn-success">
                                                                                        <span><i class="fa fa-upload" aria-hidden="true"></i>Choose File</span>
                                                                                        <input id="invnuploadBtn_0" type="file" name="InvenFiles[]" class="upload invupload">
                                                                                        <input type="hidden" id="hdnVal_0" class="hdnfile" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <label class="cur" id="invn_add_attachment"> Add Image <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                                                    </div>
                                                                </div>
                                                                @if (Model != null)
                                                                {
                                                                    if (Model.Inv_Attach != null)
                                                                    {
                                                                        if (Model.Inv_Attach.Count() > 0)
                                                                        {
                                                                            <div id="DynamicArea" class="form-group">
                                                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1"></label>
                                                                                <div class="col-sm-8 no-padding">
                                                                                    @foreach (var Images in Model.Inv_Attach)
                                                                                    {
                                                                                        <div class="img-invn-list">
                                                                                            @*<a href="@Images.AttachmentPublicUrl.ToString()" id="file_@Images.InventoryAttachmentID" target="_blank">@Images.AttachmentPublicUrl.ToString().Split('/').Last() </a>*@
                                                                                            <img src="@Images.AttachmentPublicUrl.ToString()" id="img_@Images.InventoryAttachmentID" />
                                                                                            @if (Images.CreatedBy == Convert.ToInt32(Session["UserID"]))
                                                                                            {
                                                                                                <a href="#" id="attach_@Images.InventoryAttachmentID" class="remove_Inv_attachment">Remove</a>
                                                                                            }
                                                                                        </div>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="create-bottom-btn">
                                                            <button type="button" class="btn btn-save" id="btnSaveInventory" onclick="saveInventory();">Save and Update</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Change_Quantity" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:55%">
        <div class="modal-content" id="div_changeQuantity">
            <div class="modal-header">
                <div class="modal-title">
                    <h2>Refill Item Quantity</h2>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal content-->
            <small id="emailHelp" class="form-text popup_danger"></small>

            <div class="modal-body">
                <div class="incharge-wrapp">
                    <div class="row">

                        @Html.Hidden("InventoryID", null, new { @Value = ViewBag.InventoryID })
                        <div class="form-group">
                            <label class="col-sm-4 col-form-label">Refilled Quantity<span class="text-danger">*</span></label>
                            <div class="col-sm-8 col-form-box">
                                @Html.TextBoxFor(a => a.REFILLED, new { @type = "number", @min = 1, @Max = 100, @style = "display: initial;width: 35%;", @class = "form-control" })
                                @Html.HiddenFor(a => a.AVAILABLE, new { Value = ViewBag.Quantity })
                                @*<input style="display: initial;width: 35%;" id="QuantityType" class="invquan-type form-control" name="QuantityType" value="@ViewBag.QuantityType" autocomplete="off" disabled="disabled" />*@
                                <label class="form-values">@ViewBag.QuantityType</label>
                                @Html.HiddenFor(a => a.QuantityType, new { Value = ViewBag.QuantityType })
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save" onclick="UpdateQuantity()">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="Update_InventoryUSe" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:55%">
        <div class="modal-content" id="div_AddInventoryUse">
            <div class="modal-header">
                <div class="modal-title">
                    <h2>Item Usage</h2>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal content-->
            <small id="emailHelp" class="form-text popup_danger"></small>
            <div class="modal-body">
                <div class="incharge-wrapp">
                    @Html.Hidden("InventoryID", null, new { @Value = ViewBag.InventoryID })
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-4 col-form-label"> Quantity Used<span class="text-danger">*</span></label>
                            <div class="col-sm-8 col-form-box">
                                @Html.TextBoxFor(a => a.QunatityUsed, new { @type = "number", @min = 1, @Max = ViewBag.Quantity, @style = "display: initial;width: 35%;", @class = "form-control" })
                                @Html.HiddenFor(a => a.AVAILABLE, new { Value = ViewBag.Quantity })
                                <label class="form-values">@ViewBag.QuantityType</label>
                                @Html.HiddenFor(a => a.QuantityType, new { Value = ViewBag.QuantityType })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-form-label"> Investigation</label>
                            <div class="col-sm-6 col-form-box">
                                @Html.TextBox("InvestigationNumber", null, new { @class = "Inv-Investigation form-control", @type = "text", @autocomplete = "off", @placeholder = "Start typing for Investigation Number" })
                                @Html.HiddenFor(a => a.InvestigationID)
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-sm-4 col-form-label"> Notification Number</label>
                            <div class="col-sm-6 col-form-box">
                                @Html.TextBox("NotificationNumber", null, new { @class = "Inv-Notifications form-control", @type = "text", @autocomplete = "off", @placeholder = "Start typing for Notification Number" })
                                @Html.HiddenFor(a => a.NotificationID)
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-sm-4 col-form-label">Used Date</label>
                            <div class="col-sm-6 col-form-box">
                                <div class='input-group date_only_nofuture' id='dtExpiry'>
                                    <input type="text" id="UsageDate" class="form-control" name="UsageDate" autocomplete="off" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-form-label">Remarks</label>
                            <div class="col-sm-6 col-form-box">
                                @Html.TextAreaFor(a => a.Remarks, new { @class = "form-control", @type = "text", @rows = 5, @style = "height:inherit", @placeholder = "Enter Remarks" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save" onclick="UpdateInvnUse()">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    function ValidateAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32)
            return false;
        return true;
    }
</script>