﻿@{
    ViewBag.Title = "Global_DL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Manage Global Distribution List</h2>
                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle distribution-title">
                                            <h2>Email Distribution List</h2>
                                            @if (Convert.ToInt32(Session["roleid"]) == 4 && Convert.ToInt32(TempData["Inv_Status"]) != 2)
                                            {
                                                <div class="occ-new">
                                                    <button type="submit" class="btn btn-addnew" onclick="location.href='@Url.Action("Addnewdistributionlist", "task", new { InvId = Model.InvestigationFileID, DistId = 0 }) '">
                                                        <i class="fas fa-plus"></i>
                                                        Add New
                                                    </button>
                                                </div>
                                            }
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12 list-counts">

                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                            <th>Number of People</th>
                                                            <th>Scope</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    @*<tbody>

                                                            @if (Model.InvDistrList.Count() > 0)
                                                            {
                                                                int i = ViewBag.serial_nbr;

                                                                var distiPage = Model.InvDistrList.ToList().ToPagedList(dist_cur_page ?? 1, 10);

                                                                foreach (var disList in distiPage)
                                                                {

                                                                    <tr>
                                                                        <td>@disList.EmailDistributionListName</td>
                                                                        <td>@disList.EmailDistributionListDescription</td>
                                                                        <td>@disList.noofPeople</td>
                                                                        <td>@disList.LKDistributionListTypeName</td>
                                                                        @if ((Convert.ToInt32(Session["roleid"]) == 4 || Convert.ToInt32(Session["roleid"]) == 3) && Convert.ToInt32(TempData["Inv_Status"]) != 2)
                                                                        {
                                                                            if (@disList.LKDistributionListTypeName.ToString() != "Global")
                                                                            {

                                                                                if (Convert.ToInt32(Session["roleid"]) == 4)
                                                                                {
                                                                                    <td><a href="@Url.Action("Addnewdistributionlist", "task", new { InvId = Model.InvestigationFileID, DistId = disList.EmailDistributionListID })">Edit</a> / <a style="padding-left:0px;" href="@Url.Action("DeleteDistributionlist", "task", new { DistId = disList.EmailDistributionListID })">Delete</a></td>
                                                                                }
                                                                                else if (Convert.ToInt32(Session["roleid"]) == 3)
                                                                                {
                                                                                    <td><a href="@Url.Action("Addnewdistributionlist", "task", new { InvId = Model.InvestigationFileID, DistId = disList.EmailDistributionListID })">View</a></td>
                                                                                }

                                                                            }
                                                                            else
                                                                            {
                                                                                <td class="GEDL" title="Global list can't be updated or removed."></td>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <td></td>
                                                                        }


                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr><td colspan="7"><p style="text-align:center">No distribution list available</p></td></tr>
                                                            }
                                                        </tbody>*@
                                                </table>
                                                @*@if (ViewBag.count_pagecontent > 10)
                                                    {
                                                        @Html.PagedListPager(Model.InvDistrList.ToList().ToPagedList(dist_cur_page ?? 1, 10), page => Url.Action("Managedistributionlist", new { Invid = TempData["InvId"], page }))

                                                    }*@
                                                @*</div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
