﻿@model IEnumerable<ISM_Project.Models.USP_VIEW_INVESTIGATION_DISTRIBUTIONLIST_Result>
@{
    if (Session["username"] == null)
    {
        Response.Redirect("~/Home/Index");
    }

    ViewBag.Title = "Global_DistributionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper">
                <div class="main-wrapper current-project-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_content form-create-user-table">
                                    <div class="info-tittle">
                                        <h2>Global Email Distribution List</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        @*<div class="table-top-items">
                                                <div class="file-items">
                                                </div>
                                                <div class="add-aircraft-newbtn">
                                                    <button class="btn btn-addnew" onclick="location.href='@Url.Action("CreateGlobal_DistributionList", "Admin", new { Id=0 })'"> <i class="fa fa-plus" aria-hidden="true"></i> Add New </button>
                                                </div>
                                            </div>*@
                                        <div class="evidence-list-track">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="search-field admin-add">

                                                    <div class="occ-new">
                                                        @if (Session["username"] != null)
                                                        {
                                                            if (Session["roleid"].ToString() == "1")
                                                            {
                                                                <button type="button" class="btn btn-addnew" onclick="location.href='@Url.Action("CreateGlobal_DistributionList", "Admin", new { Id =0 })'" style="float:right;">
                                                                    <i class="fas fa-plus"></i>Add New
                                                                </button>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="datatable" class="table table-bordered table-hover table-responsive">
                                                <!-- need pagination table -->
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Distribution List Name</th>
                                                        <th>Distrubution List Description</th>
                                                        <th>No of People</th>
                                                        @*<th>Scope</th>*@
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{int i = 0;}
                                                    @foreach (var item in Model)
                                                    {
                                                        i += 1;
                                                        <tr>
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.EmailDistributionListName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.EmailDistributionListDescription)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.noofPeople)
                                                            </td>
                                                            @*<td>
                                                                    @Html.DisplayFor(modelItem => item.LKDistributionListTypeName)
                                                                </td>*@
                                                            <td>
                                                                @*<div class="pro-view">*@

                                                                    <div>
                                                                        <span class="edit-e"><a href="@Url.Action("CreateGlobal_DistributionList", "Admin", new { Id=item.EmailDistributionListID})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
                                                                        @*@if (item.EmailDistributionListID > 5)
            {
                <span class="delete-d"><a href="@Url.Action("DeleteDistributionlist", "Admin", new { Id = item.EmailDistributionListID })"><i class="fa fa-trash-o" aria-hidden="true"></i></a></span>
            }*@
                                                                    </div>
</td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

