﻿@using PagedList;
@using PagedList.Mvc;

@model ISM_Project.Models.InventoryModel
@{
    ViewBag.Title = "ViewInventoryUse";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? InvUse_cur_page = (ViewBag.Inve_page_no);
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    @using (Html.BeginForm("ViewInventoryUsage", "Admin", FormMethod.Post, new { id = "InventoryUseForm" }))
                    {
                        <div class="main-wrapper">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle">
                                                <h2>Item Usage</h2>
                                                <button type="submit" class="btn btn-save" id="btnExcelExport" value="Export" name="pageExport" onclick="">Export</button>
                                            </div>
                                            <div class="task-scope-wrapp saftey-tape">
                                                <div class="main-wrapper current-project-wrapper">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="x_panel-corres">
                                                                <div class="x_content">
                                                                    <div class="table-tittle">
                                                                    </div>
                                                                    <div class="table-responsive">
                                                                        <table id="datatable" class="table table-responsive table-bordered table-hover correspondance-table">
                                                                            <!-- need pagination table -->
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>Item</th>
                                                                                    <th>Investigation Number</th>
                                                                                    <th>Quantity Used</th>
                                                                                    <th>Used Date</th>
                                                                                    <th>Remarks</th>
                                                                                    <th>Updated By</th>
                                                                                    <th>Updated On</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (Model != null)
                                                                                {
                                                                                    int i = ViewBag.InvUse_serial_nbr;

                                                                                    if (Model.Inve_Use != null)
                                                                                    {
                                                                                        if (Model.Inve_Use.Count() > 0)
                                                                                        {
                                                                                            var InvUsePage = Model.Inve_Use.ToList().ToPagedList(InvUse_cur_page ?? 1, 10);
                                                                                            foreach (var Invn in InvUsePage)
                                                                                            {
                                                                                                i++;
                                                                                <tr>
                                                                                    <td>@i</td>
                                                                                    <td>@Invn.Item</td>
                                                                                    @if (Invn.InvestigationNumber == null)
                                                                                    {
                                                                                        <td>N/A</td>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <td>@Invn.InvestigationNumber</td>
                                                                                    }
                                                                                    <td>@Invn.QuantityUsed</td>
                                                                                    @if (Invn.UsageDate == null)
                                                                                    {
                                                                                        <td>N/A</td>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <td>@Convert.ToDateTime(Invn.UsageDate).ToString("dd-MMM-yyyy")</td>
                                                                                    }
                                                                                    @if (string.IsNullOrEmpty(Invn.Remarks))
                                                                                    {
                                                                                        <td>N/A</td>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <td>@Invn.Remarks</td>
                                                                                    }
                                                                                    <td>@Invn.UpdatedBy</td>
                                                                                    <td>@Convert.ToDateTime(Invn.UpdatedOn).ToString("dd-MMM-yyyy HH:mm")</td>
                                                                                </tr>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <tr>
                                                                                                <td colspan="6"><p style="text-align:center">No usage history available</p></td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                        @if (ViewBag.count_Invecontent > 10)
                                                                        {
                                                                            @Html.PagedListPager(Model.Inve_Use.ToList().ToPagedList(InvUse_cur_page ?? 1, 10), page => Url.Action("ViewInventoryUsage", "Admin", new { page, id = TempData["InventoryId"] }))
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>