﻿@using PagedList;
@using PagedList.Mvc;

@model ISM_Project.Models.InventoryModel
@{
    ViewBag.Title = "ViewInventoryQuantityHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? InvHist_cur_page = (ViewBag.InvQuanHist_page_no);

}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    @using (Html.BeginForm("ViewInventoryQuantityHistory", "Admin", FormMethod.Post, new { id = "InventoryHistForm" }))
                    {
                        <div class="main-wrapper">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle">
                                                <h2>Item Refill History</h2> @*Safety Recommendations List*@
                                                <button type="submit" class="btn btn-save" id="btnExcelExport" value="Export" name="pageExport" onclick="">Export</button>
                                            </div>
                                            <div class="task-scope-wrapp saftey-tape">
                                                @*<div class="search-field">
                                                        <div class="i-search nc">
                                                            <div id="custom-search-input">
                                                                <div class="input-group">
                                                                    @Html.TextBox("Item", "", new { @placeholder = "Item,Category", @class = "form-control" })
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-info btn-lg" type="submit">
                                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @if (Convert.ToString(Session["roleid"]) == "1")
                                                        {
                                                            <div class="occ-new">
                                                                <button type="button" class="btn btn-addnew" onclick="location.href='@Url.Action("AddInventory", "Admin", new { id = 0})'">
                                                                    <i class="fas fa-plus"></i>Add New
                                                                </button>
                                                            </div>
                                                        }
                                                    </div>*@
                                                <div class="main-wrapper current-project-wrapper">
                                                    @*@if (Convert.ToString(TempData["SearchKey"]) != "")
                                                        {
                                                            <a id="clear_search" href="">Clear All</a>
                                                        }*@
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="x_panel-corres">
                                                                <div class="x_content">
                                                                    <div class="table-tittle">
                                                                    </div>
                                                                    <div class="table-responsive">
                                                                        <table id="datatable" class="table table-responsive table-bordered table-hover correspondance-table">
                                                                            <!-- need pagination table -->
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>Item</th>
                                                                                    <th>Available Quantity</th>
                                                                                    <th>Refilled Quantity</th>
                                                                                    <th>Updated By</th>
                                                                                    <th>Updated On</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (Model != null)
                                                                                {
                                                                                    int i = ViewBag.InvQuanHist_serial_nbr;

                                                                                    if (Model.Inve_Updt != null)
                                                                                    {
                                                                                        if (Model.Inve_Updt.Count() > 0)
                                                                                        {
                                                                                            var InvHistPage = Model.Inve_Updt.ToList().ToPagedList(InvHist_cur_page ?? 1, 10);
                                                                                            foreach (var Invn in InvHistPage)
                                                                                            {
                                                                                                i++;
                                                                                                <tr>
                                                                                                    <td>@i</td>
                                                                                                    <td>@Invn.Item</td>
                                                                                                    <td>@Invn.Available</td>
                                                                                                    <td>@Invn.Refilled</td>
                                                                                                    <td>@Invn.UpdatedBy</td>
                                                                                                    <td>@Convert.ToDateTime(Invn.UpdatedOn).ToString("dd-MMM-yyyy HH:mm")</td>
                                                                                                </tr>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <tr>
                                                                                                <td colspan="6"><p style="text-align:center">No quantity update history available</p></td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                }

                                                                            </tbody>
                                                                        </table>
                                                                        @if (ViewBag.count_InvQuanHistContent > 10)
                                                                        {
                                                                            @Html.PagedListPager(Model.Inve_Updt.ToList().ToPagedList(InvHist_cur_page ?? 1, 10), page => Url.Action("ViewInventoryQuantityHistory", "Admin", new { page, id = TempData["InventoryId"] }))
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>