﻿@model ISM_Project.Models.IIC
@{
    ViewBag.Title = "AddNewCorrespondence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle occurrence-top">
                                            <h2>Correspondence Management</h2>
                                        </div>
                                        <form>
                                            @if (Model != null)
                                            {
                                                if (Model.Inv != null)
                                                {
                                                    if (Model.Inv.Count() > 0)
                                                    {
                                                        foreach (var inv in Model.Inv)
                                                        {
                                                            <div class="scope-details">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label">
                                                                                Notifier Name:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierName) ? Convert.ToString(inv.NotifierName) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label">
                                                                                Local Date & Time of Occurrence:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.LocalDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label">
                                                                                Notifier Organization:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierOrganization) ? Convert.ToString(inv.NotifierOrganization) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label">
                                                                                UTC Date & Time of Occurrence:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.UTCDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            }

                                        </form>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "new_corrspondence", enctype = "multipart/form-data" }))
                                        {
                                            <div class="tab-content ">
                                                <div class="tab-pane active">
                                                    <div class="x_panel">
                                                        <div class="x_content create-user-table form-69-wrapper">
                                                            <div class="info-tittle">
                                                                <h2>Correspondence Details</h2>
                                                            </div>
                                                            <div class="x_content create-user-table mtop15">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">
                                                                        Correspondence Control #
                                                                    </label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.LabelFor(a => a.CorrespondenceControlNumber, Convert.ToString(TempData["CONTROL_NUMER"]), new { @class = "form-values", @style = "font-weight:bold" })
                                                                        @Html.Hidden("CorrespondenceControlNumber", Convert.ToString(TempData["CONTROL_NUMER"]))
                                                                        @Html.Hidden("InvestigationFileID", Convert.ToInt32(TempData["InvId"]))
                                                                        @Html.Hidden("HdnMode", "New")
                                                                        @Html.Hidden("CORR_MSG_TYPE", "INITIAL")
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Correspondence Initiated Date<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <div id="crsinitated" class="input-group date_only_nofuture">

                                                                            <input type="text" id="CorrespondenceInitiatedDate" class="form-control" name="CorrespondenceInitiatedDate" value="@ViewBag.CorrespondenceInitiatedDate" />
                                                                            <span class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Subject<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(a => a.Subject, new { @class = "form-control", @type = "text" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Correspondence From<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(a => a.CorrespondenceMessageFrom, new { @class = "form-control", @type = "text", @placeholder = "Email Address", @Value = ViewBag.IICmailid })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label"> Role of the person  <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.DropDownListFor(a => a.LKCorrespondenceMessageFromRoleID, ViewBag.RolesList as SelectList, "Select", new { @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" id="otherRoles" style="display:none">
                                                                    <label class="col-sm-4 col-form-label"> Other Role <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(a => a.CorrespondenceMessageOtherRoleName, new { @class = "form-control", @type = "text" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Correspondence Type<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.DropDownListFor(a => a.LKCorrespondenceMessageTypeID, ViewBag.corresp_Lsit as SelectList, "Select", new { @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" id="SRNum" style="display:none">
                                                                    <label class="col-sm-4 col-form-label"> SR Number <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(a => a.SR_Number, new { @class = "SR-Number form-control", @type = "text" })
                                                                        @Html.HiddenFor(a => a.SR_ID)
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" id="otherTypes" style="display:none">
                                                                    <label class="col-sm-4 col-form-label"> Other Type <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(a => a.LKCorrespondenceMessageOtherTypeName, new { @class = "form-control", @type = "text" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label"> DAAI Approval Required <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.DropDownListFor(a => a.DAAIApprovalRequired, ViewBag.DAAIApprovalList as SelectList, new { @class = "form-control" })
                                                                        <span>
                                                                            (If 'Yes' selected, correspondence will appear in list only after DAAI approval)
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">To<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <input class="corr-receipents form-control" type="text" data-provide="typeahead" id="CorrespondenceMessageRecipientEmailAddress" placeholder="AIMS UserName or Email Id or Distribution List Name" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Cc</label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <input class="corr-receipents form-control" type="text" data-provide="typeahead" id="CorrespondenceMessageExtRecipientEmailAddress" placeholder="AIMS UserName or Email Id or Distribution List Name" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Correspondence Response Due Date<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <div id="crsrespnse" class="input-group noPastDate_change">
                                                                            <input type="text" id="CorrespondenceDueDate" class="form-control" name="CorrespondenceDueDate" value="@ViewBag.CorrespondenceInitiatedDate" />
                                                                            <span class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label"> Correspondence Response Days <span class="text-danger">*</span><i data-toggle="tooltip" title="Expected days for receiving response from users in To field" class="fa fa-question-circle" aria-hidden="true"></i></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(a => a.Corresrespnsdays, new { onkeydown = "return ValidateNumber(event);", maxlength = "4" , type = "number", @Value = "0", min = "0", max = "1000",@class = "form-control"})
                                                                     
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Correspondence Tags<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(a => a.CorrespondenceTags, new { @class = "form-control tags", @type = "text", @data_role = "tagsinput", @placeholder = "Comma seperated" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Correspondence Content<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8  col-form-box">
                                                                        @Html.TextAreaFor(a => a.CorrespondenceContent, new { @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label">Attachments <span class="text-danger"></span></label>
                                                                    <div class="col-sm-7 padding-right">
                                                                        <div class="form-group attachments-tag">
                                                                            <div class="input-group tag-bottom">
                                                                                <input id="corresuploadFile_0" class="form-control" placeholder="Choose File" disabled="disabled">
                                                                                <div class="input-group-btn">
                                                                                    <div id="FileUpload_0" class="fileUpload btn btn-success">
                                                                                        <span><i class="fa fa-upload" aria-hidden="true"></i>Choose File</span>
                                                                                        <input id="corressuploadBtn_0" type="file" name="CorresFiles[]" class="upload corresupload">
                                                                                        <input type="hidden" id="hdnVal_0" class="hdnfile" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <label class="cur" id="corres_add_attachment"> Add Attachment <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span style="color:blue;float:left">Note: Maximum email message size  (including attachment) is limited to 20 MB</span>
                                                        <div class="create-bottom-btn">
                                                            <button type="button" class="btn btn-save" id="btnSaveCorres" onclick="saveCorrespondence('corresupload');">Save and Update</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/css/bootstrap-tagsinput.css" rel="stylesheet" />