﻿@{
    ViewBag.Title = "Download Manuals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Investigation Manuals</h2>
                                        </div>
                                        <div class="task-inner-view">
                                            <div class="col-md-6">
                                                <div class="task-list-type">
                                                        <ol class="task-type">
                                                            <li>
                                                                <div class="scope-list-items-view">
                                                                    <a href="http://sharepoint.x-minds.info/Investigation_Manuals/9756_p1_cons_en.pdf" target="_blank">
                                                                        9756_p1_cons_en
                                                                        <i class="fas fa-eye"   data-toggle="tooltip" title="View Manual"></i>
                                                                    </a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="scope-list-items-view">
                                                                    <a href="http://sharepoint.x-minds.info/Investigation_Manuals/9756_p3_cons_en.pdf" target="_blank">
                                                                        9756_p3_cons_en
                                                                        <i class="fas fa-eye"  data-toggle="tooltip" title="View Manual"></i>
                                                                    </a>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            <div class="col-md-6">
                                                <div class="task-list-type">
                                                    <ol class="task-type">
                                                        <li>
                                                            <div class="scope-list-items-view">
                                                                <a href="http://sharepoint.x-minds.info/Investigation_Manuals/9756_p2_cons_en.pdf" target="_blank">
                                                                    9756_p2_cons_en
                                                                    <i class="fas fa-eye"   data-toggle="tooltip" title="View Manual"></i>
                                                                </a>
                                                            </div>
                                                        </li>                                                        
                                                        <li>
                                                            <div class="scope-list-items-view">
                                                                <a href="http://sharepoint.x-minds.info/Investigation_Manuals/9756_p4_cons_en.pdf" target="_blank">
                                                                    9756_p4_cons_en
                                                                    <i class="fas fa-eye"   data-toggle="tooltip" title="View Manual"></i>
                                                                </a>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




