﻿

<h2>Fishbone</h2>

<div class="x_panel">
    <div class="inner-x_content">
        <div class="table-tittle"><h2>Active fishbone Failures</h2></div>
    </div>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-12">
            <div class="col-md-3">
                <label>Organizational Influences</label>
            </div>
            <div class="col-md-3">
                <label>Unsafe Supervision</label>
            </div>
            <div class="col-md-3">
                <label>Pre-Conditions</label>
            </div>
            <div class="col-md-3">
                <label>Unsafe Act</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                    <option>Option 6</option>
                    <option>Option 7</option>
                    <option>Option 8</option>
                    <option>Option 9</option>
                    <option>Option 10</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>Variable 1</option>
                    <option>Variable 2</option>
                    <option>Variable 3</option>
                    <option>Variable 4</option>
                    <option>Variable 5</option>
                    <option>Variable 6</option>
                    <option>Variable 7</option>
                    <option>Variable 8</option>
                    <option>Variable 9</option>
                    <option>Variable 10</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>Parameter 1</option>
                    <option>Parameter 2</option>
                    <option>Parameter 3</option>
                    <option>Parameter 4</option>
                    <option>Parameter 5</option>
                    <option>Parameter 6</option>
                    <option>Parameter 7</option>
                    <option>Parameter 8</option>
                    <option>Parameter 9</option>
                    <option>Parameter 10</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>Parameter 1</option>
                    <option>Parameter 2</option>
                    <option>Parameter 3</option>
                    <option>Parameter 4</option>
                    <option>Parameter 5</option>
                    <option>Parameter 6</option>
                    <option>Parameter 7</option>
                    <option>Parameter 8</option>
                    <option>Parameter 9</option>
                    <option>Parameter 10</option>
                </select>
            </div>

        </div>
    </div>

    <div class="row" id="james_2">
        <div class="col-md-12">

            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                    <option>Option 6</option>
                    <option>Option 7</option>
                    <option>Option 8</option>
                    <option>Option 9</option>
                    <option>Option 10</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>Variable 1</option>
                    <option>Variable 2</option>
                    <option>Variable 3</option>
                    <option>Variable 4</option>
                    <option>Variable 5</option>
                    <option>Variable 6</option>
                    <option>Variable 7</option>
                    <option>Variable 8</option>
                    <option>Variable 9</option>
                    <option>Variable 10</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>Parameter 1</option>
                    <option>Parameter 2</option>
                    <option>Parameter 3</option>
                    <option>Parameter 4</option>
                    <option>Parameter 5</option>
                    <option>Parameter 6</option>
                    <option>Parameter 7</option>
                    <option>Parameter 8</option>
                    <option>Parameter 9</option>
                    <option>Parameter 10</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>Parameter 1</option>
                    <option>Parameter 2</option>
                    <option>Parameter 3</option>
                    <option>Parameter 4</option>
                    <option>Parameter 5</option>
                    <option>Parameter 6</option>
                    <option>Parameter 7</option>
                    <option>Parameter 8</option>
                    <option>Parameter 9</option>
                    <option>Parameter 10</option>
                </select>
            </div>

        </div>

        <a href="javascript:void(0);" class="remove_james" id="rmjames_2">X</a>
    </div>



    <div id="james_section"></div>

    <div class="row" style="margin-top:30px;margin-bottom:20px;">
        <div class='col-sm-12 col-form-label'>
            <label style="float:right;" id="add_james"> Add New <i class='fa fa-plus-square' aria-hidden='true'></i></label>
        </div>
    </div>

</div>
<div class="x_panel">

    @*<div class="fishbone_div">
            <h2 class="text-center">fishbone Conditions</h2>
        </div>*@
    <div class="inner-x_content">
        <div><h2 class="table-title">fishbone Conditions</h2></div>
    </div>

    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-12">
            <div class="col-md-3">
                <label>Organizational Influences</label>
            </div>
            <div class="col-md-3">
                <label>Unsafe Supervision</label>
            </div>
            <div class="col-md-3">
                <label>Pre-Conditions</label>
            </div>
            <div class="col-md-3">
                <label>Unsafe Act</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>fishbone Option 1</option>
                    <option>fishbone Option 2</option>
                    <option>fishbone Option 3</option>
                    <option>fishbone Option 4</option>
                    <option>fishbone Option 5</option>
                    <option>fishbone Option 6</option>
                    <option>fishbone Option 7</option>
                    <option>fishbone Option 8</option>
                    <option>fishbone Option 9</option>
                    <option>fishbone Option 10</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>fishbone Variable 1</option>
                    <option>fishbone Variable 2</option>
                    <option>fishbone Variable 3</option>
                    <option>fishbone Variable 4</option>
                    <option>fishbone Variable 5</option>
                    <option>fishbone Variable 6</option>
                    <option>fishbone Variable 7</option>
                    <option>fishbone Variable 8</option>
                    <option>fishbone Variable 9</option>
                    <option>fishbone Variable 10</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>fishboneParameter 1</option>
                    <option>fishbone Parameter 2</option>
                    <option>fishbone Parameter 3</option>
                    <option>fishbone Parameter 4</option>
                    <option>fishbone Parameter 5</option>
                    <option>fishbone Parameter 6</option>
                    <option>fishbone Parameter 7</option>
                    <option>fishbone Parameter 8</option>
                    <option>fishbone Parameter 9</option>
                    <option>fishbone Parameter 10</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>fishboneParameter 1</option>
                    <option>fishbone Parameter 2</option>
                    <option>fishbone Parameter 3</option>
                    <option>fishbone Parameter 4</option>
                    <option>fishbone Parameter 5</option>
                    <option>fishbone Parameter 6</option>
                    <option>fishbone Parameter 7</option>
                    <option>fishbone Parameter 8</option>
                    <option>fishbone Parameter 9</option>
                    <option>fishbone Parameter 10</option>
                </select>
            </div>

        </div>
    </div>
    <div class="row" id="fishbonejames_2">
        <div class="col-md-12">

            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>fishbone Option 1</option>
                    <option>fishbone Option 2</option>
                    <option>fishbone Option 3</option>
                    <option>fishbone Option 4</option>
                    <option>fishbone Option 5</option>
                    <option>fishbone Option 6</option>
                    <option>fishbone Option 7</option>
                    <option>fishbone Option 8</option>
                    <option>fishbone Option 9</option>
                    <option>fishbone Option 10</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>fishbone Variable 1</option>
                    <option>fishbone Variable 2</option>
                    <option>fishbone Variable 3</option>
                    <option>fishbone Variable 4</option>
                    <option>fishbone Variable 5</option>
                    <option>fishbone Variable 6</option>
                    <option>fishbone Variable 7</option>
                    <option>fishbone Variable 8</option>
                    <option>fishbone Variable 9</option>
                    <option>fishbone Variable 10</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>fishboneParameter 1</option>
                    <option>fishbone Parameter 2</option>
                    <option>fishbone Parameter 3</option>
                    <option>fishbone Parameter 4</option>
                    <option>fishbone Parameter 5</option>
                    <option>fishbone Parameter 6</option>
                    <option>fishbone Parameter 7</option>
                    <option>fishbone Parameter 8</option>
                    <option>fishbone Parameter 9</option>
                    <option>fishbone Parameter 10</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="0">Select</option>
                    <option>fishboneParameter 1</option>
                    <option>fishbone Parameter 2</option>
                    <option>fishbone Parameter 3</option>
                    <option>fishbone Parameter 4</option>
                    <option>fishbone Parameter 5</option>
                    <option>fishbone Parameter 6</option>
                    <option>fishbone Parameter 7</option>
                    <option>fishbone Parameter 8</option>
                    <option>fishbone Parameter 9</option>
                    <option>fishbone Parameter 10</option>
                </select>
            </div>

        </div>
        <a href="javascript:void(0);" class="remove_fishbonejames" id="rmfishbonejames_2">X</a>
    </div>
    <div id="fishbone_section"></div>

    <div class="row" style="margin-top:30px;margin-bottom:20px;">

        <div class='col-sm-12 col-form-label'>

            <label style="float:right;" id="add_fishbonejames"> Add New <i class='fa fa-plus-square' aria-hidden='true'></i></label>

        </div>


    </div>

    <input type="hidden" value="2" id="counter" />
    <input type="hidden" value="2" id="fishbone_counter" />



</div>

