﻿
@{
    ViewBag.Title = "LargeFilesupload";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? dist_cur_page = (ViewBag.page_no);
}
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        @using (Html.BeginForm("Largefilespost", "iic", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" id="invfileid" name="invfileid" class="hdnfile" value="@ViewBag.investfileid" />
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle">
                                                <h2>Large Files Upload</h2>
                                            </div>
                                            <form>
                                                <div class="scope-details largefile_upload">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            @if (Convert.ToInt32(Session["roleid"]) == 4 || Convert.ToInt32(Session["roleid"]) == 7)
                    {
                                        <div class="form-group large_form">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                Attachments
                                            </label>
                                            <div class="col-sm-6 col-form-box">
                                                <div class="form-group attachments-tag">
                                                    <div class="input-group tag-bottom">
                                                        <input id="corresuploadFile_0" class="form-control" placeholder="Choose File" disabled="disabled">
                                                        <div class="input-group-btn">
                                                            <div id="FileUpload_0" class="fileUpload btn btn-success">
                                                                <span><i class="fa fa-upload" aria-hidden="true"></i>Choose File</span>
                                                                <input id="corressuploadBtn_0" type="file" name="form" class="upload corresupload">
                                                                <input type="hidden" id="hdnVal_0" class="hdnfile" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="cur" id="large_add_attachment">Add Files<i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                            </div>

                                            <button id="btnGenerateForms" class="btn btn-success" type="button">Save</button>

                                        </div>
}
                                                        </div>

                                                        <div>

                                                        </div>

                                                    </div>
                                                </div>
                                                @*<label class="cur" id="corres_add_attachment"> Add Attachment <i class="fa fa-plus-square" aria-hidden="true"></i></label>*@

                                            </form>
                                            <div class="Notelrgfile alert alert-note"><strong>Note:</strong> Upload files which has size ranging from 1MB up to 1GB. You can leave this page once the processing message fade out.<br> You will get an email once the file upload process is completed.</div>
                                            <div class="form-min-table small_table">
                                                <table class="table table-bordered" id="largefiles">
                                                    <thead>
                                                        <tr>
                                                            <th>Filename </th>
                                                            <th>Status<span class="text-danger"></span></th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (ISM_Project.Models.InvLargefile lrg in ViewBag.largefiles)
                {

                                        <tr>
                                            @if (lrg.Status == "queued")
    {
                                        <td>@lrg.FileURL.Split('\\')[2]</td>
                                        <td style="color:red">File added in Queue</td>
                                        <td style="color:blue">No action</td>


}
                                            @if (lrg.Status == "UPLOADED")
    {
                                        <td><a href="@lrg.SharepointURL" style="color:blue">@lrg.FileURL.Split('\\')[2]</a></td>

                                        <td style="color:green">Uploaded Successfully</td>
                                        <td style="color:blue"><a href="" class="Delete_large_files dashboardlink" data-file="@lrg.SharepointURL" data-toggle="modal" title="">Delete</a></td>
}


                                        </tr>
}
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



