﻿@model ISM_Project.Models.CorrespondenceMessage
@{
    ViewBag.Title = "ResendEmail";
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-title">
        <h2>Resend Email</h2>
    </div>
</div>
<div class="modal-body" id="Resend_Email">
    <small id="emailHelp" class="form-text popup_danger"></small>
    @using (Html.BeginForm("ResendEmailUpdates", "IIC", FormMethod.Post))
    {
        <div class="closeinvestigation-wrapp">
            <div class="closeinvestigation-inner create-user-table">
                <form>
                    @Html.HiddenFor(m => m.CorrespondenceID, new { @class = "form-control hidden" })
                    @Html.HiddenFor(m => m.SR_Number, new { @class = "form-control hidden" })
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label">To<span class="text-danger">*</span></label>
                        <div class="col-sm-8 col-form-box">
                            <input class="Email-receipents form-control" type="text" data-provide="typeahead" id="CorrespondenceMessageRecipientEmailAddress" placeholder="AIMS UserName or Email Id or Distribution List Name" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-save" onclick="SendCorrEmail()">Send</button>
        </div>
    }
</div>

<script>
    function split(val) {
        return val.split(/,\s*/);
    }
    function extractLast(term) {
        return split(term).pop();
    }
    $(".Email-receipents").autocomplete({
            minLength: 0,
            source: function (request, response) {
                var user_val = extractLast(request.term);
                $.ajax({
                    url: '/IIC/searchUsers',
                    method: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        keyword: user_val,
                    }),
                    success: function (data) {
                        var userTags = JSON.parse(data);

                        var resp = $.map(userTags, function (obj) {
                            if (obj.EmailAddress != null) {
                                return {
                                    label: [obj.FirstName + "-" + obj.EmailAddress],
                                    code: obj.EmailAddress
                                }
                            }
                            else
                                return {
                                    label: [obj.FirstName],
                                    code: obj.EmailAddress
                                }
                        });
                        response(resp);
                    }
                });
            },
            focus: function () {
                return false;
            },
            select: function (event, ui) {
                if (ui.item == null || ui.item == undefined) {
                    $(this).val("");
                    $('.alert-danger').html('<div class="msg-icon"><i class="fas fa-exclamation-triangle"></i>please enter valid AIMS user name or email id or distribution list.</div>');
                    $('.alert-danger').show();
                    settimeout(function () { $(".alert").hide(); }, 2000);
                }
                else {
                    var terms = split(this.value);
                    terms.pop();
                    terms.push(ui.item.value);
                    terms.push("");
                    this.value = terms.join(", ");
                    return false;
                }
            }          
        });
</script>