﻿@model ISM_Project.Models.IIC
@{
    ViewBag.Title = "View_Inv_Prg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">

                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Investigation Progress</h2>
                                        </div>
                                        <form>
                                            <div class="scope-details">
                                                @if (Model != null)
                                                {
                                                    if (Model.Inv != null)
                                                    {
                                                        if (Model.Inv.Count() > 0)
                                                        {
                                                            foreach (var inv in Model.Inv)
                                                            {
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                Notifier Name:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierName) ? Convert.ToString(inv.NotifierName) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                UTC Date & Time of Occurrence:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.UTCDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                Notifier Organization:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierOrganization) ? Convert.ToString(inv.NotifierOrganization) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                Local Date & Time of Occurrence:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.LocalDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                }


                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="task-scope-wrapp">
                                            <div class="info-tittle">
                                                <h2>Investigation Group Task Status</h2>
                                            </div>
                                            <div class="form-group">
                                                <div class="overall">
                                                    <h3>Overall Progress</h3>
                                                    @if (Model != null)
                                                    {
                                                        if (Model.Inv_Group_Scope != null)
                                                        {
                                                            if (Model.Inv_Group_Scope.Count() > 0)
                                                            {
                                                                // On 28-june-2018

                                                                //var _SumOfProgress = Model.Inv_Group_Scope.Where(a => a.InvestigationTaskGroupInScope == 1).Sum(x => x.InvestigationTaskGroupProgress);

                                                                //int SumOfProgress = _SumOfProgress;

                                                                //int NoOfScopeDefined = Model.Inv_Group_Scope.Sum(a => a.InvestigationTaskGroupInScope) * 100;

                                                                //string OverAllPercentage = "0";

                                                                //if (SumOfProgress > 0)
                                                                //{
                                                                //    OverAllPercentage = Math.Round((Convert.ToDecimal(SumOfProgress) / NoOfScopeDefined) * 100).ToString();
                                                                //}

                                                                <div class="col-sm-6 col-form-box padding-right">
                                                                    <div class="progress" style="width: 100%; margin-bottom: 0px; background:#aba9a9;">
                                                                        <div class="progress-bar" role="progressbar" style="width: 50%; background:#3498db;" aria-valuenow="@Model.OverallProgressPercentage" aria-valuemin="0" aria-valuemax="100">@Model.OverallProgressPercentage%</div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="main-cards">
                                                @if (Model != null)
                                                {
                                                    if (Model.Inv_Group_Scope != null)
                                                    {
                                                        if (Model.Inv_Group_Scope.Count() > 0)
                                                        {
                                                            var i = 0; int NumberOfUnassignedEvents = 0; int NumberOfCompletedEvents = 0; int NumberOfInProgressEvents = 0;
                                                            <div class="row">

                                                                @foreach (var Groups in Model.Inv_Group_Scope)
                                                                {
                                                                    i++;
                                                                    string titlecardcls; string color; string barcolor;
                                                                    titlecardcls = color = barcolor = string.Empty;

                                                                    decimal ProgressPercentage = 0; string percentage = "0";

                                                                    var TaskGrpSum = Model.inv_taskDetails.AsEnumerable().Where(a => a.InvestigationTaskGroupID == Groups.InvestigationTaskGroupID).Sum(b => b.ProgressInPercentage);

                                                                    var TaskCount = Model.inv_taskDetails.AsEnumerable().Where(a => a.InvestigationTaskGroupID == Groups.InvestigationTaskGroupID).Count();

                                                                    if (TaskGrpSum > 0)
                                                                    {
                                                                        ProgressPercentage = (Convert.ToDecimal(TaskGrpSum) / (Convert.ToDecimal(TaskCount) * 100)) * 100;

                                                                        percentage = Math.Round(ProgressPercentage).ToString();
                                                                    }

                                                                    if (Groups.NumberOfInProgressEvents < 0)
                                                                    {
                                                                        NumberOfInProgressEvents = 0;
                                                                    }
                                                                    else
                                                                    {
                                                                        NumberOfInProgressEvents = Groups.NumberOfInProgressEvents;
                                                                    }

                                                                    if (Groups.NumberOfCompletedEvents < 0)
                                                                    {
                                                                        NumberOfCompletedEvents = 0;
                                                                    }
                                                                    else
                                                                    {
                                                                        NumberOfCompletedEvents = Groups.NumberOfCompletedEvents;
                                                                    }

                                                                    if (Groups.NumberOfUnassignedEvents < 0)
                                                                    {
                                                                        NumberOfUnassignedEvents = 0;
                                                                    }
                                                                    else
                                                                    {
                                                                        NumberOfUnassignedEvents = Groups.NumberOfUnassignedEvents;
                                                                    }

                                                                    if (Groups.InvestigationTaskGroupInScope == 1)
                                                                    {
                                                                        if (Convert.ToInt32(percentage) == 0)
                                                                        {
                                                                            titlecardcls = "gray-card";
                                                                            barcolor = "gray-bar";
                                                                            color = "gray";
                                                                        }
                                                                        if (Convert.ToInt32(percentage) == 100)
                                                                        {
                                                                            titlecardcls = "green-card";
                                                                            barcolor = "green-bar";
                                                                            color = "green";
                                                                        }

                                                                        if (Convert.ToInt32(percentage) > 0 && Convert.ToInt32(percentage) < 100)
                                                                        {
                                                                            titlecardcls = "orange-card";
                                                                            barcolor = "orange-bar";
                                                                            color = "orange";
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        titlecardcls = "gray-card";
                                                                        barcolor = "gray-bar";
                                                                        color = "gray";
                                                                    }

                                                                    string InvestigationTaskGroupName = "";

                                                                    if (@Groups.InvestigationTaskGroupName == "Maintenance and Records Tasks")
                                                                    {
                                                                        InvestigationTaskGroupName = "MAINT AND RECORDS TASKS";
}
else
{
    InvestigationTaskGroupName = @Groups.InvestigationTaskGroupName;
}

<div class="col-md-3">
    <div class="card">
        <div class="card-main-title @titlecardcls"><h3>@InvestigationTaskGroupName</h3></div>
        <div class="card-block">
            <div class="card-block-inner">
                <div class="c100" id="mark-@i">
                    @if (Groups.InvestigationTaskGroupInScope == 1)
                    {
                        @*<span class=@color>@Groups.InvestigationTaskGroupProgress%</span> // on 28-june-2018*@


                        <span class=@color>@percentage%</span>
                    }
                    else
                    {
                        <span class=@color>0%</span>
                    }
                    <div class="slice">
                        <div class="bar @barcolor"></div>
                        <div class="fill @barcolor"></div>
                    </div>
                </div>
            </div>
            <div class="block-content">
                <ul>
                    <li>
                        <label class="nos-list">Number of sub-tasks</label><span class="list-right">@Groups.NumberOfSubEvents</span>
                    </li>
                    <li>
                        @if (Groups.InvestigationTaskGroupInScope == 1)
                        {
                            <label class="nos-list">Unassigned sub-tasks</label><span class="list-right">@NumberOfUnassignedEvents</span>
                        }
                        else
                        {
                            <label class="nos-list">Unassigned sub-tasks</label><span class="list-right">0</span>
                        }
                    </li>
                    <li>
                        @if (Groups.InvestigationTaskGroupInScope == 1)
                        {
                            <label class="nos-list">Completed sub-tasks</label><span class="list-right">@NumberOfCompletedEvents</span>
                        }
                        else
                        {
                            <label class="nos-list">Completed sub-tasks</label><span class="list-right">0</span>
                        }
                    </li>
                    <li>
                        @if (Groups.InvestigationTaskGroupInScope == 1)
                        {
                            <label class="nos-list">Inprogress</label><span class="list-right">@NumberOfInProgressEvents</span>
                        }
                        else
                        {
                            <label class="nos-list">Inprogress</label><span class="list-right">0</span>
                        }
                    </li>

                </ul>
            </div>
            <div class="card-footer">
                <div class="assign-now"><a href="#"></a></div>
                @if (Groups.InvestigationTaskGroupInScope == 1)
                {
                    <a href="javascript:void(0);" onclick="location.href='@Url.Action("InvestigationFlow", "Task",new { id=Groups.InvestigationTaskGroupID, invid = TempData["InvId"]})'" class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                }
                else
                {
                    <a style="cursor:default" class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                }
            </div>
        </div>
    </div>
</div>


}
                                                            </div>

                                                        }
                                                    }
                                                }


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- sumitted form btns -->
                        <!-- sumitted form btns -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>