﻿@model ISM_Project.Models.IIC
@{
    ViewBag.Title = "ViewCorrespondence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper investigation-scope-wrapper">
                <div class="main-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_content form-create-user-table">
                                    <div class="info-tittle">
                                        <h2>Correpondence Management</h2>
                                    </div>
                                    <form>
                                        @if (Model != null)
                                        {
                                            if (Model.Inv != null)
                                            {
                                                if (Model.Inv.Count() > 0)
                                                {
                                                    foreach (var inv in Model.Inv)
                                                    {
                                                        <div class="scope-details">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                            Notifier Name:
                                                                        </label>
                                                                        <div class="col-sm-6 col-form-box">
                                                                            @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierName) ? Convert.ToString(inv.NotifierName) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                            Local Date & Time of Occurrence:
                                                                        </label>
                                                                        <div class="col-sm-6 col-form-box">
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.LocalDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                            Notifier Organization:
                                                                        </label>
                                                                        <div class="col-sm-6 col-form-box">
                                                                            @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierOrganization) ? Convert.ToString(inv.NotifierOrganization) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                            UTC Date & Time of Occurrence:
                                                                        </label>
                                                                        <div class="col-sm-6 col-form-box">
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.UTCDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        }
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="x_panel">
                                <div class="x_content form-create-user-table">
                                    <div class="info-tittle">
                                        <h2>Correspondence Details</h2>
                                    </div>
                                    <div class="investigation-wrapper">
                                        <div class="investigation-panel">
                                            <div class="x_content form-create-user-table">
                                                @if (Model != null)
                                                {
                                                    string IsApproved;
                                                    if (Model.Inv != null)
                                                    {
                                                        if (Model.corres_Det.Count() > 0)
                                                        {
                                                            int count = 0;
                                                            foreach (var Corres in Model.corres_Det)
                                                            {
                                                                count++;
                                                                if (count < 2)
                                                                {
                                                                    int dueDateDiff = 0;
                                                                    int dueDate = Convert.ToInt32(Corres.CorrespondenceResponseDays);
                                                                    if (dueDate > 0)
                                                                    {
                                                                        DateTime initiatedDate = Corres.CorrespondenceInitiatedDate;
                                                                        DateTime TodayDate = DateTime.Today;
                                                                        int daysDiff = (int)(TodayDate.Date - initiatedDate.Date).TotalDays;
                                                                        dueDateDiff = dueDate - daysDiff;
                                                                    }
                                                                    string DiffDays = dueDate + " ( " + dueDateDiff + " Days remaining )";
                                                                    <div class="scope-details">
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                        Correspondence Control #:
                                                                                    </label>
                                                                                    <div class="col-sm-6 col-form-box">
                                                                                        @Html.Label(Corres.CorrespondenceControlNumber, new { @class = "form-values" })
                                                                                        @Html.Hidden("HdnMode", "Existing")
                                                                                        @Html.Hidden("CorresID", Convert.ToInt32(Corres.CorrespondenceID))
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                        Subject:
                                                                                    </label>
                                                                                    <div class="col-sm-6 col-form-box">
                                                                                        @Html.Label(Corres.Subject, new { @class = "form-values" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                        Correspondence Initiated Date:
                                                                                    </label>
                                                                                    <div class="col-sm-6 col-form-box">
                                                                                        @Html.Label("CorrespondenceInitiatedDate", Corres.CorrespondenceInitiatedDate.ToString("dd/MM/yyy"), new { @class = "form-values" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                        Correspondence Response Due Days:
                                                                                    </label>
                                                                                    <div class="col-sm-6 col-form-box">
                                                                                        @Html.Label("Correspondenceresponsedays", Corres.CorrespondenceResponseDays, new { @class = "form-values" })
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                        Intented Recipients:
                                                                                    </label>
                                                                                    <div class="col-sm-6 col-form-box">
                                                                                        @if (Model.Corres_Recepients != null)
            {
                string Recipients = string.Empty;
                if (Model.Corres_Recepients.Count() > 0)
                {
                    foreach (var recipient in Model.Corres_Recepients)
                    {
                        if (!string.IsNullOrEmpty(recipient.RECIPIENT))
                        {
                            if (Recipients == string.Empty)
                            {
                                Recipients = Convert.ToString(recipient.RECIPIENT);
                            }
                            else
                            {
                                Recipients += " ,  " + recipient.RECIPIENT;
                            }
                        }
                    }
                }
                else
                {
                    Recipients = "N/A";
                }
                                                                            @Html.Label("Recepients", Recipients, new { @class = "form-values", @id = "Recipients" })
}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                        Correspondence Type:
                                                                                    </label>
                                                                                    <div class="col-sm-6 col-form-box">
                                                                                        @Html.Label(Corres.LKCorrespondenceTypeName, new { @class = "form-values" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                        Correspondence Tags:
                                                                                    </label>
                                                                                    <div class="col-sm-6 col-form-box">
                                                                                        @Html.Label(Corres.CorrespondenceTags, new { @class = "form-values" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                        Last Correspondence Date:
                                                                                    </label>
                                                                                    <div class="col-sm-6 col-form-box">
                                                                                        @Html.Label("", Corres.LastCorrespondenceDate.ToString("dd/MM/yyyy"), new { @class = "form-values" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                        DAAI Approval Required :
                                                                                    </label>
                                                                                    <div class="col-sm-6 col-form-box">
                                                                                        @if (Corres.DAAIApprovalRequired == false)
            {
                IsApproved = "No";
            }
            else
            {
                IsApproved = "Yes";
            }
                                                                                        @Html.Label("", Convert.ToString(IsApproved), new { @class = "form-values" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                        Correspondence Response Due Date:
                                                                                    </label>
                                                                                    <div class="col-sm-6 col-form-box">
                                                                                        @Html.Label("Correspondenceresponseduedate", Corres.CorrespondenceDueDate.ToString("dd/MM/yyy"), new { @class = "form-values" })
                                                                                    </div>
                                                                                </div>


                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="obtain-wrapper">
                                                                    </div>
                                                                    if (Session["username"] != null)
                                                                    {
                                                                        if ((Session["roleid"].ToString() == "4") && Convert.ToInt32(TempData["Inv_Status"]) != 2 && (Session["roleid"].ToString() == "7"))
                                                                        {
                                                                            <div class="sub-sav-btn occ-new ">
                                                                                <button type="button" class="btn btn-addnew" id="btnaddCorres" style="display:none"><i class="fas fa-plus"></i> Add New</button>
                                                                            </div>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            </div>
                                            <!--Add new correspondence to existing control number-->
                                            <div class="col-md-12 col-sm-12 col-xs-12" id="AddCorres" style="display:none">
                                                <div class="row">
                                                    @using (Html.BeginForm("AddCorrespondence", "IIC", FormMethod.Post, new { @id = "new_corrspondence" }))
                                                    {
                                                        <div class="tab-content ">
                                                            <div class="tab-pane active">
                                                                <div class="x_panel">
                                                                    <div class="x_content create-user-table form-69-wrapper">
                                                                        <div class="info-tittle">
                                                                            <h2>Correspondence Response</h2>
                                                                        </div>
                                                                        <div class="x_content create-user-table mtop15">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Correspondence From<span class="text-danger">*</span></label>
                                                                                <div class="col-sm-8 col-form-box">
                                                                                    @Html.TextBoxFor(a => a.CorrespondenceMessageFrom, new { @class = "form-control", @type = "text", @placeholder = "Enter Email Address", @Value = ViewBag.IICmailid })
                                                                                    @Html.Hidden("CorrespondenceID")
                                                                                    @Html.Hidden("InvestigationFileID", Convert.ToInt32(TempData["InvId"]))
                                                                                    @Html.Hidden("CorrespondenceInitiatedDate", DateTime.Now)
                                                                                    @Html.Hidden("CORR_MSG_TYPE", "REPLY")
                                                                                    @Html.Hidden("CorrespondenceControlNumber", Convert.ToString(TempData["CONTROL_NUMER"]))
                                                                                    @*<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name of the person sending the correspondence">*@
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Role of the person  <span class="text-danger">*</span></label>
                                                                                <div class="col-sm-8 col-form-box">
                                                                                    @Html.DropDownListFor(a => a.LKCorrespondenceMessageFromRoleID, ViewBag.RolesList as SelectList, "Select", new { @class = "form-control" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group" id="otherRoles" style="display:none">
                                                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Other Role <span class="text-danger">*</span></label>
                                                                                <div class="col-sm-8 col-form-box">
                                                                                    @Html.TextBoxFor(a => a.CorrespondenceMessageOtherRoleName, new { @class = "form-control", @type = "text" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Correspondence Type<span class="text-danger">*</span></label>
                                                                                <div class="col-sm-8 col-form-box">
                                                                                    @Html.DropDownListFor(a => a.LKCorrespondenceMessageTypeID, ViewBag.corresp_Lsit as SelectList, "Select", new { @class = "form-control" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group" id="otherTypes" style="display:none">
                                                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Other Type <span class="text-danger">*</span></label>
                                                                                <div class="col-sm-8 col-form-box">
                                                                                    @Html.TextBoxFor(a => a.LKCorrespondenceMessageOtherTypeName, new { @class = "form-control", @type = "text" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1"> DAAI Approval Required <span class="text-danger">*</span></label>
                                                                                <div class="col-sm-8 col-form-box">
                                                                                    @Html.DropDownListFor(a => a.DAAIApprovalRequired, ViewBag.DAAIApprovalList as SelectList, new { @class = "form-control" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Correspondence Content<span class="text-danger">*</span></label>
                                                                                <div class="col-sm-8 col-form-box">
                                                                                    @Html.TextAreaFor(a => a.CorrespondenceContent, new { @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Attachments <span class="text-danger"></span></label>
                                                                            <div class="col-sm-8 padding-right">
                                                                                <div class="form-group attachments-tag">
                                                                                    <div class="input-group tag-bottom">
                                                                                        <input id="uploadFile_0" class="form-control" placeholder="Choose File" disabled="disabled">
                                                                                        <div class="input-group-btn">
                                                                                            <div id="FileUpload" class="fileUpload btn btn-success">
                                                                                                <span><i class="fa fa-upload" aria-hidden="true"></i>Choose File</span>
                                                                                                <input id="uploadBtn_0" type="file" class="upload corresupload">
                                                                                                <input type="hidden" id="hdnVal_0" class="hdnfile" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <label class="cur" id="corres_add_attachment"> Add Attachment <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <span style="color:blue;float:left">Note: Maximum email message size  (including attachment) is limited to 20 MB</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="create-bottom-btn">
                                                            <button type="button" class="btn btn-save" id="btnSaveCorres" onclick="saveCorrespondence('corresupload');">Save and Update</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <!-- panel-group -->
                                            <div class="correspondence-panel-wr" id="Existing_Corres">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    @if (Model != null)
                                                    {
                                                        string fileClass = string.Empty;
                                                        if (Model.Inv != null)
                                                        {
                                                            if (Model.corres_Det.Count() > 0)

                                                            {
                                                                int count = 0;
                                                                foreach (var Corres in Model.corres_Det)
                                                                {
                                                                    if (Corres.IsViewed == false)
                                                                    {
                                                                        var boldTag = "makeEmailBold-"+(count+1);
                                                                        <b id=@boldTag>
                                                                            @if (Session["roleid"].ToString() == "3" || Session["roleid"].ToString() == "6")
                                                                            {
                                                                            count++;
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading common-panel" id="@Corres.CorrespondenceMessageID" onclick="markAsViewed(this,'@boldTag','@Corres.CorrespondenceMessageID')" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-@count" aria-expanded="true" aria-controls="collapseOne">
                                                                                    <div class="panel-title">
                                                                                        <a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                                                                            @Corres.CorrespondenceControlNumber  - @Convert.ToDateTime(Corres.CorrespondenceMessageInitiatedDate).ToString("dd/MM/yyyy")
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="plus-min">
                                                                                        <i class="more-less fas fa-chevron-down"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div id="collapse-@count" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                                    <div class="panel-body">
                                                                                        <div class="panel-body-content">
                                                                                            <div class="col-md-12">
                                                                                                <div class="row">
                                                                                                    <div class="content-inner">
                                                                                                        <ul>
                                                                                                            <li>
                                                                                                                <h3>From :</h3>
                                                                                                                <span class="form-values">@Corres.CorrespondenceMessageFrom</span>
                                                                                                            </li>
                                                                                                            <li>
                                                                                                                <h3>Subject:</h3>
                                                                                                                <span class="form-values">@Corres.Subject</span>
                                                                                                            </li>

                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="content-air">
                                                                                                <p>@Corres.CorrespondenceContent</p>
                                                                                            </div>
                                                                                            <div class="doc-file-tag-wr">
                                                                                                <div class="info-tittle">
                                                                                                    <h2>Attachments</h2>
                                                                                                </div>
                                                                                                @if (Corres.ATTACHMENTFILEURL != "N/A")
                                                                                                {
                                                                                                    string[] attachments = @Corres.ATTACHMENTFILEURL.Split(',');
                                                                                                    string[] attachmentAnnoyURL = @Corres.ATTACHANNOYURL.Split(',');
                                                                                                    <div class="attach-tag-r">
                                                                                                        <ul>
                                                                                                            <li>
                                                                                                                @for (int filecount = 0; filecount < attachments.Length; filecount++)
                                                                                                                {
                                                                                                                    if (!string.IsNullOrEmpty(attachments[filecount]))
                                                                                                                    {
                                                                                                                        string filetype = attachments[filecount].Substring(attachments[filecount].LastIndexOf('.') + 1, attachments[filecount].Length - (attachments[filecount].LastIndexOf('.') + 1));
                                                                                                                        if (filetype == "pdf")
                                                                                                                        {
                                                                                                                            fileClass = "fa fa-file-pdf-o";
                                                                                                                        }
                                                                                                                        if (filetype == "doc" || filetype == "docx" || filetype == "dotx")
                                                                                                                        {
                                                                                                                            fileClass = "fa fa-file-word-o";
                                                                                                                        }
                                                                                                                        if (filetype == "xlsx")
                                                                                                                        {
                                                                                                                            fileClass = "fa fa-file-excel-o";
                                                                                                                        }
                                                                                                                        if (!string.IsNullOrEmpty(attachments[filecount]) && attachments[filecount] != "")
                                                                                                                        {
                                                                                                                            <div class="doc-file-tag">
                                                                                                                                <i class="@fileClass" aria-hidden="true"></i>

                                                                                                                                <a href="@attachmentAnnoyURL[filecount]" target="_blank">@attachments[filecount].ToString().Split('/').Last()</a>
                                                                                                                            </div>
                                                                                                                        }
                                                                                                                    }
                                                                                                                    else
                                                                                                                    {
                                                                                                                        <div>
                                                                                                                            <span>No Attachments available</span>
                                                                                                                        </div>
                                                                                                                    }
                                                                                                                }
                                                                                                            </li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <div>
                                                                                                        <span>No attachments available</span>
                                                                                                    </div>
                                                                                                }
                                                                                            </div>
                                                                                            @if (Session["username"] != null)
                                                                                            {
                                                                                                if (Session["roleid"].ToString() == "3")
                                                                                                {
                                                                                                    if (Corres.DAAIApprovalRequired == true && Corres.DAAIApproved == "Pending")
                                                                                                    {
                                                                                                        <div class="col-md-12 sub-sav-btn app-btn">
                                                                                                            <button type="submit" class="btn btn-save" onclick="location.href='@Url.Action("UpdateDAAIStatus", "IIC", new { Corr_msg_id = Corres.CorrespondenceMessageID, corr_id = Corres.CorrespondenceID, control_num = Corres.CorrespondenceControlNumber, Status = "Approved",respnseduedate=Corres.CorrespondenceDueDate })'">Approve and Send Correspondence</button>
                                                                                                            <button type="submit" class="btn btn-cancel" onclick="location.href='@Url.Action("UpdateDAAIStatus", "IIC", new { Corr_msg_id = Corres.CorrespondenceMessageID, corr_id = Corres.CorrespondenceID, control_num = Corres.CorrespondenceControlNumber, Status = "Rejected", respnseduedate=Corres.CorrespondenceDueDate })'">Reject Correspondence</button>
                                                                                                        </div>
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            }
                                                                            else if (Session["roleid"].ToString() == "4" && Session["roleid"].ToString() == "7")
                                                                            {
                                                                            if ((Convert.ToInt32(Corres.DAAIApprovalRequired) == 0) || (Convert.ToInt32(Corres.DAAIApprovalRequired) == 1 && Corres.DAAIApproved.ToLower() == "approved"))
                                                                            {
                                                                            count++;
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading common-panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-@count" aria-expanded="true" aria-controls="collapseOne">
                                                                                    <div class="panel-title">
                                                                                        <a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                                                                            @Corres.CorrespondenceControlNumber  - @Convert.ToDateTime(Corres.CorrespondenceMessageInitiatedDate).ToString("dd/MM/yyyy")
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="plus-min">
                                                                                        <i class="more-less fas fa-chevron-down"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div id="collapse-@count" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                                    <div class="panel-body">
                                                                                        <div class="panel-body-content">
                                                                                            <div class="col-md-12">
                                                                                                <div class="row">
                                                                                                    <div class="content-inner">
                                                                                                        <ul>
                                                                                                            <li>
                                                                                                                <h3>From :</h3>
                                                                                                                <span class="form-values">@Corres.CorrespondenceMessageFrom</span>
                                                                                                            </li>
                                                                                                            <li>
                                                                                                                <h3>Subject:</h3>
                                                                                                                <span class="form-values">@Corres.Subject</span>
                                                                                                            </li>

                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="content-air">
                                                                                                <p>@Corres.CorrespondenceContent</p>
                                                                                            </div>

                                                                                            @if (count == 1 && Corres.LKCorrespondenceTypeName == "Safety Recommendations" && Model.corres_Det.Count() == 1)
                                                                                            {
                                                                                                <div class="content-air" style="text-align: center;padding-bottom: 25px;">

                                                                                                    <a class="ResendCorrEmail" id="Resend_CorrEmail" data-toggle="modal" style="align-content:center"> Resend Email </a>
                                                                                                </div>
                                                                                            }

                                                                                            <div class="doc-file-tag-wr">
                                                                                                <div class="info-tittle">
                                                                                                    <h2>Attachments</h2>
                                                                                                </div>
                                                                                                @if (Corres.ATTACHMENTFILEURL != "N/A")
                                                                                                {
                                                                                                    string[] attachments = @Corres.ATTACHMENTFILEURL.Split(',');
                                                                                                    string[] attachmentAnnoyURL = @Corres.ATTACHANNOYURL.Split(',');
                                                                                                    <div class="attach-tag-r">
                                                                                                        <ul>
                                                                                                            <li>
                                                                                                                @for (int filecount = 0; filecount < attachments.Length; filecount++)
                                                                                                                {
                                                                                                                    if (!string.IsNullOrEmpty(attachments[filecount]))
                                                                                                                    {
                                                                                                                        string filetype = attachments[filecount].Substring(attachments[filecount].LastIndexOf('.') + 1, attachments[filecount].Length - (attachments[filecount].LastIndexOf('.') + 1));
                                                                                                                        if (filetype == "pdf")
                                                                                                                        {
                                                                                                                            fileClass = "fa fa-file-pdf-o";
                                                                                                                        }
                                                                                                                        if (filetype == "doc" || filetype == "docx" || filetype == "dotx")
                                                                                                                        {
                                                                                                                            fileClass = "fa fa-file-word-o";
                                                                                                                        }
                                                                                                                        if (filetype == "xlsx")
                                                                                                                        {
                                                                                                                            fileClass = "fa fa-file-excel-o";
                                                                                                                        }
                                                                                                                        if (!string.IsNullOrEmpty(attachments[filecount]) && attachments[filecount] != "")
                                                                                                                        {
                                                                                                                            <div class="doc-file-tag">
                                                                                                                                <i class="@fileClass" aria-hidden="true"></i>

                                                                                                                                <a href="@attachmentAnnoyURL[filecount]" target="_blank">@attachments[filecount].ToString().Split('/').Last()</a>
                                                                                                                            </div>
                                                                                                                        }
                                                                                                                    }
                                                                                                                    else
                                                                                                                    {
                                                                                                                        <div>
                                                                                                                            <span>No Attachments available</span>
                                                                                                                        </div>
                                                                                                                    }
                                                                                                                }
                                                                                                            </li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <div>
                                                                                                        <span>No attachments available</span>
                                                                                                    </div>
                                                                                                }
                                                                                            </div>
                                                                                            @if (Session["username"] != null)
                                                                                            {
                                                                                                if (Session["roleid"].ToString() == "3")
                                                                                                {
                                                                                                    if (Corres.DAAIApprovalRequired == true && Corres.DAAIApproved == "Pending")
                                                                                                    {
                                                                                                        <div class="col-md-12 sub-sav-btn app-btn">
                                                                                                            <button type="submit" class="btn btn-save" onclick="location.href='@Url.Action("UpdateDAAIStatus", "IIC", new { Corr_msg_id = Corres.CorrespondenceMessageID, corr_id = Corres.CorrespondenceID, control_num = Corres.CorrespondenceControlNumber, Status = "Approved" })'">Approve and Send Correspondence</button>
                                                                                                            <button type="submit" class="btn btn-cancel" onclick="location.href='@Url.Action("UpdateDAAIStatus", "IIC", new { Corr_msg_id = Corres.CorrespondenceMessageID, corr_id = Corres.CorrespondenceID, control_num = Corres.CorrespondenceControlNumber, Status = "Rejected" })'">Reject Correspondence</button>
                                                                                                        </div>
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            }
                                                                            }
                                                                        </b>
                                                                    }
                                                                    else
                                                                    {
                                                                        if (Session["roleid"].ToString() == "3" || Session["roleid"].ToString() == "6")
                                                                        {
                                                                            count++;
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading common-panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-@count" aria-expanded="true" aria-controls="collapseOne">
                                                                                    <div class="panel-title">
                                                                                        <a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                                                                            @Corres.CorrespondenceControlNumber  - @Convert.ToDateTime(Corres.CorrespondenceMessageInitiatedDate).ToString("dd/MM/yyyy")
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="plus-min">
                                                                                        <i class="more-less fas fa-chevron-down"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div id="collapse-@count" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                                    <div class="panel-body">
                                                                                        <div class="panel-body-content">
                                                                                            <div class="col-md-12">
                                                                                                <div class="row">
                                                                                                    <div class="content-inner">
                                                                                                        <ul>
                                                                                                            <li>
                                                                                                                <h3>From :</h3>
                                                                                                                <span class="form-values">@Corres.CorrespondenceMessageFrom</span>
                                                                                                            </li>
                                                                                                            <li>
                                                                                                                <h3>Subject:</h3>
                                                                                                                <span class="form-values">@Corres.Subject</span>
                                                                                                            </li>

                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="content-air">
                                                                                                <p>@Corres.CorrespondenceContent</p>
                                                                                            </div>
                                                                                            <div class="doc-file-tag-wr">
                                                                                                <div class="info-tittle">
                                                                                                    <h2>Attachments</h2>
                                                                                                </div>
                                                                                                @if (Corres.ATTACHMENTFILEURL != "N/A")
                                                                                                {
                                                                                                    string[] attachments = @Corres.ATTACHMENTFILEURL.Split(',');
                                                                                                    string[] attachmentAnnoyURL = @Corres.ATTACHANNOYURL.Split(',');
                                                                                                    <div class="attach-tag-r">
                                                                                                        <ul>
                                                                                                            <li>
                                                                                                                @for (int filecount = 0; filecount < attachments.Length; filecount++)
                                                                                                                {
                                                                                                                    if (!string.IsNullOrEmpty(attachments[filecount]))
                                                                                                                    {
                                                                                                                        string filetype = attachments[filecount].Substring(attachments[filecount].LastIndexOf('.') + 1, attachments[filecount].Length - (attachments[filecount].LastIndexOf('.') + 1));
                                                                                                                        if (filetype == "pdf")
                                                                                                                        {
                                                                                                                            fileClass = "fa fa-file-pdf-o";
                                                                                                                        }
                                                                                                                        if (filetype == "doc" || filetype == "docx" || filetype == "dotx")
                                                                                                                        {
                                                                                                                            fileClass = "fa fa-file-word-o";
                                                                                                                        }
                                                                                                                        if (filetype == "xlsx")
                                                                                                                        {
                                                                                                                            fileClass = "fa fa-file-excel-o";
                                                                                                                        }
                                                                                                                        if (!string.IsNullOrEmpty(attachments[filecount]) && attachments[filecount] != "")
                                                                                                                        {
                                                                                                                            <div class="doc-file-tag">
                                                                                                                                <i class="@fileClass" aria-hidden="true"></i>

                                                                                                                                <a href="@attachmentAnnoyURL[filecount]" target="_blank">@attachments[filecount].ToString().Split('/').Last()</a>
                                                                                                                            </div>
                                                                                                                        }
                                                                                                                    }
                                                                                                                    else
                                                                                                                    {
                                                                                                                        <div>
                                                                                                                            <span>No Attachments available</span>
                                                                                                                        </div>
                                                                                                                    }
                                                                                                                }
                                                                                                            </li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <div>
                                                                                                        <span>No attachments available</span>
                                                                                                    </div>
                                                                                                }
                                                                                            </div>
                                                                                            @if (Session["username"] != null)
                                                                                            {
                                                                                                if (Session["roleid"].ToString() == "3")
                                                                                                {
                                                                                                    if (Corres.DAAIApprovalRequired == true && Corres.DAAIApproved == "Pending")
                                                                                                    {
                                                                                                        <div class="col-md-12 sub-sav-btn app-btn">
                                                                                                            <button type="submit" class="btn btn-save" onclick="location.href='@Url.Action("UpdateDAAIStatus", "IIC", new { Corr_msg_id = Corres.CorrespondenceMessageID, corr_id = Corres.CorrespondenceID, control_num = Corres.CorrespondenceControlNumber, Status = "Approved",respnseduedate=Corres.CorrespondenceDueDate })'">Approve and Send Correspondence</button>
                                                                                                            <button type="submit" class="btn btn-cancel" onclick="location.href='@Url.Action("UpdateDAAIStatus", "IIC", new { Corr_msg_id = Corres.CorrespondenceMessageID, corr_id = Corres.CorrespondenceID, control_num = Corres.CorrespondenceControlNumber, Status = "Rejected", respnseduedate=Corres.CorrespondenceDueDate })'">Reject Correspondence</button>
                                                                                                        </div>
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        else if (Session["roleid"].ToString() == "4" && Session["roleid"].ToString() == "7")
                                                                        {
                                                                            if ((Convert.ToInt32(Corres.DAAIApprovalRequired) == 0) || (Convert.ToInt32(Corres.DAAIApprovalRequired) == 1 && Corres.DAAIApproved.ToLower() == "approved"))
                                                                            {
                                                                                count++;
                                                                                <div class="panel panel-default">
                                                                                    <div class="panel-heading common-panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-@count" aria-expanded="true" aria-controls="collapseOne">
                                                                                        <div class="panel-title">
                                                                                            <a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                                                                                @Corres.CorrespondenceControlNumber  - @Convert.ToDateTime(Corres.CorrespondenceMessageInitiatedDate).ToString("dd/MM/yyyy")
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="plus-min">
                                                                                            <i class="more-less fas fa-chevron-down"></i>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div id="collapse-@count" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                                        <div class="panel-body">
                                                                                            <div class="panel-body-content">
                                                                                                <div class="col-md-12">
                                                                                                    <div class="row">
                                                                                                        <div class="content-inner">
                                                                                                            <ul>
                                                                                                                <li>
                                                                                                                    <h3>From :</h3>
                                                                                                                    <span class="form-values">@Corres.CorrespondenceMessageFrom</span>
                                                                                                                </li>
                                                                                                                <li>
                                                                                                                    <h3>Subject:</h3>
                                                                                                                    <span class="form-values">@Corres.Subject</span>
                                                                                                                </li>

                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="content-air">
                                                                                                    <p>@Corres.CorrespondenceContent</p>
                                                                                                </div>

                                                                                                @if (count == 1 && Corres.LKCorrespondenceTypeName == "Safety Recommendations" && Model.corres_Det.Count() == 1)
                                                                                                {
                                                                                                    <div class="content-air" style="text-align: center;padding-bottom: 25px;">

                                                                                                        <a class="ResendCorrEmail" id="Resend_CorrEmail" data-toggle="modal" style="align-content:center"> Resend Email </a>
                                                                                                    </div>
                                                                                                }

                                                                                                <div class="doc-file-tag-wr">
                                                                                                    <div class="info-tittle">
                                                                                                        <h2>Attachments</h2>
                                                                                                    </div>
                                                                                                    @if (Corres.ATTACHMENTFILEURL != "N/A")
                                                                                                    {
                                                                                                        string[] attachments = @Corres.ATTACHMENTFILEURL.Split(',');
                                                                                                        string[] attachmentAnnoyURL = @Corres.ATTACHANNOYURL.Split(',');
                                                                                                        <div class="attach-tag-r">
                                                                                                            <ul>
                                                                                                                <li>
                                                                                                                    @for (int filecount = 0; filecount < attachments.Length; filecount++)
                                                                                                                    {
                                                                                                                        if (!string.IsNullOrEmpty(attachments[filecount]))
                                                                                                                        {
                                                                                                                            string filetype = attachments[filecount].Substring(attachments[filecount].LastIndexOf('.') + 1, attachments[filecount].Length - (attachments[filecount].LastIndexOf('.') + 1));
                                                                                                                            if (filetype == "pdf")
                                                                                                                            {
                                                                                                                                fileClass = "fa fa-file-pdf-o";
                                                                                                                            }
                                                                                                                            if (filetype == "doc" || filetype == "docx" || filetype == "dotx")
                                                                                                                            {
                                                                                                                                fileClass = "fa fa-file-word-o";
                                                                                                                            }
                                                                                                                            if (filetype == "xlsx")
                                                                                                                            {
                                                                                                                                fileClass = "fa fa-file-excel-o";
                                                                                                                            }
                                                                                                                            if (!string.IsNullOrEmpty(attachments[filecount]) && attachments[filecount] != "")
                                                                                                                            {
                                                                                                                                <div class="doc-file-tag">
                                                                                                                                    <i class="@fileClass" aria-hidden="true"></i>

                                                                                                                                    <a href="@attachmentAnnoyURL[filecount]" target="_blank">@attachments[filecount].ToString().Split('/').Last()</a>
                                                                                                                                </div>
                                                                                                                            }
                                                                                                                        }
                                                                                                                        else
                                                                                                                        {
                                                                                                                            <div>
                                                                                                                                <span>No Attachments available</span>
                                                                                                                            </div>
                                                                                                                        }
                                                                                                                    }
                                                                                                                </li>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <div>
                                                                                                            <span>No attachments available</span>
                                                                                                        </div>
                                                                                                    }
                                                                                                </div>
                                                                                                @if (Session["username"] != null)
                                                                                                {
                                                                                                    if (Session["roleid"].ToString() == "3")
                                                                                                    {
                                                                                                        if (Corres.DAAIApprovalRequired == true && Corres.DAAIApproved == "Pending")
                                                                                                        {
                                                                                                            <div class="col-md-12 sub-sav-btn app-btn">
                                                                                                                <button type="submit" class="btn btn-save" onclick="location.href='@Url.Action("UpdateDAAIStatus", "IIC", new { Corr_msg_id = Corres.CorrespondenceMessageID, corr_id = Corres.CorrespondenceID, control_num = Corres.CorrespondenceControlNumber, Status = "Approved" })'">Approve and Send Correspondence</button>
                                                                                                                <button type="submit" class="btn btn-cancel" onclick="location.href='@Url.Action("UpdateDAAIStatus", "IIC", new { Corr_msg_id = Corres.CorrespondenceMessageID, corr_id = Corres.CorrespondenceID, control_num = Corres.CorrespondenceControlNumber, Status = "Rejected" })'">Reject Correspondence</button>
                                                                                                            </div>
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    }

                                                                }
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- panel-group -->
                                <!-- panel-group -->
                            </div><!-- container -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".more-less")
            .toggleClass('fa-chevron-down fa-chevron-up');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
    $('#content').live('click', function (e) {
        alert(1);
    });
    function markAsViewed(element, boldTagId, messageId) {
        var b = document.getElementsByTagName("b");
        var i = 0;
        while (b.length) {
            if (b[i].id == boldTagId) {
                if (b[i].parentNode != undefined) {
                    var parent = b[i].parentNode;
                    if (b[i].id != undefined) {
                        while (b[i].firstChild) {
                            parent.insertBefore(b[i].firstChild, b[i]);
                        }
                        $.ajax({
                            type: 'POST',
                            cache: false,
                            url: '/IIC/MarkCorrespondenceAsRead',
                            dataType: 'json',
                            data: { correspondenceMessageId: (messageId) },
                            error: function (err) {
                                alert("Something went wrong, please try again");
                            },
                            success: function (result) {
                                parent.removeChild(b[i]);
                            }
                        });
                        break;
                    }
                }
            }
            i++;
            if (b.length == i) {
                break;
            }
        }
    }
</script>

<div id="ResendEmail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:55%">

        <!-- Modal content-->
        <div class="modal-content" id="Resend_Email">

            <div class="modal-footer">

                <button type="submit" class="btn btn-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>