﻿@model ISM_Project.Models.LKAirportDetail
@{
    ViewBag.Title = "AddAirport";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-title">
        <h2>Airport Details</h2>
    </div>
</div>

<div class="modal-body" id="Airport_Reg">
    <small id="emailHelp" class="form-text popup_danger"></small>
    @using (Html.BeginForm("saveAirportDetails", "Notifications", FormMethod.Post, new { id = "Add_AirportName" }))
    {
        <div class="closeinvestigation-wrapp">
            <div class="closeinvestigation-inner create-user-table">
                <form>
                    <input type="hidden" id="aircid" value="0" />
                    @*<div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            ICAO Code <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @Html.TextBoxFor(m => m.ICAO, new { @type = "text", @class = "form-control", @style = "margin-bottom:10px", @placeholder = "" })                          
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            Airport Code & Name  <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @Html.TextBoxFor(m => m.AirportName, new { @type = "text", @class = "form-control saveAirport", @style = "margin-bottom:10px", @placeholder = "Airport Code - Airport Name" })                           
                            @Html.Hidden("LKAirportDetailID", null, new { id = "LKAirportDetailID", @class = "form-control" })
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">            
            <button type="button" class="btn btn-save" onclick="SaveAirportName()">Save / Update</button>
        </div>
    }
</div>

