﻿
@{
    ViewBag.Title = "Form_35Main";
}

<div class="main-wrapper">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="x_panel">
                <div class="x_title">
                    <h2>FORM 035 -Duty Investigator Notification </h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content create-user-table di-notification">
                    <form>
                        <div class="form-group">DI Notification Notification Number</div>
                        
                         @Html.Action("Form_35", "Notifications");
                        
                        <div class="form-btns">
                            <button type="submit" class="btn btn-save" onclick="location.href='@Url.Action("PdfConversionOnClick", "Notifications")'">Submit</button>
                            <button type="submit" class="btn btn-save">Generate Form-35</button>
                            <button type="submit" class="btn btn-cancel" onclick="window.history.back();">Back to Main</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

