﻿@model ISM_Project.Models.UserModel
@{
    ViewBag.Title = "Notify";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ISM-Dashboard</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/custom")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Bootstrap core CSS-->
    <link href="~/css/tempcss.css" rel="stylesheet" />
   

    <script type="text/javascript" src="~/scripts/moment.min.js"></script>

    <script src="~/Scripts/moment-with-locales.min.js"></script>
   
    <script type="text/javascript" src="~/scripts/bootstrap-datetimepicker.js"></script>

    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
    <script>
        $(document).ready(function () {
            $('#divAccidentTime').datetimepicker({
                format: 'MM/DD/YYYY HH:mm'
            });
            $("#myForm").on("submit", function (e) {
                e.preventDefault();
                console.log("msg");
                var person = {
                    "aircraft_make": $("#txtAircraftMake").val(),
                    "model": $("#txtAircraftModel").val(),
                    "aircraft_type_id": $("#textAircraftType option:selected").text(),
                    "flight_number": $("#txtFlightNo").val(),
                    "nationality": $("#txtNationality").val(),
                    "aircraft_marking": $("#txtAircraftRegistraionMarkings").val(),
                    "registration": $("#textRegisteredOwnerName").val(),
                    "operator_name": $("#txtOperatorName").val(),
                    "qualification_of_pilot": $("#txtQualificationofPilot").val(),
                    "pilot_certificate_no": $("#txtPilotCerificateNo").val(),
                    "date_and_time_accident": $("#txtDateandTimeofAccident").val(),
                    "last_of_point_depart_id": $("#textLastPointofDeparture option:selected").text(),
                    "point_intended_landing_id": $("#txtPointofIntendedLanding option:selected").text(),
                    "geographical_postion": $("#txtGeographicalPointofAircraft").val(),
                    "no_of_person_abroad": $("#txtTotalnumberofpersonsaboard").val(),
                    "no_of_serious_injury": $("#txtNumberSeriouslyInjured").val(),
                    "no_killed": $("#txtNumberKilled").val(),
                    "no_injured": $("#txtNumberofMinorInjuries").val(),
                    "type_of_accident_id": $("#textTypeofAccidents option:selected").text(),
                    "weather_condition": $("#txtPrevailingweatherconditionsattheaccidentsite"),
                    "extent_of_damage": $("#txtExtentofdamagetotheaircraft").val(),
                    "damage_to_object_on_grounde": $("#txtDamagetoobjectsorstructuresontheground").val(),
                    "description_of_explosives": $("#txtdescriptionofanyexplosives").val(),
                    "informing_party_id": $("#txtInformingParty option:selected").text()
                };
                console.log(person);
                $.ajax({
                    url: "http://localhost:55432/api/Notification",
                    type: "Post",
                    data: JSON.stringify(person),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert('Updated Successfully');
                        window.location.href = '/Notifications/notify'
                    },
                    error: function (msg) { alert(msg); }
                });
            });
        });
    </script>


</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    @*<div id="wrapper">
        <div class="content-wrapper">*@
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper">

                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-center">
                            <div class="row">
                                <div class="x_panel">
                                    @*<div class="x_title">
                                            <h2></h2>
                                            <div class="clearfix"></div>
                                        </div>*@
                                    <div class="x_content create-user-table">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myForm" }))
                                        {
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Aircraft Make<span class="text-danger"></span></label>
                                                @Html.TextBox("txtAircraftMake", null, new { @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Aircraft Model<span class="text-danger"></span></label>
                                                @Html.TextBox("txtAircraftModel", null, new { @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Aircraft Type<span class="text-danger"></span></label>
                                                @Html.DropDownList("textAircraftType", new List<SelectListItem> { new SelectListItem { Text = "	Boeing 737-800", Value = "1", Selected=true},  new SelectListItem { Text = "Airbus A321", Value = "2"},
                                                                                                                                                                            new SelectListItem { Text = "Boeing 777-300ER", Value = "3"}
                                                                                                                                                                            }, "Select", new { @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Flight No<span class="text-danger"></span></label>
                                                @Html.TextBox("txtFlightNo", null, new { @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Nationality<span class="text-danger"></span></label>
                                                @Html.TextBox("txtNationality", null, new { @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Aircraft Registraion Markings<span class="text-danger"></span></label>
                                                @Html.TextBox("txtAircraftRegistraionMarkings", null, new { @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Registered Owner Name<span class="text-danger"></span></label>
                                                @Html.TextBox("textRegisteredOwnerName", null, new { @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Operator Name<span class="text-danger"></span></label>
                                                @Html.TextBox("txtOperatorName", null, new { @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Qualification of Pilot<span class="text-danger"></span></label>
                                                @Html.TextBox("txtQualificationofPilot", null, new { @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Pilot Cerificate No<span class="text-danger"></span></label>
                                                @Html.TextBox("txtPilotCerificateNo", null, new { @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1" class="col-md-6 lblDateTimePicker">Date and Time of Accident <span class="text-danger"></span></label>

                                                <div class='input-group date divDateTimePicker' id='divAccidentTime'>
                                                    <input id="txtDateandTimeofAccident" type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Last Point of Departure<span class="text-danger"></span></label>
                                                @Html.DropDownList("txtLastPointofDeparture", new List<SelectListItem> { new SelectListItem { Text = "	Abu Dhabi International Airport-OMAA", Value = "1", Selected=true},  new SelectListItem { Text = "	Futaysi Airport-OMAF", Value = "2"},
                                                                                                                                                                new SelectListItem { Text = "Al Dhafra Air Base-DHF", Value = "3"}
                                                                                                                                                                }, "Select", new { @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Point of Intended Landing<span class="text-danger"></span></label>
                                                @Html.DropDownList("txtPointofIntendedLanding", new List<SelectListItem> { new SelectListItem { Text = "	Abu Dhabi International Airport-OMAA", Value = "1", Selected=true},  new SelectListItem { Text = "	Futaysi Airport-OMAF", Value = "2"},
                                                                                                                                                    new SelectListItem { Text = "Al Dhafra Air Base-DHF", Value = "3"}
                                                                                                                                                    }, "Select", new { @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Geographical Point of Aircraft<span class="text-danger"></span></label>
                                                @Html.TextBox("txtGeographicalPointofAircraft", null, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Total number of persons aboard<span class="text-danger"></span></label>
                                                @Html.TextBox("txtTotalnumberofpersonsaboard", null, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Number Seriously Injured<span class="text-danger"></span></label>
                                                @Html.TextBox("txtNumberSeriouslyInjured", null, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Number Killed<span class="text-danger"></span></label>
                                                @Html.TextBox("txtNumberKilled", null, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Number of Minor Injuries<span class="text-danger"></span></label>
                                                @Html.TextBox("txtNumberofMinorInjuries", null, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Type of Accidents<span class="text-danger"></span></label>
                                                @Html.DropDownList("textTypeofAccidents", new List<SelectListItem> { new SelectListItem { Text = "ACCID", Value = "1", Selected=true},  new SelectListItem { Text = "INCID", Value = "2"},
                                                                                                                                                                         }, "Select", new { @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Prevailing weather conditions at the accident site<span class="text-danger"></span></label>
                                                @Html.TextBox("txtPrevailingweatherconditionsattheaccidentsiteries", null, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Extent of damage to the aircraft<span class="text-danger"></span></label>
                                                @Html.TextBox("txtExtentofdamagetotheaircraft", null, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Damage to objects or structures on the ground<span class="text-danger"></span></label>
                                                @Html.TextBox("txtDamagetoobjectsorstructuresontheground", null, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">A description of any explosives or other dangerous articles carried on board the aircraft<span class="text-danger"></span></label>
                                                @Html.TextBox("txtdescriptionofanyexplosives", null, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Informing Party<span class="text-danger"></span></label>
                                                @Html.DropDownList("txtInformingParty", new List<SelectListItem> { new SelectListItem { Text = "AOC HOLDERS", Value = "1", Selected=true},  new SelectListItem { Text = "PIC", Value = "2"},
                                                                                                                                                                new SelectListItem { Text = "POLICE/SECURITY SERVICES", Value = "3"},new SelectListItem { Text = "ATC/ANS", Value = "4"},new SelectListItem { Text = "MRO", Value = "5"}
                                                                                                                                                                }, "Select", new { @required = "required", @class = "form-control" })
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                           
                                            <div class="create-bottom-btn">
                                                <button type="submit" class="btn btn-success" id="btnsv">Notify</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <script src="~/js/sb-admin.js"></script>



</body>
</html>