﻿
@{
    ViewBag.Title = "WordConversionOnClick";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Word document exported successfully</h2>
<div class="create-bottom-btn">
    <label id="lblerror">
        @ViewBag.status
    </label>
    <input type="hidden" id="InvestigationFileID" value="1"/>
    @*<button type="submit" class="btn btn-save" data-target="#myModal" data-toggle="modal" onclick="location.href='@Url.Action("DIDashboard", "Home")'">Back to Home</button>*@
    <button type="submit" class="btn btn-save" data-target="#myModal" data-toggle="modal" onclick="notifyACCID()">Back to Home</button>

</div>

