﻿@using PagedList;
@using PagedList.Mvc;

@model ISM_Project.Models.InvGlobalSearch
@{
    ViewBag.Title = "GlobalSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // DI & TM

    int? pagecount = ViewBag.page_count;

    // IIC

    int? inv_cur_page = (ViewBag.page_no);
    int? tem_cur_page = (ViewBag.page_no1);

    int? pagecount1 = ViewBag.page_no;
    int? pagecount2 = ViewBag.page_no1;

    // DIRECTOR
    //int? inv_cur_page = (ViewBag.page_no);
    int? Occ_cur_page = (ViewBag.page_no1);

    //admin

    int? usr_page = (ViewBag.page_no);
}

@if (Session["act_dashboard"].ToString() == "di")
{
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper">
                    <div class="main-wrapper current-project-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="inner-x_content">
                                        <div class="info-tittle">
                                            <h2>Previous Notifications</h2>
                                        </div>
                                    </div>
                                    <div class="table-responsive table-top">
                                        <table id="datatable" class="table table-bordered table-hover table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Notification ID</th>
                                                    <th>Occurrence Date</th>
                                                    <th>Incident Type</th>
                                                    <th>Location</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.InvDiDashboard.Count() > 0)
                                                {
                                                    int i = ViewBag.serial_nbr;

                                                    var dipage = Model.InvDiDashboard.ToList().ToPagedList(pagecount ?? 1, 10);

                                                    foreach (var diOccur in dipage)
                                                    {
                                                        string conv_Time = Convert.ToDateTime(diOccur.LocalDateAndTimeOfOccurrence).ToString("dd/MM/yyyy");

                                                        i += 1;
                                                        <tr>
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => diOccur.NotificationId)
                                                            </td>
                                                            <td>

                                                                @Html.Label(conv_Time)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelIem => diOccur.LKIncidentTypeName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => diOccur.LKCountryName)
                                                            </td>
                                                            <td>
                                                                @if (diOccur.LKOccurrenceStatusTypeId == 1)
                                                                {
                                                                    @Html.ActionLink(diOccur.LKOccurrenceStatusTypeName, "Addnotification", "Notifications", new { id = diOccur.OccurrenceDetailID }, new { @class = "dashboardlink" })
                                                                }
                                                                else if (diOccur.LKOccurrenceStatusTypeId == 2)
                                                                {
                                                                    @Html.ActionLink(diOccur.LKOccurrenceStatusTypeName, "Form_35_tab", "DI", new { id = diOccur.OccurrenceDetailID }, new { @class = "dashboardlink" })
                                                                }
                                                                else if (diOccur.LKOccurrenceStatusTypeId == 3)
                                                                {
                                                                    @Html.ActionLink(diOccur.LKOccurrenceStatusTypeName, "Form_35_tab", "DI", new { id = diOccur.OccurrenceDetailID }, new { @class = "dashboardlink" })
                                                                }
                                                                else if (diOccur.LKOccurrenceStatusTypeId == 4)
                                                                {
                                                                    @diOccur.LKOccurrenceStatusTypeName
                                                                }
                                                                else if (diOccur.LKOccurrenceStatusTypeId == 5)
                                                                {
                                                                    @Html.ActionLink(diOccur.LKOccurrenceStatusTypeName, "Form_35_tab", "DI", new { id = diOccur.OccurrenceDetailID }, new { @class = "dashboardlink" })
                                                                }
                                                                else
                                                                {
                                                                    @diOccur.LKOccurrenceStatusTypeName
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr><td colspan="9"><p style="text-align:center">No results available</p></td></tr>

                                                }
                                            </tbody>
                                        </table>
                                        @if (ViewBag.page_content > 10)
                                        {
                                            string serkey = TempData["SearchKey"].ToString();

                                            @Html.PagedListPager(Model.InvDiDashboard.ToList().ToPagedList(pagecount ?? 1, 10), page => Url.Action("GlobalSearch", "home", new { page, SearchText = serkey }))
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Session["act_dashboard"].ToString() == "teammember")
{
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper">
                    <div class="main-wrapper current-project-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="inner-x_content">
                                        <div class="table-tittle">
                                            <h2>Notifications</h2>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-bordered table-hover">
                                            <!-- need pagination table -->
                                            <thead>
                                                <tr>
                                                    <th>#</th>

                                                    <th>AAIS Case No</th>
                                                    <th>Location</th>
                                                    <th>Notification Type</th>
                                                    <th>Notification Date</th>
                                                    <th>Notification Actor</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.InvTeamMemDashBoard.Count() > 0)
                                                {
                                                    int i = ViewBag.serial_nbr;

                                                    var temmemPage = Model.InvTeamMemDashBoard.ToList().ToPagedList(pagecount ?? 1, 10);

                                                    foreach (var InvDetails in temmemPage)
                                                    {
                                                        i += 1;
                                                        <tr>
                                                            <td>
                                                                @i
                                                            </td>
                                                            @*<td>
                                                                    @Html.Label(InvDetails.NotificationID)
                                                                </td>*@
                                                            <td>
                                                                @Html.Label(InvDetails.InvestigationNumber)
                                                            </td>
                                                            <td>
                                                                @Html.Label(Convert.ToString(InvDetails.CountryName))
                                                            </td>
                                                            <td>
                                                                @Html.Label("Sub-Task" + InvDetails.InvestigationTaskGroupEventName.Remove(0, 5) + " " + InvDetails.InvestigationTaskGroupEventDescription + "  Assigned")
                                                            </td>
                                                            <td>
                                                                @Html.Label(Convert.ToDateTime(InvDetails.NotificationDate).ToString("dd/MM/yyyy"))
                                                            </td>
                                                            <td>
                                                                @Html.Label(InvDetails.NotificationActor)
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Open " + InvDetails.InvestigationTaskGroupEventName, "InvestigationDetails", "task", new { id = InvDetails.InvestigationTaskAssignmentID, }, new { @class = "dashboardlink" })
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr><td colspan="9"><p style="text-align:center">No results available</p></td></tr>
                                                }
                                            </tbody>
                                        </table>
                                        @if (ViewBag.page_content > 10)
                                        {
                                            string serkey = TempData["SearchKey"].ToString();

                                            @Html.PagedListPager(Model.InvTeamMemDashBoard.ToList().ToPagedList(pagecount ?? 1, 10), page => Url.Action("GlobalSearch", "home", new { page, SearchText = serkey }))
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Session["act_dashboard"].ToString() == "IIC")
{
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper">
                    <div class="main-wrapper current-project-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <div class="inner-x_content">
                                            <div class="table-tittle">
                                                <h2>Investigations</h2>
                                            </div>
                                        </div>
                                        <div class="table-responsive main-table-wrapper table-top">
                                            <table id="datatable" class="table table-bordered table-hover table-responsive">
                                                <!-- need pagination table -->
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>AAIS Case No</th>
                                                        <th>Occurrence Date</th>
                                                        <th>Estimated Report Publish</th>
                                                        <th>Incident Type</th>
                                                        <th>Location</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.InvDashBoard.Count() > 0)
                                                    {
                                                        int i = ViewBag.serial_nbr;
                                                        var invlistpage = Model.InvDashBoard.ToList().ToPagedList(inv_cur_page ?? 1, 10);

                                                        foreach (var InvDetails in invlistpage)
                                                        {
                                                            i += 1;
                                                            <tr>
                                                                <td>
                                                                    @i
                                                                </td>
                                                                <td>
                                                                    @Html.ActionLink(InvDetails.InvestigationNumber, "IICTasks", "IIC", new { id = InvDetails.InvestigationFileID }, new { @class = "dashboardlink" })
                                                                </td>
                                                                <td>
                                                                    @Html.Label(Convert.ToDateTime(InvDetails.LocalDateAndTimeOfOccurrence).ToString("dd/MM/yyyy"))
                                                                </td>
                                                                <td>
                                                                    @*  @Html.Label(Convert.ToDateTime(InvDetails.LocalDateAndTimeOfOccurrence).AddYears(1).ToString("dd/MM/yyyy"))*@
                                                                    @Html.Label(Convert.ToDateTime(InvDetails.EstimatedReportDate).ToString("dd/MM/yyyy"))
                                                                </td>
                                                                <td>
                                                                    @Html.Label(InvDetails.IncidentType)
                                                                </td>
                                                                <td>
                                                                    @Html.Label(InvDetails.CountryName)
                                                                </td>
                                                                <td>
                                                                    @Html.Label(@InvDetails.LKOccurrenceStatusTypeName)
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr><td colspan="9"><p style="text-align:center">No results available</p></td></tr>
                                                    }
                                                </tbody>
                                            </table>
                                            @if (ViewBag.count_pagecontent > 10)
                                            {
                                                string serkey = TempData["SearchKey"].ToString();

                                                @Html.PagedListPager(Model.InvTeamMemDashBoard.ToList().ToPagedList(pagecount1 ?? 1, 10), page => Url.Action("GlobalSearch", "home", new { page, SearchText = serkey }))

                                            }
                                        </div>
                                    </div>
                                </div>

                                @if (Model.InvTeamMemDashBoard.Count() > 0)
                                {
                                    int i = ViewBag.serial_nbr1;
                                    var TemList = Model.InvTeamMemDashBoard.ToList().ToPagedList(tem_cur_page ?? 1, 10);
                                    <div class="x_panel">
                                        <div class="inner-x_content">
                                            <div class="table-tittle">
                                                <h2>Task Notifications</h2>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="datatable" class="table table-bordered table-hover">
                                                <!-- need pagination table -->
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>AAIS Case No</th>
                                                        <th>Location</th>
                                                        <th>Notification Type</th>
                                                        <th>Notification Date</th>
                                                        <th>Notification Actor</th>
                                                        <th>Link</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.InvTeamMemDashBoard.Count() > 0)
                                                    {
                                                        i = ViewBag.serial_nbr1;
                                                        var teamlistpage = Model.InvTeamMemDashBoard.ToList().ToPagedList(tem_cur_page ?? 1, 10);

                                                        foreach (var InvDetails in teamlistpage)
                                                        {
                                                            i += 1;
                                                            <tr>
                                                                <td>
                                                                    @i
                                                                </td>
                                                                @*<td>
                                                                        @Html.Label(InvDetails.NotificationID)
                                                                    </td>*@
                                                                <td>
                                                                    @Html.Label(InvDetails.InvestigationNumber)
                                                                </td>
                                                                <td>
                                                                    @Html.Label(Convert.ToString(InvDetails.PlaceOfIncident))
                                                                </td>
                                                                <td>
                                                                    @Html.Label("Sub-Task" + InvDetails.InvestigationTaskGroupEventName.Remove(0, 5) + " " + InvDetails.InvestigationTaskGroupEventDescription + "  Assigned")
                                                                </td>
                                                                <td>
                                                                    @Html.Label(Convert.ToDateTime(InvDetails.NotificationDate).ToString("dd/MM/yyyy"))
                                                                </td>
                                                                <td>
                                                                    @Html.Label(InvDetails.NotificationActor)
                                                                </td>
                                                                <td>
                                                                    @Html.ActionLink("Open Sub-Task" + InvDetails.InvestigationTaskGroupEventName.Remove(0,5), "InvestigationDetails", "task", new { id = InvDetails.InvestigationTaskAssignmentID, }, new { @class = "dashboardlink" })
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr><td colspan="9"><p style="text-align:center">No results available</p></td></tr>
                                                    }
                                                </tbody>
                                            </table>
                                            @if (ViewBag.count_pagecontent1 > 10)
                                            {
                                                string serkey = TempData["SearchKey"].ToString();

                                                @Html.PagedListPager(Model.InvTeamMemDashBoard.ToList().ToPagedList(pagecount2 ?? 1, 10), page1 => Url.Action("GlobalSearch", "home", new { page1, SearchText = serkey }))
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Session["act_dashboard"].ToString() == "director")
{
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper">
                    <div class="main-wrapper current-project-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="inner-x_content">
                                        <div class="table-tittle">
                                            <h2>Occurrences</h2>
                                        </div>

                                    </div>
                                    <div class="table-responsive">
                                        <table id="Invtable" class="table table-bordered table-hover table-responsive">
                                            <!-- need pagination table -->
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Notification ID</th>
                                                    <th>Occurrence Date</th>
                                                    <th>Estimated Report Publish</th>
                                                    <th>Incident Type</th>
                                                    <th>Location</th>
                                                    <th>Status</th>
                                                    @*
                                                        <th>My Role</th>*@
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @if (Model.InvAllOccurance.Count() != 0)
                                                {
                                                    int i = ViewBag.serial_nbr;
                                                    // int i = 0;
                                                    var occlistpage = Model.InvAllOccurance.ToList().ToPagedList(inv_cur_page ?? 1, 10);
                                                    foreach (var dirOcc in occlistpage)
                                                    {
                                                        i += 1;
                                                        string Occur_Date = Convert.ToDateTime(dirOcc.OccurenceDate).ToString("dd/MM/yyyy");
                                                        string Estimate_Date = Convert.ToDateTime(dirOcc.EstimatedReportDate).ToString("dd/MM/yyyy");
                                                        <tr>
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.NotificationID)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => Occur_Date)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => Estimate_Date)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.IncidentType)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.Location)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.OccuranceStatus)
                                                            </td>

                                                            <td>
                                                                @if (dirOcc.LKOccurrenceStatusTypeId == 3)
                                                                {
                                                                    @Html.ActionLink("View Investigation", "IICTasks", "IIC", new { id = dirOcc.InvestigationFileID }, new { @class = "dashboardlink" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.ActionLink("View F35", "DI_Filled_Form35", "Director", new { id = dirOcc.InvestigationFileID }, new { @class = "dashboardlink" })
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr><td colspan="9"><p style="text-align:center">No results available</p></td></tr>
                                                }
                                            </tbody>
                                        </table>
                                        @if (ViewBag.count_pagecontent > 10)
                                        {
                                            string serkey = TempData["SearchKey"].ToString();

                                            @Html.PagedListPager(Model.InvAllOccurance.ToList().ToPagedList(inv_cur_page ?? 1, 10), page => Url.Action("GlobalSearch", "home", new { page, SearchText = serkey }))
                                        }
                                    </div>
                                </div>
                                <div class="x_panel">
                                    <div class="inner-x_content">
                                        <div class="table-tittle">
                                            <h2>Investigations</h2>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="Invtable" class="table table-bordered table-hover table-responsive">
                                            <!-- need pagination table -->
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>AAIS Case No</th>
                                                    <th>Occurrence Date</th>
                                                    <th>Estimated Report Publish</th>
                                                    <th>Incident Type</th>
                                                    <th>Location</th>
                                                    <th>IIC Assigned</th>
                                                    <th>Status</th>
                                                    @*
                                                        <th>My Role</th>*@
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @if (Model.InvAllInvestig.Count() != 0)
                                                {
                                                    int i = ViewBag.serial_nbr1;
                                                    // int i = 0;
                                                    var invlistpage = Model.InvAllInvestig.ToList().ToPagedList(Occ_cur_page ?? 1, 10);
                                                    foreach (var dirOcc in invlistpage)
                                                    {
                                                        i += 1;
                                                        string Occur_Date = Convert.ToDateTime(dirOcc.LocalDateAndTimeOfOccurrence).ToString("dd/MM/yyyy HH:mm");
                                                        string Estimate_Date = Convert.ToDateTime(dirOcc.EstimatedReportDate).ToString("dd/MM/yyyy HH:mm");
                                                        <tr>
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.InvestigationNumber)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => Occur_Date)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => Estimate_Date)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.IncidentType)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.CountryName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.IICAssignedName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ModelItem => dirOcc.LKOccurrenceStatusTypeName)
                                                            </td>
                                                            <td>
                                                                @*@if (dirOcc.LKOccurrenceStatusTypeId == 3)
                                                                        {
                                                                                                                            @Html.ActionLink("View Investigation", "IICTasks", "IIC", new { id = dirOcc.InvestigationFileID }, null)
                                                                    }
                                                                    else
                                                                    {
                                                                                                                            @Html.ActionLink("View F35", "DI_Filled_Form35", "Director", new { id = dirOcc.InvestigationFileID }, null)
                                                                    }*@
                                                                @Html.ActionLink("View Investigation", "IICTasks", "IIC", new { id = dirOcc.InvestigationFileID }, new { @class = "dashboardlink" })

                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr><td colspan="9"><p style="text-align:center">No results available</p></td></tr>
                                                }
                                            </tbody>
                                        </table>
                                        @if (ViewBag.count_pagecontent1 > 10)
                                        {
                                            string serkey = TempData["SearchKey"].ToString();

                                            @Html.PagedListPager(Model.InvAllInvestig.ToList().ToPagedList(Occ_cur_page ?? 1, 10), page1 => Url.Action("GlobalSearch", "home", new { page1, SearchText = serkey }))
                                        }
                                    </div>
                                </div>
                                @*New Fun Add Here*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Session["act_dashboard"].ToString() == "admin")
{
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">

                <div class="main-user-wrapper">
                    <div class="main-wrapper current-project-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content ">
                                        <div class="table-tittle col-md-6">
                                            <h2>Users</h2>
                                        </div>


                                        <div class="search-field col-md-6 admin">
                                            <div class="occ-new" style="float:right;margin-right: 17px;">
                                                @if (Session["username"] != null)
                                                {
                                                    if (Session["roleid"].ToString() == "1")
                                                    {
                                                        <button type="button" class="btn btn-addnew" onclick="location.href='@Url.Action("AddUser_Admin", "Admin", new { id=0 })'">
                                                            <i class="fas fa-plus"></i>Add New
                                                        </button>
                                                    }
                                                }
                                            </div>
                                        </div>


                                        <div class="table-responsive col-md-12">
                                            <table id="datatable" class="table table-bordered table-hover table-responsive">
                                                <!-- need pagination table -->
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Role</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                @*<tbody>
                                                        @{int i = 0;}
                                                        @foreach (var item in Model)
                                                        {
                                                            i += 1;
                                                            <tr>
                                                                <td>
                                                                    @i
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.first_name) @Html.DisplayFor(modelItem => item.last_name)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.user_id)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.role_name)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.email)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.phone)
                                                                </td>
                                                                <td>
                                                                    @if (item.is_active.ToString() == "True")
                                                                    {
                                                                        <span>Active</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>In-Active</span>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <div class="pro-view">
                                                                        <span class="edit-e"><a href="@Url.Action("AddUser", "User", new { id=item.user_id })"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
                                                                        <span class="delete-d"><a href="@Url.Action("Delete", "User", new { id=item.user_id })"><i class="fa fa-trash-o" aria-hidden="true"></i></a></span>
                                                                    </div>
                                                                </td>

                                                            </tr>
                                                        }


                                                    </tbody>*@
                                                <tbody>
                                                    @if (Model != null)
                                                    {
                                                        if (Model.invUser != null)
                                                        {
                                                            if (Model.invUser.Count() > 0)
                                                            {
                                                                int i = ViewBag.serial_nbr;
                                                                var UsersPage = Model.invUser.ToList().ToPagedList(usr_page ?? 1, 10);
                                                                foreach (var user in UsersPage)
                                                                {
                                                                    string IsActive = (Convert.ToString(user.Status) == "1") ? "Active" : "Inactive";
                                                                    i += 1;
                                                                    <tr>
                                                                        <td>@i</td>
                                                                        <td>
                                                                            @Html.DisplayFor(ModelItem => user.FirstName)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(ModelItem => user.LKUserRoleName)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(ModelItem => user.EmailAddress)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(ModelItem => user.ContactNo)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(ModelItem => IsActive)
                                                                        </td>
                                                                        <td>
                                                                            <span class="edit-e">
                                                                                <a onclick="location.href='@Url.Action("AddUser_Admin", "admin",new { id=user.UserID })'">
                                                                                    <i class="fa fa-pencil-square-o" aria-hidden="true">


                                                                                    </i>
                                                                                </a>
                                                                            </span>

                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        }
                                                    }


                                                </tbody>

                                            </table>
                                            @if (ViewBag.count_pagecontent > 10)
                                            {
                                                @Html.PagedListPager(Model.invUser.ToList().ToPagedList(usr_page ?? 1, 10), page => Url.Action("AdminDashboard", new { page }))
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Session["act_dashboard"].ToString() == "global_DL")
{
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper">
                    <div class="main-wrapper current-project-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Global Email Distribution List</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            @*<div class="table-top-items">
                                                    <div class="file-items">
                                                    </div>
                                                    <div class="add-aircraft-newbtn">
                                                        <button class="btn btn-addnew" onclick="location.href='@Url.Action("CreateGlobal_DistributionList", "Admin", new { Id=0 })'"> <i class="fa fa-plus" aria-hidden="true"></i> Add New </button>
                                                    </div>
                                                </div>*@
                                            <div class="evidence-list-track">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="search-field admin-add">

                                                        <div class="occ-new">
                                                            @if (Session["username"] != null)
                                                            {
                                                                if (Session["roleid"].ToString() == "1")
                                                                {
                                                                    <button type="button" class="btn btn-addnew" onclick="location.href='@Url.Action("CreateGlobal_DistributionList", "Admin", new { Id =0 })'" style="float:right;">
                                                                        <i class="fas fa-plus"></i>Add New
                                                                    </button>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table id="datatable" class="table table-responsive">
                                                    <!-- need pagination table -->
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Distribution List Name</th>
                                                            <th>Distrubution List Description</th>
                                                            <th>No Of People</th>
                                                            @*<th>Scope</th>*@
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{int i = 0; var _invDLinfo = Model.invGlobalDL.ToList();}
                                                        @foreach (var item in _invDLinfo)
                                                        {
                                                            i += 1;
                                                            <tr>
                                                                <td>
                                                                    @i
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.EmailDistributionListName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.EmailDistributionListDescription)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.noofPeople)
                                                                </td>
                                                                @*<td>
                                                                        @Html.DisplayFor(modelItem => item.LKDistributionListTypeName)
                                                                    </td>*@
                                                                <td>
                                                                    <div class="pro-view">
                                                                        <span class="edit-e"><a href="@Url.Action("CreateGlobal_DistributionList", "Admin", new { Id=item.EmailDistributionListID})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
                                                                        @if (item.EmailDistributionListID > 5)
                                                                        {
                                                                            <span class="delete-d"><a href="@Url.Action("DeleteDistributionlist", "Admin", new { Id = item.EmailDistributionListID })"><i class="fa fa-trash-o" aria-hidden="true"></i></a></span>
                                                                        }
                                                                    </div>
                                                                </td>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}