﻿@model ISM_Project.Models.Login
@{



    ViewBag.title = "home page";
    Layout = "~/views/shared/_loginlayout.cshtml";
}
<div class="logo-img"></div>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    @Html.TextBoxFor(m => m.username, new { @placeholder = "Email", required = "required", @type = "email" })

    @Html.PasswordFor(m => m.password, new { @placeholder = "Password", required = "required", @type = "password", autocomplete = "new-password" })

    <span class="text-danger">@ViewBag.errormessage</span>

    <div class="login-help">
        <div class="fgt-pwd">
        </div>
    </div>
    <button type="submit" name="login" class="loginmodal-submit" value="Login">Log In </button>
    <div class="rem-me">
        <span class="checkbox">
            @Html.ActionLink("Forgot Password?", "ForgotPassword", "User")
        </span>
    </div>
    <div class="fgt-pwd text-center">

    </div>
}

