﻿
@model ISM_Project.Models.Login
@{
    //httpcookie cookie = request.cookies["logincookies"];
    //if (cookie != null)
    //{
    //    model.username = cookie["username_ck"];
    //    model.password = cookie["password_ck"];

    //}


    ViewBag.title = "home page";
    Layout = "~/views/shared/_loginlayout.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>

<div class="logo-img"></div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "login" }))
{
    @Html.AntiForgeryToken()

    @Html.TextBoxFor(m => m.username, new { @placeholder = "Username", required = "required", @type = "email" })

    @Html.PasswordFor(m => m.password, new { @placeholder = "Password", required = "required", @type = "password" })

    <span class="text-danger">@ViewBag.errormessage</span>

    <div class="login-help">
        <div class="fgt-pwd">
            @*@Html.CheckBoxFor(Model => Model.rememberme)Remember me*@
        </div>
        <div class="rem-me">
            <span class="checkbox">
                @Html.ActionLink("Forgot Password?", "ForgotPassword", "User")
            </span>
        </div>
    </div>
    <button type="submit" name="login" class="loginmodal-submit" value="Login">Log In </button>
    <div class="fgt-pwd text-center">

    </div>
}
<script>

    $(document).ready(function () {

        $("#login").on("submit", function (e) {
            e.preventDefault();
            var person = {
                "username": $("#username").val(),
                "password": $("#password").val()
            };
            console.log(person);

            $.ajax({

                url: "/api/login",
                type: "Post",
                data: JSON.stringify(person),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    alert(data);
                    //  $('#notifyModal').modal('show');
                    window.location.href = '/home/Dashboard'
                },
                error: function (msg) { alert(msg); }
            });
        });
    });
</script>

