﻿@model ISM_Project.Models.User
@{
    ViewBag.Title = "UserRoleSelection";
    Layout = "~/views/shared/_loginlayout.cshtml";
}

@*<div class="form-group">
        <label>Investigator</label>
        @Html.RadioButtonFor(m => m.ActAsDirector, new { @placeholder = "Email", required = "required", @type = "email" })
    </div>

    <div class="form-group">
        <label>Director</label>
        @Html.RadioButtonFor(m => m.ActAsDirector, new { @placeholder = "Email", required = "required", @type = "email" })
    </div>*@

@using (Html.BeginForm("UserRoleSelection", "Home", FormMethod.Post, new { id = "UserRole_info" }))
{
    <h3 style="margin-top:-10px;">
        Choose an account to proceed
    </h3>

    <div class="radio">
        @foreach (ISM_Project.Models.USP_VIEW_USERROLE_Result User_Role in ViewBag.UserRole)
    {

        <label class="radio">
           

            @if (User_Role.LKUserRoleID == 3)
        {
            @Html.RadioButton("LKUserRoleID", User_Role.LKUserRoleID, false,new { @class="form-input"})
            @Html.Label(User_Role.LKUserRoleName, new {@style="margin-bottom:17px;"})
    }
    else
    {
        @Html.RadioButton("LKUserRoleID", User_Role.LKUserRoleID, true,new { @class = "form-input"})
        @Html.Label(User_Role.LKUserRoleName, new { @style = "margin-bottom:17px;" })
}
        </label>


}

    </div>

        <div class="userrole-section">
            <button type="submit" class="btn btn-save" id="SetRoleSelection"> Proceed </button>
            <button type="button" class="btn btn-cancel" onclick="location.href = '@Url.Action("Logout", "User")'"> Logout </button>
        </div>
    }

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/js/sb-admin.js"></script>
    <script>

        $(document).ready(function () {
            $("#SetRoleSelection").click(function () {

                var UserRole_ID = $('input[name=LKUserRoleID]:checked').val();

                if (UserRole_ID == '') {
                    $('.popup_danger').html('Please Select login Role');
                    $(".popup_danger").css({ display: "block" });
                    setTimeout(function () { $('.popup_danger').hide(); }, 3000);
                    return false;
                }
                else {
                    $.ajax({
                        type: 'POST',
                        cache: false,
                        url: '/Home/UserRoleSelection',
                        dataType: 'json',
                        data: {
                            UserRoleID: parseInt(UserRole_ID),
                        },
                        error: function (err) {
                        },
                        success: function (result) {
                            if (result != 0) {
                                //getNewregistrationValues($("#aircid").val(), result);
                                //$("#Add_AircraftRegistration").modal('hide');
                            }
                            else {
                                //$('.popup_danger').html('Aircraft Registration Already Exists');
                                //$(".popup_danger").css({ display: "block" });
                                //setTimeout(function () { $('.popup_danger').hide(); }, 3000);
                                //return false;
                            }
                        }
                    });
                }

            });
        });

    </script>