﻿@{
    ViewBag.Title = "DynamicForm";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<style>
    .right-menu {
        display: none;
    }

    .topper {
        background-color: white;
    }

    .row {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .remove_shell{
        margin-top: -23px;
        margin-right: 4px;
        margin-left: 2px;
        /* position: absolute; */
        /* top: -18px; */
        background-color: #ef5e7f;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff !important;
        box-shadow: 0px 1px 1px 1px #ef5e7f;
        float: right;
        position: relative;
    }

    label {
        font-size: 15px;
    }
</style>

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">

            <div class="main-user-wrapper investigation-scope-wrapper">
                <div class="x_panel">
                    <div class="inner-x_content">
                        <div class="table-tittle"><h2>Fish Bone Model</h2></div>
                    </div>
                 
                    <div class="fishdiagramWrapper">
                        <div class="topBox">
                            <div class="col-md-3">
                                <div class="fishArea1">
                                    <div class="fishtitle">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2" id="comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="fishcontent">
                                        <ul>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="fishArea2">
                                    <div class="fishtitle">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2" id="comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="fishcontent">
                                        <ul>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="fishArea3">
                                    <div class="fishtitle">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2" id="comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="fishcontent">
                                        <ul>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*==============================================*@
                        <div class="fishmiddle">
                       <div class="fishwtext">
                           <img src="~/img/midArrow.png" />
                            <span>demo</span>
                            </div>
                        </div>
                        @*==============================================*@
                        <div class="bottomBox">
                            <div class="col-md-3">
                                <div class="fishArea1">
                                    <div class="fishcontent">
                                        <ul>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fishtitle">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2" id="comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="fishArea2">
                                    <div class="fishcontent">
                                        <ul>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fishtitle">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2" id="comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="fishArea3">
                                    <div class="fishcontent">
                                        <ul>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list1">
                                                    <input type="text" class="form-control" id="usr">
                                                    <div class="listarrowew"><img src="~/img/listdown.png" /></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fishtitle">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2" id="comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                  

                </div>
                   

                </div>

        </div>
    </div>
</div>


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/js/sb-admin.js"></script>
<script>

    $(document).ready(function () {
        

       

    });

</script>
<!--testing-->
