﻿@{
    ViewBag.Title = "DynamicForm";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<style>
    .right-menu {
        display: none;
    }

    .topper {
        background-color: white;
    }

    .row {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .remove_james, .remove_latentjames {
        margin-top: -23px;
        margin-right: 4px;
        margin-left: 2px;
        /* position: absolute; */
        /* top: -18px; */
        background-color: #ef5e7f;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff !important;
        box-shadow: 0px 1px 1px 1px #ef5e7f;
        float: right;
        position: relative;
    }

    label {
        font-size: 15px;
    }
</style>

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">

            <div class="main-user-wrapper investigation-scope-wrapper">
                <div class="x_panel">
                    <div class="inner-x_content">
                        <div class="table-tittle"><h2>Active Failures</h2></div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Organizational Influences</label>
                            </div>
                            <div class="col-md-3">
                                <label>Unsafe Supervision</label>
                            </div>
                            <div class="col-md-3">
                                <label>Pre-Conditions</label>
                            </div>
                            <div class="col-md-3">
                                <label>Unsafe Act</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                    <option>Option 6</option>
                                    <option>Option 7</option>
                                    <option>Option 8</option>
                                    <option>Option 9</option>
                                    <option>Option 10</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Variable 1</option>
                                    <option>Variable 2</option>
                                    <option>Variable 3</option>
                                    <option>Variable 4</option>
                                    <option>Variable 5</option>
                                    <option>Variable 6</option>
                                    <option>Variable 7</option>
                                    <option>Variable 8</option>
                                    <option>Variable 9</option>
                                    <option>Variable 10</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Parameter 1</option>
                                    <option>Parameter 2</option>
                                    <option>Parameter 3</option>
                                    <option>Parameter 4</option>
                                    <option>Parameter 5</option>
                                    <option>Parameter 6</option>
                                    <option>Parameter 7</option>
                                    <option>Parameter 8</option>
                                    <option>Parameter 9</option>
                                    <option>Parameter 10</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <textarea class="form-control"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="row" id="james_2">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                    <option>Option 6</option>
                                    <option>Option 7</option>
                                    <option>Option 8</option>
                                    <option>Option 9</option>
                                    <option>Option 10</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Variable 1</option>
                                    <option>Variable 2</option>
                                    <option>Variable 3</option>
                                    <option>Variable 4</option>
                                    <option>Variable 5</option>
                                    <option>Variable 6</option>
                                    <option>Variable 7</option>
                                    <option>Variable 8</option>
                                    <option>Variable 9</option>
                                    <option>Variable 10</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Parameter 1</option>
                                    <option>Parameter 2</option>
                                    <option>Parameter 3</option>
                                    <option>Parameter 4</option>
                                    <option>Parameter 5</option>
                                    <option>Parameter 6</option>
                                    <option>Parameter 7</option>
                                    <option>Parameter 8</option>
                                    <option>Parameter 9</option>
                                    <option>Parameter 10</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <textarea class="form-control"></textarea>
                            </div>

                        </div>

                        <a href="javascript:void(0);" class="remove_james" id="rmjames_2">X</a>
                    </div>



                    <div id="james_section"></div>

                    <div class="row" style="margin-top:30px;margin-bottom:20px;">
                        <div class='col-sm-12 col-form-label'>
                            <label style="float:right;" id="add_james"> Add New <i class='fa fa-plus-square' aria-hidden='true'></i></label>
                        </div>
                    </div>

                </div>
                <div class="x_panel">

                    @*<div class="latent_div">
                            <h2 class="text-center">Latent Conditions</h2>
                        </div>*@
                    <div class="inner-x_content">
                        <div><h2 class="table-title">Latent Conditions</h2></div>
                    </div>

                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Organizational Influences</label>
                            </div>
                            <div class="col-md-3">
                                <label>Unsafe Supervision</label>
                            </div>
                            <div class="col-md-3">
                                <label>Pre-Conditions</label>
                            </div>
                            <div class="col-md-3">
                                <label>Unsafe Act</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Latent Option 1</option>
                                    <option>Latent Option 2</option>
                                    <option>Latent Option 3</option>
                                    <option>Latent Option 4</option>
                                    <option>Latent Option 5</option>
                                    <option>Latent Option 6</option>
                                    <option>Latent Option 7</option>
                                    <option>Latent Option 8</option>
                                    <option>Latent Option 9</option>
                                    <option>Latent Option 10</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Latent Variable 1</option>
                                    <option>Latent Variable 2</option>
                                    <option>Latent Variable 3</option>
                                    <option>Latent Variable 4</option>
                                    <option>Latent Variable 5</option>
                                    <option>Latent Variable 6</option>
                                    <option>Latent Variable 7</option>
                                    <option>Latent Variable 8</option>
                                    <option>Latent Variable 9</option>
                                    <option>Latent Variable 10</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>LatentParameter 1</option>
                                    <option>Latent Parameter 2</option>
                                    <option>Latent Parameter 3</option>
                                    <option>Latent Parameter 4</option>
                                    <option>Latent Parameter 5</option>
                                    <option>Latent Parameter 6</option>
                                    <option>Latent Parameter 7</option>
                                    <option>Latent Parameter 8</option>
                                    <option>Latent Parameter 9</option>
                                    <option>Latent Parameter 10</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <textarea class="form-control"></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="row" id="latentjames_2">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Latent Option 1</option>
                                    <option>Latent Option 2</option>
                                    <option>Latent Option 3</option>
                                    <option>Latent Option 4</option>
                                    <option>Latent Option 5</option>
                                    <option>Latent Option 6</option>
                                    <option>Latent Option 7</option>
                                    <option>Latent Option 8</option>
                                    <option>Latent Option 9</option>
                                    <option>Latent Option 10</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Latent Variable 1</option>
                                    <option>Latent Variable 2</option>
                                    <option>Latent Variable 3</option>
                                    <option>Latent Variable 4</option>
                                    <option>Latent Variable 5</option>
                                    <option>Latent Variable 6</option>
                                    <option>Latent Variable 7</option>
                                    <option>Latent Variable 8</option>
                                    <option>Latent Variable 9</option>
                                    <option>Latent Variable 10</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>LatentParameter 1</option>
                                    <option>Latent Parameter 2</option>
                                    <option>Latent Parameter 3</option>
                                    <option>Latent Parameter 4</option>
                                    <option>Latent Parameter 5</option>
                                    <option>Latent Parameter 6</option>
                                    <option>Latent Parameter 7</option>
                                    <option>Latent Parameter 8</option>
                                    <option>Latent Parameter 9</option>
                                    <option>Latent Parameter 10</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <textarea class="form-control"></textarea>
                            </div>

                        </div>
                        <a href="javascript:void(0);" class="remove_latentjames" id="rmlatentjames_2">X</a>
                    </div>
                    <div id="latent_section"></div>

                    <div class="row" style="margin-top:30px;margin-bottom:20px;">

                        <div class='col-sm-12 col-form-label'>

                            <label style="float:right;" id="add_latentjames"> Add New <i class='fa fa-plus-square' aria-hidden='true'></i></label>

                        </div>


                    </div>

                    <input type="hidden" value="2" id="counter" />
                    <input type="hidden" value="2" id="latent_counter" />


                </div>

                <div class="x_panel">
                    <div class="col-md-12 table-top-items">
                        <button id=" " class="btn btn-success" type="button">Save</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/js/sb-admin.js"></script>
<script>

    $(document).ready(function () {
        $(document.body).on('click', '#add_james', function () {
            var counts = $("#counter").val();
            var counter = parseInt(counts) + parseInt(1);

            var k = '<div class="row" id=james_'+counter+'>'+
                   '<div class="col-md-12">'+

                '<div class="col-md-3">' +
                '<select class="form-control">'+
                    '<option value="0">Select</option>'+
                    '<option>Option 1</option>'+
                    '<option>Option 2</option>'+
                    '<option>Option 3</option>'+
                    '<option>Option 4</option>'+
                    '<option>Option 5</option>'+
                    '<option>Option 6</option>'+
                    '<option>Option 7</option>'+
                    '<option>Option 8</option>'+
                    '<option>Option 9</option>'+
                    '<option>Option 10</option>'+
                '</select>'+
            '</div>' +
            '<div class="col-md-3">' +
                '<select class="form-control">'+
                    '<option value="0">Select</option>'+
                    '<option>Variable 1</option>'+
                    '<option>Variable 2</option>'+
                    '<option>Variable 3</option>'+
                    '<option>Variable 4</option>'+
                    '<option>Variable 5</option>'+
                    '<option>Variable 6</option>'+
                    '<option>Variable 7</option>'+
                    '<option>Variable 8</option>'+
                    '<option>Variable 9</option>'+
                    '<option>Variable 10</option>'+
                '</select>'+
            '</div>'+
            '<div class="col-md-3">' +
                '<select class="form-control">'+
                    '<option value="0">Select</option>'+
                    '<option>Parameter 1</option>'+
                    '<option>Parameter 2</option>'+
                    '<option>Parameter 3</option>'+
                    '<option>Parameter 4</option>'+
                   '<option>Parameter 5</option>'+
                   '<option>Parameter 6</option>'+
                    '<option>Parameter 7</option>'+
                    '<option>Parameter 8</option>'+
                    '<option>Parameter 9</option>'+
                    '<option>Parameter 10</option>'+
                '</select>'+
            '</div>' +
            '<div class="col-md-3">' +
                '<textarea class="form-control"></textarea>' +
             '</div>' +
             '</div>' +
             '<a href ="javascript:void(0);" class="remove_james" id="rmjames_'+counter+'"> X</a></div>';
            $("#james_section").append(k);
            $("#counter").val(counter);

        });


        $(document.body).on('click', '#add_latentjames', function () {
            var counts = $("#latent_counter").val();
            var counter = parseInt(counts) + parseInt(1);

            var k = '<div class="row" id=latentjames_' + counter + '>'+
                '<div class="col-md-12">'+
                '<div class="col-md-3">'+
                    '<select class="form-control">'+
                        '<option value="0">Select</option>'+
                        '<option>Latent Option 1</option>'+
                        '<option>Latent Option 2</option>'+
                        '<option>Latent Option 3</option>'+
                        '<option>Latent Option 4</option>'+
                        '<option>Latent Option 5</option>'+
                        '<option>Latent Option 6</option>'+
                        '<option>Latent Option 7</option>'+
                        '<option>Latent Option 8</option>'+
                        '<option>Latent Option 9</option>'+
                        '<option>Latent Option 10</option>'+
                    '</select>'+
                '</div>'+
                '<div class="col-md-3">'+
                    '<select class="form-control">'+
                        '<option value="0">Select</option>'+
                        '<option>Latent Variable 1</option>'+
                        '<option>Latent Variable 2</option>'+
                        '<option>Latent Variable 3</option>'+
                        '<option>Latent Variable 4</option>'+
                        '<option>Latent Variable 5</option>'+
                        '<option>Latent Variable 6</option>'+
                        '<option>Latent Variable 7</option>'+
                        '<option>Latent Variable 8</option>'+
                        '<option>Latent Variable 9</option>'+
                        '<option>Latent Variable 10</option>'+
                    '</select>'+
                '</div>'+
                '<div class="col-md-3">'+
                    '<select class="form-control">'+
                        '<option value="0">Select</option>'+
                        '<option>LatentParameter 1</option>'+
                        '<option>Latent Parameter 2</option>'+
                        '<option>Latent Parameter 3</option>'+
                        '<option>Latent Parameter 4</option>'+
                        '<option>Latent Parameter 5</option>'+
                        '<option>Latent Parameter 6</option>'+
                        '<option>Latent Parameter 7</option>'+
                        '<option>Latent Parameter 8</option>'+
                        '<option>Latent Parameter 9</option>'+
                        '<option>Latent Parameter 10</option>'+
                    '</select>'+
                '</div>'+
                '<div class="col-md-3">' +
                '<textarea class="form-control"></textarea>'+
                '</div>'+
                '</div>'+
                '<a href ="javascript:void(0);" class="remove_latentjames" id="rmjames_' + counter + '"> X</a></div>';
            $("#latent_section").append(k);
            $("#latent_counter").val(counter);
        });

        $(document.body).on('click', '.remove_james', function (){
            var file_id = $(this).attr('id').split('_');
            if (file_id[0] && file_id[1]){
                $("#james_"+file_id[1]).remove();
                var old_count = $("#counter").val();
                var new_count = parseInt(old_count) - parseInt(1);
                $("#counter").val(new_count);
            }
        });

        $(document.body).on('click', '.remove_latentjames', function () {
            var file_id = $(this).attr('id').split('_');
            if (file_id[0] && file_id[1]) {
                $("#latentjames_" + file_id[1]).remove();
                var old_count = $("#latent_counter").val();
                var new_count = parseInt(old_count) - parseInt(1);
                $("#latent_counter").val(new_count);
            }
        });




    });

</script>
<!--testing-->
