﻿

@{
    ViewBag.Title = "DynamicForm";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<style>
    .right-menu {
        display: none;
    }

    .topper {
        background-color: white;
    }

    .row {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .remove_shell{
        margin-top: -23px;
        margin-right: 4px;
        margin-left: 2px;
        /* position: absolute; */
        /* top: -18px; */
        background-color: #ef5e7f;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff !important;
        box-shadow: 0px 1px 1px 1px #ef5e7f;
        float: right;
        position: relative;
    }

    label {
        font-size: 15px;
    }
</style>

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">

            <div class="main-user-wrapper investigation-scope-wrapper">
                <div class="x_panel">
                    <div class="inner-x_content">
                        <div class="table-tittle"><h2>Shell Model</h2></div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Liveware-Software</label>
                            </div>
                            <div class="col-md-3">
                                <label>Liveware-Hardware</label>
                            </div>
                            <div class="col-md-3">
                                <label>Liveware-Environment</label>
                            </div>

                            <div class="col-md-3">
                                <label>Liveware-Liveware</label>
                            </div>
                             
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control"> 
                                    <option value="0">Select</option>
                                    <option>Procedures</option>
                                    <option>Instructions</option>
                                    <option>Guidelines</option>
                                    <option>Standards</option>
                                    <option>Notices</option>
                                    <option>Rules</option>
                                    <option>Signs</option>
                                    <option>Scope of work</option>
                                    <option>PTW</option>
                                    
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Design</option>
                                    <option>Controls</option>
                                    <option>Display & alarm panels</option>
                                    <option>Ergonomics</option>
                                    <option>Tools/option</option>
                                    <option>Equipment</option>
                                    <option>Plant</option>
                                    <option>PPE</option>
                                    <option>Material</option>
                                     
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control"> 
                                    <option value="0">Select</option>
                                    <option>Weather</option>
                                    <option>Comfort</option>
                                    <option>Orderliness</option>
                                    <option>Cleanliness</option>
                                    <option>Distractions</option>                                  
                                </select>
                            </div>
                            <div class="col-md-3">                                
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Leadership</option>
                                    <option>Co-operation</option>
                                    <option>Teamwork</option>
                                    <option>Personality Interactions</option>                                    
                                </select>
                            </div>
                         

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>

                    <div class="row" id="shell_2">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Procedures</option>
                                    <option>Instructions</option>
                                    <option>Guidelines</option>
                                    <option>Standards</option>
                                    <option>Notices</option>
                                    <option>Rules</option>
                                    <option>Signs</option>
                                    <option>Scope of work</option>
                                    <option>PTW</option>

                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Design</option>
                                    <option>Controls</option>
                                    <option>Display & alarm panels</option>
                                    <option>Ergonomics</option>
                                    <option>Tools/option </option>
                                    <option>Equipment</option>
                                    <option>Plant</option>
                                    <option>PPE</option>
                                    <option>Material</option>

                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Weather</option>
                                    <option>Comfort</option>
                                    <option>Orderliness</option>
                                    <option>Cleanliness</option>
                                    <option>Distractions</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Leadership</option>
                                    <option>Co-operation</option>
                                    <option>Teamwork</option>
                                    <option>Personality Interactions</option>
                                </select>
                            </div>
                        </div>

                        <a href="javascript:void(0);" class="remove_shell" id="rmshell_2">X</a>
                    </div>

                    <div id="shell_section"></div>

                    <div class="row" style="margin-top:30px;margin-bottom:20px;">
                        <div class='col-sm-12 col-form-label'>
                            <label style="float:right;" id="add_shell"> Add New <i class='fa fa-plus-square' aria-hidden='true'></i></label>
                        </div>
                    </div>

                    <div class="col-md-12 table-top-items">
                        <button id=" " class="btn btn-success" type="button">Save</button>
                        <input type="hidden" id="counter"  value="2"/>
                    </div>

                </div>
                   

                </div>

        </div>
    </div>
</div>


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/js/sb-admin.js"></script>
<script>

    $(document).ready(function () {
        $(document.body).on('click', '#add_shell', function () {
            var counts = $("#counter").val();
            var counter = parseInt(counts) + parseInt(1);

            var k = '<div class="row" id=shell_'+counter+' style="margin-top:20px;">'+
                   '<div class="col-md-12">'+
                '<div class="col-md-3">' +
                '<select class="form-control">'+
                '<option value="0">Select</option>'+
                '<option>Procedures</option>'+
                '<option>Instructions</option>'+
                '<option>Guidelines</option>'+
                '<option>Standards</option>'+
                '<option>Notices</option>'+
                '<option>Rules</option>'+
                '<option>Signs</option>'+
                '<option>Scope of work</option>'+
                '<option>PTW</option>'+
                '</select>'+
            '</div>' +
            '<div class="col-md-3">' +
                '<select class="form-control">'+
                '<option value="0">Select</option>'+
                '<option>Design</option>'+
                '<option>Controls</option>'+
                '<option>Display & alarm panels</option>'+
                '<option>Ergonomics</option>'+
                '<option>Tools/option </option>'+
                '<option>Equipment</option>'+
                '<option>Plant</option>'+
               '<option>PPE</option>'+
                '<option>Material</option>'+
                '</select>'+
            '</div>'+
            '<div class="col-md-3">' +
                '<select class="form-control">'+
                '<option value="0">Select</option>'+
                '<option>Weather</option>'+
                '<option>Comfort</option>'+
                '<option>Orderliness</option>'+
                '<option>Cleanliness</option>'+
                '<option>Distractions</option>'+
                '</select>'+
                '</div>' +
                '<div class="col-md-3">'+
                    '<select class="form-control">'+
                        '<option value="0">Select</option>'+
                        '<option>Leadership</option>'+
                        '<option>Co-operation</option>'+
                        '<option>Teamwork</option>'+
                        '<option>Personality Interactions</option>'+
                    '</select>'+
                '</div>'+            
             '</div>' +
             '<a href ="javascript:void(0);" class="remove_shell" id="rmshell_'+counter+'"> X</a></div>';
            $("#shell_section").append(k);
            $("#counter").val(counter);
        });

        $(document.body).on('click', '.remove_shell', function (){
            var file_id = $(this).attr('id').split('_');
            if (file_id[0] && file_id[1]){
                $("#shell_"+file_id[1]).remove();
                var old_count = $("#counter").val();
                var new_count = parseInt(old_count) - parseInt(1);
                $("#counter").val(new_count);
            }
        });    

    });

</script>
<!--testing-->
