﻿
@{
 ViewBag.Title = "DynamicForm";
 Layout = "~/Views/Shared/PageLayout.cshtml";
}
<style>
    .right-menu {
        display: none;
    }
    .topper {
        background-color: white;
    }
</style>
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">

                    @using (Html.BeginForm("uploadfilespost", "dynamic", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
                    {
                        <div class="x_panel occurrence-top">
                            <div class="col-md-10 back-side">
                                <div class="form-group">
                                    <label class="col-sm-3 col-form-label">Attachments<span class="text-danger"></span></label>
                                    <div class="col-sm-8 padding-right">
                                        <div class="form-group attachments-tag">
                                            <div class="input-group tag-bottom">
                                                <input id="corresuploadFile_0" class="form-control" placeholder="Choose File" disabled="disabled">
                                                <div class="input-group-btn">
                                                    <div id="FileUpload_0" class="fileUpload btn btn-success">
                                                        <span><i class="fa fa-upload" aria-hidden="true"></i>Choose File</span>
                                                        <input id="corressuploadBtn_0" type="file" name="CorresFile" class="upload corresupload">
                                                        <input type="hidden" id="hdnVal_0" class="hdnfile" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="cur" id="corres_add_attachment"> Add Attachment <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 table-top-items">
                                <button id="btnGenerateForms" class="btn btn-success" type="submit">Generate Form</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/js/sb-admin.js"></script>
<script>

    $(document).ready(function () {

        $('body').on('click', ".input-group.eventPicker", function () {
            $('.input-group.eventPicker').datetimepicker({ format: 'DD/MM/YYYY', maxDate: moment().endOf('d') });
        })


        $(document.body).on('click', '.aoc', function () {
            var control_name = $(this).data("control_name");
            var div_name = $(this).data("divname");
            var current_count = $("#" + control_name + "_count").val();
            var new_count = parseInt(current_count) + 1;

            var k = "<div class='col-sm-12 col-form-box' id='dynamic_" + control_name + "_" + new_count + "'>" +
                "<label class='values-tick'<i class='fa fa-times' aria-hidden='true'></i></label>" +
                "<div class='input-group inver-file-upload' style='margin-left:15px;margin-bottom: 15px;margin-top: 15px;width:400px;'>" +
                "<input id = '" + control_name + "_uploadFile_" + new_count + "' class='form-control' placeholder='Choose File' disabled='disabled' hidden='hidden'>" +
                "<div class='input-group-btn'>" +
                "<div class='fileUpload btn btn-success'>" +
                "<span><i class='fa fa-upload'></i> Upload</span>" +
                "<input id ='" + control_name + "_uploadBtn_" + new_count + "' type ='file' class='event_upload' name='" + control_name + "[]'/>" +
                "</div>" +
                "</div>" +
                "</div><a href='#' class='remove_dynamic_file' id='" + control_name + "_remove_" + new_count + "'>X</a>" +
                "</div>";
            $("." + div_name).append(k);

            $("#" + control_name + "_count").val(new_count);
        });


        $(document.body).on('change', '.event_upload', function () {
            var img = $(this).val();
            var num = $(this).attr('id').split('_');
            var param = num[0];
            var ncount = num[2];
            $("#" + param + "_uploadFile_" + ncount).val(img);
        });

        $(document.body).on('click', '.remove_dynamic_file', function () {
            var file_id = $(this).attr('id').split('_');
            if (file_id[0] && file_id[1]) {

                var cntrl_name = file_id[0];
                var count_no = file_id[2];
                var rm_div = "dynamic_" + cntrl_name + "_" + count_no;
                $("#" + rm_div).remove();
                var old_count = $("#" + cntrl_name + "_count").val();
                var new_count = parseInt(old_count) - parseInt(1);
                $("#" + cntrl_name + "_count").val(new_count);
            }
        });


        //$("#btnGenerateForm").click(function (){
        //    var img = $(this).val();
        //    var num = $(this).attr('id').split('_');
        //    var file_number = num[1];
        //    $("#uploadFile_" + file_number).val(img);

        //    // Changes- start on 16 aug 2018
        //    //$("#general_info").submit();
        //    var files = e.target.files;
        //    //var myID = 3; //uncomment this to make sure the ajax URL works
        //    if (files.length > 0) {
        //        if (window.FormData !== undefined) {
        //            var data = new FormData();
        //            for (var x = 0; x < files.length; x++) {
        //                data.append("file" + x, files[x]);
        //            }

        //            $.ajax({
        //                type: "POST",
        //                url: '/DI/UploadFile',
        //                contentType: false,
        //                processData: false,
        //                data: data,
        //                success: function (result) {
        //                    console.log(result);
        //                },
        //                error: function (xhr, status, p3, p4) {
        //                    var err = "Error " + " " + status + " " + p3 + " " + p4;
        //                    if (xhr.responseText && xhr.responseText[0] == "{")
        //                        err = JSON.parse(xhr.responseText).Message;
        //                    console.log(err);
        //                }
        //            });
        //        } else {
        //            alert("This browser doesn't support HTML5 file uploads!");
        //        }
        //    }

        //    // Changes - End on 16 aug 2018

        //});

    });

</script>
<!--testing-->
