﻿@{
    ViewBag.Title = "GenReports";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<script>
    function passvalues() {
        try {

            var inputVal = $("#jsoninput").val();
            var tabVal = $("#jsoninput1").val();

            var inpVal = encodeURIComponent(JSON.parse(JSON.stringify(inputVal)));

            jQuery.ajax({
                type: "POST",
              //  url: "/Notifications/WordConversionOnClick?val=" + inpVal + "", //since the controller has been called in success part
                contentType: "application/json; charset=utf-8",
                //  data: { val: "2" },
                success: function (data) {
                    //  console.log(data);
                    // alert(data);
                 //   window.location = '/Notifications/WordConversionOnClick?inptext=' + inpVal + '&tableVal=' + tabVal;
                    window.location = '/Notifications/WordConversionOnClick?inptext=' + inpVal;
                    //  window.location = '/Notifications/WordConversionOnClick';
                },
                failure: function (errMsg) {
                    console.log(@ViewBag.status);
                }
            });
        }
        catch (e) {
            console.log(e);
        }
    }
    function getFiles() {
        $.ajax({
            url: "/Report/GetVersionFiles",
            type: "POST",
            //data: { Inv_Id: Inv_ID },

            success: function (data) {
                $("#parentDiv").append("<ul>");
                $.each(data,function (key, items) {
                    $("#parentDiv").append("<li><a href=" + items + " target=_blank>" + key + "</li>");
                });
                $("#parentDiv").append("</ul>");

            },
            failure: function (data) { }
        });
    }
</script>
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="x_panel occurrence-top">
                        <div class="col-md-10 back-side" id="parentDiv">
                            <div class="form-group">
                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Input Json<span class="text-danger">*</span></label>
                                <div class="col-sm-8 col-form-box">
                                    <textarea class="form-control" id="jsoninput" rows="6" placeholder="">{"Image1":"https://images.pexels.com/photos/247932/pexels-photo-247932.jpeg","RP1":"XMINDS Infotech Pvt Ltd","S1":"SHARJAH","DMY":"22 Dec 2017","CNT":"UAE","ADRS1":"AIRPORT","AB1" :"ISSS","LC1" : "QATAR" ,"AG1" :"QATAR AIRWAYS","AGN" :"QATAR AIRWAYS"}
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8 col-form-box">
                                    <textarea class="form-control" id="jsoninput1" rows="6" placeholder="">  {"tabel":"true","header":[{"header1":"Name","header2":"Age","header3":"Contact","header4":"Email"}],"data":[{"name":"Aishu","age":"24","Contact":"32323234","Email":"xyz@gmail.com"},{"name":"Maha","age":"28","Contact":"3542323234","Email":"abc@gmail.com"}]}
                                    </textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 table-top-items">
                            <button class="btn btn-success" type="button" onclick="passvalues()">Generate Report</button>
                        </div>

                        <div>
                            <button class="btn btn-success" type="button" onclick="getFiles()">Get Files</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
