body {
    padding: 0px;
    margin: 0px;
  }

@font-face {
  font-family: OpenSans-SemiBold;
  src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.header .navbar-nav {
    float: right;
    padding-top: 15px;
}
.header .navbar-brand {
    float: left;
    height: inherit;
    padding: 20px 0;
    font-size: 18px;
    line-height: 20px;
}
.header .navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: OpenSans-Regular;
    font-size: 16px;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
    font-family: OpenSans-Regular;
    font-size: 16px;
}
.header .dropdown-menu>li>a {
    display: block;
    padding: 8px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    background-color: #fafafa;
    font-family: OpenSans-Regular;
    font-size: 14px;
}
.login {
    width: 100%;
    float: left;
    height: 100%;
    /*background-image: url(../img/bg-banner.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fafafa;
}

.form.login_form .login_content form{
    border: 1px solid #3a5dab;
    padding: 20px 20px 70px;
}

.logo-img  {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.login_wrapper {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.login_form-front {
    width: 100%;
}

.login_form {
    z-index: 100;
    width: 460px;
    display: table;
    height: auto;
    margin: auto;
    position: relative;
    height: calc(100vh - 0px);
}

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 15px 30px 30px;
    border-radius: 2px;
    overflow: hidden;
    border: solid 1px #eee;
    z-index: 100;
    width: 460px;
    display: table;
    height: auto;
    margin: auto;
    position: relative;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container button.loginmodal-submit {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    position: relative;
    font-size: 16px;
    font-family: OpenSans-Regular;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    background-color: #019348;
    padding: 0 12px;
    text-align: center;
    line-height: 40px;
    border: none;

}

.loginmodal-container input[type=text], input[type=password] {
    height: 36px;
    margin-bottom: 35px;
    -webkit-appearance: none;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: transparent;
    border-color: #333;
    border-style: none none solid;
    border-width: medium medium 1px;
    width: 100%;
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: #050708;
    outline-color: transparent;
}
.loginmodal-container input[type=text]:focus, input[type=password]:focus {
    outline:none;
}

.loginmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
}

.login-help{
    font-size: 14px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-bottom: 10px;
}

.login-help span.checkbox {
    padding-left: 20px;
}

.loginmodal-container span.btn-login {
    color: #333;
    font-size: 12px;
    text-align: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.form-error-red{
    display: block;
    color: #e84e40;
    margin: -10px 0px 10px;
    text-align: left;
    text-transform: uppercase;
    background-color: #fafafa;
    padding: 5px;
}


.overlay {
    /* background-color: #fff; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: rgba(0,0,0,0.63);
    opacity: 0.3;
}
.header-top {
    width: 100%;
    float: left;
    min-height: 60px;
    background-color: #fff;
    padding: 15px 0;
}
.logo-top {
    padding: 15px 30px 30px;
    width: 65%;
    height: auto;
    margin: auto;
    position: relative;
    text-align: center;
}
.logo-top img {
    max-width: 100%;
}
.logo-top h1 {
    color: #da1f36;
    font-size: 34px;
    font-family: OpenSans-Regular;
}
.uae-logo {
    padding: 15px 30px 30px;
    width: 65%;
    height: auto;
    margin: auto;
    position: relative;
    text-align: center;
}
.uae-logo img{
    max-width: 100%;
    height: 200px;
    display: inline-block;
}