




/*Add Style*/
.col-center {
    margin: 0 auto;
    float: none;
    width: 60%;
}

.create-user-table .form-group .form-control {
    width: 55%;
    display: inline;
    float: right;
}

.create-user-table .form-group label {
    width: 45%;
}

.lblDateTimePicker {
    padding: 0;
}

.divDateTimePicker {
    width: 55%;
}

    .divDateTimePicker input {
        width: 100% !important;
    }

@media only screen and (min-device-width : 320px) and (max-device-width: 736px) {
    body .fixed-nav {
        padding-top: 0;
    }

    .col-center {
        margin: 0 auto;
        float: none;
        width: 100%;
    }

    .create-user-table .form-group .form-control {
        width: 100%;
        float: none;
    }

    .create-user-table .form-group label {
        width: 100%;
    }

    .divDateTimePicker {
        width: 100%;
    }
}
