﻿@using PagedList;
@using PagedList.Mvc;

@model ISM_Project.Models.Reports
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? SR_cur_page = (ViewBag.SRpage_no);
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            @using (Html.BeginForm("SafetyRecommentationReport", "SRManager", FormMethod.Post, new { id = 1 }))
                            {
                                if (ViewBag.Report_Name == "Safety Recommendation Report")
                                {
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle">
                                                <h2>@ViewBag.Report_Name</h2>
                                                @Html.Hidden("IsSrReport", "SR")
                                            </div>
                                            <div class="row investigation-report">
                                                <div class="col-md-6">
                                                    <div class="form-group id=" SRNum"">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">SR No:</label>
                                                        <div class="col-sm-6 col-form-box">
                                                            @Html.TextBoxFor(a => a.SR_Number, string.Empty, new { @class = "SearchSRNumber form-control" })
                                                            @Html.HiddenFor(a => a.SR_ID)
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Aircraft Registration:</label>
                                                        <div class="col-sm-6 col-form-box">
                                                            @Html.DropDownList("LKAircraftRegistrationID", ViewBag.Registration_id as SelectList, "Select", new { id = "LKAircraftRegistrationID", @class = "form-control", onchange = "getAircraftDetailsByRegistrationId(this)" })
                                                            <small id="emailHelp" class="form-text text-muted"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Investigation File No:</label>
                                                        <div class="col-sm-6 col-form-box">
                                                            @Html.TextBoxFor(a => a.InvestigationFileNumber, string.Empty, new { @class = "LstInvestigation form-control" })
                                                            @Html.Hidden("InvestigationFileID")
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Airport Name:</label>
                                                        <div class="col-sm-6 col-form-box">
                                                            @Html.DropDownList("LKAirportID", ViewBag.Airport_list as SelectList, "Select", new { id = "LKAirportID", @class = "form-control", onchange = "getAirportList(this)" })
                                                            <small id="emailHelp" class="form-text text-muted"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Occurrence Title:</label>
                                                        <div class="col-sm-6 col-form-box">
                                                            @Html.DropDownList("LKOccurrenceCategorizationId", ViewBag.OccurCateg_list as SelectList, "Select", new
                                                       {
                                                           id = "LKOccurrenceCategorizationId",
                                                           @class = "form-control"@*, onchange = "getAirportList(this)"*@})
                                                            <small id="emailHelp" class="form-text text-muted"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="x_panel">
                                        <div class="final-reports" id="final_reports">
                                            <div class="form-create-user-table">
                                                <button type="submit" class="btn btn-save" id="btnShow" value="Show" name="btnname" onclick="">Show</button>
                                                <button type="submit" class="btn btn-save" id="btnExcelExport" value="Export" name="btnname" onclick="">Export</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="x_panel-corres">
                                                <div class="x_content">
                                                    <div class="table-tittle">

                                                    </div>
                                                    <div class="table-responsive">
                                                        <table id="datatable" class="table table-responsive table-bordered table-hover correspondance-table">
                                                            <!-- need pagination table -->
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>SR ID Number</th>
                                                                    <th>Investigation Number</th>
                                                                    <th>Date Created</th>
                                                                    <th>Current Status</th>
                                                                    <th>Investigator Name</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model != null)
                                                                {
                                                                    int i = ViewBag.SR_serial_nbr;

                                                                    if (Model.ExcelInfo != null)
                                                                    {
                                                                        if (Model.ExcelInfo.Count() > 0)
                                                                        {
                                                                            var SRPage = Model.ExcelInfo.ToList().ToPagedList(SR_cur_page ?? 1, 10);
                                                                            foreach (var SR in SRPage)
                                                                            {
                                                                                i++;
                                                                                string SRDate = SR.SRRaisedDate.ToString("dd/MM/yyyy");
                                                                                <tr>
                                                                                    <td>@i</td>
                                                                                    <td>@Html.Label(SR.SafetyRecommendationNumber)</td>
                                                                                    <td>@Html.Label(SR.InvestigationFileNumber)</td>
                                                                                    <td>@SRDate</td>
                                                                                    <td>@SR.CurrentsrStatus</td>
                                                                                    <td>@SR.AssignedInvestigator</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <td colspan="4"><p style="text-align:center">No Safety Recommendations available</p></td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>
                                                        @if (ViewBag.count_SRpagecontent > 10)
                                                        {
                                                            @Html.PagedListPager(Model.ExcelInfo.ToList().ToPagedList(SR_cur_page ?? 1, 10), page => Url.Action("InvestigationReport", new { Rptid = "Sr", page, btnname = "Show", invFileNo = Model.InvestigationFileNumber }))
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

