﻿@model ISM_Project.Models.UserModel
@{
    if (Session["username"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/Adduser.js"></script>
<script type="text/javascript">
      var certiArray;
    $(document).ready(function () {
    certiArray = @Html.Raw(Json.Encode(Model));
    certiArray = certiArray.Certificates;
    if (certiArray != null) {
        $("#DynamicArea").append(GetDynamicTextBox(certiArray.length));
    }
});
</script>
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper">
                <div class="top-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="cur" onclick="window.history.back();">Users</li>
                        <li class="active">Create New User</li>
                    </ol>
                </div>
                <div class="main-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Create New User</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content create-user-table">
                                    @using (Html.BeginForm("AddUser", "User", FormMethod.Post))
                                    {
                                        @Html.HiddenFor(m => m.user_id, new { @type = "text", @class = "form-control hidden" })
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">First Name<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m =>m.first_name, new { @placeholder = "Enter First Name", required = "required", @type = "text", @class = "form-control" })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Middle Name <span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.middle_name, new { @placeholder = "Enter Middle Name", required = "required", @type = "text", @class = "form-control" })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Last Name <span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.last_name, new { @placeholder = "Enter Last Name", required = "required", @type = "text", @class = "form-control" })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Staff ID <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Staff ID">

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Date Of Birth <span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.dob, "{0:yyyy-MM-dd}", new { @placeholder = "Enter Date of Birth", required = "required", @type = "date", @class = "form-control" })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address <span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.email, new { @placeholder = "Enter Email", required = "required", @type = "email", @class = "form-control" })

                                        </div>
                                        if (Model != null)
                                        {
                                            if (Model.user_id == 0)
                                            {
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Password<span class="text-danger">*</span></label>
                                                    @Html.HiddenFor(m => m.password, new { @placeholder = "Enter Password", required = "required", @type = "password", @class = "form-control" })
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Password<span class="text-danger">*</span></label>
                                                @Html.TextBoxFor(m => m.password, new { @placeholder = "Enter Password", required = "required", @type = "password", @class = "form-control" })
                                            </div>
                                        }
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Contact Number <span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.phone, new { @placeholder = "Enter Contact Number", required = "required", @type = "text", @class = "form-control" })
                                        </div>
                                        <div id="DynamicArea">
                                           
                                            @*<div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <small>Certification Name</small>
                                                            <input class="form-control" type="text" />
                                                        </div>
                                                        <div class="col-md-3">
                                                            <small>Certified Date</small>
                                                            <input class="form-control" type="date" />
                                                        </div>
                                                        <div class="col-md-3">
                                                            <small>Date of Renewal</small>
                                                            <input class="form-control" type="date" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <small>validity period</small>
                                                            <input class="form-control" type="text" />
                                                        </div>
                                                        <div class="col-md-1">
                                                            <br />
                                                            <button type="button" class="btn btn-danger btn-number" data-type="minus">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </div>
                                        <div class="form-group">
                                            <label class="cur" for="exampleInputPassword1" onclick="AddTextBox()">Add Certificate <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Skill Set</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <textarea class="form-control" id="work-textarea" rows="3"></textarea>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Work History</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <textarea class="form-control" id="work-textarea" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="exampleFormControlSelect1">Department</label>

                                                    @Html.DropDownListFor(m => m.dept_id, ViewBag.departmentnames as SelectList, "select", new { @class = "form-control", required = "required" })
                                                    <div class="add-dev"><a class="a-dev cur" data-toggle="modal" data-target="#ModalDepartments"><i class="fa fa-plus-square" aria-hidden="true"></i>Add New Department</a></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="exampleFormControlSelect1">Role</label>

                                                    @Html.DropDownListFor(m => m.role_id, ViewBag.rolenames as SelectList, "select", new { @class = "form-control", required = "required" })
                                                    <div class="add-dev"><a class="a-dev cur" data-toggle="modal" data-target="#ModalRoles"><i class="fa fa-plus-square" aria-hidden="true"></i>Add New Role</a></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="exampleFormControlSelect1">Status</label>
                                                    @Html.DropDownListFor(m => m.is_active, new List<SelectListItem> { new SelectListItem { Text = "In-Active", Value = "false" }, new SelectListItem { Text = "Active", Value = "true" }, }, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="create-bottom-btn">
                                            <button type="submit" class="btn btn-save">Save</button>
                                            <button class="btn btn-cancel" onclick="window.history.back();">Cancel</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div


</div>

<div class="modal fade" id="ModalDepartments" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Department</h4>
            </div>
            <div class="form-group" style="margin-top:15px">
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-5">
                        <span style="line-height:34px">Name</span>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalRoles" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Role</h4>
            </div>
            <div class="form-group" style="margin-top:15px">
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-5">
                        <span style="line-height:34px">Name</span>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>



