﻿@model ISM_Project.Models.Login
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
{
    <div class="text-danger">
        @ViewBag.Message
    </div>

    @Html.TextBoxFor(m => m.username, new { @placeholder = "User Email", required = "required" })
    <div class="email-back-btn">
        <button type="submit" name="login" class="login-email">Email Link </button>         
        <button type="button" class="btn login-back" onClick="location.href='/'">Login</button>
    </div>
}
