﻿@using PagedList;
@using PagedList.Mvc;

@model ISM_Project.Models.Reports
@{
    ViewBag.Title = "Upload Final Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? rpt_cur_page = (ViewBag.page_no);
}
@if (Model != null)
{
    if (Model.InvestigationFileID > 0)
    {
        <div class="main_ism_wrapper">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="row">
                        <div class="main-user-wrapper investigation-scope-wrapper">
                            <div class="x_panel">

                                @if (Model.RPTInv != null)
                                {
                                    if (Model.RPTInv.Count() > 0)
                                    {
                                        foreach (var Invdet in Model.RPTInv)
                                        {
                                            <div class="x_content form-create-user-table">
                                                <div class="info-tittle">
                                                    <h2>Final Report History</h2>
                                                </div>
                                                <div class="row scope-details">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Notifier Name:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@Invdet.NotifierName </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                UTC Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@(!string.IsNullOrEmpty(Convert.ToString(Invdet.UTCDateAndTimeOfOccurrence)) ? Convert.ToDateTime(Invdet.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A")</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Notifier Organization:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@Invdet.NotifierOrganization</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Local Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@(!string.IsNullOrEmpty(Convert.ToString(Invdet.LocalDateAndTimeOfOccurrence)) ? Convert.ToDateTime(Invdet.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A")</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                            <div class="x_panel">
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "UploadReports", enctype = "multipart/form-data" }))
                                {
                                    <div class="final-reports" id="final_reports">
                                        <div class="col-md-10 back-side" id="parentDiv">
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Final Report<span class="text-danger">*</span></label>
                                                <div class="col-sm-8 padding-right">
                                                    <div class="form-group attachments-tag">
                                                        <div class="input-group tag-bottom">
                                                            <input id="RptuploadFile_0" class="form-control" placeholder="Choose File" disabled="disabled">
                                                            <div class="input-group-btn">
                                                                <div id="FileUpload" class="fileUpload btn btn-success">
                                                                    <span><i class="fa fa-upload" aria-hidden="true"></i>Choose File</span>
                                                                    <input id="RptuploadBtn_0" type="file" name="ReportFiles[]" class="upload Rptupload">
                                                                    <input type="hidden" id="RpthdnVal_0" class="hdnfile" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="col-sm-4 col-form-label"></label>
                                                <label class="col-sm-8 col-form-label">*Please use one of the following file formats - doc,docx</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">File Version<span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(a => a.FileVersion, new { @class = "form-control", @type = "number", @onkeypress = "return checkDecimal(this,event)", @autocomplete = "off" })
                                                    @Html.Hidden("InvestigationFileID", Model.InvestigationFileID)
                                                    @Html.Hidden("InvestigationFileNumber", Model.InvestigationFileNumber)

                                                </div>
                                            </div>
                                        </div>
                                        @if (Convert.ToInt32(Session["roleid"]) == 4 || Convert.ToInt32(Session["roleid"]) == 7)
                                        {
                                            <div class="create-bottom-btn" style="margin-bottom: 20px;">
                                                <button type="button" class="btn btn-save" id="btnUploadReports" onclick="saveReports();">Save</button>
                                            </div>
                                        }
                                    </div>
                                }
                                <div class="col-md-12 col-sm-12 col-xs-12" sty>
                                    <div class="row">
                                        <div class="x_panel-corres">
                                            <div class="x_content">
                                                @if (Model != null)
                                                {
                                                    int i = ViewBag.serial_nbr;
                                                    if (Model.RPTs != null)
                                                    {
                                                        if (Model.RPTs.Count() > 0)
                                                        {
                                                            int corrID = 0;
                                                            <div class="table-responsive">
                                                                <table id="datatable" class="table table-responsive table-hover table-bordered correspondance-table">
                                                                    <!-- need pagination table -->
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>File Name</th>
                                                                            <th>File Version</th>
                                                                            <th>Uploaded By</th>
                                                                            <th>Uploaded On</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @if (ViewBag.count_pagecontent > 0)
                                                                        {
                                                                            foreach (var rpt in Model.RPTs.ToList().ToPagedList(rpt_cur_page ?? 1, 10))
                                                                            {
                                                                                corrID = rpt.InvestigationReportID;
                                                                                if (!string.IsNullOrEmpty(rpt.FILEPATH))
                                                                                {
                                                                                    string filename = rpt.FILEPATH.Substring(rpt.FILEPATH.LastIndexOf('/') + 1, rpt.FILEPATH.Length - (rpt.FILEPATH.LastIndexOf('/') + 1));
                                                                                    i++;
                                                                                    <tr>
                                                                                        <td>@i</td>
                                                                                        <td><a href="@rpt.FILEPATH" target="_blank">@filename</a></td>
                                                                                        <td>@rpt.FileVersion</td>
                                                                                        <td>@rpt.UPLOADEDBY</td>
                                                                                        <td>@Convert.ToDateTime(rpt.CreatedOn).ToString("dd/MM/yyyy HH:mm")</td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr><td colspan="7"><p style="text-align:center">No histories available</p></td></tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                                @if (ViewBag.count_pagecontent > 10)
                                                                {

                                                                    @Html.PagedListPager(Model.RPTs.ToList().ToPagedList(rpt_cur_page ?? 1, 10), page => Url.Action("UploadFinalReport", "Forms", new { page, id = TempData["InvId"] }))

                                                                }
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    }
}

