﻿

@{
    ViewBag.Title = "InvestigationDetails_new";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper investigation-scope-wrapper">
                @*<div class="x_panel occurrence-top">
                        <div class="col-md-2 back-side">
                            <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("DashBoard", "Home")'">Back to DashBoard</button>
                        </div>
                        <div class="col-md-8 scope">
                            <h2>AIFN/001/2018</h2>
                            <p class="occ-status">Investigation Group: Operation Tasks</p>
                        </div>

                    </div>*@
                <div class="main-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_content form-create-user-table">
                                    <div class="info-tittle" style="text-align:center">
                                        <h2>Task group Details</h2>
                                    </div>
                                    <form>
                                        <div class="row scope-details">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                        Investigation Id:
                                                    </label>
                                                    <div class="col-sm-6 col-form-box">
                                                        <label class="form-values">AIFN/001/2018</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                        Assigned To:
                                                    </label>
                                                    <div class="col-sm-6 col-form-box">
                                                        <label class="form-values">Hussain(TM)</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                        UTC Date & Time of Occurrence:
                                                    </label>
                                                    <div class="col-sm-6 col-form-box">
                                                        <label class="form-values">18-01-2018 15:21</label>
                                                    </div>
                                                </div>
                                                @*<div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Flight Number:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">AUX006</label>
                                                        </div>
                                                    </div>*@
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                    </label>
                                                    <div class="col-sm-6 col-form-box">
                                                        <label class="form-values"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                        Assigned By:
                                                    </label>
                                                    <div class="col-sm-6 col-form-box">
                                                        <label class="form-values">Hakkem</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                        Local Date & Time of occurrence
                                                    </label>
                                                    <div class="col-sm-6 col-form-box">
                                                        <label class="form-values">18-01-2018 15:21</label>
                                                    </div>
                                                </div>
                                                @*<div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Place:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">Dubai</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Destination Airport:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">Abudhabi</label>
                                                        </div>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                                <div class="task-scope-wrapp">
                                    <div class="info-tittle">

                                    </div>
                                    <div class="investigation-wrapper">
                                        <div class="investigation-panel">
                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading green" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEvent1" aria-expanded="true" aria-controls="collapseOne">
                                                        <div class="panel-title">

                                                            <a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                                                Event 1: Initial response
                                                            </a>
                                                        </div>
                                                        <div class="plus-min">
                                                            <i class="more-less fas fa-chevron-down"></i>
                                                        </div>
                                                    </div>
                                                    <div id="collapseEvent1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <div class="panel-body-content">
                                                                <div class="panel-content">
                                                                    <div class="content-inner">
                                                                        <div class="row">
                                                                            <div class="col-md-6">

                                                                                <ul>
                                                                                    <li>
                                                                                        <h3>Assigned to:</h3>
                                                                                        <span class="form-values">Hafiz Siddique(IIC)</span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <h3>Status:</h3>
                                                                                        <span class="form-values">COMPLETED</span>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>

                                                                            <div class="col-md-6">

                                                                                <ul>
                                                                                    <li>
                                                                                        <h3>Due Date:</h3>
                                                                                        <span class="form-values">N/A</span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <h3>progress:</h3>
                                                                                        <span class="form-values">
                                                                                            <div class="progress">
                                                                                                <div class="progress-bar green" role="progressbar" aria-valuenow="70"
                                                                                                     aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                                                                                                    100%
                                                                                                </div>
                                                                                            </div>
                                                                                        </span>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="obtain-wrapper">
                                                                        <div class="form-group">
                                                                            <p>
                                                                                Gather as much accident -related information as practicable from the reporting source and relevent authorities
                                                                            </p>

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-form-box">

                                                                                <textarea rows="6" name="message2" id="message2" class="form-control form-textarea" required=""></textarea>

                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <p>
                                                                                Contact the local police or other authority responsible for site security to determine what actions have been taken and convey the intentions and requirements of the accident investigation authority, in particular the safeguarding of records and other perishable investigation evidence. Has this been done?
                                                                            </p>

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-form-box">

                                                                                <select required>
                                                                                    <option value="">yes</option>
                                                                                    <option value="volvo">no</option>

                                                                                </select>

                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-form-label" for="exampleInputEmail1">
                                                                                As appropriate, advise the coroner, the attorney general or the police of the requirement of the investigation authority regarding the recovery and handling of the human remains, in particular, the safeguarding of perishable investigation evidence. Has this been done?
                                                                            </label>

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-form-box">

                                                                                <select required>
                                                                                    <option value="">yes</option>
                                                                                    <option value="volvo">no</option>

                                                                                </select>

                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-form-label" for="exampleInputEmail1">
                                                                                Determine from the air operator if hazardous material, such aschemicals, explossives, biological and radioactive materials, were carried on the aircraft.
                                                                            </label>

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-form-box">

                                                                                <textarea rows="6" name="message2" id="message2" class="form-control form-textarea" required=""></textarea>

                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-form-label" for="exampleInputEmail1">
                                                                                Determine the coposition of the investigation team, taking into account pre-assignment, such as a go-team. Has this been done?
                                                                            </label>

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-form-box">

                                                                                <select required>
                                                                                    <option value="">yes</option>
                                                                                    <option value="volvo">no</option>

                                                                                </select>

                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-form-label" for="exampleInputEmail1">
                                                                                Make arrangements for travel, accomodation, and facilities required for meetings and other investigation activities. Has this been done?
                                                                            </label>

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-form-box">

                                                                                <select required>
                                                                                    <option value="">yes</option>
                                                                                    <option value="volvo">no</option>

                                                                                </select>

                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-form-label" for="exampleInputEmail1">
                                                                                Complete and dispatch the notification to other sates involved and to ICAO. Has this been done?
                                                                            </label>

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-form-box">

                                                                                <select class="selectpicker">
                                                                                    <option value="">yes</option>
                                                                                    <option value="volvo">no</option>

                                                                                </select>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>




                                                    </div>



                                                </div>
                                            </div><!-- panel-group -->
                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading red" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
                                                        <div class="panel-title">

                                                            <a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                                                Event 3: Secure flight operations documents
                                                            </a>
                                                        </div>
                                                        <div class="plus-min">
                                                            <i class="more-less fas fa-chevron-down"></i>
                                                        </div>
                                                    </div>

                                                    <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <div class="panel-body-content">
                                                                <div class="content-inner">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Assigned to:</h3>
                                                                                    <span class="form-values">Hakeem Hussain(TM)</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>Status:</h3>
                                                                                    <span class="form-values">IN-PROGRESS</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Due Date:</h3>
                                                                                    <span class="form-values">02/01/2018</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>progress:</h3>
                                                                                    <span class="form-values">
                                                                                        <div class="progress">
                                                                                            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                                                                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                                                                                70%
                                                                                            </div>
                                                                                        </div>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="obtain-wrapper">
                                                                    <div class="form-group">
                                                                        @Html.Raw(ViewBag.html1)
                                                                       
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- panel-group -->

                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading grey" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapseOne">

                                                        <div class="panel-title">

                                                            Event 17: Secure flight operations documents

                                                        </div>
                                                        <div class="plus-min">
                                                            <i class="more-less fas fa-chevron-down"></i>
                                                        </div>
                                                    </div>
                                                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

                                                        <div class="panel-body">
                                                            <div class="panel-body-content">
                                                                <div class="content-inner">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Assigned to:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>Status:</h3>
                                                                                    <span class="form-values">UNASSIGNED</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Due Date:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>progress:</h3>
                                                                                    <span class="form-values">
                                                                                        <div class="progress">
                                                                                            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                                                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                                                                0%
                                                                                            </div>
                                                                                        </div>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading grey" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="true" aria-controls="collapseOne">

                                                        <div class="panel-title">

                                                            Event 31: Flight crew members interviews

                                                        </div>
                                                        <div class="plus-min">
                                                            <i class="more-less fas fa-chevron-down"></i>
                                                        </div>
                                                    </div>
                                                    <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

                                                        <div class="panel-body">
                                                            <div class="panel-body-content">
                                                                <div class="content-inner">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Assigned to:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>Status:</h3>
                                                                                    <span class="form-values">UNASSIGNED</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Due Date:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>progress:</h3>
                                                                                    <span class="form-values">
                                                                                        <div class="progress">
                                                                                            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                                                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                                                                0%
                                                                                            </div>
                                                                                        </div>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading grey" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapseOne">
                                                        <div class="panel-title">
                                                            Event 64 :Operations analysis and findings
                                                        </div>
                                                        <div class="plus-min">
                                                            <i class="more-less fas fa-chevron-down"></i>
                                                        </div>
                                                    </div>
                                                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

                                                        <div class="panel-body">
                                                            <div class="panel-body-content">
                                                                <div class="content-inner">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Assigned to:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>Status:</h3>
                                                                                    <span class="form-values">UNASSIGNED</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Due Date:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>progress:</h3>
                                                                                    <span class="form-values">
                                                                                        <div class="progress">
                                                                                            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                                                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                                                                0%
                                                                                            </div>
                                                                                        </div>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading grey" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapseOne">
                                                        <div class="panel-title">

                                                            Event 42: Aircraft performance

                                                        </div>
                                                        <div class="plus-min">
                                                            <i class="more-less fas fa-chevron-down"></i>
                                                        </div>
                                                    </div>
                                                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

                                                        <div class="panel-body">
                                                            <div class="panel-body-content">
                                                                <div class="content-inner">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Assigned to:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>Status:</h3>
                                                                                    <span class="form-values">UNASSIGNED</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Due Date:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>progress:</h3>
                                                                                    <span class="form-values">
                                                                                        <div class="progress">
                                                                                            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                                                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                                                                0%
                                                                                            </div>
                                                                                        </div>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading grey" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapseOne">

                                                        <div class="panel-title">
                                                            Event 50: Analysis and report of the Operations Group
                                                        </div>
                                                        <div class="plus-min">
                                                            <i class="more-less fas fa-chevron-down"></i>
                                                        </div>
                                                    </div>
                                                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <div class="panel-body-content">
                                                                <div class="content-inner">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Assigned to:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>Status:</h3>
                                                                                    <span class="form-values">UNASSIGNED</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Due Date:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>progress:</h3>
                                                                                    <span class="form-values">
                                                                                        <div class="progress">
                                                                                            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                                                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                                                                0%
                                                                                            </div>
                                                                                        </div>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel-group" id="accordian7" role="tablist" aria-multiselectable="true">

                                                <div class="panel panel-default">
                                                    <div class="panel-heading grey" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapseOne">
                                                        <div class="panel-title">

                                                            Event 64: Operations analysis and findings
                                                        </div>
                                                        <div class="plus-min">
                                                            <i class="more-less fas fa-chevron-down"></i>
                                                        </div>
                                                    </div>
                                                    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <div class="panel-body-content">
                                                                <div class="content-inner">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Assigned to:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>Status:</h3>
                                                                                    <span class="form-values">UNASSIGNED</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Due Date:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>progress:</h3>
                                                                                    <span class="form-values">
                                                                                        <div class="progress">
                                                                                            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                                                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                                                                0%
                                                                                            </div>
                                                                                        </div>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel-group" id="accordian8" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading grey" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapseOne">
                                                        <div class="panel-title">

                                                            Event 66: Report of the Investigator-in-charge
                                                        </div>
                                                        <div class="plus-min">
                                                            <i class="more-less fas fa-chevron-down"></i>
                                                        </div>
                                                    </div>
                                                    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <div class="panel-body-content">
                                                                <div class="content-inner">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Assigned to:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>Status:</h3>
                                                                                    <span class="form-values">UNASSIGNED</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            <ul>
                                                                                <li>
                                                                                    <h3>Due Date:</h3>
                                                                                    <span class="form-values">N/A</span>
                                                                                </li>
                                                                                <li>
                                                                                    <h3>progress:</h3>
                                                                                    <span class="form-values">
                                                                                        <div class="progress">
                                                                                            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                                                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                                                                0%
                                                                                            </div>
                                                                                        </div>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- container -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- sumitted form btns -->
                        <!-- sumitted form btns -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   
</script>


