﻿@model ISM_Project.Models.AircraftRegistration
@{
    ViewBag.Title = "AddAircraftRegistration";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-title">
        <h2>Aircraft Details</h2>
    </div>
</div>

<div class="modal-body" id="Aircraft_Registration">
    <small id="emailHelp" class="form-text popup_danger"></small>
    @using (Html.BeginForm("AddAircraftRegistrations", "DI", FormMethod.Post, new { id = "frm_NewAircraftRegistration" }))
    {
        <div class="closeinvestigation-wrapp">
            <div class="closeinvestigation-inner create-user-table">
                <form>
                    <input type="hidden" id="aircid" value="0" />
                    @Html.HiddenFor(m => m.LKAircraftRegistrationID, new { @type = "text", @class = "form-control hidden" })

                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            Aircraft Registration <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @*@if (Model.LKAircraftRegistrationID > 0)
                                {
                                    @Html.TextBoxFor(m => m.LKAircraftRegistrationName, new { @type = "text", @class = "form-control", @style = "margin-bottom:10px", @readonly = "readonly" })
                                }
                                else
                                {*@
                            @Html.TextBoxFor(m => m.LKAircraftRegistrationName, new { @type = "text", @class = "form-control", @style = "margin-bottom:10px" })
                            @*}*@
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            Make and Model  <span class="text-danger"></span>
                        </label>
                        <div class="col-sm-8 col-form-box">

                            @if (Model.LKAircraftRegistrationID > 0)
                            {
                                @Html.TextBox("LKAircraftModelName", Model.LKAircraftModelName, new { @placeholder = "Start typing for suggestions", id = "LKAircraftModelName", @class = "ModelName form-control" })
                                @Html.Hidden("LKAircraftModelID", Model.LKAircraftModelID, new { id = "LKAircraftModelID", @class = "form-control" })
                            }
                            else
                            {
                                @Html.TextBox("LKAircraftModelName", null, new { @placeholder = "Start typing for suggestions", id = "LKAircraftModelName", @class = "ModelName form-control" })
                                @Html.Hidden("LKAircraftModelID", null, new { id = "LKAircraftModelID", @class = "form-control" })
                            }

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            Maximum Take Off Mass (kg) <span class="text-danger"></span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @Html.TextBoxFor(m => m.MaximumMass, new { @type = "text", @class = "form-control", @style = "margin-bottom:10px" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            Operator Name  <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8 col-form-box">

                            @if (Model.LKAircraftRegistrationID > 0)
                            {
                                @Html.TextBox("LKAirlineOperatorName", Model.LKAirlineOperatorName, new { @placeholder = "Start typing for suggestions", id = "LKAirlineOperatorName", @class = "OperatorName form-control" })
                                @Html.Hidden("LKAirlineOperatorID", Model.LKAirlineOperatorID, new { id = "LKAirlineOperatorID", @class = "form-control" })
                            }
                            else
                            {
                                @Html.TextBox("LKAirlineOperatorName", null, new { @placeholder = "Start typing for suggestions", id = "LKAirlineOperatorName", @class = "OperatorName form-control" })
                                @Html.Hidden("LKAirlineOperatorID", null, new { id = "LKAirlineOperatorID", @class = "form-control" })
                            }

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            MSN <span class="text-danger"></span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @Html.TextBoxFor(m => m.MSN, new { @type = "text", @class = "form-control", @style = "margin-bottom:10px" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            Engine Info <span class="text-danger"></span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @Html.TextBoxFor(m => m.EngineInfo, new { @type = "text", @class = "form-control", @style = "margin-bottom:10px" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            State of Registry <span class="text-danger"></span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @*@Html.TextBoxFor(m => m.StateofRegistry, new { @type = "text", @class = "form-control", @style = "margin-bottom:10px" })*@

                            @Html.DropDownListFor(m => m.StateofRegistryID, ViewBag.State_Of_Registry as SelectList, "Select", new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            Aircraft Category <span class="text-danger"></span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @if (Model.LKAircraftRegistrationID > 0)
                            {
                                @Html.TextBox("LKAircraftCategoryName", Model.LKAircraftCategoryName, new { @placeholder = "Start typing for suggestions", id = "LKAircraftCategoryName", @class = "CategoryName form-control" })
                                @Html.Hidden("LKAircraftCategoryID", Model.LKAircraftCategoryID, new { id = "LKAircraftCategoryID", @class = "form-control" })
                            }
                            else
                            {
                                @Html.TextBox("LKAircraftCategoryName", null, new { @placeholder = "Start typing for suggestions", id = "LKAircraftCategoryName", @class = "CategoryName form-control" })
                                @Html.Hidden("LKAircraftCategoryID", null, new { id = "LKAircraftCategoryID", @class = "form-control" })
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            State of Operator <span class="text-danger"></span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @*@Html.TextBoxFor(m => m.StateofOperator, new { @type = "text", @class = "form-control", @style = "margin-bottom:10px" })*@

                            @Html.DropDownListFor(m => m.StateofOperatorID, ViewBag.State_Of_Operator as SelectList, "Select", new { @class = "form-control" })

                        </div>
                    </div>

                    @*<div class="form-group">
                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                Operator Contact <span class="text-danger"></span>
                            </label>
                            <div class="col-sm-8 col-form-box">
                                @Html.TextBoxFor(m => m.OperatorContacts, new { @type = "text", @class = "form-control", @style = "margin-bottom:10px" })
                            </div>
                        </div>*@


                </form>
            </div>
        </div>
        <div class="modal-footer">
            @if (Model.LKAircraftRegistrationID == 0)
            {
                <button type="button" class="btn btn-save" onclick="SaveAircraftRegistration()">Save</button>
            }
            else
            {
                <button type="button" class="btn btn-save" onclick="SaveAircraftRegistration()">Update</button>
            }
        </div>
    }
</div>

