﻿@model ISM_Project.Models.InvestigationModel
@{
    ViewBag.Title = "ChangeIncidentType";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-title">
        <h2>Change Incident Type</h2>
    </div>
</div>

<div class="modal-body" id="Change_IncidentType">
    <small id="emailHelp" class="form-text popup_danger"></small>
    @using (Html.BeginForm("ChangeIncidentTypeSave", "DI", FormMethod.Post))
    {
    <div class="closeinvestigation-wrapp">
        <div class="closeinvestigation-inner create-user-table">
            <form>
                @Html.HiddenFor(m => m.InvestigationFileID, new { @class = "form-control hidden" })
                <input type="hidden" id="Inciden_id" value="0" />
                <div class="form-group ">
                    <div class="col-sm-8 col-form-box">
                        <div class="col-sm-8 col-form-box" id="radDISug">

                            @foreach (ISM_Project.Models.USP_GET_INCIDENTTYPE_Result Incident in ViewBag.Incident_TypeList)
                            {
                                <label class="radio">
                                    @Html.RadioButtonFor(m => m.LKIncidentTypeID, Incident.LKIncidentTypeID)

                                    @Html.Label(Incident.LKIncidentTypeName)
                                </label>
                            }
                            <br />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (Model.LKIncidentTypeID == 11)
        {
            <div class="form-group" id="hideoccurclassification">
                <label class="col-sm-4 col-form-label" for="exampleInputPassword1"><span class="text-danger"></span></label>
                <div class="col-sm-12 col-form-box event-desc">
                    @Html.TextAreaFor(m => m.OtherOccurClassification, new { @placeholder = "Enter occurrence details", @type = "text", @class = "form-control", @style = "height: inherit" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group" id="hideoccurclassification" hidden ="hidden">
                <label class="col-sm-4 col-form-label" for="exampleInputPassword1"><span class="text-danger"></span></label>
                <div class="col-sm-12 col-form-box event-desc">
                    @Html.TextAreaFor(m => m.OtherOccurClassification, new { @placeholder = "", @type = "text", @class = "form-control", @style = "height: inherit" })
                </div>
            </div>
        }
    </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-save" onclick="UpdateIncidentType()">Save</button>
        </div>
    }
</div>

