﻿
@{
    ViewBag.Title = "AddNewCorrespondenceFromDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">                   
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle occurrence-top" style="display:block">
                                            <h2>Correspondence Management</h2>
                                        </div>
                                        <form>
                                            <div class="row scope-details">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Name:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">ABC</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            UTC Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">27-01-2017 09:45</label>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Organization:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">XXXX</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Local Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">27-01-2017 09:45</label>
                                                        </div>
                                                    </div>
                                              
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="task-scope-wrapp">
                                        <div class="info-tittle">
                                            <h4>Correspondence Details</h4>
                                        </div>
                                        <div class="investigation-wrapper">
                                            <div class="investigation-panel">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">

                                                            <div class="row management-wrapper">
                                                                <div class="row management-content">
                                                                    <div class="col-md-6 panel-content">
                                                                        <div class="content-inner">
                                                                            <ul>
                                                                                <li>
                                                                                    <label class="col-md-8">Correspondence Control #:</label>
                                                                                    <label>AI/002/2017/101</label>
                                                                                </li>
                                                                                <li>
                                                                                    <label class="col-md-8">Subject:</label>
                                                                                    <label>XXXXXXXXX</label>
                                                                                </li>
                                                                                <li>
                                                                                    <label class="col-md-8">Correspondence Initiated Date:</label>
                                                                                    <label>23/12/2017</label>
                                                                                </li>
                                                                                <li>
                                                                                    <label class="col-md-8">DAAI Approval Required</label>
                                                                                    <label>
                                                                                        YES
                                                                                    </label>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 panel-content">
                                                                        <div class="content-inner">
                                                                            <ul>
                                                                                <li>
                                                                                    <label class="col-md-8">Correspondence Control #:</label>
                                                                                    <label>AI/002/2017/101</label>
                                                                                </li>
                                                                                <li>
                                                                                    <label class="col-md-8">Subject</label>
                                                                                    <label>XXXXXXXXX</label>
                                                                                </li>
                                                                                <li>
                                                                                    <label class="col-md-8">Correspondence Initiated Date:</label>
                                                                                    <label>23/12/2017</label>
                                                                                </li>
                                                                                <li>
                                                                                    <label class="col-md-8">DAAI Approval Required</label>
                                                                                    <label>
                                                                                        YES
                                                                                    </label>
                                                                                </li>
                                                                            </ul>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2 plus-min">

                                                                    </div>
                                                                </div>
                                                                <div class="row management-bottom">
                                                                    <div class="col-md-12">
                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                            Intended Recipients:
                                                                        </label>
                                                                        <div class="col-sm-9 col-form-box">
                                                                            <label class="form-values">
                                                                                Hafeez Siddique, Mohammad Mukhtar,Sadra Salim, Sadiq Sabir, Samar Sara
                                                                                ethihad@ethihad.com,customersupport@ethihad.com
                                                                            </label>
                                                                        </div>



                                                                    </div>
                                                                </div>
                                                               
                                                            </div>


                                                        </div>



                                                    </div>
                                                </div>
                                            </div><!-- panel-group -->
                                            <!-- panel-group -->

                                        </div><!-- container -->
                                    </div>



                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div id="exTab2" class="">
                                            <div class="tab-content ">
                                                <div class="tab-pane active">
                                                    <div class="x_panel">
                                                        <div class="x_content create-user-table form-69-wrapper">                                                           
                                                            <form>
                                                               
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Correspondence Form<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name of the person sending the correspondence">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Role of the person  <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                                            <option>IIC</option>
                                                                            <option>DAAI</option>
                                                                            <option>Team Member</option>
                                                                            <option>External Stakeholder</option>
                                                                            <option>Other</option>
                                                                        </select>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Others Role <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Like IIC, DAAI, Security Officer etc">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Correspondence Type<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                                            <option value="">Request</option>
                                                                            <option value="1">Clarification</option>
                                                                            <option value="2">Response</option>
                                                                            <option value="3">Safety Requirements</option>
                                                                            <option value="3">Other</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Others Type <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Other Types">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1"> DAAI Approval Required <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                                            <option>Yes</option>
                                                                            <option>No</option>
                                                                        </select>
                                                                    </div>
                                                                </div>                                                                
                                                               
                                                                
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Correspondence Content<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <textarea class="form-control" id="form-69-textarea" rows="3"></textarea>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="x_panel doc-file-tag-wr">
                                                <h4>Attachments</h4>
                                                <div class="attach-tag">
                                                    <ul>
                                                        <li>
                                                            <div class="doc-file-tag">
                                                                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                                                <a href="#">Delete</a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="doc-file-tag">
                                                                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                                                <a href="#">Delete</a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="doc-file-tag">
                                                                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                                                <a href="#">Delete</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="create-user-table add-attach">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Add Atachements<span class="text-danger">*</span></label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <div class="input-group inver-file-upload">
                                                                <input id="uploadFile" class="form-control" placeholder="Choose File" disabled="disabled">
                                                                <div class="input-group-btn">
                                                                    <div class="fileUpload btn btn-success">
                                                                        <span><i class="fa fa-upload"></i> Upload</span>
                                                                        <input id="uploadBtn" type="file" class="upload">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="create-bottom-btn">
                                                        <button type="submit" class="btn btn-save">Save and Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

