﻿@model ISM_Project.Models.InvDistributionList
@{
    ViewBag.Title = "Addnewdistributionlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Manage Email Distribution List</h2>
                                        </div>
                                        <form>
                                            <div class="scope-details">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Notifier Name:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@Model.NotifierName</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                UTC Date & Time of occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@Convert.ToDateTime(@Model.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Notifier Organization:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@Model.NotifierOrganization</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Local Date & Time of occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@Convert.ToDateTime(@Model.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="x_panel">
                                    <div class="x_content create-user-table">
                                        <div class="info-tittle">
                                            <h2>Distribution List Details:</h2>
                                        </div>
                                        @using (Html.BeginForm("Addnewdistributionlist", "Task", FormMethod.Post, new { id = "frm_distributionlist" }))
                                        {
                                            @Html.HiddenFor(m => m.InvestigationFileID, new { @type = "text", @class = "form-control hidden" })
                                            @Html.HiddenFor(m => m.EmailDistributionListID, new { @type = "text", @class = "form-control hidden" })
                                        <form>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label"> Distribution List Name  <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                   
                                                    @Html.TextBoxFor(m => m.EmailDistributionListName, new { @type = "text", @class = "form-control notifier_name" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label">Description </label>
                                                <div class="col-sm-8 col-form-box">
                                                  
                                                    @Html.TextAreaFor(m => m.EmailDistributionListDescription, new
            {
                @type = "text",
                @class = "form-control",

                @style = "height: 178px;"
            })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label">Recipients  <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @if (ViewBag.User_Info == null)
            {
                                        @Html.TextBox("Recipients_Info", "", "", new { @placeholder = "Email", @class = "form-control", @type = "text", @width = "100", @data_role = "tagsinput" })
}
else
{
                                        @Html.DropDownList("Recipients_Info", (SelectList)ViewBag.User_Info, "None", new { multiple = "multiple", data_role = "tagsinput", @class = "form-control" })
}
                                                </div>
                                            </div>
                                            @if (Convert.ToInt32(Session["roleid"]) == 4 || Convert.ToInt32(Session["roleid"]) == 7)
                                            {
                                        <div class="inver-btns" style='text-align:right'>
                                            <button type="button" class="btn btn-notify" onclick="SaveDistributionList()">Save And Update</button>
                                        </div>
                                            }
                                        </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>*@
<link href="~/css/bootstrap-tagsinput.css" rel="stylesheet" />