﻿@model ISM_Project.Models.InvEvidence
@{
    ViewBag.Title = "AddNewMovement";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<!-- Add New Evidence Movement popup -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-title">
        <h2>Evidence Movement</h2>
    </div>
</div>
<div class="modal-body" id="Movements_data">
    <small id="emailHelp" class="form-text popup_danger"></small>
    @using (Html.BeginForm("AddNewMovements", "Task", FormMethod.Post, new { id = "frm_Movement" }))
    {
        @Html.HiddenFor(m => m.InvestigationEvidenceID, new { @type = "text", @class = "form-control hidden" })
        @Html.HiddenFor(m => m.InvestigationEvidenceMovementID, new { @type = "text", @class = "form-control hidden" })
        @Html.HiddenFor(m => m.InvestigationFileID, new { @type = "text", @class = "form-control hidden" })

        <div class="closeinvestigation-wrapp">
            <div class="closeinvestigation-inner create-user-table">
                <form>

                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            Evidence Movement Type<span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @Html.DropDownListFor(m => m.EvidenceMovementType, ViewBag.Evidence_MovementType as SelectList, "Select", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">

                        </label>
                        <div class="col-sm-8 col-form-box">

                            @if (Model.EvidenceReturned == 0)
                            {
                                <input type="checkbox" value="@Model.EvidenceReturned" name="EvidenceReturned" id="EvidenceReturned">
                                <span class="rt">Returned to Orginal Custodian</span>
                            }
                            else
                            {
                                <input type="checkbox" checked="checked" value="@Model.EvidenceReturned" name="EvidenceReturned" id="EvidenceReturned">
                                <span class="rt">Returned to Orginal Custodian</span>
                            }

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Date of Movement<span class="text-danger">*</span></label>
                        <div class="col-sm-8 col-form-box">
                            <div type="date" class='input-group date_only_nofuture'>
                           
                                <input type="text" id="DateOfMovement" class="form-control" name="DateOfMovement" value="@ViewBag.DateOfMovement" />
                              
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence Received By<span class="text-danger">*</span></label>
                        <div class="col-sm-8 col-form-box">
                           
                            @Html.TextBoxFor(m => m.MPersonReceivingEvidence, new { @placeholder = "Person who received the evidence", @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Department Received<span class="text-danger">*</span></label>
                        <div class="col-sm-8 col-form-box">
                           
                            @Html.TextBoxFor(m => m.OrganizationReceivingEvidence, new { @placeholder = "Department that received the evidence", @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence Sent By<span class="text-danger">*</span></label>
                        <div class="col-sm-8 col-form-box">
                       
                            @Html.TextBoxFor(m => m.MPersonHandingOverEvidence, new { @placeholder = "Person who sent the evidence", @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">@*Department Sent By*@Organization Sent by<span class="text-danger">*</span></label>
                        <div class="col-sm-8 col-form-box">
                         
                            @Html.TextBoxFor(m => m.MOrganizationHandingOverEvidence, new { @placeholder = "Organization that sent the evidence", @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Custodian Of The Evidence<span class="text-danger">*</span></label>
                        <div class="col-sm-8 col-form-box">

                            @Html.TextBoxFor(m => m.MCustodianOfEvidence, new { @placeholder = "Person who is current custodian", @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            Shipment Mode
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @Html.DropDownListFor(m => m.LKShipmentModeID, ViewBag.Shipment_Selection as SelectList, "Select", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Comments</label>
                        <div class="col-sm-8 col-form-box">
                        
                            @Html.TextAreaFor(m => m.ShipmentDetails, new { @placeholder = "Courier agency details and bill number or airway bill number", @type = "text", @class = "form-control", @style = "height: inherit" })
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            @if (Convert.ToInt32(Session["roleid"]) == 4 && Convert.ToInt32(TempData["INV_STATUS"]) != 2 || Convert.ToInt32(Session["roleid"]) == 7)
            {
        <button type="button" class="btn btn-save" onclick="SaveMovement()">Save Evidence Movement</button>
            }
       
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('.date_only_nofuture').datetimepicker({
            format: 'DD/MM/YYYY',
            maxDate: moment().endOf('d')
        });
        $('#EvidenceReturned').change(function () {
            var n1 = document.getElementById('OrganizationHandingOverEvidence');
            var n2 = document.getElementById('MCustodianOfEvidence');
            if (this.checked) {
                n2.value = n1.value;
            } else {
                n2.value = '';
            }
            $('#EvidenceReturned').val(this.checked);
        });
    });
</script>

