﻿@model ISM_Project.Models.TaskModel
@{
    if (Session["username"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "AddTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper">
                <div class="top-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="cur" onclick="window.history.back();">Tasks</li>
                        <li class="active">Create New Task</li>
                    </ol>
                </div>
                <div class="main-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Create New Task</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content create-user-table">
                                    @using (Html.BeginForm("AddTasks", "Task", FormMethod.Post))
                                    {
                                        @Html.HiddenFor(m => m.TaskId, new { @type = "text", @class = "form-control hidden" })
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Task ID<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.TaskNumber, new { @placeholder = "Enter Task ID", required = "required", @type = "text", @class = "form-control" })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Task Name<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.TaskName, new { @placeholder = "Enter Task Name", required = "required", @type = "text", @class = "form-control" })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Task Group <span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(m => m.TaskGroupId, ViewBag.taskgroupnames as SelectList, "select", new { @class = "form-control", required = "required" })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Conducted By <span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(m => m.RoleId, ViewBag.rolenames as SelectList, "select", new { @class = "form-control", required = "required" })

                                        </div>
                                        <div id="DynamicAreaInput">
                                            
                                        </div>
                                        <div class="form-group">
                                            <label class="cur" for="exampleInputPassword1" onclick="AddInputTextBox()">Add Inputs <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                        </div>
                                        <div id="DynamicAreaOutput">

                                        </div>
                                        <div class="form-group">
                                            <label class="cur" for="exampleInputPassword1" onclick="AddOutputTextBox()">Add Outputs <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                        </div>
                                        <div id="DynamicAreaRecord">


                                        </div>
                                        <div class="form-group">
                                            <label class="cur" for="exampleInputPassword1" onclick="AddRecordTextBox()">Add Records of Reasoning <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">List of Prerequisite Tasks<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.PrerequisiteTasks, new { @placeholder = "Enter Prerequisite Tasks", required = "required", @type = "text", @class = "form-control" })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Estimated Completion Date<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.EstimatedCompletionDate, "{0:yyyy-MM-dd}", new { @placeholder = "Enter Estimated Completion Date", required = "required", @type = "date", @class = "form-control" })

                                        </div>
                                        <div class="create-bottom-btn">
                                            <button type="submit" class="btn btn-save">Save</button>
                                            <button class="btn btn-cancel" onclick="window.history.back();">Cancel</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">

    var inputArray;
    var outputArray;
    var recordArray;

        $(document).ready(function () {
            var totalArray = @Html.Raw(Json.Encode(Model));
            console.log(totalArray);
                inputArray = totalArray.Inputs;
                outputArray = totalArray.Outputs;
                recordArray = totalArray.Records;
               

                if (inputArray != null) {
                    $("#DynamicAreaInput").append(GetDynamicInputTextBox(inputArray.length));
                }
                if (outputArray != null) {
                    
                    $("#DynamicAreaOutput").append(GetDynamicOuputTextBox(outputArray.length));
                }
                if (recordArray != null) {
                    
                    $("#DynamicAreaRecord").append(GetDynamicRecordTextBox(recordArray.length));
                }
        });

        function GetDynamicInputTextBox(count) {
            $("#DynamicAreaInput").html("");
            var dynDiv = "";
            for (var i = 0; i < count; i++) {
                if (inputArray) {
                    if (i < inputArray.length) {

                        dynDiv += '<div class="form-group"><div class="row"><div class="col-md-9"> <small>Input</small> <input class="form-control" id="Inputs_' + i + '__InputName" name="Inputs[' + i + '].InputName" placeholder="Enter Input" required="required" type="text" value=' + inputArray[i].InputName + '></div><div class="col-md-3"><br><button type="button" class="btn btn-danger btn-number" onclick="RemoveInputTextBox(this,' + i + ')" data-type="minus"><span class="glyphicon glyphicon-minus"></span></button></div></div></div>';
                    }
                    else {

                        dynDiv += '<div class="form-group"><div class="row"><div class="col-md-9"> <small>Input</small> <input class="form-control" id="Inputs_' + i + '__InputName" name="Inputs[' + i + '].InputName" placeholder="Enter Input" required="required" type="text" value=""></div><div class="col-md-3"><br><button type="button" class="btn btn-danger btn-number" onclick="RemoveInputTextBox(this,' + i + ')" data-type="minus"><span class="glyphicon glyphicon-minus"></span></button></div></div></div>';
                    }
                }
                else {

                    dynDiv += '<div class="form-group"><div class="row"><div class="col-md-9"> <small>Input</small> <input class="form-control" id="Inputs_' + i + '__InputName" name="Inputs[' + i + '].InputName" placeholder="Enter Input" required="required" type="text" value=""></div><div class="col-md-3"><br><button type="button" class="btn btn-danger btn-number" onclick="RemoveInputTextBox(this,' + i + ')" data-type="minus"><span class="glyphicon glyphicon-minus"></span></button></div></div></div>';
                }


            }
            return dynDiv;
         }

        function AddInputTextBox() {
            saveInputArray(-1);
            var count = $("#DynamicAreaInput").children().length + 1;
            var div = GetDynamicInputTextBox(count);
            $("#DynamicAreaInput").append(div);
        }

        function RemoveInputTextBox(button,index) {
            saveInputArray(index);
            var count = $("#DynamicAreaInput").children().length - 1;
            $(button).closest('.form-group').remove();
            var div = GetDynamicInputTextBox(count);
            $("#DynamicAreaInput").append(div);
        }

        function saveInputArray(index) {
            var tempArry = [];
            var v1;
            for (var i = 0; i < $("#DynamicAreaInput").children().length; i++) {
                if (index != i || index==-1) {
                    v1 = $("#Inputs_" + i + "__InputName").val();
                    tempArry.push({ "InputName": v1 });
                }

            }
            inputArray=tempArry;

        } //region Inputs

        function GetDynamicOuputTextBox(count) {
            $("#DynamicAreaOutput").html("");

            var dynDiv = "";
            for (var i = 0; i < count; i++) {
                if (outputArray) {
                    if (i < outputArray.length) {

                        dynDiv += '<div class="form-group"><div class="row"><div class="col-md-9"> <small>Output</small> <input class="form-control" id="Outputs_' + i + '__OutputName" name="Outputs[' + i + '].OutputName" placeholder="Enter Output" required="required" type="text" value=' + outputArray[i].OutputName + '></div><div class="col-md-3"><br><button type="button" class="btn btn-danger btn-number" onclick="RemoveOutputTextBox(this,' + i + ')" data-type="minus"><span class="glyphicon glyphicon-minus"></span></button></div></div></div>';
                    }
                    else {

                        dynDiv += '<div class="form-group"><div class="row"><div class="col-md-9"> <small>Output</small> <input class="form-control" id="Outputs_' + i + '__OutputName" name="Outputs[' + i + '].OutputName" placeholder="Enter Output" required="required" type="text" value=""></div><div class="col-md-3"><br><button type="button" class="btn btn-danger btn-number" onclick="RemoveOutputTextBox(this,' + i + ')" data-type="minus"><span class="glyphicon glyphicon-minus"></span></button></div></div></div>';
                    }
                }
                else {

                    dynDiv += '<div class="form-group"><div class="row"><div class="col-md-9"> <small>Output</small> <input class="form-control" id="Outputts_' + i + '__OutputName" name="Outputs[' + i + '].OutputName" placeholder="Enter Output" required="required" type="text" value=""></div><div class="col-md-3"><br><button type="button" class="btn btn-danger btn-number" onclick="RemoveOutputTextBox(this,' + i + ')" data-type="minus"><span class="glyphicon glyphicon-minus"></span></button></div></div></div>';
                }


            }
            return dynDiv;
        }

        function AddOutputTextBox() {
            saveOutputArray(-1);
            var count = $("#DynamicAreaOutput").children().length + 1;
            var div = GetDynamicOuputTextBox(count);
            $("#DynamicAreaOutput").append(div);
        }

        function RemoveOutputTextBox(button, index) {
            saveOutputArray(index);
            var count = $("#DynamicAreaOutput").children().length - 1;
            $(button).closest('.form-group').remove();
            var div = GetDynamicOuputTextBox(count);
            $("#DynamicAreaOutput").append(div);
        }

        function saveOutputArray(index) {
            var tempArry = [];
            var v1;
            for (var i = 0; i < $("#DynamicAreaOutput").children().length; i++) {
                if (index != i || index == -1) {
                    v1 = $("#Outputs_" + i + "__OutputName").val();
                    tempArry.push({ "OutputName": v1 });
                }

            }
            outputArray = tempArry;

        } //region Outputs

        function GetDynamicRecordTextBox(count) {
            $("#DynamicAreaRecord").html("");
            var dynDiv = "";

            debugger;
            for (var i = 0; i < count; i++) {
                if (recordArray) {
                    if (i < recordArray.length) {

                        dynDiv += '<div class="form-group"><div class="row"><div class="col-md-9"> <small>Records of Reasoning</small> <input class="form-control" id="Records_' + i + '__RecordName" name="Records[' + i + '].RecordName" placeholder="Enter Records of Reasoning" required="required" type="text" value=' + recordArray[i].RecordName + '></div><div class="col-md-3"><br><button type="button" class="btn btn-danger btn-number" onclick="RemoveRecordTextBox(this,' + i + ')" data-type="minus"><span class="glyphicon glyphicon-minus"></span></button></div></div></div>';
                    }
                    else {

                        dynDiv += '<div class="form-group"><div class="row"><div class="col-md-9"> <small>Records of Reasoning</small> <input class="form-control" id="Records_' + i + '__RecordName" name="Records[' + i + '].RecordName" placeholder="Enter Records of Reasoning" required="required" type="text" value=""></div><div class="col-md-3"><br><button type="button" class="btn btn-danger btn-number" onclick="RemoveRecordTextBox(this,' + i + ')" data-type="minus"><span class="glyphicon glyphicon-minus"></span></button></div></div></div>';
                    }
                }
                else {

                    dynDiv += '<div class="form-group"><div class="row"><div class="col-md-9"> <small>Records of Reasoning</small> <input class="form-control" id="Records_' + i + '__RecordName" name="Records[' + i + '].RecordName" placeholder="Enter Records of Reasoning" required="required" type="text" value=""></div><div class="col-md-3"><br><button type="button" class="btn btn-danger btn-number" onclick="RemoveRecordTextBox(this,' + i + ')" data-type="minus"><span class="glyphicon glyphicon-minus"></span></button></div></div></div>';
                }


            }
            return dynDiv;
        }

        function AddRecordTextBox() {
            saveRecordArray(-1);
            var count = $("#DynamicAreaRecord").children().length + 1;
            var div = GetDynamicRecordTextBox(count);
            $("#DynamicAreaRecord").append(div);
        }

        function RemoveRecordTextBox(button, index) {
            saveRecordArray(index);
            var count = $("#DynamicAreaRecord").children().length - 1;
            $(button).closest('.form-group').remove();
            var div = GetDynamicRecordTextBox(count);
            $("#DynamicAreaRecord").append(div);
        }

        function saveRecordArray(index) {
            var tempArry = [];
            var v1;
            for (var i = 0; i < $("#DynamicAreaRecord").children().length; i++) {
                if (index != i || index == -1) {
                    v1 = $("#Records_" + i + "__RecordName").val();
                    tempArry.push({ "RecordName": v1 });
                }

            }
            recordArray = tempArry;

        }  //region Records

</script>


