﻿
@{
    ViewBag.Title = "Assigning_team_members_inv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="x_panel occurrence-top">
                        <div class="col-md-2 back-side">
                            <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("View_Inv_Prg", "Task")'">Back to Task Group</button>
                        </div>
                        <div class="col-md-8 scope">
                            <h2>AIFN/001/2018</h2>
                            <p class="occ-status"></p>
                        </div>
                        <div class="col-md-2 table-top-items">
                        
                        </div>
                    </div>
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Assigning Team Members</h2>
                                        </div>
                                        <form>
                                            <div class="row scope-details">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Name:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">ABC</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            UTC Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">27-01-2017 09:45</label>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Organization:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">XXXX</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Local Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">27-01-2017 09:45</label>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="task-scope-wrapp">
                                        <div class="info-tittle">
                                            <div class="col-md-12 scope no-padding">
                                                <div class="assign-content">
                                                    <h2>Event 17: Review of operations documents</h2>
                                                    <p><b>Pre-Condition: Event 3 must be finished before this task can start</b></p>
                                                    <p>status of Event 3- Not finished</p>
                                                </div>
                                                <div class="assign-content">
                                                    <h3>Task Details</h3>
                                                    <p>1.Review all the documents obtained from the operator and summarize thepertinent information</p>
                                                    <p>2.Review all the documents obtained from the civil aviation authority and summarize the pertinent information</p>
                                                    <p>3.Compile in chronological order, the history for each flight crew member and the operator</p>
                                                </div>
                                                <div class="assign-content">
                                                    <h3>Assign Team Member</h3>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Investigation Group:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">Operations Team Member</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Required Skills:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values"> Language Proficiencey,Logical Reasoning</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6"> </div>


                                                </div>

                                                <table class="table table-bordered table-hover table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="3" scope="colgroup">Suggestion</th>
                                                            <th></th>
                                                            <th>
                                                                <input type="text" placeholder="Search.." name="search">
                                                                <button type="submit"><i class="fa fa-search"></i></button>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th></th>
                                                            <th>Name</th>
                                                            <th>Current Cases</th>
                                                            <th>Profile/Skills</th>
                                                            <th>Assign</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td>Hafiz Siddique</td>
                                                            <td>1</td>
                                                            <td> <a href="#" data-target="#incharge-popup" data-toggle="modal">View profile</a></td>
                                                            <td>  <input type="radio" name="assign"></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>Abdul Hakim</td>
                                                            <td>2</td>
                                                            <td> <a href="#" data-target="#incharge-popup" data-toggle="modal">View profile</a></td>
                                                            <td>  <input type="radio" name="assign"></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>Hasna Hussain</td>
                                                            <td>3</td>
                                                            <td> <a href="#" data-target="#incharge-popup" data-toggle="modal">View profile</a></td>
                                                            <td>  <input type="radio" name="assign"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="x_panel openfile-btns">
                                                    <button type="submit" class="btn btn-close" onclick="location.href='@Url.Action("TaskGroup", "task")'">Assign Team member</button>
                                                </div>
                                            </div>

                                        </div>
                                      

                                    </div>
                                </div>
                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="incharge-popup" class="modal fade incharge-popup" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:50%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Name</h4>
            </div>
            <div class="modal-body">
                <div class="incharge-wrapp">
                    <div class="row">
                        <div class="col-md-3"><label>Certifications</label></div>
                        <div class="col-md-6">
                            <div class="certi-details">
                                <ul>
                                    <li><div class="ct-details"><span>Aircraft Performance investigation API</span></div></li>
                                    <li><div class="ct-details"><span>SCSI Certificate</span></div></li>
                                    <li><div class="ct-details"><span>DOD Aviation Safety and Accident Investigation Certificate</span></div></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="certi-details">
                                <ul>
                                    <li><span>Valid Till - 25/02/2018</span></li>
                                    <li><span>Valid Till - 25/03/2018</span></li>
                                    <li><span>Valid Till - 25/04/2018</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Skills</label></div>
                        <div class="col-md-8">
                            <div class="certi-details">
                                <ul>
                                    <li>Aerodynamics Expert</li>
                                    <li>Systems Expert</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3"><label></label></div>
                        <div class="col-md-7">
                            <table class="table table-bordered table-hover table-hover" style="margin-left: 10px;">
                                <thead>
                                    <tr>
                                        <th>Ongoing Cases</th>
                                        <th>Role</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>AIFN/001/2018</td>
                                        <td>Team Member</td>

                                    </tr>
                                    <tr>
                                        <td>AIFN/0002/2018</td>
                                        <td>IIC</td>
                                    </tr>
                                    <tr>
                                        <td>AIFN/0003/2018</td>
                                        <td>Team Member</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Total number of Experience</label></div>
                        <div class="col-md-9">
                            <div class="certi-details">
                                <ul>
                                    <li>5 years</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="submit" class="btn btn-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

