﻿@model ISM_Project.Models.InvScope
@{
    ViewBag.Title = "Assigning_team_members_Removal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Re-Assigning Team Member</h2>
                                        </div>
                                        <form>
                                            <div class="row scope-details">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Name:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierName </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            UTC Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Organization:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierOrganization</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Local Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                @using (Html.BeginForm("Assigning_team_members_Removal", "Task", FormMethod.Post, new { id = "formReAssigning_team_members" }))
                                {
                                    @Html.HiddenFor(m => m.InvestigationTaskGroupEventID, new { @type = "text", @class = "form-control hidden" })
                                    @Html.HiddenFor(m => m.InvestigationId, new { @type = "text", @class = "form-control hidden" })
                                    @Html.HiddenFor(m => m.ControlFrom, new { @type = "text", @class = "form-control hidden" })
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="col-md-12 scope no-padding">
                                                <div class="info-tittle">

                                                    @*<h2>Event 17: Review of operations documents</h2>*@

                                                    <h2>@Model.InvestigationTaskGroupEventName : @Model.InvestigationTaskGroupName</h2>

                                                </div>
                                                @*@if (@Model.EventUniqueName != null)
                                                {
                                                    <div class="status-warn">

                                                     
                                                        <p>Pre-Condition: @Model.EventUniqueName must be finished before this task can start</p>
                                                        <p>Status of @Model.EventUniqueName - @Model.PreTaskEventStatus</p>

                                                    </div>
                                                }*@
                                                <div class="assign-content">
                                                    <div class="info-tittle">
                                                        <h2>Task Details</h2>
                                                    </div>
                                                    <div class="status-warn">


                                                        @{int i = 1;}

                                                        @foreach (ISM_Project.Models.USP_VIEW_INVESTIGATION_TASKDETAILS_Result taskdet in ViewBag.taskdetails)
                                                        {
                                                            <p>@i . @taskdet.InvestigationEventFieldName</p>

                                                            i++;
                                                        }
                                                        @*}*@
                                                    </div>
                                                </div>
                                                <div class="assign-content">
                                                    <div class="info-tittle">
                                                        <h2>Re-Assign Team Member</h2>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8">

                                                            <div class="form-group">
                                                                @*<label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                        Already Assigned Team Members Name :
                                                                    </label>
                                                                    <div class="col-sm-6 col-form-box">
                                                                        @for (int i = 0; i < Model.multipleTeammemberName.Count(); i++)
                                                                        {

                                                                        <label class="form-values">@Model.multipleTeammemberName[i]</label>
                                                                        }
                                                                    </div>
                                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                        Already Assigned Team Members Role :
                                                                    </label>
                                                                    <div class="col-sm-6 col-form-box">
                                                                        @for (int j = 0; j < Model.multipleTeammemberRole.Count(); j++)
                                                                        {
                                                                    <label class="form-values">@Model.multipleTeammemberRole[j] </label>
                                                                        }
                                                                    </div>*@
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Expected Completion date:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">@Convert.ToDateTime(Model.DateTimeofCompletion).ToString("dd/MM/yyyy")</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1"> Reason For Removal :<span class="text-danger">*</span></label>
                                                                <div class="col-sm-8 col-form-box event-desc">
                                                                    @Html.TextAreaFor(m => m.ReasonForTeammemberRemoval, new
                                                               {
                                                                   @placeholder = "",
                                                                   @type = "text",
                                                                   @class = "form-control",

                                                                   @style = "height: 178px; margin: 0px -72.3264px 0px 0px; width: 647px;"
                                                               })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h2>Current Team Members</h2>
                                            <table class="table table-bordered table-hover" id="currentmembers">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Current Cases</th>
                                                        <th>View Profile</th>
                                                        <th>Remove</th>
                                                    </tr>
                                                </thead>
                                                @*<tbody>

                                                                                                            @foreach (ISM_Project.Models.USP_VIEW_TOTALNOOF_CASE_Result Team in ViewBag.TeamMembers)
                                                            {
                                                                                                    <tr>
                                                                                                        <td>@Team.FirstName</td>
                                                                                                        <td>@Team.noofcases</td>


                                                                                                        <td>
                                                                                                            <label class="form-values"><a href="" id="TeamMemberId_@Team.UserID " class="iicprofile" data-iic="@Html.DisplayFor(ModelItem => Team.UserID)" data-toggle="modal">View Profile</a></label>
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <input type="checkbox" id="TeamMemberId_" name="TeamMemberId[]" value="@Team.UserID">
                                                                                                        </td>
                                                                                                    </tr>
                                                    }
                                                                                                        </tbody>*@
                                                <tbody>

                                                    @foreach (ISM_Project.Models.USP_VIEW_ASSIGNED_TEAM_MEMBERS_EVENT_Result Team in ViewBag.assigned_team)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.LabelFor(ModelItem => Team.FirstName, Team.FirstName + " " + Team.MiddleName + " " + Team.LastName, new { @title = Team.FirstName + " " + Team.MiddleName + " " + Team.LastName })
                                                            </td>
                                                            <td>@Team.noofcases</td>
                                                            <td>
                                                                <label class="form-values"><a href="" id="TeamMemberId_@Team.UserID " class="iicprofile dashboardlink" data-iic="@Html.DisplayFor(ModelItem => Team.UserID)" data-toggle="modal">View Profile</a></label>
                                                            </td>
                                                            <td>
                                                                <input type="checkbox" id="multipleAssignedTeam_mbr_id_" name="multipleAssignedTeam_mbr_id[]" value="@Team.UserID">
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                            <h2>Add Team Members</h2>
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Current Cases</th>
                                                        <th>View Profile</th>
                                                        <th>Assign</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (ISM_Project.Models.USP_VIEW_UNASSIGNED_TEAM_MEMBERS_EVENT_Result Team1 in ViewBag.unassigned_team)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.LabelFor(ModelItem => Team1.FirstName, Team1.FirstName + " " + Team1.MiddleName + " " + Team1.LastName, new { @title = Team1.FirstName + " " + Team1.MiddleName + " " + Team1.LastName })

                                                            </td>
                                                            <td>@Team1.noofcases</td>


                                                            <td>
                                                                <label class="form-values"><a href="" id="TeamMemberId_@Team1.UserID " class="iicprofile dashboardlink" data-iic="@Html.DisplayFor(ModelItem => Team1.UserID)" data-toggle="modal">View Profile</a></label>
                                                            </td>
                                                            <td>
                                                                <input type="checkbox" id="multipleUnassignedTeam_mbr_id_" name="multipleUnassignedTeam_mbr_id[]" value="@Team1.UserID">
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                            <div>
                                                <button type="button" class="btn btn-save" style="float:left" id="BtnRemoveEvent">Un-Assign Sub-Task</button>
                                            </div>

                                            <div class="unassignBtn-btns">
                                                <button type="button" style="float:right;" class="btn btn-save" id="BtnReAssignTeammember">Remove / Re-Assign Team member</button>
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- sumitted form btns -->
                        <!-- sumitted form btns -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="iic_assignedpopup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:75%">

        <!-- Modal content-->
        <div class="modal-content" id="profile_data">


            <div class="modal-footer">

                <button type="submit" class="btn btn-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

