﻿@model ISM_Project.Models.InvScope
@{
    ViewBag.Title = "Assigning_team_members";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int checkboxcount = 0;
}
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                  
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Assigning Team Members</h2>
                                        </div>
                                        <form>
                                            <div class="row scope-details">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Name:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierName </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            UTC Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                        </div>
                                                    </div>
                                               
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Organization:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierOrganization</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Local Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                        </div>
                                                    </div>
                                                 
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                @using (Html.BeginForm("Assigning_team_members", "Task", FormMethod.Post, new { id = "formAssigning_team_members" }))
                                {
                                    @Html.HiddenFor(m => m.InvestigationTaskGroupEventID, new { @type = "text", @class = "form-control hidden" })
                                    @Html.HiddenFor(m => m.InvestigationId, new { @type = "text", @class = "form-control hidden" })
                                    @Html.HiddenFor(m => m.ControlFrom, new { @type = "text", @class = "form-control hidden" })
                                    @Html.HiddenFor(m => m.UniqueNumber, new { @type = "text", @class = "form-control hidden" })
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="col-md-12 scope no-padding">
                                                <div class="info-tittle">

                                                    @*<h2>Event 17: Review of operations documents</h2>*@

                                                    <h2>SubTask @Model.InvestigationTaskGroupEventName.Remove(0,5) : @Model.InvestigationTaskGroupName</h2>

                                                </div>
                                                @*@if (@Model.EventUniqueName != null)
                                                {
                                                    <div class="status-warn">

                                                      
                                                        <p>Pre-Condition: @Model.EventUniqueName must be finished before this task can start</p>
                                                        <p>Status of @Model.EventUniqueName - @Model.PreTaskEventStatus</p>

                                                    </div>
                                                }*@
                                                <div class="assign-content">
                                                    <div class="info-tittle">
                                                        <h2>Task Details</h2>
                                                    </div>
                                                    <div class="status-warn">
                                                  

                                                        @{int i = 1;}

                                                        @foreach (ISM_Project.Models.USP_VIEW_INVESTIGATION_TASKDETAILS_Result taskdet in ViewBag.taskdetails)
                                                        {
                                                            <p>@i . @taskdet.InvestigationEventFieldName</p>

                                                            i++;
                                                        }
                                                        @*}*@
                                                    </div>
                                                </div>
                                                <div class="assign-content">
                                                    <div class="info-tittle">
                                                        <h2>Assign Team Member</h2>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Investigation Group:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">@Model.InvestigationGroup</label>
                                                                </div>
                                                            </div>
                                                      


                                                        

                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Expected date of completion:<span class="text-danger">*</span></label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <div type="date" class="input-group noPastDate">
                                                                        <input type="text" id="DateTimeofCompletion" class="form-control" name="DateTimeofCompletion" value="@ViewBag.DateTimeof_Completion">
                                                                        <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                    <small id="emailHelp" class="form-text text-muted"></small>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Current Cases</th>
                                                            <th>View Profile</th>
                                                            <th>Email ID</th>
                                                            <th>Assign</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                   

                                                        @foreach (ISM_Project.Models.USP_VIEW_TOTALNOOF_CASE_Result Team in ViewBag.TeamMembers)
                                                        {
                                                            checkboxcount++;
                                                        <tr>
                                                            <td>
                                                                @Html.LabelFor(ModelItem => Team.FirstName, Team.FirstName + " " + Team.MiddleName + " " + Team.LastName, new { @title = Team.FirstName + " " + Team.MiddleName + " " + Team.LastName })
                                                            </td>
                                                            <td>@Team.noofcases</td>

                                                            @*<a href="#" data-target="#incharge-popup" data-toggle="modal">View profile</a>*@
                                                            <td>
                                                                <label class="form-values"><a href="" id="TeamMemberId_@Team.UserID " class="iicprofile dashboardlink" data-iic="@Html.DisplayFor(ModelItem => Team.UserID)" data-toggle="modal">View Profile</a></label>
                                                            </td>
                                                            <td>@Team.EmailAddress</td>
                                                            <td>
                                                                @*<input type="radio" id="TeamMemberId" name="TeamMemberId" value="@Team.UserID">*@
                                                                <input type="checkbox" id="TeamMemberId_@checkboxcount" name="TeamMemberId[]" value="@Team.UserID">
                                                            </td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                <div class="openfile-btns">

                                                    @*<button type="button" class="btn btn-save" id="BtnAssignTeammember">Assign Team member</button>*@
                                                    <button type="button" class="btn btn-save" id="BtnMultipleAssignTeammember">Assign Team member</button>
                                                </div>
                                            </div>
                                          

                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="iic_assignedpopup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:75%">

        <!-- Modal content-->
        <div class="modal-content" id="profile_data">


            <div class="modal-footer">

                <button type="submit" class="btn btn-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

