﻿@model ISM_Project.Models.InvScope
@{
    ViewBag.Title = "Assigning_team_members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">

                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Changing Completion Date</h2>
                                        </div>
                                        <form>
                                            <div class="row scope-details">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Name:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierName </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            UTC Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Organization:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierOrganization</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Local Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                @using (Html.BeginForm("ChangeCompletionDate", "Task", FormMethod.Post, new { id = "formChange_CompletionDate" }))
                                {
                                    @Html.HiddenFor(m => m.InvestigationTaskGroupEventID, new { @type = "text", @class = "form-control hidden" })
                                    @Html.HiddenFor(m => m.InvestigationId, new { @type = "text", @class = "form-control hidden" })
                                    @Html.HiddenFor(m => m.ControlFrom, new { @type = "text", @class = "form-control hidden" })
                                    @Html.HiddenFor(m => m.UniqueNumber, new { @type = "text", @class = "form-control hidden" })
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="col-md-12 scope no-padding">
                                                <div class="info-tittle">
                                                    @*<h2>Event 17: Review of operations documents</h2>*@
                                                    <h2>@Model.InvestigationTaskGroupEventName : @Model.InvestigationTaskGroupName</h2>
                                                </div>
                                                @if (@Model.EventUniqueName != null)
                                                {
                                                    <div class="status-warn">
                                                        @*<p>Pre-Condition: Event 3 must be finished before this task can start</p>
                                                            <p>Status of Event 3- NOT FINISHED</p>*@
                                                        <p>Pre-Condition: @Model.EventUniqueName must be finished before this task can start</p>
                                                        <p>Status of @Model.EventUniqueName - @Model.PreTaskEventStatus</p>
                                                    </div>
                                                }
                                                <div class="assign-content">
                                                    <div class="info-tittle">
                                                        <h2>Task Details</h2>
                                                    </div>
                                                    <div class="status-warn">
                                                        @{int i = 1;}
                                                        @foreach (ISM_Project.Models.USP_VIEW_INVESTIGATION_TASKDETAILS_Result taskdet in ViewBag.taskdetails)
                                                        {
                                                            <p>@i . @taskdet.InvestigationEventFieldName</p>

                                                            i++;
                                                        }
                                                        @*}*@
                                                    </div>
                                                </div>
                                                <div class="assign-content">
                                                    <div class="info-tittle">
                                                        <h2>Change Completion Date</h2>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            @*<div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Investigation Group:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">@Model.InvestigationGroup</label>
                                                                </div>
                                                            </div>*@
                                                            @*<div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Existing Completion Date
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">@Convert.ToDateTime(Model.DateTimeofCompletion).ToString("dd/MM/yyyy")</label>
                                                                </div>
                                                            </div>*@
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Expected date of completion:<span class="text-danger">*</span></label>
                                                                <div class="col-sm-4 col-form-box" style="margin-top:10px;">
                                                                    <div type="date" class="input-group noPastDate_change">
                                                                        <input type="text" id="DateTimeofCompletion" class="form-control" name="DateTimeofCompletion" value="@ViewBag.DateTimeofCompletion">
                                                                        <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                    <small id="emailHelp" class="form-text text-muted"></small>
                                                                </div>
                                                            </div>
                                                            <h2>Current Team Members</h2>
                                                            <table class="table table-bordered table-hover" id="currentmembers">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Name</th>
                                                                        <th>Current Cases</th>
                                                                        <th>View Profile</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (ISM_Project.Models.USP_VIEW_ASSIGNED_TEAM_MEMBERS_EVENT_Result Team in ViewBag.assigned_team)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.LabelFor(ModelItem => Team.FirstName, Team.FirstName + " " + Team.MiddleName + " " + Team.LastName, new { @title = Team.FirstName + " " + Team.MiddleName + " " + Team.LastName })
                                                                            </td>
                                                                            <td>@Team.noofcases</td>
                                                                            <td>
                                                                                <label class="form-values"><a href="" id="TeamMemberId_@Team.UserID " class="iicprofile dashboardlink" data-iic="@Html.DisplayFor(ModelItem => Team.UserID)" data-toggle="modal">View Profile</a></label>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="openfile-btns">
                                                    @*<button type="button" class="btn btn-save" id="BtnAssignTeammember">Assign Team member</button>*@
                                                    <button type="submit" class="btn btn-save" id="btnChangeDate">Change Completion Date</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="iic_assignedpopup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:75%">

        <!-- Modal content-->
        <div class="modal-content" id="profile_data">


            <div class="modal-footer">

                <button type="submit" class="btn btn-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

