﻿@model ISM_Project.Models.InvestigationModel
@{
    ViewBag.Title = "CloseInvestigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Investigation Closure </h2>
                                        </div>
                                        <form>
                                            <div class="row scope-details">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Name:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierName </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            UTC Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Organization:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierOrganization</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Local Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                @using (Html.BeginForm("CloseInvestigation", "Task", FormMethod.Post, new { id = "frm_UpdateCloseInvestigation" }))
                                {
                                    @Html.HiddenFor(m => m.InvestigationFileID, new { @type = "text", @class = "form-control hidden" })
                                    @Html.HiddenFor(m => m.InvestigationClosureDetailID, new { @type = "text", @class = "form-control hidden" })
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="col-md-12 scope no-padding">

                                                <div class="assign-content">
                                                    <div class="info-tittle">
                                                        <h2>Investigation Closure Details</h2>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                                    Investigation Closure Recommended By :
                                                                </label>
                                                                <div class="col-sm-8 col-form-box">
                                                                    <label class="form-values">@Model.InvestigationClosureRecommendedBy </label>
                                                                </div>
                                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                                    Investigation Closure Recommended Date :
                                                                </label>
                                                                <div class="col-sm-8 col-form-box">
                                                                    <label class="form-values">@Model.InvestigationClosureRecommendedDate </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1"> Investigation Closure Reason :<span class="text-danger"></span></label>
                                                                <div class="col-sm-8 col-form-box">
                                                                    @*@Html.TextAreaFor(m => m.InvestigationClosureReason, new
                                                                        {
                                                                            @placeholder = "",
                                                                            @type = "text",
                                                                            @class = "form-control",
                                                                            //@disabled = "disabled",

                                                                        })*@

                                                                    <label class="form-values">@Model.InvestigationClosureReason </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Investigation Closure Status : <span class="text-danger">*</span></label>
                                                                <div class="col-sm-8 col-form-box">
                                                                    @Html.DropDownListFor(m => m.InvestigationClosureStatusId, ViewBag.ClosureStatus as SelectList, "Select", new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="openfile-btns">
                                                    <button type="button" class="btn btn-save" onclick="UpdateCloseInvestigation()">Save & Notify </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
