﻿@model ISM_Project.Models.IIC
@{
    ViewBag.Title = "CorrespondenceDetailList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper investigation-scope-wrapper">
                <div class="main-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_content form-create-user-table">
                                    <div class="info-tittle">
                                        <h2>Correpondence Management</h2>
                                    </div>
                                    <form>
                                        <div class="scope-details">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Investigation Id:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">AIFN/001/2018</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Assigned To:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">Hussain(TM)</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            UTC Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">18-01-2018 15:21</label>
                                                        </div>
                                                    </div>
                                                   

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Assigned By:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">Hakkem</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Local Date & Time of Occurrence
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">18-01-2018 15:21</label>
                                                        </div>
                                                    </div>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="x_panel">
                                <div class="x_content form-create-user-table">
                                    <div class="info-tittle">
                                        <h2>Correspondence Details</h2>
                                    </div>
                                    <div class="investigation-wrapper">
                                        <div class="investigation-panel">
                                            <div class="x_content form-create-user-table">

                                                <div class="scope-details">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Correspondence Control #:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">AIFN/001/2018</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Subject:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">XXXXXX</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Correspondence Initiated Date:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">23/12/2017</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">

                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    DAAI Approval Required :
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">YES</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">

                                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                                  Intented Recipients:
                                                                </label>
                                                                <div class="col-sm-8 col-form-box">
                                                                    <label class="form-values">Hafeez Siddique,Muhammed,Sadira Salim,Yusuf,Hafeesu</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Correspondence Type:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">Request</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Correspondence Tags:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">XXXXXX</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Last Correspondence Date:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">23/12/2017</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    DAAI Approval Required :
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">YES</label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="obtain-wrapper">
                                                </div> <div class="sub-sav-btn occ-new ">
                                                    <button type="submit" class="btn btn-addnew"><i class="fas fa-plus"></i> Add New</button>
                                                </div>

                                            </div>


                                            <!-- panel-group -->
                                            <div class="correspondence-panel-wr">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading common-panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="panel-title">
                                                                <a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                                                    AI/001/2018/177
                                                                </a>
                                                            </div>
                                                            <div class="plus-min">
                                                                <i class="more-less fas fa-chevron-down"></i>
                                                            </div>
                                                        </div>
                                                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                <div class="panel-body-content">
                                                                    <div class="col-md-12">
                                                                        <div class="row">
                                                                            <div class="content-inner">
                                                                                <ul>
                                                                                    <li>
                                                                                        <h3>From :</h3>
                                                                                        <span class="form-values">Hafiz Siddique</span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <h3>Subject:</h3>
                                                                                        <span class="form-values">XXXXXX</span>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="content-air">
                                                                        <p>
                                                                            A Qatar Airways Airbus A350-900, registration A7-AMB performing flight QR-59 from Doha (Qatar) to Munich (Germany), was descending towards Munich when the crew reported a hydraulic failure and advised they would probably need to stop on the runway being unable to taxi. The airport dispatched emergency services and a tow truck to the runway. The aircraft continued for a safe landing, gear doors open, on runway 26L. The crew advised they were indeed not able to vacate the runway, the tow crew advised they were unable to tow the aircraft due to the open gear doors that needed to first be taken care of
                                                                        </p>
                                                                        <p>
                                                                            A Qatar Airways Airbus A350-900, registration A7-AMB performing flight QR-59 from Doha (Qatar) to Munich (Germany), was descending towards Munich when the crew reported a hydraulic failure and advised they would probably need to stop on the runway being unable to taxi.
                                                                        </p>
                                                                        <p>
                                                                            A Qatar Airways Airbus A350-900, registration A7-AMB performing flight QR-59 from Doha (Qatar) to Munich (Germany), was descending towards Munich when the crew reported a hydraulic failure and advised they would probably need to stop on the runway being unable to taxi. The airport dispatched emergency services and a tow truck to the runway. The aircraft continued for a safe landing, gear doors open, on runway 26L. The crew advised they were indeed not able to vacate the runway, the tow crew advised they were unable to tow the aircraft due to the open gear doors that needed to first be taken care of
                                                                        </p>
                                                                    </div>
                                                                    <div class="doc-file-tag-wr">
                                                                        <div class="info-tittle">
                                                                            <h2>2.Attachments</h2>
                                                                        </div>
                                                                        <div class="attach-tag-r">
                                                                            <ul>
                                                                                <li>
                                                                                    <div class="doc-file-tag">
                                                                                        <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                                                                        <a href="#">Download</a>
                                                                                    </div>
                                                                                    <div class="doc-file-tag">
                                                                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                                                                        <a href="#">Download</a>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading common-panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="panel-title">
                                                                <a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                                                    AI/001/2018/022
                                                                </a>
                                                            </div>
                                                            <div class="plus-min">
                                                                <i class="more-less fas fa-chevron-down"></i>
                                                            </div>
                                                        </div>
                                                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                <div class="panel-body-content">
                                                                    <div class="col-md-12">
                                                                        <div class="row">
                                                                            <div class="content-inner">
                                                                                <ul>
                                                                                    <li>
                                                                                        <h3>From :</h3>
                                                                                        <span class="form-values">Hafiz Siddique</span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <h3>Subject:</h3>
                                                                                        <span class="form-values">XXXXXX</span>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="content-air">
                                                                        <p>
                                                                            A Qatar Airways Airbus A350-900, registration A7-AMB performing flight QR-59 from Doha (Qatar) to Munich (Germany), was descending towards Munich when the crew reported a hydraulic failure and advised they would probably need to stop on the runway being unable to taxi. The airport dispatched emergency services and a tow truck to the runway. The aircraft continued for a safe landing, gear doors open, on runway 26L. The crew advised they were indeed not able to vacate the runway, the tow crew advised they were unable to tow the aircraft due to the open gear doors that needed to first be taken care of
                                                                        </p>
                                                                        <p>
                                                                            A Qatar Airways Airbus A350-900, registration A7-AMB performing flight QR-59 from Doha (Qatar) to Munich (Germany), was descending towards Munich when the crew reported a hydraulic failure and advised they would probably need to stop on the runway being unable to taxi.
                                                                        </p>
                                                                        <p>
                                                                            A Qatar Airways Airbus A350-900, registration A7-AMB performing flight QR-59 from Doha (Qatar) to Munich (Germany), was descending towards Munich when the crew reported a hydraulic failure and advised they would probably need to stop on the runway being unable to taxi. The airport dispatched emergency services and a tow truck to the runway. The aircraft continued for a safe landing, gear doors open, on runway 26L. The crew advised they were indeed not able to vacate the runway, the tow crew advised they were unable to tow the aircraft due to the open gear doors that needed to first be taken care of
                                                                        </p>
                                                                    </div>
                                                                    <div class="doc-file-tag-wr">
                                                                        <div class="info-tittle">
                                                                            <h2>2.Attachments</h2>
                                                                        </div>
                                                                        <div class="attach-tag-r">
                                                                            <ul>
                                                                                <li>
                                                                                    <div class="doc-file-tag">
                                                                                        <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                                                                        <a href="#">Download</a>
                                                                                    </div>
                                                                                    <div class="doc-file-tag">
                                                                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                                                                        <a href="#">Download</a>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- panel-group -->
                                <!-- panel-group -->

                            </div><!-- container -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".more-less")
            .toggleClass('fa-chevron-down fa-chevron-up');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>


