﻿
@{
    ViewBag.Title = "CorrespondenceManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                   
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Correspondence Management</h2>
                                        </div>
                                        <form>
                                            <div class="scope-details">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Notifier Name:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">ABC</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                UTC Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">27-01-2017 09:45</label>
                                                            </div>
                                                        </div>
                                                   
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Notifier Organization:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">XXXX</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Local Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">27-01-2017 09:45</label>
                                                            </div>
                                                        </div>
                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Investigation Correspondence</h2>
                                        </div>
                                        <div class="evidence-list-track">
                                            <div class="form-group" style="margin-right: 15px; ">
                                                <label>Filter :</label>
                                                <select class="form-control">
                                                    <option value="">All Correspondence</option>
                                                    <option value="1">Send</option>
                                                    <option value="2">Received</option>
                                                </select>
                                            </div>
                                            <div class="form-group" style="margin-right: 15px;">
                                                <label>Type :</label>
                                                <select class="form-control">
                                                    <option value="">Request</option>
                                                    <option value="1">Clarification</option>
                                                    <option value="2">Response</option>
                                                    <option value="3">Safety Requirements</option>
                                                    <option value="3">Other</option>
                                                </select>
                                            </div>
                                            <div class="search-field">
                                                <div class="i-search nc">
                                                    <div id="custom-search-input">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="Search" />
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-info btn-lg" type="button">
                                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="occ-new">
                                                    @if (Session["username"] != null)
                                                    {
                                                        if (Session["roleid"].ToString() != "3")
                                                        {
                                                            <button type="button" class="btn btn-addnew" onclick="location.href='@Url.Action("AddNewCorrespondence", "Task")'">
                                                                <i class="fas fa-plus"></i>Add New
                                                            </button>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="main-wrapper current-project-wrapper">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="x_panel-corres">
                                                        <div class="x_content">
                                                            <div class="table-responsive">
                                                                <table id="datatable" class="table table-responsive table-hover table-bordered correspondance-table">
                                                                    <!-- need pagination table -->
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Control Number</th>
                                                                            <th>Date of last Communication</th>
                                                                            <th>Correspondence Type</th>
                                                                            <th>Subject</th>
                                                                            <th>DAAI Approval</th>
                                                                            <th>Number of Correspondence</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            @if (Session["username"] != null)
                                                                            {
                                                                                if (Session["roleid"].ToString() == "3")
                                                                                {
                                                                                    <td>AI/001/2018/189</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td> @Html.ActionLink("AI/001/2018/189", "CorrespondenceDetailList", "Task")</td>
                                                                                }
                                                                            }
                                                                            <td>12/06/2018</td>
                                                                            <td>Request</td>
                                                                            <td>Minor Accident</td>
                                                                            <td>No</td>
                                                                            <td>3</td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            @if (Session["username"] != null)
                                                                            {
                                                                                if (Session["roleid"].ToString() == "3")
                                                                                {
                                                                                    <td>AI/002/2018/097</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td> @Html.ActionLink("AI/002/2018/097", "CorrespondenceDetailList", "Task")</td>
                                                                                }
                                                                            }
                                                                            <td>14/06/2018</td>
                                                                            <td>Clarification</td>
                                                                            <td>Minor Accident</td>
                                                                            <td>Yes</td>
                                                                            <td>3</td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>3</td>
                                                                            @if (Session["username"] != null)
                                                                            {
                                                                                if (Session["roleid"].ToString() == "3")
                                                                                {
                                                                                    <td>AI/003/2018/092</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td> @Html.ActionLink("AI/003/2018/092", "CorrespondenceDetailList", "Task")</td>
                                                                                }
                                                                            }
                                                                            <td>12/06/2018</td>
                                                                            <td>Safety Requirements</td>
                                                                            <td>Serious Accident</td>
                                                                            <td>Yes</td>
                                                                            <td>3</td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>4</td>
                                                                            @if (Session["username"] != null)
                                                                            {
                                                                                if (Session["roleid"].ToString() == "3")
                                                                                {
                                                                                    <td>AI/004/2018/081</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td> @Html.ActionLink("AI/004/2018/081", "CorrespondenceDetailList", "Task")</td>
                                                                                }
                                                                            }
                                                                            <td>14/06/2018</td>
                                                                            <td>Request</td>

                                                                            <td>Serious Accident</td>
                                                                            <td>Yes</td>
                                                                            <td>5</td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>5</td>
                                                                            @if (Session["username"] != null)
                                                                            {
                                                                                if (Session["roleid"].ToString() == "3")
                                                                                {
                                                                                    <td>AI/005/2018/077</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td> @Html.ActionLink("AI/005/2018/077", "CorrespondenceDetailList", "Task")</td>
                                                                                }
                                                                            }
                                                                            <td>19/06/2018</td>
                                                                            <td>Safety Requirements</td>
                                                                            <td>Serious Accident</td>
                                                                            <td>No</td>
                                                                            <td>5</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- sumitted form btns -->
                        <!-- sumitted form btns -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

