﻿@model ISM_Project.Models.InvScope
@{
    ViewBag.Title = "Defn_Inv_Scope";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main_ism_wrapper">

    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Define Investigation Scope</h2>
                                        </div>
                                        <form>
                                            <div class="row scope-details">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Name:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierName </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            UTC Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm") </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Organization:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierOrganization</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Local Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">

                                            <h2 style="float: left;">
                                                Task Groups
                                            </h2>
                                            <div class="auto-filter-wrapper">
                                                <a style="float:right;color: #339aff;margin-top: 7px;" href="~/img/FlowChart.jpg" target="_blank">
                                                    Event Flow Diagram
                                                </a>
                                                <div class="col-md-6 auto-box" style="float:right;margin-bottom:10px;">
                                                    <input style="border-radius: 0px; height: 30px;float:right;" type="text" class="form-control joinees" id="searches" placeholder="Start typing for suggestions" autocomplete="off" aria-haspopup="true">
                                                </div>

                                            </div>


                                            <style>
                                                .ui-menu {
                                                    left: 968.672px;
                                                    width: 349.328px;
                                                    height: 300px;
                                                    overflow-y: auto;
                                                    overflow-x: hidden;
                                                    top: 276px;
                                                    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                                                    border: 1px solid #dfe8f1;
                                                }

                                                .ui-helper-hidden-accessible {
                                                    position: absolute;
                                                    /*left: -9999px;*/
                                                }

                                                .ui-menu-item {
                                                    list-style: none;
                                                    background: #fff;
                                                    width: 100%;
                                                    padding: 0px;
                                                    cursor: pointer;
                                                    font-family: OpenSans-Regular;
                                                    font-size: 13px;
                                                }

                                                    .ui-menu-item:hover {
                                                        background-color: #09c4d2;
                                                    }

                                                .ui-menu .ui-menu-item {
                                                    list-style-image: none;
                                                    border: transparent;
                                                    border-bottom: 1px solid #dfe8f1;
                                                }

                                                    .ui-menu .ui-menu-item .ui-menu-item-wrapper:hover {
                                                        background-color: #09c4d2;
                                                        border-color: transparent;
                                                        color: #fff;
                                                    }

                                                .ui-menu .ui-menu-item-wrapper {
                                                    position: relative;
                                                    background-color: transparent;
                                                    border-color: transparent;
                                                    font-family: OpenSans-Regular;
                                                    font-size: 13px;
                                                    color: #5a6778;
                                                    padding: 4px 1em 4px .8em;
                                                }

                                                .ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
                                                    background: none repeat scroll 0 0 #FFFFFF;
                                                    /* border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;*/
                                                    max-height: 200px;
                                                    overflow: auto;
                                                    padding: 10px;
                                                    width: 320px !important;
                                                    border-top: none;
                                                    margin-left: 982px;
                                                    margin-top: 281px;
                                                }
                                            </style>

                                        </div>
                                        <div class="list-counts">
                                            @using (Html.BeginForm("Defn_Inv_Scope", "Task", FormMethod.Post, new { id = "formDefn_Inv_ScopeSubmit" }))
                                            {
                                                @Html.HiddenFor(m => m.InvestigationId, new { @type = "text", @class = "form-control hidden" })



                                                <div class="task-list-type task-inner-view">


                                                    @{int i = 1;}
                                                    <div class="col-md-12 scope-main-list">
                                                        <ol>
                                                            @foreach (ISM_Project.Models.USP_VIEW_INVESTIGATION_SCOPE_DEFINITION_INVESTIGATIONID_Result scope in ViewBag.InvestigationScope)
                                                            {
                                                                <li>
                                                                    <div class="scope-arrange" aria-hidden="true">

                                                                        <div class="checkbox">
                                                                            <label>
                                                                                @if (Convert.ToInt32(Session["roleid"]) == 4 && Convert.ToInt32(TempData["INV_STATUS"]) != 2 || Convert.ToInt32(Session["roleid"]) == 7)
                                                                                {
                                                                                    if (i == 1)
                                                                                    {
                                                                                        if (@scope.InvestigationTaskGroupInScope == 1)
                                                                                        {
                                                                                            <input type="checkbox" checked="checked" id="invScopeStatusChk_@scope.InvestigationTaskGroupID" disabled="disabled" value="@scope.InvestigationTaskGroupInScope">
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input type="checkbox" id="invScopeStatusChk_@scope.InvestigationTaskGroupID" disabled="disabled" value="@scope.InvestigationTaskGroupInScope">
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        if (@scope.InvestigationTaskGroupInScope == 1)
                                                                                        {
                                                                                            <input type="checkbox" checked="checked" id="invScopeStatusChk_@scope.InvestigationTaskGroupID" value="@scope.InvestigationTaskGroupInScope">
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input type="checkbox" id="invScopeStatusChk_@scope.InvestigationTaskGroupID" value="@scope.InvestigationTaskGroupInScope">
                                                                                        }
                                                                                    }
                                                                                }
                                                                                else if (Convert.ToInt32(Session["roleid"]) == 3)
                                                                                {
                                                                                    if (@scope.InvestigationTaskGroupInScope == 1)
                                                                                    {
                                                                                        <input type="checkbox" checked="checked" id="invScopeStatusChk_@scope.InvestigationTaskGroupID" value="@scope.InvestigationTaskGroupInScope">
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="checkbox" id="invScopeStatusChk_@scope.InvestigationTaskGroupID" value="@scope.InvestigationTaskGroupInScope">
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    if (@scope.InvestigationTaskGroupInScope == 1)
                                                                                    {
                                                                                        <input type="checkbox" checked="checked" disabled id="invScopeStatusChk_@scope.InvestigationTaskGroupID" value="@scope.InvestigationTaskGroupInScope">
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="checkbox" id="invScopeStatusChk_@scope.InvestigationTaskGroupID" disabled value="@scope.InvestigationTaskGroupInScope">
                                                                                    }
                                                                                }
                                                                            </label>
                                                                            <input type="hidden" name="invTaskGroupId[]" value="@scope.InvestigationTaskGroupID" />
                                                                            <input type="hidden" name="invScopeId[]" value="@scope.InvestigationScopeDefinitionID" />
                                                                            <input type="hidden" name="invScopeStatus[]" id="invScopeStatus_@scope.InvestigationTaskGroupID" value="2" />
                                                                        </div>
                                                                        <div class="scope-list-items" style="cursor:pointer">
                                                                            <a onclick="location.href='@Url.Action("TaskGroup", "task",new { id = scope.InvestigationTaskGroupID, invid=Model.InvestigationId})'">
                                                                                @scope.InvestigationTaskGroupName   <i data-toggle="tooltip" title="@scope.InvestigationTaskGroupDescription" class="fa fa-question-circle" aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                i++;
                                                            }
                                                        </ol>
                                                    </div>

                                                </div>
                                                if ((Convert.ToInt32(Session["roleid"]) == 4 || Convert.ToInt32(Session["roleid"]) == 3 || Convert.ToInt32(Session["roleid"]) == 7) && Convert.ToInt32(TempData["INV_STATUS"]) != 2)
                                                {
                                                    <div class="inver-btns">

                                                        <button type="button" class="btn btn-notify" id="BtnInvestigationScope">Save Investigation Scope</button>
                                                        @*<button type="button" onclick="location.href='@Url.Action("sendexternallink", "task",new {inv_file_id=Model.InvestigationId})'" class="btn btn-notify" id="BtnInvestigationScope">Send External Link</button>*@
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- sumitted form btns -->
                        <!-- sumitted form btns -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
                                                //$(document).ready(function () {
                                                //    $('[data-toggle="tooltip"]').tooltip();
                                                //});
</script>