﻿@using PagedList;
@using PagedList.Mvc;

@model  ISM_Project.Models.InvEvidence
@{
    ViewBag.Title = "EvidenceManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int? InvEven_cur_page = (ViewBag.page_no);
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">

                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Evidence Management</h2>
                                            @Html.HiddenFor(m => m.InvestigationFileID, new { @type = "text", @class = "form-control hidden" })
                                        </div>
                                        <form>
                                            <div class="row scope-details">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Name:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierName </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            UTC Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Organization:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierOrganization </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Local Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="x_panel">
                                    @using (Html.BeginForm("EvidenceManagement", "Task", new { InvId = Model.InvestigationFileID }, FormMethod.Post, new { id = "FrmEvidence" }))
                                    {
                                        <input type="hidden" value="@Model.evidenceAssigned" id="userId" />
                                        <input type="hidden" value="@Model.InvestigationFileID" id="inv_file_Id" />

                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle">
                                                <h2>Evidence List</h2>
                                            </div>
                                            <div class="evidence-list-track">
                                                <div class="form-group" style="margin-right: 15px;">
                                                    <label>Currently with :</label>

                                                    @Html.DropDownListFor(m => m.EvidenceCurrentlyWith, ViewBag.Evid_CurrentlyWith as SelectList, "All", new { @class = "form-control", onchange = "EvidenceTypeChange()" })
                                                </div>
                                                <div class="form-group" style="margin-right: 15px;">
                                                    <label>Type :</label>

                                                    @Html.DropDownListFor(m => m.LKEvidenceTypeID, ViewBag.Evidence_Type as SelectList, "All", new { @class = "form-control", onchange = "EvidenceTypeChange()" })
                                                </div>
                                                <div class="search-field">
                                                    <div class="i-search nc">
                                                        <div id="custom-search-input">
                                                            <div class="input-group">

                                                                @Html.TextBox("SearchText", "", new { @placeholder = "Identification Number,Tag,Name,Category,Received By", @title = "Identification Number,Tag,Name,Category,Received By", @class = "form-control" })
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-info btn-lg" type="button" onclick="EvidenceTypeChange()">
                                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    @if (Convert.ToInt32(Session["roleid"]) == 4 && Convert.ToInt32(TempData["Inv_Status"]) != 2 || Convert.ToInt32(Session["roleid"]) == 7)
                                                    {
                                                        <div class="occ-new">
                                                            <button type="button" class="btn btn-addnew" id="evidence"><i class="fas fa-plus"></i>Add New</button>
                                                        </div>@*<div class="occ-new">
                                <button type="button" class="btn btn-addnew" onclick="location.href='@Url.Action("AddNewEvidence", "Task", new { InvId = Model.InvestigationFileID, EvMovId = 0 })'"><i class="fas fa-plus"></i>Add New</button>
                            </div>*@
                                                    }
                                                </div>
                                            </div>
                                            <div class="main-wrapper current-project-wrapper">

                                                @if (Convert.ToString(TempData["SearchKey"]) != "")
                                                {
                                                    <a id="clear_search" href="">Clear All</a>
                                                }
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="x_panel-corres">
                                                            <div class="x_content">
                                                                <div class="table-responsive">
                                                                    <table id="datatable" class="table table-bordered table-hover table-responsive correspondance-table">
                                                                        <!-- need pagination table -->
                                                                        <thead>
                                                                            <tr>
                                                                                @*<th></th>*@
                                                                                <th>Evidence Identification # </th>
                                                                                <th>Evidence Category</th>
                                                                                @*<th>Evidence Type</th>*@
                                                                                <th>Evidence Name</th>
                                                                                <th>Date Received</th>
                                                                                <th>Currently with</th>
                                                                                <th>Organization that handed over the evidence</th>
                                                                                <th>Received by</th>
                                                                                <th>Download Form</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @{int InvestigationEvidenceID = 0;
                                                                            }

                                                                            @if (Model.InvEveden.Count() > 0)
                                                                            {
                                                                                var invEvePage = Model.InvEveden.ToList().ToPagedList(InvEven_cur_page ?? 1, 10);

                                                                                foreach (var evdpage in invEvePage)
                                                                                {
                                                                                    if (InvestigationEvidenceID == 0 || @evdpage.InvestigationEvidenceID != InvestigationEvidenceID)
                                                                                    {

                                                                                        <tr>
                                                                                            <td>@Html.ActionLink(evdpage.EvidenceIdentificationNumber, "AddNewEvidence", "Task", routeValues: new { InvId = Model.InvestigationFileID, EvMovId = evdpage.InvestigationEvidenceMovementID }, htmlAttributes: new { @class = "dashboardlink" })</td>
                                                                                            <td>@evdpage.LKEvidenceCategoryName</td>
                                                                                            @*<td>@evdpage.LKEvidenceTypeName</td>*@
                                                                                            <td>@evdpage.EvidenceName</td>
                                                                                            <td>@evdpage.DateOfReceipt.Date.ToString("dd/MMM/yyyy")</td>
                                                                                            <td>@evdpage.EvidenceCurrentlyWith</td>
                                                                                            <td>@evdpage.OrganizationHandingOverEvidence</td>
                                                                                            <td>@evdpage.PersonReceivingEvidence</td>
                                                                                            <td><a href="@Url.Action("TransferOfPossession","Forms",new { invFileID=@evdpage.InvestigationEvidenceMovementID})"><i class="fa fa-download"></i></a></td>
                                                                                        </tr>
                                                                                        InvestigationEvidenceID = @evdpage.InvestigationEvidenceID;
                                                                                    }
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <tr><td colspan="8"><p style="text-align:center">No Evidence available</p></td></tr>
                                                                            }


                                                                        </tbody>
                                                                    </table>
                                                                    @if (ViewBag.count_pagecontent > 10)
                                                                    {
                                                                        @Html.PagedListPager(Model.InvEveden.ToList().ToPagedList(InvEven_cur_page ?? 1, 10), page => Url.Action("EvidenceManagement", "Task", new { Model.InvEveden, page, InvId = TempData["InvId"] }))
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
