﻿@model ISM_Project.Models.UserModel
@{
    ViewBag.Title = "Form_39";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">

   
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper">
                    <div class="occurrence-top">
                        
                       
                       <div class="main-top-btns">
                   
                     <div class="row">
                         <div class="col-md-12">
                             <div class="x_panel menu-inner-wr">
                                 <div class="col-sm-6 col-lg-4">
                                     <a href="#" onclick="location.href='/Task/Teammanagement'" class="widget widget-hover-effect1">
                                         <div class="widget-simple">
                                             <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                                 <i class="fas fa-user-circle-o"></i>
                                             </div>
                                             <h2 class="widget-content text-right animation-pullDown">
                                                 Team Management
                                             </h2>
                                         </div>
                                     </a>
                                 </div>
                                 <div class="col-sm-6 col-lg-4 no-padding">
                                     <a href="#" onclick="location.href='/Task/Defn_Inv_Scope'" class="widget widget-hover-effect1">
                                         <div class="widget-simple">
                                             <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                                 <i class="fas fa-crosshairs"></i>
                                             </div>
                                             <h3 class="widget-content text-right animation-pullDown">
                                                 Investigation Scope
                                             </h3>
                                         </div>
                                     </a>
                                 </div>
                                 <div class="col-sm-6 col-lg-4">
                                     <a href="#" onclick="location.href='/Task/View_Inv_Prg'" class="widget widget-hover-effect1">
                                         <div class="widget-simple">
                                             <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                                 <i class="fas fa-line-chart"></i>
                                             </div>
                                             <h3 class="widget-content text-right animation-pullDown">
                                                 Investigation Progress
                                             </h3>
                                         </div>
                                     </a>
                                 </div>

                                 <div class="col-sm-6 col-lg-4">
                                     <a href="#" onclick="location.href='/Task/Gen_Forms'" class="widget widget-hover-effect1">
                                         <div class="widget-simple">
                                             <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                                 <i class="fas fa-download"></i>
                                             </div>
                                             <h3 class="widget-content text-right animation-pullDown">
                                                 Forms and Reports
                                             </h3>
                                         </div>
                                     </a>
                                 </div>
                                 <div class="col-sm-6 col-lg-4 no-padding">
                                     <a href="#" onclick="location.href='/Task/EvidenceManagement'" class="widget widget-hover-effect1">
                                         <div class="widget-simple">
                                             <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                                 <i class="fas fa-houzz"></i>
                                             </div>
                                             <h3 class="widget-content text-right animation-pullDown">
                                                 Evidence Management
                                             </h3>
                                         </div>
                                     </a>
                                 </div>
                                 <div class="col-sm-6 col-lg-4">
                                     <a href="#" onclick="location.href='@Url.Action("SR_View", "SR")'" class="widget widget-hover-effect1">
                                         <div class="widget-simple">
                                             <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                                 <i class="fa fa-file-text"></i>
                                             </div>
                                             <h3 class="widget-content text-right animation-pullDown">
                                                 SR Management
                                             </h3>
                                         </div>
                                     </a>
                                 </div>
                                 <div class="col-sm-6 col-lg-4">
                                     <a href="#" onclick="location.href='/Task/CorrespondenceManagement'" class="widget widget-hover-effect1">
                                         <div class="widget-simple">
                                             <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                                 <i class="fas fa-envelope-square"></i>
                                             </div>
                                             <h3 class="widget-content text-right animation-pullDown">
                                                 Correspondence
                                             </h3>
                                         </div>
                                     </a>
                                 </div>
                                
                       
                             <div class="col-sm-6 col-lg-4 no-padding">
                                 <a href="#" onclick="location.href='/Task/Managedistributionlist'" class="widget widget-hover-effect1">
                                     <div class="widget-simple">
                                         <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                             <i class="fas fa-list-ul"></i>
                                         </div>
                                         <h3 class="widget-content text-right animation-pullDown">
                                             Manage Distribution List
                                         </h3>

                                     </div>
                                 </a>
                             </div>

                             <div class="col-sm-6 col-lg-4">
                                 <a href="#" data-target="#close-inv-popup" data-toggle="modal" class="widget widget-hover-effect1">
                                     <div class="widget-simple">
                                         <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                             <i class="fas fa-times-circle"></i>
                                         </div>
                                         <h3 class="widget-content text-right animation-pullDown">
                                             Close Investigation
                                         </h3>
                                         </div>
                                         </a>
                                 </div>
                                 </div>
                             
                     </div>

                       
                     </div>


               
                        </div>
                        <div class="main-wrapper">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle">
                                                <h2>General Info</h2>
                                            </div>
                                            <form>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                        Notification Number:
                                                    </label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">NOTN/0001/2018</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Notifier Name:</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">Mohammad</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Notifier Organization:</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">ISM</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                        Notifier Posititon:
                                                    </label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">DI</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Notifier Contact No:</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">9876543210</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Occurrence Info:</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">Nill</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Local Date & Time of Occurrence:</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">12/12/2017 20:12</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Flight NUmber:</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">SVR123</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Date & Time Of Call:</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">12/12/2017 20:12</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">UTC DAte & Time of Occurrence:</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">12/12/2017 20:12</label>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Place:</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">Dubai</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Long & Latitude:</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">138.2 134.6</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Departure Airport:</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">Dubai</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Destination Airport:</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <label class="form-values">Saudi Arabia	</label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label padding-left" for="exampleInputPassword1">Passenger Details:</label>
                                                    <div class="col-sm-8 col-form-box">
                                                        <table class="table table-bordered table-hover form-top">
                                                            <thead>
                                                                <tr>
                                                                    <th>Injuries</th>
                                                                    <th>Crew</th>
                                                                    <th>Passengers</th>
                                                                    <th>Others</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Fatal</td>
                                                                    <td>1</td>
                                                                    <td>1</td>
                                                                    <td>1</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Minor</td>
                                                                    <td>2</td>
                                                                    <td>2</td>
                                                                    <td>2</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>None</td>
                                                                    <td>3</td>
                                                                    <td>3</td>
                                                                    <td>3</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle"><h2>Aircraft Info</h2></div>
                                            <div class="aircraft-details form-create-user-table">
                                                <form>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                            Make and Model:
                                                        </label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <label class="form-values">Air Arabia M4</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                            Engine Info:
                                                        </label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <label class="form-values">12445ERT RTY ENGINE 1070TON WEIGHT</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                            Aircraft Category:
                                                        </label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <label class="form-values">Field</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                            Aircraft Category:
                                                        </label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <label class="form-values">Field</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                            Registration:
                                                        </label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <label class="form-values">Nill</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                            Maximum Mass:
                                                        </label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <label class="form-values">1907T</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                            State of the Operator:
                                                        </label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <label class="form-values">Nill</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                            Occurrence Description:
                                                        </label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <label class="form-values">
                                                                <p class="despcri">
                                                                    The National Transportation Safety Board (NTSB) is providing the following information to urge the Flight Test Safety Committee (FTSC) and Bell Helicopter Textron to take action on the safety recommendations in this report. These recommendations are derived from our investigation of a July 6, 2016, accident involving an experimental research and development Bell 525 helicopter, N525TA, which broke up in flight and impacted terrain near Italy, Texas. The two test pilots received fatal injuries, and the helicopter was destroyed.
                                                                </p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Classification:</label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <label class="form-values">Nill</label>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle"><h2>DI Occurrence Assessment </h2></div>
                                            <div class="aircraft-details-di form-create-user-table">
                                                <form>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Is the occurrence classified as an Accident or Serious Incident?</label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="acc" checked="checked" disabled="disabled">Accident
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="acc" disabled="disabled">Serious Incident
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Does the occurrence involve a large or small aircraft?</label>
                                                        <div class="col-sm-6 col-form-box option-tags">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="aircraft" disabled="disabled">Large aircraft
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="aircraft" checked="checked" disabled="disabled">Small aircraft
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Commercial or Private use?</label>
                                                        <div class="col-sm-6 col-form-box option-tags">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="use" disabled="disabled">Commercial use
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="use" checked="checked" disabled="disabled">Private use
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Involve a UAE registered aircraft or UAE operator?</label>
                                                        <div class="col-sm-6 col-form-box option-tags">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="register" checked="checked" disabled="disabled">UAE registered aircraft
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="register" disabled="disabled">UAE operator
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Is there a trend on the same operator, aircraft type, kind of operation as per the review of ROSI?</label>
                                                        <div class="col-sm-6 col-form-box option-tags">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="operator" checked="checked" disabled="disabled">Yes
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="operator" disabled="disabled">No
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Is there any anticipated safety value of an investigation</label>
                                                        <div class="col-sm-6 col-form-box option-tags">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="safety" disabled="disabled">Yes
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="safety" checked="checked" disabled="disabled">No
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Is it expected to make a potential impact on public confidence on aviation safety? </label>
                                                        <div class="col-sm-6 col-form-box option-tags">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="impact" disabled="disabled">Yes
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="impact" checked="checked" disabled="disabled">No
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Are there enough available resources and projected to be available in the event of conflicting priorities?</label>
                                                        <div class="col-sm-6 col-form-box option-tags">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="resources" checked="checked" disabled="disabled">Yes
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="resources" disabled="disabled">No
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Is there any other opportunity to be investigated by other investigation authority?
                                                            Or to be internally investigated by the concerned operator?
                                                        </label>
                                                        <div class="col-sm-6 col-form-box option-tags">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="opportunity" checked="checked" disabled="disabled">Yes
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="opportunity" disabled="disabled">No
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Does the occurrence have training benefits for the AAIS investigators?</label>
                                                        <div class="col-sm-6 col-form-box option-tags">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="training" checked="checked" disabled="disabled">Yes
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="training" disabled="disabled">No
                                                            </label>
                                                        </div>
                                                    </div>
                                      
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle"><h2>DI Suggestion and Further Investigation</h2></div>
                                            <div class="aircraft-details form-create-user-table">
                                                <form>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                            DI Name:
                                                        </label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <label class="form-values">Abdul</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                            Comments:
                                                        </label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <label class="form-values">
                                                                <p class="despcri">
                                                                    The helicopter was being operated under the provisions of Title 14 Code of Federal Regulations (CFR) Part 91 as a developmental flight test. As a result of this investigation, the NTSB is issuing one safety recommendation to the FTSC and one safety recommendation to Bell Helicopter Textron.
                                                                </p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">DI Suggestion:</label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <label class="form-values">Require limited scope investigation (Summary Report)</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">DI Further Suggestion:</label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <label class="form-values">Open a Safety Study</label>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Nonsumitted form btns -->
                            <div class="x_panel openfile-btns-in" style="display:none">
                                <button type="submit" class="btn btn-notify-gray">Open Investigation File</button>
                                <button type="submit" class="btn btn-cancel-gray" data-target="#" data-toggle="modal">Close Investigation</button>
                            </div>
                            <!-- Nonsumitted form btns -->
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <!-- Add new development popup -->
    <div id="close-investigation-popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Close Investigation</h4>
                </div>
                <div class="modal-body">
                    <div class="closeinvestigation-wrapp">
                        <div class="tittle"></div>
                        <div class="closeinvestigation-inner">
                            <form>
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                        Reason:
                                    </label>
                                    <div class="col-sm-8 col-form-box">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>Reason 1</option>
                                            <option>Reason 2</option>
                                            <option>Reason 3</option>
                                            <option>Reason 4</option>
                                            <option>Reason 5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Comments</label>
                                    <div class="col-sm-8 col-form-box">
                                        <textarea rows="6" name="message2" id="message2" class="form-control form-textarea" required=""></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-close" data-dismiss="modal" onclick="location.href='@Url.Action("Dashboard", "home")'">Close Investigation</button>
                    <button type="submit" class="btn btn-cancel">Cancel</button>
                </div>
            </div>

        </div>
    </div>
