﻿@model ISM_Project.Models.InvestigationModel
@{
    ViewBag.Title = "Gen_Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Forms & Reports</h2>
                                        </div>
                                        <form>
                                            <div class="row scope-details">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Name:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierName </label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            UTC Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@(!string.IsNullOrEmpty(Convert.ToString(Model.UTCDateAndTimeOfOccurrence)) ? Convert.ToDateTime(Model.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Organization:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierOrganization</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Local Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@(!string.IsNullOrEmpty(Convert.ToString(Model.LocalDateAndTimeOfOccurrence)) ? Convert.ToDateTime(Model.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="task-scope-wrapp">
                                            <div class="info-tittle">
                                                <h2>All Forms</h2>
                                            </div>
                                            <div class="task-inner-view">
                                                <div class="col-md-6">
                                                    <div class="task-list-type">
                                                        <ol class="task-type">
                                                            <li>
                                                                <div class="scope-list-items-dwnload">
                                                                    <a href="@Url.Action("Form35","Forms",new { invFileID=TempData["InvId"]})">
                                                                        Form 035 - Duty Investigator Notification <i class="fa fa-download"></i>
                                                                    </a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="scope-list-items-dwnload">
                                                                    <a href="@Url.Action("Form39","Forms",new { invFileID=TempData["InvId"]})">Form 039 - IIC Assignment Form <i class="fa fa-download"></i></a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="scope-list-items-dwnload">
                                                                    <a href="@Url.Action("Form43","Forms",new { invFileID=TempData["InvId"]})">
                                                                        Form 043 - Notification to Foreign States
                                                                        <i class="fa fa-download"></i>
                                                                    </a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="scope-list-items-dwnload">
                                                                    <a href="@Url.Action("Form46","Forms",new { invFileID=TempData["InvId"]})">
                                                                        Form 046 - Reports Approval Checklist<i class="fa fa-download"></i>
                                                                    </a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="scope-list-items-dwnload">
                                                                    <a href="@Url.Action("Form33","Forms",new { invFileID=TempData["InvId"]})">Form 033 - AAI response to Draft Report <i class="fa fa-download"></i></a>
                                                                </div>
                                                            </li>

                                                            @*<li>
                                                                <div class="scope-list-items-dwnload">
                                                                    <a href="@Url.Action("InvestigationReport","Forms",new { Rptid="Inv"})">Investigation Report <i class="fa fa-upload"></i></a>
                                                                </div>
                                                            </li>*@

                                                        </ol>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="task-list-type">
                                                        <ol class="task-type">
                                                            <li>
                                                                <div class="scope-list-items-dwnload">
                                                                    @*<a href="#" class="prelim_report" data-interim=@TempData["InvId"]>Preliminary Report<i class="fa fa-download"></i></a>*@

                                                                    <a href="@Url.Action("PrelimReport","Forms",new { Prereport=TempData["InvId"]})" class="prelim_report" data-interim=@TempData["InvId"]>Preliminary Report<i class="fa fa-download"></i></a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="scope-list-items-dwnload">
                                                                    @*     <a href="#" class="interim_report" data-interim=@TempData["InvId"]>Interim Report<i class="fa fa-download"></i></a>*@

                                                                    <a href="@Url.Action("InterimRport","Forms",new { Intreport=TempData["InvId"]})" class="interim_report" data-interim=@TempData["InvId"]>Interim Report<i class="fa fa-download"></i></a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="scope-list-items-dwnload">
                                                                    <a href="@Url.Action("FinalReport","Forms",new { id=TempData["InvId"]})">Final Report<i class="fa fa-download"></i></a>
                                                                </div>
                                                            </li>

                                                            <li>
                                                                <div class="scope-list-items-dwnload">
                                                                    <a href="@Url.Action("ClosureReport","Forms",new { id=TempData["InvId"]})">Closure Report <i class="fa fa-download"></i></a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="scope-list-items-dwnload">
                                                                    <a href="@Url.Action("UploadFinalReport","Forms",new { id=TempData["InvId"]})">Upload Final Report <i class="fa fa-upload"></i></a>
                                                                </div>
                                                            </li>

                                                            @*<li>
                                                                <div class="scope-list-items-dwnload">
                                                                    <a href="@Url.Action("InvestigationReport","Forms",new { Rptid="Sr"})">SR Report <i class="fa fa-upload"></i></a>
                                                                </div>
                                                            </li>*@
                                                        </ol>
                                                        @Html.Hidden("InvestigationFileID", TempData["InvId"],null)

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- sumitted form btns -->
                        <!-- sumitted form btns -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="inv_file_id" value="@TempData["InvId"]" />


<div id="prelim_report_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:75%">
        <!-- Modal content-->
        <div class="modal-content" id="interim_data">
            <div class="modal-header">
                <h2>Preliminary Report </h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            @using (Html.BeginForm("PrelimReport", "Forms", FormMethod.Post, new { id = "new_prelim" }))
            {
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" style="display: none; z-index: 99999;"><div class="msg-icon"><i class="fas fa-exclamation-triangle"></i>Please enter Investigation Process & Interim Statement</div></div>
                    <div class="incharge-wrapp">
                        <div class="form-group">
                            <label class="col-sm-4 col-form-label">
                                Ongoing Investigation Activities <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 col-form-box">
                                @Html.TextAreaFor(a => a.Ongoing_Investigation_Activitiea, new { @class = "form-control mandatory" })
                                @*<textarea class="form-control mandatory" id="investigationprocess" rows="3" name="investigationprocess.text"></textarea>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.HiddenFor(a => a.InvestigationFileID)
                    <button type="button" id="btnPrelimActivity" class="btn btn-submit">Save</button>
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>
<div id="interim_report_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:75%">

        <!-- Modal content-->
        <div class="modal-content" id="interim_data">
            <div class="modal-header">
                <h2>Interim Report Form</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "new_interim" }))
            {
                <div class="modal-body">
                    <small id="emailHelp" class="form-text popup_danger"></small>
                    <div class="incharge-wrapp">
                        <div class="form-group">
                            <label class="col-sm-4 col-form-label">
                                Investigation Process <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 col-form-box">
                                @Html.TextAreaFor(a => a.Investigation_Process, new { @class = "form-control mandatory" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-form-label">
                                Interim Statement<span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 col-form-box">
                                @Html.TextAreaFor(a => a.Interim_statement, new { @class = "form-control mandatory" })

                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    @Html.HiddenFor(a => a.InvestigationFileID)
                    <button type="button" id="interimsave" class="btn btn-submit">Save</button>
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
                </div>

            }

        </div>

    </div>
</div>
