﻿
@model ISM_Project.Models.Form39


@{
    ViewBag.Title = "IIC_ViewProfile";
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    @foreach (var certificate in Model.iic_view_profile)
    {
        <div class="modal-title"> <h2>@certificate.FirstName @certificate.MiddleName @certificate.LastName</h2></div>
        break;
    }
</div>
<div class="modal-body" id="profile_data">
    <div class="incharge-wrapp">
        <div class="row">
            @foreach (var certificate in Model.iic_view_profile)
            {
                if (!string.IsNullOrEmpty(certificate.EmailAddress))
                {
                    <div class="col-md-3"><label>Email ID</label></div>

                    <div class="col-md-6">@certificate.EmailAddress </div>

                    break;
                }
            }
        </div>
        <div class="row">
            <div class="col-md-3"><label>Certifications</label></div>

            <div class="col-md-6">

                <div class="certi-details">
                    <ul>
                        @foreach (var certificate in Model.iic_view_profile)
                        {
                            if (!string.IsNullOrEmpty(certificate.CertificationName))
                            {

                                <li><div class="ct-details"><span>@certificate.CertificationName</span></div></li>
                            }
                            else
                            {
                                <div class="ct-details"><span>N/A</span></div>

                            }

                        }
                        @for (int i = 0; i < Model.iic_view_profile.Count(); i++)
                        {
                            //if (i > 0)
                            //{
                            //    if (Model.iic_view_profile[i]==Model.iic_view_profile[i-1])
                            //}

                        }

                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="certi-details">
                    <ul>
                        @foreach (var certificate in Model.iic_view_profile)
                        {
                            if (certificate.CertificationExpiryDate != null)
                            {
                                <li><span>@Convert.ToDateTime(certificate.CertificationExpiryDate).ToString("dd/MM/yyyy")</span></li>
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        }
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3"><label>Skills</label></div>
            <table class="skill-table" style=" margin:20px 0px; width:100% ">

                <tbody>
                    @foreach (var skills in Model.iic_view_profile_2)
                    {
                        <tr>

                            <td class="col-md-2">@(!string.IsNullOrEmpty(skills.LKSkillTypeName) ? (skills.LKSkillTypeName) : "N/A")</td>
                            <td class="col-md-2">Total Experience</td>
                            <td class="col-md-2">@(!string.IsNullOrEmpty(Convert.ToString(skills.ExperienceInYears)) ? Convert.ToString(skills.ExperienceInYears) : "N/A")</td>
                            <td class="col-md-2">Rating</td>
                            <td class="col-md-2">
                                <div class="progress table-tittle h2">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                         aria-valuemin="0" aria-valuemax="100" style="width:@(skills.UserSkillRating+"0px")">
                                        <span class="sr-only">70% Complete</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="col-md-3"><label></label></div>
            <div class="col-md-7 iic-cases">
                <table class="table table-bordered table-hover" style="margin-left: 10px;">
                    <thead>
                        <tr>
                            <th>Ongoing Cases</th>
                            <th>Role</th>

                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.IIC_Cases.Count() > 0)
                        {
                            foreach (var cases in Model.IIC_Cases)
                            {
                                <tr>
                                    <td>@cases.InvestigationFileNumber</td>
                                    <td>@cases.Role</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td><p>No current cases available</p></td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
<div class="modal-footer">

    <button type="submit" class="btn btn-cancel" data-dismiss="modal">Close</button>
</div>

