﻿@model IEnumerable<ISM_Project.Models.USP_VIEW_TASK_ASSIGNMENT_FOR_TEAMMEMBER_Result>
@{
                /**/

                ViewBag.Title = "InvestigationDetails";
                Layout = "~/Views/Shared/_Layout.cshtml";
                int tsk_status = 0;
}


<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper investigation-scope-wrapper">


                @if (ViewBag.task_validt_status == 1)
                {
                    tsk_status = 1;
                }

                @if (ViewBag.task_validt_status == 2)
                {
                    tsk_status = 2;
                }

                <div id="EventConfirm-dialog" title="Confirmation" hidden="hidden">
                    <p>Are you sure you want to save ?</p>
                </div>

                <input type="hidden" id="tsk_complete_flag" value="@tsk_status" />

                <div class="main-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_content form-create-user-table">
                                    <div class="info-tittle">
                                        <h2>@TempData["TaskGroupName"]</h2>
                                    </div>
                                    <form>
                                        @if (Model.Count() > 0)
                                        {
                                            foreach (var InvDetails in Model)
                                            {

                                                <div class="row scope-details">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Investigation Id:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@InvDetails.InvestigationFileNumber</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                UTC Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@(!string.IsNullOrEmpty(Convert.ToString(InvDetails.UTCDateAndTimeOfOccurrence)) ? Convert.ToDateTime(InvDetails.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A")</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Local Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@(!string.IsNullOrEmpty(Convert.ToString(InvDetails.LocalDateAndTimeOfOccurrence)) ? Convert.ToDateTime(InvDetails.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A")</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                                <div class="task-scope-wrapp">
                                    <div class="info-tittle">

                                    </div>
                                    <div class="investigation-wrapper">
                                        <div class="investigation-panel">
                                            @for (int i = 1; i <= ViewBag.TaskGroupEventUniqueNumberCount; i++)
                                            {

                                                string accordion_class;
                                                string chevron_class;
                                                string class_name;
                                                string panel_color = string.Empty;
                                                string status = string.Empty;
                                                if (Convert.ToString(ViewData["E/DFlag-" + i]) == "d")
                                                {

                                                    class_name = "panel-group disable";
                                                    panel_color = "grey";
                                                }
                                                else
                                                {
                                                    class_name = "panel-group";

                                                    if (Convert.ToInt32(TempData["invstatus" + i]) == 0)
                                                    {
                                                        status = "Inprogress";
                                                        panel_color = "peach";
                                                    }
                                                    if (Convert.ToInt32(TempData["invstatus" + i]) == 1)
                                                    {
                                                        status = "Completed";
                                                        panel_color = "green";
                                                    }
                                                    if (Convert.ToInt32(TempData["invstatus" + i]) == 2)
                                                    {
                                                        status = "Cannot Start";
                                                        panel_color = "skyblue";
                                                    }

                                                }
                                                if (Convert.ToInt32(TempData["selectt_" + i]) > 0)
                                                {
                                                    accordion_class = "panel-collapse collapse in";
                                                    chevron_class = "more-less fas fa-chevron-up";

                                                }
                                                else
                                                {
                                                    accordion_class = "panel-collapse collapse";
                                                    chevron_class = "more-less fas fa-chevron-down";
                                                }


                                                <div class="@class_name" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading @panel_color" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-@i" aria-expanded="true" aria-controls="collapseOne-@i">
                                                            <div class="panel-title">
                                                                <a role="button" data-parent="#accordion-@i" aria-expanded="true" aria-controls="collapseOne">
                                                                    @ViewData["EHeader-" + i]
                                                                </a>
                                                            </div>
                                                            <div class="plus-min">
                                                                <i class="@chevron_class"></i>
                                                            </div>
                                                        </div>
                                                        <div id="collapseOne-@i" class="@accordion_class" role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                <div class="panel-body-content">
                                                                    <div class="panel-content">
                                                                        <div class="content-inner">
                                                                            <div class="row">
                                                                                <div class="col-md-6">

                                                                                    <ul>
                                                                                        <li>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-6 col-form-label">Assigned to:</label>
                                                                                                <div class="col-sm-6 col-form-box"> <span class="form-values">@TempData["JSONHEADNAME" + i]</span></div>

                                                                                            </div>
                                                                                        </li>
                                                                                        <li>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-6 col-form-label">Status:</label>
                                                                                                <div class="col-sm-6 col-form-box"><span class="form-values">@status</span></div>
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>

                                                                                <div class="col-md-6">

                                                                                    <ul>
                                                                                        <li>
                                                                                            <h3>Due Date:</h3>
                                                                                            <span class="form-values">@TempData["JSONHEADDATE" + i]</span>
                                                                                        </li>
                                                                                        <li>
                                                                                            <h3>progress:</h3>
                                                                                            <span class="form-values">
                                                                                                <div class="progress">
                                                                                                    <div class="progress-bar @panel_color" role="progressbar" aria-valuenow="@TempData["JSONHEADPROGRESS" + i]"
                                                                                                         aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                                                                                                        @TempData["JSONHEADPROGRESS" + i]%
                                                                                                    </div>
                                                                                                </div>
                                                                                            </span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="obtain-wrapper">
                                                                            @Html.Raw(TempData["JSON-" + i])

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }

                                        </div><!-- container -->
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- sumitted form btns -->
                        <!-- sumitted form btns -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*
    <script>
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('fa-chevron-down fa-chevron-up');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);


    </script>*@

<div id="rootanalysis_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:75%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="modal-title"> <h2>Root Cause Analysis</h2></div>

            </div>

            <!-- Modal content-->
            <div class="modal-body" id="analysis_data">

            </div>
        </div>


    </div>
</div>

<div class="modal fade" id="take_action_by_iic" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title"><h4>Event Status Confirmation</h4></div>
            </div>
            <div class="modal-body">
                <small id="emailHelp" class="form-text popup_danger"></small>
                <small id="emailHelp" class="form-text popup_success"></small>
                <small id="emailHelp" class="form-text popup_info"></small>

                <div class="radio">
                    <label><input type="radio" name="event_action_status" value="0" checked>Accept</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="event_action_status" value="1">Request For Clarification</label>
                </div>
                @*<div>
                        Accept<input id="Eventstatus"
                                     name="event_action_status"
                                     type="radio"
                                     value="0" />
                        Request For Clarification<input id="Eventstatus"
                                                        name="event_action_status"
                                                        type="radio"
                                                        value="1" />
                    </div>*@
                <div>
                    <label>Comments<span class="text-danger"></span></label>
                    <div>
                        @Html.TextArea("comment", null, new { @class = "form-control event-desc", @style = "resize:none", @rows = "15" })
                    </div>
                </div>
                <input type="hidden" name="invest_file_id" id="inv_file" value="@ViewBag.invfile" />
                <input type="hidden" name="inv_task_assignment_id" id="inv_task_assignment_id" value="" />
                <input type="hidden" name="task_grp_id" id="task_grp_id" value="" />
                <input type="hidden" name="event_uniq_no" id="event_uniq_no" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" id="event_status" class="btn btn-success">Submit</button>
                <button type="button" id="event_close" class="btn btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "analysisaddoptform" }))
{
    <div id="Add_Analysisdropdown" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" style="width:55%">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title"> <h2>Add New Options</h2></div>
                </div>

                <!-- Modal content-->

                <div class="modal-body">
                    <small id="emailHelp" class="form-text popup_danger"></small>
                    <small id="emailHelp" class="form-text popup_success"></small>

                    <div class="create-user-table">
                        <div class="inner-x_content">
                            <div class="table-tittle"></div>
                        </div>
                        <div class="row" style="margin:0px;">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-sm-4 col-form-label">
                                        <label>Organizational Influences</label>
                                    </div>
                                    <div class="col-sm-6 col-form-box">
                                        @*<input type="text" id="add_org_influences" name="add_org_influences" class="form-control"/>*@
                                        @Html.TextBox("add_org_influences", null, new { id = "add_org_influences", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-sm-4 col-form-label">
                                        <label>Unsafe Supervision</label>
                                    </div>
                                    <div class="col-sm-6 col-form-box">
                                        @*<input type="text" id="unsafe_supervision" name="unsafe_supervision" class="form-control"/>*@
                                        @Html.TextBox("unsafe_supervision", null, new { id = "unsafe_supervision", @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-sm-4 col-form-label">

                                        <label>Precondition</label>
                                    </div>
                                    <div class="col-sm-6 col-form-box">
                                        @*<input type="text" id="add_precondition" name="add_precondition" class="form-control" />*@
                                        @Html.TextBox("add_precondition", null, new { id = "add_precondition", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-sm-4 col-form-label">

                                        <label>Unsafe Act</label>
                                    </div>
                                    <div class="col-sm-6 col-form-box">
                                        @*<input type="text" id="unsafe_act" name="unsafe_act" class="form-control"/>*@
                                        @Html.TextBox("unsafe_act", null, new { id = "unsafe_act", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add_analysis_option" class="btn btn-save">Save</button>
                    <button type="button" id="addoptionpopup" class="btn btn-cancel">Close</button>


                    <input type="hidden" id="InvEventAnalysisId_opt" value="" />
                    <input type="hidden" id="InvtaskgroupId_opt" value="" />
                    <input type="hidden" id="InvtaskassignmentId_opt" value="" />
                    <input type="hidden" id="InvEventuniqno_opt" value="" />
                    <input type="hidden" id="Invfileid_opt" value="" />
                </div>
            </div>
        </div>

    </div>
}