﻿@*@model IEnumerable<ISM_Project.Models.USP_VIEW_TASK_ASSIGNMENT_FOR_TEAMMEMBER_Result>*@
@model IEnumerable<ISM_Project.Models.USP_VIEW_TASK_ASSIGNMENT_MULTIPLE_FOR_TEAMMEMBER_Result>
@{
    ViewBag.Title = "InvestigationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int tsk_status = 0;
}


<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper investigation-scope-wrapper">

                <div id="EventConfirm-dialog" title="Confirmation" hidden="hidden">
                    <p>Are you sure you want to save ?</p>
                </div>

                @if (ViewBag.task_validt_status == 1)
                {
                    tsk_status = 1;
                }
                @if (ViewBag.task_validt_status == 2)
                {
                    tsk_status = 2;
                }


                <input type="hidden" id="tsk_complete_flag" value="@tsk_status" />
                <div class="main-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_content form-create-user-table">
                                    <div class="info-tittle">
                                        <h2>@TempData["taskgrpdetailsname"]</h2>
                                    </div>
                                    <form>
                                        @if (Model.Count() > 0)
                                        {
                                            foreach (var InvDetails in Model)
                                            {

                                                <div class="row scope-details">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Investigation Id:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@InvDetails.InvestigationFileNumber</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                UTC Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@(!string.IsNullOrEmpty(Convert.ToString(InvDetails.UTCDateAndTimeOfOccurrence)) ? Convert.ToDateTime(InvDetails.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A")</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Local Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@(!string.IsNullOrEmpty(Convert.ToString(InvDetails.LocalDateAndTimeOfOccurrence)) ? Convert.ToDateTime(InvDetails.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A")</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                                <div class="task-scope-wrapp">
                                    <div class="info-tittle">

                                    </div>
                                    <div class="investigation-wrapper">
                                        <div class="investigation-panel">
                                            @for (int i = 1; i <= ViewBag.TaskGroupEventUniqueNumberCount; i++)
                                            {
                                                string accordion_class;
                                                string class_name;
                                                string chevron_class;
                                                string panel_color = string.Empty;
                                                string status = string.Empty;
                                                if (Convert.ToString(ViewData["E/DFlag-" + i]) == "d")
                                                {

                                                    class_name = "panel-group disable";
                                                    panel_color = "grey";
                                                }
                                                else
                                                {
                                                    class_name = "panel-group";

                                                    if (Convert.ToInt32(TempData["invstatus" + i]) == 0)
                                                    {
                                                        status = "Inprogress";
                                                        panel_color = "peach";
                                                    }
                                                    if (Convert.ToInt32(TempData["invstatus" + i]) == 1)
                                                    {
                                                        status = "Completed";
                                                        panel_color = "green";
                                                    }
                                                    if (Convert.ToInt32(TempData["invstatus" + i]) == 2)
                                                    {
                                                        status = "Cannot Start";
                                                        panel_color = "skyblue";
                                                    }

                                                }
                                                if (Convert.ToInt32(TempData["selectt_" + i]) > 0)
                                                {
                                                    accordion_class = "panel-collapse collapse in";
                                                    chevron_class = "more-less fas fa-chevron-up";

                                                }
                                                else
                                                {
                                                    accordion_class = "panel-collapse collapse";
                                                    chevron_class = "more-less fas fa-chevron-down";
                                                }


                                                <div class="@class_name" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading @panel_color" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-@i" aria-expanded="true" aria-controls="collapseOne-@i">
                                                            <div class="panel-title">
                                                                <a role="button" data-parent="#accordion-@i" aria-expanded="true" aria-controls="collapseOne">
                                                                    @ViewData["EHeader-" + i]
                                                                </a>
                                                            </div>
                                                            <div class="plus-min">
                                                                <i class="@chevron_class"></i>
                                                            </div>
                                                        </div>
                                                        <div id="collapseOne-@i" class="@accordion_class" role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                <div class="panel-body-content">
                                                                    <div class="panel-content">
                                                                        <div class="content-inner">
                                                                            <div class="row">
                                                                                <div class="col-md-6">

                                                                                    <ul>
                                                                                        <li>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-6 col-form-label">Assigned to:</label>
                                                                                                <div class="col-sm-6 col-form-box"> <span class="form-values">@TempData["JSONHEADNAME" + i]</span></div>
                                                                                            </div>

                                                                                        </li>
                                                                                        <li>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-6 col-form-label">Status:</label>
                                                                                                <div class="col-sm-6 col-form-box">  <span class="form-values">@status</span></div>
                                                                                            </div>

                                                                                        </li>
                                                                                    </ul>
                                                                                </div>

                                                                                <div class="col-md-6">

                                                                                    <ul>
                                                                                        <li>
                                                                                            <h3>Due Date:</h3>
                                                                                            <span class="form-values">@TempData["JSONHEADDATE" + i]</span>
                                                                                        </li>
                                                                                        <li>
                                                                                            <h3>Progress:</h3>
                                                                                            <span class="form-values">
                                                                                                <div class="progress">
                                                                                                    <div class="progress-bar @panel_color" role="progressbar" aria-valuenow="@TempData["JSONHEADPROGRESS" + i]"
                                                                                                         aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                                                                                                        @TempData["JSONHEADPROGRESS" + i]%
                                                                                                    </div>
                                                                                                </div>
                                                                                            </span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="obtain-wrapper">
                                                                            @Html.Raw(TempData["JSON-" + i])

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }
                                        </div><!-- container -->
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- sumitted form btns -->
                        <!-- sumitted form btns -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('fa-chevron-down fa-chevron-up');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);


    </script>*@