﻿@model ISM_Project.Models.InvScope
@{
    ViewBag.Title = "InvestigationFlow";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string cssClass = "";
    if (Session["username"] != null)
    {
        if (Session["roleid"].ToString() == "5")
        {
            cssClass = "gray";
        }
    }
}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper investigation-scope-wrapper">
            </div>
            <div class="main-wrapper">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="x_panel">
                            <div class="x_content form-create-user-table">
                                <div class="info-tittle">
                                    <h2>Task Group Details</h2>
                                </div>
                                <form>
                                    <div class="row scope-details">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                    Notifier Name:
                                                </label>
                                                <div class="col-sm-6 col-form-box">
                                                    <label class="form-values">@Model.NotifierName</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                    UTC Date & Time of Occurrence:
                                                </label>
                                                <div class="col-sm-6 col-form-box">
                                                    <label class="form-values">@Convert.ToDateTime(@Model.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                    Notifier Organization:
                                                </label>
                                                <div class="col-sm-6 col-form-box">
                                                    <label class="form-values">@Model.NotifierOrganization</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                    Local Date & Time of Occurrence:
                                                </label>
                                                <div class="col-sm-6 col-form-box">
                                                    <label class="form-values">@Convert.ToDateTime(@Model.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="x_panel">
                            <div class="x_content form-create-user-table">
                                <div class="info-tittle">
                                    <h2>Task Groups: @Model.InvestigationTaskGroupName</h2>
                                    @Html.HiddenFor(m => m.ControlFrom, new { @type = "text", @class = "form-control hidden" })
                                    <input type="hidden" id="InvFileId" value="@Model.InvestigationId" />
                                </div>
                                <div class="task-assign-tag">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="task-tag">
                                                        <div class="inver-tittle tsk"><h3>TASKS</h3></div>

                                                        @foreach (ISM_Project.Models.USP_VIEW_INVESTIGATION_MULTIPLE_TEAM_MEMBER_TASKGROUPEVENTS_WITHCONDITION_Result grpevent in ViewBag.NotStared_Task)
                                                        {
                                                            <div class="assign-wrapp">
                                                                <div class="assign-tittle">
                                                                    <h5 title=@grpevent.InvestigationTaskGroupEventName : @grpevent.InvestigationTaskGroupEventDescription>@grpevent.InvestigationTaskGroupEventName : @grpevent.InvestigationTaskGroupEventDescription</h5>
                                                                </div>
                                                                <div class="inner-assign">
                                                                    <div class="assign-status">
                                                                        <div class="ai assign-inner">
                                                                            <h4>Assigned To</h4>
                                                                            <label class="status-val"></label>
                                                                        </div>
                                                                        <div class="ai status-inner">
                                                                            <h4>Status</h4>
                                                                            <label class="status-val not-started">Not Started</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="progress-status">
                                                                        <div class="progress skill-bar ">
                                                                            <div class="progress-bar progress-bar-pending"
                                                                                 ="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                                                <span class="val">0%</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="adding-re-btn">

                                                                    @if ((Convert.ToInt32(Session["roleid"]) == 4 || Convert.ToInt32(Session["roleid"]) == 3 || Convert.ToInt32(Session["roleid"]) == 7) && Convert.ToInt32(TempData["INV_STATUS"]) != 2)
                                                                    {


                                                                        <a href="" id="@grpevent.InvestigationTaskGroupEventID" class="if_tm_assign">Assign Now</a>


                                                                    }

                                                                </div>
                                                            </div>
                                                        }


                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="task-tag">
                                                        <div class="inver-tittle ips"><h3>INPROGRESS</h3></div>

                                                        @foreach (ISM_Project.Models.USP_VIEW_INVESTIGATION_MULTIPLE_TEAM_MEMBER_TASKGROUPEVENTS_WITHCONDITION_Result grpevents in ViewBag.Inprogress_Task)
                                                                    {
                                                            <div class="assign-wrapp">
                                                                <div class="assign-tittle">
                                                                    <h5 title=@grpevents.InvestigationTaskGroupEventName : @grpevents.InvestigationTaskGroupEventDescription>
                                                                        @grpevents.InvestigationTaskGroupEventName  : @grpevents.InvestigationTaskGroupEventDescription
                                                                    </h5>
                                                                </div>
                                                                <div class="inner-assign">
                                                                    <div class="assign-status">
                                                                        <div class="ai assign-inner">
                                                                            <h4>Assigned To</h4>
                                                                            @*<label class="status-val">@grpevents.FirstName</label>*@
                                                                            <a href="javascript:void(0);" class="assigned_members" id="@grpevents.InvestigationTaskGroupEventID">Show</a>
                                                                        </div>
                                                                        <div class="ai status-inner">
                                                                            <h4>Status</h4>
                                                                            <label class="status-val cannot-start">In Progress</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="progress-status">
                                                                        <div class="progress skill-bar ">
                                                                            <div class="progress-bar progress-bar-pending" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                                                <span class="val">@grpevents.ProgressInPercentage %</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*@if (Convert.ToInt32(Session["roleid"]) == 4)
                                                                    {*@
                                                                <div class="adding-re-btn">
                                                                    @if ((Convert.ToInt32(Session["roleid"]) == 4 || Convert.ToInt32(Session["roleid"]) == 3 || Convert.ToInt32(Session["roleid"]) == 7) && Convert.ToInt32(TempData["INV_STATUS"]) != 2)
                                                                    {
                                                                        string EventUniqueNumber = grpevents.InvestigationTaskGroupEventUniqueNumber;

                                                                        if ((EventUniqueNumber != "E1") && (EventUniqueNumber != "E66"))
                                                                        {
                                                                            <a class="due-btn" href="@Url.Action("Assigning_team_members_Removal", "Task", new { id = grpevents.InvestigationTaskGroupEventID, invid = Model.InvestigationId, CtrlFrom = "IF" })">
                                                                                <button type="button" class="btn assign-btn">Re-Assign</button>
                                                                            </a>
                                                                        }
                                                                        <a href="@Url.Action("ChangeCompletionDate", "Task", new { id = grpevents.InvestigationTaskGroupEventID, invid = Model.InvestigationId, CtrlFrom = "IF" })" data-toggle="tooltip" title="Change Completion Date"><i class="fas fa-calendar" aria-hidden="true"></i></a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a class="due-btn" href="">
                                                                            <button type="button" class="btn assign-btn">&nbsp;</button>
                                                                        </a>
                                                                    }
                                                                    @if (grpevents.InvestigationTaskStatus == 2)
                                                                    {
                                                                        <i class="fas fa-exclamation-circle" data-toggle="tooltip" title="Cannot start due to dependency"></i>
                                                                    }
                                                                    @*<a class="due-btn" href="@Url.Action("InvestigationDetails", "Task")"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>*@
                                                                    <a class="due-btn" href="@Url.Action("IICeventview", "Task", new { id = grpevents.InvestigationTaskAssignmentId,tskgrp_id=  TempData["Taskgroupid"] })"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>

                                                            </div>
                                                        }


                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="task-tag">
                                                        <div class="inver-tittle ord"><h3>OVERDUE</h3></div>

                                                        @foreach (ISM_Project.Models.USP_VIEW_INVESTIGATION_MULTIPLE_TEAM_MEMBER_TASKGROUPEVENTS_WITHCONDITION_Result grpevents in ViewBag.OverDue_Task)
                                                        {
                                                            <div class="assign-wrapp">
                                                                <div class="assign-tittle">
                                                                    <h5 title=@grpevents.InvestigationTaskGroupEventName : @grpevents.InvestigationTaskGroupEventDescription>
                                                                        @grpevents.InvestigationTaskGroupEventName  : @grpevents.InvestigationTaskGroupEventDescription
                                                                    </h5>
                                                                </div>
                                                                <div class="inner-assign">
                                                                    <div class="assign-status">
                                                                        <div class="ai assign-inner">
                                                                            <h4>Assigned To</h4>
                                                                            @*<label class="status-val">@grpevents.FirstName</label>*@
                                                                            <a href="javascript:void(0);" class="assigned_members" id="@grpevents.InvestigationTaskGroupEventID">Show</a>
                                                                        </div>
                                                                        <div class="ai status-inner">
                                                                            <h4>Status</h4>
                                                                            <label class="status-val overdue">Overdue</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="progress-status">
                                                                        <div class="progress skill-bar ">
                                                                            <div class="progress-bar progress-bar-overdue" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                                <span class="val">@grpevents.ProgressInPercentage %</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="adding-re-btn">
                                                                    @if ((Convert.ToInt32(Session["roleid"]) == 4 || Convert.ToInt32(Session["roleid"]) == 3 || Convert.ToInt32(Session["roleid"]) == 7) && Convert.ToInt32(TempData["INV_STATUS"]) != 2)
                                                                    {
                                                                        string EventUniqueNumber = grpevents.InvestigationTaskGroupEventUniqueNumber;

                                                                        if ((EventUniqueNumber != "E1") && (EventUniqueNumber != "E66"))
                                                                        {
                                                                            <a href="@Url.Action("Assigning_team_members_Removal", "Task", new { id = grpevents.InvestigationTaskGroupEventID, invid = Model.InvestigationId, CtrlFrom = "IF" })">
                                                                                <button type="button" class="btn assign-btn">Re-Assign</button>
                                                                            </a>
                                                                        }
                                                                        <a href="@Url.Action("ChangeCompletionDate", "Task", new { id = grpevents.InvestigationTaskGroupEventID, invid = Model.InvestigationId, CtrlFrom = "IF" })" data-toggle="tooltip" title="Change Completion Date"><i class="fas fa-calendar" aria-hidden="true"></i></a>

                                                                    }
                                                                    else
                                                                    {
                                                                        <a class="due-btn" href="">
                                                                            <button type="button" class="btn assign-btn">&nbsp;</button>
                                                                        </a>
                                                                    }


                                                                    <a class="due-btn" href="@Url.Action("IICeventview", "Task", new { id = grpevents.InvestigationTaskAssignmentId,tskgrp_id=  TempData["Taskgroupid"] })"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        }

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="task-tag">
                                                        <div class="inver-tittle cpt"><h3>COMPLETED</h3></div>

                                                        @foreach (ISM_Project.Models.USP_VIEW_INVESTIGATION_MULTIPLE_TEAM_MEMBER_TASKGROUPEVENTS_WITHCONDITION_Result grpevents in ViewBag.Completed_task)
                                                        {
                                                            <div class="assign-wrapp">
                                                                <div class="assign-tittle">
                                                                    <h5 title=@grpevents.InvestigationTaskGroupEventName : @grpevents.InvestigationTaskGroupEventDescription>
                                                                        @grpevents.InvestigationTaskGroupEventName  : @grpevents.InvestigationTaskGroupEventDescription
                                                                    </h5>
                                                                </div>
                                                                <div class="inner-assign">
                                                                    <div class="assign-status">
                                                                        <div class="ai assign-inner">
                                                                            <h4>Assigned To</h4>
                                                                            @*<label class="status-val">@grpevents.FirstName</label>*@
                                                                            <a href="javascript:void(0);" class="assigned_members" id="@grpevents.InvestigationTaskGroupEventID">Show</a>
                                                                        </div>
                                                                        <div class="ai status-inner">
                                                                            <h4>Status</h4>
                                                                            <label class="status-val completed">Completed</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="progress-status">
                                                                        <div class="progress skill-bar ">
                                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                                                <span class="val">@grpevents.ProgressInPercentage %</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="adding-re-btn cmp">
                                                                    <i class="fas fa-check-circle"></i>
                                                                    <a class="due-btn" href="@Url.Action("IICeventview", "Task", new { id = grpevents.InvestigationTaskAssignmentId,tskgrp_id=  TempData["Taskgroupid"] })"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>

                                                                </div>
                                                            </div>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sumitted form btns -->
                    <!-- sumitted form btns -->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="show_assigned" class="modal fade incharge-popup general_modal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:50%">
        <!-- Modal content-->
        <div class="modal-content" id="show_assignedMembers">
            <div class="modal-header">
                <div class="modal-title">
                    <h2>Members</h2>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="incharge-wrapp">
                    <ol id="assg_member"></ol>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-close" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
