﻿
@model ISM_Project.Models.ExternalStake
@{
    ViewBag.Title = "sendexternallink";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string grpname = string.Empty;
    string eventname = string.Empty;
    string extemail = string.Empty;
    int j = 1;
}



<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper">
                <div class="x_panel">
                    <div class="x_content">

                        <div class="create-user-table send-x-link">
                            @*repeat*@

                            @foreach (var st in Model.Ext_stk_holder)
                {
                    if (grpname != st.InvestigationTaskGroupName)
                    {
                        grpname = st.InvestigationTaskGroupName;

                        <div class="info-tittle">
                            <h2>@st.InvestigationTaskGroupName</h2>
                        </div>
        }
        if (eventname != st.InvestigationTaskGroupEventUniqueNumber)
        {
            eventname = st.InvestigationTaskGroupEventUniqueNumber;
            <div class="form-group">
                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">@st.InvestigationTaskGroupEventName</label>
                <div class="col-sm-8 col-form-box">@st.ExternalName</div>
            </div>
}



}
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Save_extdetails" }))
                {
            <div class="x_panel">
                <div class="info-tittle">
                    <h2>External Holder Details</h2>
                </div>
                <div class="create-user-table send-link-notification">
                    @*repeat*@
                    @foreach (var ext_email in Model.Ext_stk_holder_email)
                    {

                        if (extemail != ext_email.ExternalHolderName)
                        {

                            extemail = ext_email.ExternalHolderName;
                    <div class="info-tittle">
                        <h2>
                            @ext_email.ExternalHolderName
                                           
                            @Html.Hidden("holdername[]", Model.OperatorName, new { id = "holdername_" + j})
                                            </h2>
                    </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 col-form-label" for="exampleInputEmail1">First Name<span class="text-danger"></span></label>
                                <div class="col-sm-12 col-form-box">
                                 
                                    @Html.TextBox("FirstName[]", Model.FirstName_, new { id = "FirstName_" + j, @class = "form-control" })
                                    <small id="emailHelp" class="form-text text-muted"></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 col-form-label" for="exampleInputEmail1">Last Name<span class="text-danger"></span></label>
                                <div class="col-sm-12 col-form-box">
                               
                                    @Html.TextBox("LastName[]", Model.FirstName_, new { id = "LastName_" + j, @class = "form-control" })
                                    <small id="emailHelp" class="form-text text-muted"></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 col-form-label" for="exampleInputEmail1">Email ID<span class="text-danger"></span></label>
                                <div class="col-sm-12 col-form-box">
                    
                                    @Html.TextBox("Email[]", Model.Email_id, new { id = "Email_" + j, @class = "form-control" })
                                    <small id="emailHelp" class="form-text text-muted"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            j++;
                        }
                    }
                    
                </div>
            </div>
                <div class="inver-btns">

                    <button type="submit" class="btn btn-notify" id="BtnExternal">Save</button>

                </div>
                }
            </div>
        </div>
    </div>
