﻿
@{
    ViewBag.Title = "View_Inv_Prg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                  
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Investigation Progress</h2>
                                        </div>
                                        <form>
                                            <div class="scope-details">
                                                <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Name:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">ABC</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            UTC Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">27-01-2017 09:45</label>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Organization:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">XXXX</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Local Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">27-01-2017 09:45</label>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                    </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="task-scope-wrapp">
                                            <div class="info-tittle">
                                                <h2>Investigation Group Task Status</h2>
                                            </div>
                                            <div class="form-group">
                                                <div class="overall">
                                                    
                                                        <h3>Overall Progress</h3>
                                                   
                                                    <div class="col-sm-6 col-form-box padding-right">
                                                        <div class="progress" style="width: 100%; margin-bottom: 0px; background:#aba9a9;">
                                                            <div class="progress-bar" role="progressbar" style="width: 50%; background:#3498db;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="main-cards">
                                               
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title orange-card"><h3>Operations Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark">
                                                                        <span class="orange">55%</span>
                                                                        <div class="slice">
                                                                            <div class="bar orange-bar"></div>
                                                                            <div class="fill orange-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">2</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">3</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">1</span>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="assign-now"><a href="#">Reassign</a></div>
                                                                
                                                                <a href="@Url.Action("InvestigationFlow", "Task")" class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title green-card"><h3>Witness Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark1">
                                                                        <span class="green">100%</span>
                                                                        <div class="slice">
                                                                            <div class="bar green-bar"></div>
                                                                            <div class="fill green-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">0</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">0</span>
                                                                        </li>

                                                                    </ul>
                                                                 
                                                                </div>
                                                                <div class="card-footer cmp">
                                                                
                                                                    <i class="fas fa-check-circle"></i>

                                                                    <a class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title gray-card"><h3>Meteorology Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark2">
                                                                        <span class="gray">0%</span>
                                                                        <div class="slice">
                                                                            <div class="bar gray-bar"></div>
                                                                            <div class="fill gray-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">0</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">0</span>
                                                                        </li>
                                                                    </ul>
                                                                   
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="assign-now"><a href="#">Assign Now</a></div>
                                                                  
                                                                    <a class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title red-card"><h3>ATS & Airport Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark3">
                                                                        <span class="red">10%</span>
                                                                        <div class="slice">
                                                                            <div class="bar red-bar"></div>
                                                                            <div class="fill red-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">2</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">1</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">3</span>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="assign-now"><a href="#">Assign Now</a></div>
                                                                   
                                                                    <a class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title gray-card"><h3>Survivability Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark4">
                                                                        <span class="gray">0%</span>
                                                                        <div class="slice">
                                                                            <div class="bar gray-bar"></div>
                                                                            <div class="fill gray-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">0</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">0</span>
                                                                        </li>

                                                                    </ul>
                                                         
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="assign-now"><a href="#">Assign Now</a></div>
                                                                  
                                                                    <a class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title orange-card"><h3>Cabin Safety Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark5">
                                                                        <span class="orange">55%</span>
                                                                        <div class="slice">
                                                                            <div class="bar orange-bar"></div>
                                                                            <div class="fill orange-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">3</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">2</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">1</span>
                                                                        </li>
                                                                    </ul>
                                                                
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="assign-now"><a href="#">Reassign</a></div>
                                                                   
                                                                    <a class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title orange-card"><h3>Medical/HR Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark6">
                                                                        <span class="orange">55%</span>
                                                                        <div class="slice">
                                                                            <div class="bar orange-bar"></div>
                                                                            <div class="fill orange-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">3</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">2</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">1</span>
                                                                        </li>
                                                                    </ul>
                                                           
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="assign-now"><a href="#">Reassign</a></div>
                                                               
                                                                    <a href="@Url.Action("InvestigationFlow", "Task")" class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title red-card"><h3>Maintenance and Records Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark7">
                                                                        <span class="red">10%</span>
                                                                        <div class="slice">
                                                                            <div class="bar red-bar"></div>
                                                                            <div class="fill red-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">2</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">1</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">3</span>
                                                                        </li>
                                                                    </ul>
                                                                
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="assign-now"><a href="#">Assign Now</a></div>
                                                               
                                                                    <a href="@Url.Action("InvestigationFlow", "Task")" class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title red-card"><h3>Flight Recorders Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark8">
                                                                        <span class="red">10%</span>
                                                                        <div class="slice">
                                                                            <div class="bar red-bar"></div>
                                                                            <div class="fill red-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">2</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">1</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">3</span>
                                                                        </li>
                                                                    </ul>
                                                                
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="assign-now"><a href="#">Assign Now</a></div>
                                                                    
                                                                    <a href="@Url.Action("InvestigationFlow", "Task")" class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title green-card"><h3>Systems Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark9">
                                                                        <span class="green">100%</span>
                                                                        <div class="slice">
                                                                            <div class="bar green-bar"></div>
                                                                            <div class="fill green-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">0</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">0</span>
                                                                        </li>
                                                                    </ul>
                                                          
                                                                </div>
                                                                <div class="card-footer cmp">
                                                                    <i class="fas fa-check-circle"></i>

                                                                    <a href="@Url.Action("InvestigationFlow", "Task")" class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title green-card"><h3>Structures Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark10">
                                                                        <span class="green">100%</span>
                                                                        <div class="slice">
                                                                            <div class="bar green-bar"></div>
                                                                            <div class="fill green-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">0</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">0</span>
                                                                        </li>
                                                                    </ul>
                                                              
                                                                </div>
                                                                <div class="card-footer cmp">
                                                                    <i class="fas fa-check-circle"></i>

                                                                    <a href="@Url.Action("InvestigationFlow", "Task")" class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title gray-card"><h3>Powerplants Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark11">
                                                                        <span class="gray">0%</span>
                                                                        <div class="slice">
                                                                            <div class="bar gray-bar"></div>
                                                                            <div class="fill gray-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">0</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">0</span>
                                                                        </li>
                                                                    </ul>
                                                                    @*<div class="assign-now"><label>Assign Now</label></div>*@
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="assign-now"><a href="#">Assign Now</a></div>
                                                                
                                                                    <a href="@Url.Action("InvestigationFlow", "Task")" class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title gray-card"><h3>Site Survey Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark12">
                                                                        <span class="gray">0%</span>
                                                                        <div class="slice">
                                                                            <div class="bar gray-bar"></div>
                                                                            <div class="fill gray-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">0</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">0</span>
                                                                        </li>

                                                                    </ul>
                                                              
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="assign-now"><a href="#">Assign Now</a></div>

                                                                    <a href="@Url.Action("InvestigationFlow", "Task")" class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card">
                                                            <div class="card-main-title orange-card"><h3>Photo/Video Tasks</h3></div>
                                                            <div class="card-block">
                                                                <div class="card-block-inner">
                                                                    <div class="c100" id="mark13">
                                                                        <span class="orange">55%</span>
                                                                        <div class="slice">
                                                                            <div class="bar orange-bar"></div>
                                                                            <div class="fill orange-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="block-content">
                                                                    <ul>
                                                                        <li>
                                                                            <label class="nos-list">Number of sub-events</label><span class="list-right">6</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Unassigned events</label><span class="list-right">3</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Completed events</label><span class="list-right">2</span>
                                                                        </li>
                                                                        <li>
                                                                            <label class="nos-list">Inprogress</label><span class="list-right">1</span>
                                                                        </li>
                                                                    </ul>
                                                             
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="assign-now"><a href="#">Reassign</a></div>
  
                                                                    <a href="@Url.Action("InvestigationFlow", "Task")" class="btn btn-circle"><i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                <!-- sumitted form btns -->
                                <!-- sumitted form btns -->
                            </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>


