﻿@model ISM_Project.Models.SR
@{
    ViewBag.Title = "New_SR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">

                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle-remove">
                                        </div>
                                        <div class="x_content form-create-user-table">
                                            <div class="scope-details">
                                                @if (Model != null)
                                                {
                                                    if (Model.Inv != null)
                                                    {
                                                        if (Model.Inv.Count() > 0)
                                                        {
                                                            foreach (var inv in Model.Inv)
                                                            {
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                Notifier Name:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierName) ? Convert.ToString(inv.NotifierName) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                Local Date & Time of Occurrence:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.LocalDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.LocalDateAndTimeOfOccurrence).ToString("dd/MMM/yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                Notifier Organization:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierOrganization) ? Convert.ToString(inv.NotifierOrganization) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                UTC Date & Time of Occurrence:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.UTCDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.UTCDateAndTimeOfOccurrence).ToString("dd/MMM/yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Safety Recommendation</h2>
                                        </div>
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "new_SR", enctype = "multipart/form-data" }))
                                        {
                                            <div class="x_content create-user-table mtop15">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Type of Safety recommendation:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                @Html.DropDownList("TypeofsafetyRecommendation", ViewBag.TypeOf_SafetyRecomm as SelectList, new { @class = "form-control", @*@onchange = "getSRNumberBySRTpe(this)"*@})
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Safety recommendation year:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <div type="text" class='input-group srdate' @*onchange="getSRNumberBySRTpe(this)"*@>
                                                                    <input type="text" id="SR_Date" class="form-control" name="SR_Date" value="@ViewBag.SR_Date" onkeydown="return false;" />
                                                                    @Html.Hidden("safetyRecommendationyear", Convert.ToInt32(DateTime.Now.Year))
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                SR Identification no:<span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                @Html.TextBox("SafetyRecommendationNumber", Convert.ToString(TempData["SR_NUM"]), new { @placeholder = "SRXX-XXXX", @id = "SafetyRecommendationNumber", @class = "form-control" })
                                                                @Html.Hidden("SafetyRecommendationNumber", Convert.ToString(TempData["SR_NUM"]))
                                                                @Html.Hidden("InvestigationFileID", Convert.ToInt32(TempData["InvId"]))
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Assign To: <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                @Html.TextBox("SafetyRecommendationAssignedTo", Model.SafetyRecommendationAssignedTo, new { @id = "SafetyRecommendationAssignedTo", @class = "form-control" })
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Date of creation:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                @Html.Label("DateCreated", DateTime.Now.ToString("dd/MMM/yyyy"), new { @class = "form-values" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Prepared by:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                @Html.LabelFor(a => a.FirstName, Convert.ToString(Session["FirstName"]), new { @class = "form-values" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="create-user-table">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div class="col-form-box">
                                                                    @Html.TextArea("SafetyRecommendation", Convert.ToString(TempData["SR_Data"]), new { @class = "SR-actions" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Attachments <span class="text-danger"></span></label>
                                                    <div class="col-sm-7 padding-right">
                                                        <div class="form-group attachments-tag">
                                                            <div class="input-group tag-bottom">
                                                                <input id="SRuploadFile_0" class="form-control" placeholder="Choose File" disabled="disabled">
                                                                <div class="input-group-btn">
                                                                    <div id="FileUpload_0" class="fileUpload btn btn-success">
                                                                        <span><i class="fa fa-upload" aria-hidden="true"></i>Choose File</span>
                                                                        <input id="SRuploadBtn_0" type="file" name="SRFiles[]" class="upload SRupload">
                                                                        <input type="hidden" id="SRhdnVal_0" class="hdnfile" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <label class="cur attach-add" id="SR_add_attachment"> Add Attachment <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                                    </div>
                                                </div>
                                                @if (Model.SR_Attach != null)
                                                {
                                                    if (Model.SR_Attach.Count() > 0)
                                                    {
                                                        <div class="form-group">
                                                            <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Attached Documents <span class="text-danger"></span></label>
                                                            <div class="col-sm-8 padding-right">
                                                                <ul>
                                                                    @foreach (var Files in Model.SR_Attach)
                                                                    {
                                                                        <li id="list_@Files.InvestigationSafetyRecommendationAttachmentID">
                                                                            <a href="@Files.AttachmentPublicUrl" id="file_@Files.InvestigationSafetyRecommendationAttachmentID" target="_blank">@Files.AttachmentPublicUrl.ToString().Split('/').Last() </a>
                                                                            @if (Files.CreatedBy == Convert.ToInt32(Session["UserID"]))
                                                                            {
                                                                                <a href="#" id="attach_@Files.InvestigationSafetyRecommendationAttachmentID" class="remove_SRattachment">Delete</a>
                                                                            }
                                                                        </li>
                                                                    }
                                                                </ul>

                                                            </div>
                                                        </div>
                                                    }
                                                }

                                                <div class="col-md-12 safety-content">
                                                    <div class="row">

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <div class="create-bottom-btn">
                                        <button type="button" class="btn btn-save" id="btnSaveSR" onclick="saveNewSR()">Save</button>                                      

                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.min.js"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>
    $(document).ready(function () {
        tinymce.init({
            selector: '.SR-actions',
            //selector: '.form-textarea',
            body_class: 'my_class',
          // content_css: 'style.css',
            plugins: [
                "code", "image", "link"
            ], extended_valid_elements: "ol[start|type]"
        });
    });
</script>


