﻿@using PagedList;
@using PagedList.Mvc;

@model ISM_Project.Models.SR
@{
    ViewBag.Title = "SearchSR";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? SR_cur_page = (ViewBag.SRpage_no);
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    @using (Html.BeginForm("SearchSR", "SR", new { id = SR_cur_page }, FormMethod.Post, new { id = "SRSearch" }))
                    {
                        <div class="main-wrapper">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle">
                                                <h2>Safety Recommendations List</h2>
                                            </div>
                                            <div id="srdelete-dialog" title="Confirmation" hidden="hidden">
                                                <p>Are you sure you want to delete ?</p>
                                            </div>
                                            <div class="task-scope-wrapp saftey-tape">
                                                <div class="search-field">
                                                    <div class="i-search nc">
                                                        <div id="custom-search-input">
                                                            <div class="input-group">
                                                                @Html.TextBox("SafetyRecommendationNumber", "", new { @placeholder = "SR Number,Investigation Number", @class = "form-control" })
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-info btn-lg" type="submit">
                                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="main-wrapper current-project-wrapper">
                                                    @if (Convert.ToString(TempData["SearchKey"]) != "")
                                                    {
                                                        <a id="clear_search" href="">Clear All</a>
                                                    }

                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="x_panel-corres">
                                                                <div class="x_content">
                                                                    <div class="table-tittle">

                                                                    </div>
                                                                    <div class="table-responsive">
                                                                        <table id="datatable" class="table table-responsive table-bordered table-hover correspondance-table">
                                                                            <!-- need pagination table -->
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>SR ID Number</th>
                                                                                    <th>Investigation Number</th>
                                                                                    <th>Date Created</th>
                                                                                    <th>Status</th>
                                                                                    <th>Delete</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (Model != null)
                                                                                {
                                                                                    int i = ViewBag.SR_serial_nbr;

                                                                                    if (Model.SR_info != null)
                                                                                    {
                                                                                        if (Model.SR_info.Count() > 0)
                                                                                        {
                                                                                            var SRPage = Model.SR_info.ToList().ToPagedList(SR_cur_page ?? 1, 10);
                                                                                            foreach (var SR in SRPage)
                                                                                            {
                                                                                                i++;
                                                                                                string SRDate = SR.SafetyRecommendationDateCreated.ToString("dd/MM/yyyy");
                                                                                                <tr>
                                                                                                    <td>@i</td>
                                                                                                    <td>@Html.Label(SR.SafetyRecommendationNumber)</td>
                                                                                                    <td>@Html.Label(SR.InvestigationFileNumber)</td>
                                                                                                    <td>@SRDate</td>
                                                                                                    <td>@SR.STATUS</td>
                                                                                                    <td>@Html.ActionLink("Delete", "DeleteSR", "SR", new { id = SR.InvestigationSafetyRecommendationID }, new { @class = "dashboardlink Inv_Incomplete Srdelete-link" })</td>
                                                                                                </tr>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <tr>
                                                                                                <td colspan="4"><p style="text-align:center">No Safety Recommendations available</p></td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                }

                                                                            </tbody>
                                                                        </table>
                                                                        @if (ViewBag.count_SRpagecontent > 10)
                                                                        {                                                                            
                                                                            @Html.PagedListPager(Model.SR_info.ToList().ToPagedList(SR_cur_page ?? 1, 10), page => Url.Action("SearchSR", new { page, searchkey = Model.SafetyRecommendationNumber }))
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

