﻿@using PagedList;
@using PagedList.Mvc;

@model ISM_Project.Models.SR
@{
    ViewBag.Title = "ViewAllSR";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? SR_cur_page = (ViewBag.SRpage_no);

}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">

                    @using (Html.BeginForm("ViewAllSR", "SR", new { id = TempData["InvId"] }, FormMethod.Post, new { id = "SRForm" }))
                    {
                        <div class="main-wrapper">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle">
                                                <h2>Safety Recommendations</h2>
                                            </div>
                                            <form>
                                                <div class="scope-details">
                                                    @if (Model != null)
                                                    {
                                                        if (Model.Inv != null)
                                                        {
                                                            if (Model.Inv.Count() > 0)
                                                            {
                                                                foreach (var inv in Model.Inv)
                                                                {
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                    Notifier Name:
                                                                                </label>
                                                                                <div class="col-sm-6 col-form-box">
                                                                                    @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierName) ? Convert.ToString(inv.NotifierName) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                    Local Date & Time of Occurrence:
                                                                                </label>
                                                                                <div class="col-sm-6 col-form-box">
                                                                                    @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.LocalDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                    Notifier Organization:
                                                                                </label>
                                                                                <div class="col-sm-6 col-form-box">
                                                                                    @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierOrganization) ? Convert.ToString(inv.NotifierOrganization) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                    UTC Date & Time of Occurrence:
                                                                                </label>
                                                                                <div class="col-sm-6 col-form-box">
                                                                                    @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.UTCDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    }

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle">
                                                <h2>Safety Recommendations List</h2> @*Safety Recommendations List*@
                                            </div>
                                            <div class="task-scope-wrapp saftey-tape">
                                                <div class="search-field">                                                  
                                                    <div class="i-search nc">
                                                        <div id="custom-search-input">
                                                            <div class="input-group">
                                                                @Html.TextBox("SafetyRecommendationNumber", "", new { @placeholder = "SR Number,SR Content", @class = "form-control" })
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-info btn-lg" type="submit">
                                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    @if (Model != null)
                                                    {
                                                        bool status = false;

                                                        int i = ViewBag.SR_serial_nbr;

                                                        if (Model.SR_Status != null)
                                                        {
                                                            if (Model.SR_Status.Count() > 0)
                                                            {
                                                                foreach (var SR in Model.SR_Status)
                                                                {
                                                                    if (!string.IsNullOrEmpty(SR.DAAIStatus))
                                                                    {
                                                                        if (SR.DAAIStatus.ToLower() == "rejected")
                                                                        {
                                                                            status = true;
                                                                        }
                                                                        else
                                                                        {
                                                                            status = false;
                                                                        }
                                                                    }
                                                                }

                                                            }
                                                            else
                                                            {
                                                                status = true;
                                                            }
                                                        }
                                                        //if (status == true && Session["roleid"].ToString() == "4" && Convert.ToInt32(TempData["Inv_Status"]) != 2)
                                                        if (Session["roleid"].ToString() == "4" || Session["roleid"].ToString() == "7")
                                                        {
                                                            <div class="occ-new">
                                                                <button type="button" class="btn btn-addnew" onclick="location.href='@Url.Action("AddSR", "SR", new { mode = "new", id = TempData["InvId"] })'">
                                                                    <i class="fas fa-plus"></i>Add New
                                                                </button>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                              
                                                <div class="main-wrapper current-project-wrapper">
                                                    @if (Convert.ToString(TempData["SearchKey"]) != "")
                                                    {
                                                        <a id="clear_search" href="">Clear All</a>
                                                    }
                                                    @if (Model.AllSR.Count() > 0)
                                                    {
                                                    <a class="SRreport" onclick="location.href='/SR/PrintSRDetails/?id=@TempData["InvId"]'" id="Printsr" data-toggle="modal">Status Report</a>
                                                    }
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="x_panel-corres">
                                                                <div class="x_content">
                                                                    <div class="table-tittle">

                                                                    </div>
                                                                    <div class="table-responsive">
                                                                        <table id="datatable" class="table table-responsive table-bordered table-hover correspondance-table">
                                                                            <!-- need pagination table -->
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>SR ID Number</th>
                                                                                    <th>Date Created</th>
                                                                                    <th>Status</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (Model != null)
                                                                                {
                                                                                    int i = ViewBag.SR_serial_nbr;

                                                                                    if (Model.AllSR != null)
                                                                                    {
                                                                                        if (Model.AllSR.Count() > 0)
                                                                                        {
                                                                                            int SRID = 0;
                                                                                            var SRPage = Model.AllSR.ToList().ToPagedList(SR_cur_page ?? 1, 10);
                                                                                            foreach (var SR in SRPage)
                                                                                            {
                                                                                                i++;
                                                                                                string SRDate = SR.SafetyRecommendationDateCreated.ToString("dd/MM/yyyy");
                                                                                                <tr>
                                                                                                    <td>@i</td>
                                                                                                    <td>@Html.ActionLink(SR.SafetyRecommendationNumber, "ViewSR", "SR", new { id = TempData["InvId"], SRid = SR.InvestigationSafetyRecommendationID }, htmlAttributes: new { @class = "dashboardlink" })</td>
                                                                                                    <td>@SRDate</td>
                                                                                                    <td>@SR.STATUS</td>
                                                                                                </tr>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <tr>
                                                                                                <td colspan="4"><p style="text-align:center">No Safety Recommendations available</p></td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                }

                                                                            </tbody>
                                                                        </table>
                                                                        @if (ViewBag.count_SRpagecontent > 10)
                                                                        {

                                                                            @Html.PagedListPager(Model.AllSR.ToList().ToPagedList(SR_cur_page ?? 1, 10), page => Url.Action("ViewAllSR", "SR", new { page, id = TempData["InvId"] }))

                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

