﻿@model ISM_Project.Models.Form39
@{
    ViewBag.Title = "DI_Filled_Form35";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper">

                    @foreach (var Investigation in Model.Form35_DI)
                    {
                        <div class="main-wrapper">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle"><h2>General Info</h2></div>
                                            <div class="aircraft-details form-create-user-table">
                                                <form>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                            Notification Number:
                                                        </label>
                                                        <div class="col-sm-9 col-form-box">
                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.NotificationID)) ? Convert.ToString(Investigation.NotificationID) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Notifier Name:</label>
                                                        <div class="col-sm-3 col-form-box">

                                                            <label>@Investigation.NotifierName</label>

                                                        </div>
                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                            Notifier Posititon:
                                                        </label>
                                                        <div class="col-sm-3 col-form-box">
                                                            <label>@Investigation.NotifierPosition</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Notifier Organization:</label>
                                                        <div class="col-sm-3 col-form-box">
                                                            <label>@Investigation.NotifierOrganization</label>
                                                        </div>
                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Notifier Contact No:</label>
                                                        <div class="col-sm-3 col-form-box">
                                                            <label>@Investigation.NotifierContactNumber</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Date & Time Of Call:</label>
                                                        <div class="col-sm-9 col-form-box">
                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.Occ_NotifierCallDate)) ? Convert.ToDateTime(Investigation.Occ_NotifierCallDate).ToString("dd/MM/yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                            @*   @Html.Label((!string.IsNullOrEmpty(Convert.ToDateTime(Investigation.NotifierCallDate).ToString("dd/MM/yyyy HH:mm:ss")) ? Convert.ToDateTime(Investigation.NotifierCallDate).ToString("dd/MM/yyyy HH:mm:ss") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Local Date & Time of Occurrence:</label>
                                                        <div class="col-sm-3 col-form-box">
                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.LocalDateAndTimeOfOccurrence)) ? Convert.ToDateTime(Investigation.LocalDateAndTimeOfOccurrence).ToString("dd/MM/yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                            @* @Html.Label((!string.IsNullOrEmpty(Convert.ToDateTime(Investigation.LocalDateAndTimeOfOccurrence).ToString("dd/MM/yyyy")) ? Convert.ToDateTime(Investigation.LocalDateAndTimeOfOccurrence).ToString("dd/MM/yyyy") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@
                                                        </div>
                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">UTC Date & Time of Occurrence:</label>
                                                        <div class="col-sm-3 col-form-box">
                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.UTCDateAndTimeOfOccurrence)) ? Convert.ToDateTime(Investigation.UTCDateAndTimeOfOccurrence).ToString("dd/MM/yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Place:</label>
                                                        <div class="col-sm-3 col-form-box">
                                                            @Html.Label(Convert.ToString(!string.IsNullOrEmpty(Investigation.PlaceOfIncident) ? Convert.ToString(Investigation.PlaceOfIncident) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                        </div>
                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Number of Aircrafts involved:</label>
                                                        <div class="col-sm-3 col-form-box">
                                                            @Html.Label(Convert.ToString(Investigation.NoOfAircraftInvolved), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <label class="col-sm-12 col-form-label" for="exampleInputPassword1">Injuries to Persons<span class="text-danger"></span></label>
                                                        <div class="col-sm-12 col-form-box">
                                                            <div class="form-min-table">
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Injuries </th>
                                                                            <th>Crew<span class="text-danger"></span></th>
                                                                            <th>Passengers<span class="text-danger"></span></th>
                                                                            <th>Others<span class="text-danger"></span></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Fatal</td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.CrewsWithFatalInjuryInfo)) ? Convert.ToString(Investigation.CrewsWithFatalInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                            </td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.PassengersWithFatalInjuryInfo)) ? Convert.ToString(Investigation.PassengersWithFatalInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })


                                                                            </td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.OthersWithFatalInjuryInfo)) ? Convert.ToString(Investigation.OthersWithFatalInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Serious</td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.CrewsWithSeriousInjuryInfo)) ? Convert.ToString(Investigation.CrewsWithSeriousInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                            </td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.PassengersWithSeriousInjuryInfo)) ? Convert.ToString(Investigation.PassengersWithSeriousInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                            </td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.OthersWithSeriousInjuryInfo)) ? Convert.ToString(Investigation.OthersWithSeriousInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Minor</td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.CrewsWithMinorInjuryInfo)) ? Convert.ToString(Investigation.CrewsWithMinorInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })


                                                                            </td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.PassengersWithMinorInjuryInfo)) ? Convert.ToString(Investigation.PassengersWithMinorInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                            </td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.OthersWithMinorInjuryInfo)) ? Convert.ToString(Investigation.OthersWithMinorInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>None</td>

                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.CrewsKilledInfo)) ? Convert.ToString(Investigation.CrewsKilledInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                            </td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.PassengersKilledInfo)) ? Convert.ToString(Investigation.PassengersKilledInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                            </td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.OthersKilledInfo)) ? Convert.ToString(Investigation.OthersKilledInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Total</td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.CrewsTotalInjury)) ? Convert.ToString(Investigation.CrewsTotalInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                            </td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.PassengersTotalInjury)) ? Convert.ToString(Investigation.PassengersTotalInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                            </td>
                                                                            <td>
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.OthersTotalInjury)) ? Convert.ToString(Investigation.OthersTotalInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    @if (Model.Inv_AircraftDet.Count() > 0)
                                                    {
                                                        int i = 0;
                                                        foreach (var Aircraft in Model.Inv_AircraftDet)
                                                        {
                                                            i++;
                                                            <div class="info-tittle" style="margin-top:15px;"><h2>Aircraft -@i</h2></div>
                                                            <div id="aircraft-details-@i">

                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Flight Number:</label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        @*@Html.Label(Convert.ToString(!string.IsNullOrEmpty(Aircraft.FlightNumber) ? Convert.ToString(Aircraft.FlightNumber) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@
                                                                        <label>@Aircraft.FlightNumber</label>
                                                                    </div>
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Long & Lat :</label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        @*@Html.Label("", String.Format("{0:N4}", Aircraft.latitudeAndlongitude) + " & " + String.Format("{0:N4}", Investigation.PlaceOfIncidentLongitude), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@
                                                                        @Html.Label("", (!string.IsNullOrEmpty(Convert.ToString(Aircraft.latitudeAndlongitude))) ? String.Format("{0:N4}", Aircraft.latitudeAndlongitude) : "N/A", new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputPassword1">Departure Airport:</label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        @Html.Label(Aircraft.DepatureAirport, new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                    </div>
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Destination Airport:</label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        @Html.Label(Aircraft.DestinationAirport, new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputPassword1">Passengers Onboard:</label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        @Html.Label(Convert.ToString(Aircraft.PassengersOnBoard), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                    </div>
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Crew Onboard:</label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        @Html.Label(Convert.ToString(Aircraft.CrewOnBoard), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                    </div>
                                                                </div>


                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                        Make and Model:
                                                                    </label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        @Html.Label(Convert.ToString(!string.IsNullOrEmpty(Aircraft.AircraftModel) ? Convert.ToString(Aircraft.AircraftModel) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                    </div>
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                        Engine Info:
                                                                    </label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.AircraftEngineInfo)) ? Convert.ToString(Aircraft.AircraftEngineInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                        Aircraft Category:
                                                                    </label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.AircraftCategory)) ? Convert.ToString(Aircraft.AircraftCategory) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                    </div>
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                        Registration:
                                                                    </label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        @Html.Label(Convert.ToString(!string.IsNullOrEmpty(Aircraft.AircraftRegistration) ? Convert.ToString(Aircraft.AircraftRegistration) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                    </div>
                                                                </div>


                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                        Maximum Take Off Mass (kg):
                                                                    </label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        <label>@Aircraft.AircraftMaximumMass</label>
                                                                        @*@Html.Label("", String.Format("{0:N2}", Aircraft.AircraftMaximumMass), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@
                                                                    </div>
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                        MSN:
                                                                    </label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        <label>@Aircraft.MSN</label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                        Operator Name:
                                                                    </label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.OperatorName)) ? Convert.ToString(Aircraft.OperatorName) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                    </div>
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                        State of the Operator:
                                                                    </label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        @Html.Label(Convert.ToString(!string.IsNullOrEmpty(Aircraft.StateofOperator) ? Convert.ToString(Aircraft.StateofOperator) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                        Operator Contacts:
                                                                    </label>
                                                                    <div class="col-sm-3 col-form-box">
                                                                        @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.OperatorContactNo)) ? Convert.ToString(Aircraft.OperatorContactNo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                        <div class="x_panel">
                            <div class="x_content create-user-table">
                                <div class="aircraft-details form-create-user-table di-radio">
                                    <div class="info-tittle"><h2>Occurrence Classification</h2></div>

                                    <form>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label">Classification:</label>
                                            <div class="col-sm-8 col-form-box">
                                                @foreach (ISM_Project.Models.USP_GET_INCIDENTTYPE_Result Incident_Types in ViewBag.Incident_TypeList)
                                                {
                                                    <label class="radio-inline">
                                                        @if (Investigation.IncidentType != null)
                                                        {
                                                            if (Incident_Types.LKIncidentTypeID == Convert.ToInt32(Investigation.LKIncidentTypeID))
                                                            {
                                                                @Html.RadioButton("Incident_TypeList", Incident_Types.LKIncidentTypeID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("Incident_TypeList", Incident_Types.LKIncidentTypeID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("Incident_TypeList", Incident_Types.LKIncidentTypeID, false, new { @disabled = true })
                                                        }
                                                        @Incident_Types.LKIncidentTypeName

                                                    </label>

                                                }

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                Occurrence Description:
                                            </label>
                                            <div class="col-sm-8 col-form-box">
                                                <label>@Investigation.EventDescription</label>
                                                @*@Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.EventDescription)) ? Convert.ToString(Investigation.EventDescription) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                Prevailing weather conditions at the accident site:
                                            </label>
                                            <div class="col-sm-8 col-form-box">
                                                <label>@Investigation.PrevailingWeatherConditions</label>
                                                @*@Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.EventDescription)) ? Convert.ToString(Investigation.EventDescription) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                Extent of damage to the aircraft:
                                            </label>
                                            <div class="col-sm-8 col-form-box">
                                                <label>@Investigation.ExtendOfDamageToAircraft</label>
                                                @*@Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.EventDescription)) ? Convert.ToString(Investigation.EventDescription) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                Damage to objects or structures on the ground:
                                            </label>
                                            <div class="col-sm-8 col-form-box">
                                                <label>@Investigation.DamagesToGroundObjects</label>
                                                @*@Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.EventDescription)) ? Convert.ToString(Investigation.EventDescription) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                A description of any explosives or other dangerous articles carried on board the aircraft:
                                            </label>
                                            <div class="col-sm-8 col-form-box">
                                                <label>@Investigation.DescriptionOfExplosivesAndDangerousArticles</label>
                                                @*@Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.EventDescription)) ? Convert.ToString(Investigation.EventDescription) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Attachments:</label>
                                            <div class="col-sm-8 col-form-box">
                                                @if (Model.Attachment.Count() > 0)
                                                {
                                                    foreach (var file in Model.Attachment)
                                                    {
                                                        string filename = Convert.ToString(file.AttachmentPublicUrl);
                                                        filename = filename.Substring(filename.LastIndexOf('/') + 1);
                                                        <a target="_blank" href="@file.AttachmentPublicUrl" class="form-35-attach">@filename</a>
                                                    }
                                                }
                                                else
                                                {
                                                    <label class="col-form-values" for="exampleInputEmail1">No attachments available</label>
                                                }
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="x_panel">
                            <div class="x_content create-user-table">
                                <div class="info-tittle"><h2>DI Occurrence Assessment </h2></div>
                                <div class="aircraft-details-di form-create-user-table">
                                    <form>
                                        <div class="form-group">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Is the Occurrence classified as an Accident or Serious Incident?</label>
                                            <div class="col-sm-6 col-form-box">

                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result AccID_ClassLists in ViewBag.AccID_ClassList)
                                                {
                                                    <label class="radio-inline">
                                                        @if (Investigation.AccidentOrSeriousIncident != 0)
                                                        {
                                                            if (AccID_ClassLists.ID == Convert.ToInt32(Investigation.AccidentOrSeriousIncident))
                                                            {
                                                                @Html.RadioButton("AccID_ClassLists", AccID_ClassLists.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("AccID_ClassLists", AccID_ClassLists.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("AccID_ClassLists", AccID_ClassLists.ID, false, new { @disabled = true })
                                                        }
                                                        @AccID_ClassLists.LKVALUE

                                                    </label>

                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Does the Occurrence involve a large or small aircraft?</label>
                                            <div class="col-sm-6 col-form-box option-tags">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result Air_ClassList in ViewBag.Air_ClassList)
                                                {
                                                    <label class="radio-inline">
                                                        @if (Investigation.LargeOrSmallAircraft != 0)
                                                        {
                                                            if (Air_ClassList.ID == Convert.ToInt32(Investigation.LargeOrSmallAircraft))
                                                            {
                                                                @Html.RadioButton("Air_ClassList", Air_ClassList.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("Air_ClassList", Air_ClassList.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("Air_ClassList", Air_ClassList.ID, false, new { @disabled = true })
                                                        }
                                                        @Air_ClassList.LKVALUE

                                                    </label>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Commercial or Private use?</label>
                                            <div class="col-sm-6 col-form-box option-tags">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result USEList in ViewBag.USEList)
                                                {
                                                    <label class="radio-inline">
                                                        @if (Investigation.CommercialOrPrivate != 0)
                                                        {
                                                            if (USEList.ID == Convert.ToInt32(Investigation.CommercialOrPrivate))
                                                            {
                                                                @Html.RadioButton("USEList", USEList.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("USEList", USEList.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("USEList", USEList.ID, false, new { @disabled = true })
                                                        }
                                                        @USEList.LKVALUE

                                                    </label>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Involve a UAE registered aircraft or foreign registered aircraft?</label>
                                            <div class="col-sm-6 col-form-box option-tags">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result INVOLVEList in ViewBag.INVOLVEList)
                                                {
                                                    <label class="radio-inline">
                                                        @if (Investigation.UAERegisteredAircraft != 0)
                                                        {
                                                            if (INVOLVEList.ID == Convert.ToInt32(Investigation.UAERegisteredAircraft))
                                                            {
                                                                @Html.RadioButton("INVOLVEList", INVOLVEList.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("INVOLVEList", INVOLVEList.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("INVOLVEList", INVOLVEList.ID, false, new { @disabled = true })
                                                        }
                                                        @INVOLVEList.LKVALUE

                                                    </label>
                                                }
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Involve a UAE registered operator or foreign registered operator?</label>
                                            <div class="col-sm-6 col-form-box option-tags">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result operINVOLVEList in ViewBag.INVOLVEList)
                                                {
                                                    <label class="radio-inline">
                                                        @if (Investigation.UAEOperator != 0)
                                                        {
                                                            if (operINVOLVEList.ID == Convert.ToInt32(Investigation.UAEOperator))
                                                            {
                                                                @Html.RadioButton("Oper_INVOLVEList", operINVOLVEList.ID, true, new { @disabled = true })
                                                            }
                                                            else 
                                                            {
                                                                @Html.RadioButton("Oper_INVOLVEList", operINVOLVEList.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("Oper_INVOLVEList", operINVOLVEList.ID, false, new { @disabled = true })
                                                        }
                                                        @operINVOLVEList.LKVALUE

                                                    </label>
                                                }
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Is there a trend on the same operator, aircraft type, kind of operation as per the review of ROSI?</label>
                                            <div class="col-sm-6 col-form-box option-tags">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result YesNoList1 in ViewBag.YesNoList)
                                                {
                                                    <label class="radio-inline">

                                                        @if (Investigation.TrendOnOperatorOrAircraftType != 0)
                                                        {
                                                            if (YesNoList1.ID == Convert.ToInt32(Investigation.TrendOnOperatorOrAircraftType))
                                                            {
                                                                @Html.RadioButton("YesNoList1", YesNoList1.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("YesNoList1", YesNoList1.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("YesNoList1", YesNoList1.ID, false, new { @disabled = true })
                                                        }
                                                        @YesNoList1.LKVALUE

                                                    </label>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Is there any anticipated safety value of an investigation</label>
                                            <div class="col-sm-6 col-form-box option-tags">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result YesNoList2 in ViewBag.YesNoList)
                                                {
                                                    <label class="radio-inline">

                                                        @if (Investigation.AnticipatedSafetyValueOfInvestigation != 0)
                                                        {
                                                            if (YesNoList2.ID == Convert.ToInt32(Investigation.AnticipatedSafetyValueOfInvestigation))
                                                            {
                                                                @Html.RadioButton("YesNoList2", YesNoList2.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("YesNoList2", YesNoList2.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("YesNoList2", YesNoList2.ID, false, new { @disabled = true })
                                                        }
                                                        @YesNoList2.LKVALUE

                                                    </label>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Is it expected to make a potential impact on public confidence on aviation safety? </label>
                                            <div class="col-sm-6 col-form-box option-tags">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result YesNoList3 in ViewBag.YesNoList)
                                                {
                                                    <label class="radio-inline">

                                                        @if (Investigation.PotentialImpactOnPublicConfidence != 0)
                                                        {
                                                            if (YesNoList3.ID == Convert.ToInt32(Investigation.PotentialImpactOnPublicConfidence))
                                                            {
                                                                @Html.RadioButton("YesNoList3", YesNoList3.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("YesNoList3", YesNoList3.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("YesNoList3", YesNoList3.ID, false, new { @disabled = true })
                                                        }
                                                        @YesNoList3.LKVALUE

                                                    </label>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                Have a relevance to an identified and targeted safety program?
                                            </label>
                                            <div class="col-sm-6 col-form-box option-tags">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result YesNoList7 in ViewBag.YesNoList)
                                                {
                                                    <label class="radio-inline">

                                                        @if (Investigation.HaveRelevanceToSafetyProgram != 0)
                                                        {
                                                            if (YesNoList7.ID == Convert.ToInt32(Investigation.HaveRelevanceToSafetyProgram))
                                                            {
                                                                @Html.RadioButton("YesNoList7", YesNoList7.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("YesNoList7", YesNoList7.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("YesNoList7", YesNoList7.ID, false, new { @disabled = true })
                                                        }
                                                        @YesNoList7.LKVALUE

                                                    </label>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Are there enough available resources and projected to be available in the event of conflicting priorities?</label>
                                            <div class="col-sm-6 col-form-box option-tags">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result YesNoList4 in ViewBag.YesNoList)
                                                {
                                                    <label class="radio-inline">

                                                        @if (Investigation.ResourceAvailability != 0)
                                                        {
                                                            if (YesNoList4.ID == Convert.ToInt32(Investigation.ResourceAvailability))
                                                            {
                                                                @Html.RadioButton("YesNoList4", YesNoList4.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("YesNoList4", YesNoList4.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("YesNoList4", YesNoList4.ID, false, new { @disabled = true })
                                                        }
                                                        @YesNoList4.LKVALUE
                                                    </label>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                Is there any other opportunity to be investigated by other investigation authority?Or to be internally investigated by the concerned operator?
                                            </label>
                                            <div class="col-sm-6 col-form-box option-tags">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result YesNoList5 in ViewBag.YesNoList)
                                                {
                                                    <label class="radio-inline">
                                                        @if (Investigation.OppurtunityForOtherInvestigationAuthorities != 0)
                                                        {
                                                            if (YesNoList5.ID == Convert.ToInt32(Investigation.OppurtunityForOtherInvestigationAuthorities))
                                                            {
                                                                @Html.RadioButton("YesNoList5", YesNoList5.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("YesNoList5", YesNoList5.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("YesNoList5", YesNoList5.ID, false, new { @disabled = true })
                                                        }
                                                        @YesNoList5.LKVALUE

                                                    </label>
                                                }
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                What is the time gap between the Occurrence and its notification?
                                            </label>
                                            <div class="col-sm-6 col-form-box option-tags">

                                                @*@if (!string.IsNullOrEmpty(Investigation.TimeBetweenOccurrenceAndNotification))
                {
                    String[] TimeBetweenOccurrenceAndNotification = Investigation.TimeBetweenOccurrenceAndNotification.ToString().Split(',');

                    string TimeBetweenOccurrence = "";

                    TimeBetweenOccurrence = TimeBetweenOccurrenceAndNotification[0].ToString().Split('D')[0].Trim();

                    TimeBetweenOccurrence += " Days,";

                    TimeBetweenOccurrence += TimeBetweenOccurrenceAndNotification[1].ToString().Split('H')[0].Trim();

                    TimeBetweenOccurrence += " Hours";

                    @Html.Label(TimeBetweenOccurrence, new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                }
                else
                {
                    @Html.Label("N/A", new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                }*@

                                                @Html.Label(Convert.ToString(!string.IsNullOrEmpty(Investigation.TimeBetweenOccurrenceAndNotification) ? Convert.ToString(Investigation.TimeBetweenOccurrenceAndNotification) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">Does the Occurrence have training benefits for the AAIS investigators?</label>
                                            <div class="col-sm-6 col-form-box option-tags">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result YesNoList6 in ViewBag.YesNoList)
                                                {
                                                    <label class="radio-inline">

                                                        @if (Investigation.TrainingBenefitsToAAISInvestigators != 0)
                                                        {
                                                            if (YesNoList6.ID == Convert.ToInt32(Investigation.TrainingBenefitsToAAISInvestigators))
                                                            {
                                                                @Html.RadioButton("YesNoList6", YesNoList6.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("YesNoList6", YesNoList6.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("YesNoList6", YesNoList6.ID, false, new { @disabled = true })
                                                        }
                                                        @YesNoList6.LKVALUE
                                                    </label>
                                                }
                                            </div>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="x_panel">
                            <div class="x_content create-user-table di-radio">
                                <div class="info-tittle"><h2>DI Suggestion and Further Investigation</h2></div>
                                <div class="aircraft-details form-create-user-table">
                                    <form>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                DI Name:
                                            </label>
                                            <div class="col-sm-8 col-form-box">
                                                <label>@Investigation.FirstName</label>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                Comments:
                                            </label>
                                            <div class="col-sm-8 col-form-box">
                                                <label>@Investigation.DutyInvestigatorComments</label>
                                                @*@Html.Label(Investigation.DutyInvestigatorComments, new { @class = "form-values" })*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">DI Suggestion:</label>
                                            <div class="col-sm-8 col-form-box">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result DI_Sugg in ViewBag.DI_SuggList)
                                                {
                                                    <label class="radio-inline">
                                                        @if (Investigation.DutyInvestigatorSuggestions != "0")
                                                        {
                                                            if (DI_Sugg.ID == Convert.ToInt32(Investigation.DutyInvestigatorSuggestions))
                                                            {
                                                                @Html.RadioButton("DI_SuggList", DI_Sugg.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("DI_SuggList", DI_Sugg.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("DI_SuggList", DI_Sugg.ID, false, new { @disabled = true })
                                                        }
                                                        @DI_Sugg.LKVALUE

                                                    </label>

                                                }

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputEmail1">DI Further Suggestion:</label>
                                            <div class="col-sm-8 col-form-box">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result DI_Fur_Sugg in ViewBag.DI_Fur_SuggList)
                                                {
                                                    <label class="radio-inline">
                                                        @if (Investigation.DutyInvestigatorFurtherSuggestion != "0")
                                                        {
                                                            if (DI_Fur_Sugg.ID == Convert.ToInt32(Investigation.DutyInvestigatorFurtherSuggestion))
                                                            {
                                                                @Html.RadioButton("DI_Fur_SuggList", DI_Fur_Sugg.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("DI_Fur_SuggList", DI_Fur_Sugg.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("DI_Fur_SuggList", DI_Fur_Sugg.ID, false, new { @disabled = true })
                                                        }
                                                        @DI_Fur_Sugg.LKVALUE

                                                    </label>

                                                }

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Investigation Type <span class="text-danger"></span></label>
                                            <div class="col-sm-8 col-form-box">
                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result InvestigationType in ViewBag.Investigation_Type)
                                                {
                                                    <label class="radio-inline">
                                                        @if (Investigation.InvestigationType != "0")
                                                        {
                                                            if (InvestigationType.ID == Convert.ToInt32(Investigation.InvestigationType))
                                                            {
                                                                @Html.RadioButton("Investigation_Type", InvestigationType.ID, true, new { @disabled = true })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("Investigation_Type", InvestigationType.ID, false, new { @disabled = true })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButton("Investigation_Type", InvestigationType.ID, false, new { @disabled = true })
                                                        }
                                                        @InvestigationType.LKVALUE
                                                    </label>
                                                }
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        if (Investigation.LKOccurrenceStatusTypeId == 5 && Convert.ToInt32(Session["RoleId"]) == 3)
                        {
                            <div class="x_panel openfile-btns">
                                <button type="submit" class="btn btn-save" onclick="location.href='@Url.Action("Form_39", "Director", new { id = Investigation.InvestigationFileID })'">Open Investigation File</button>
                                <button type="submit" class="btn btn-cancel" data-target="#close-investigation-popup" data-toggle="modal">Close Occurrence</button>
                            </div>
                        }
                        else if (Investigation.LKOccurrenceStatusTypeId == 3)
                        {
                            <div class="x_panel openfile-btns">
                                <button type="submit" class="btn btn-save" disabled>Open Investigation File</button>
                                <button type="submit" class="btn btn-cancel" disabled>Close Occurrence</button>
                            </div>
                        }
                        else
                        {

                            <div class="x_panel openfile-btns">
                                <button type="submit" class="btn btn-save" disabled>Open Investigation File</button>
                                <button type="submit" class="btn btn-cancel" disabled>Close Occurrence</button>
                            </div>

                        }
                    }


                </div>
            </div>
        </div>
    </div>

    <!-- Add new development popup -->
    <div id="close-investigation-popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog">
            @using (Html.BeginForm("DI_Filled_Form35", "Director", FormMethod.Post))
            {
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        @foreach (var Inv in Model.Form35_DI)
                        {
                            <div class="modal-title"><h4>@Inv.NotificationID</h4></div>
                        }
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="closeinvestigation-wrapp">
                            <div class="tittle"></div>
                            <div class="closeinvestigation-inner">
                                <form>
                                    <div class="form-group">
                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                            Reason<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8 col-form-box">

                                            @if (ViewBag.CloseReasonList != null)
                                            {

                                                @Html.DropDownListFor(m => m.InvestigationClosureReason, ViewBag.CloseReasonList as SelectList, "Select", new { @class = "form-values form-control", @required = "required" });
                                            }


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Comments<span class="text-danger">*</span></label>
                                        <div class="col-sm-8 col-form-box">
                                            @Html.TextAreaFor(m => m.InvestigationClosureReason, new { @required = "required", @rows = 7, @type = "text", @reuired = "required", @class = "form-control form-textarea" })
                                            @Html.HiddenFor(m1 => m1.InvestigationFileID)

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-save">Close Occurrence</button>
                    </div>

                </div>
            }
        </div>
    </div>

</div>









