﻿@model ISM_Project.Models.Form39

@{
    ViewBag.Title = "Form 039";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="row">
                                @if (Model.Form35_DI.Count() > 0)
                                {
                                    foreach (var Investigation in Model.Form35_DI)
                                    {

                                        <div class="x_panel">

                                            <div class="x_content form-create-user-table">
                                                <div class="info-tittle"><h2>Form 039</h2></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                        AAI Case No:
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-sm-8 col-form-box">
                                                        @*@Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.InvestigationNumber)) ? Convert.ToString(Investigation.InvestigationNumber) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@
                                                        @Html.TextBoxFor(m=>m.InvestigationNumber, new { placeholder = "AIFN/XXXX/XXXX", @id = "InvestigationNumber", @class = "form-values" })
                                                        @Html.Hidden("InvestigationFileID", Convert.ToString(Investigation.InvestigationFileID))
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Occurrence Classification:</label>
                                                    <div class="col-sm-8 col-form-box">

                                                        @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.IncidentType)) ? Convert.ToString(Investigation.IncidentType) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                        Place & Date:
                                                    </label>
                                                    <div class="col-sm-8 col-form-box">
                                                        @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.PlaceOfIncident)) ? Convert.ToString(Investigation.PlaceOfIncident) + " & " + Convert.ToDateTime(Investigation.LocalDateAndTimeOfOccurrence).ToString("dd/MM/yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-12 col-form-label" for="exampleInputPassword1">Injuries to Persons<span class="text-danger"></span></label>
                                                    <div class="col-sm-12 col-form-box">
                                                        <div class="form-min-table">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Injuries </th>
                                                                        <th>Crew<span class="text-danger"></span></th>
                                                                        <th>Passengers<span class="text-danger"></span></th>
                                                                        <th>Others<span class="text-danger"></span></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Fatal</td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.CrewsWithFatalInjuryInfo)) ? Convert.ToString(Investigation.CrewsWithFatalInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                        </td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.PassengersWithFatalInjuryInfo)) ? Convert.ToString(Investigation.PassengersWithFatalInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })


                                                                        </td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.OthersWithFatalInjuryInfo)) ? Convert.ToString(Investigation.OthersWithFatalInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Serious</td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.CrewsWithSeriousInjuryInfo)) ? Convert.ToString(Investigation.CrewsWithSeriousInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                        </td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.PassengersWithSeriousInjuryInfo)) ? Convert.ToString(Investigation.PassengersWithSeriousInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                        </td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.OthersWithSeriousInjuryInfo)) ? Convert.ToString(Investigation.OthersWithSeriousInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Minor</td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.CrewsWithMinorInjuryInfo)) ? Convert.ToString(Investigation.CrewsWithMinorInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })


                                                                        </td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.PassengersWithMinorInjuryInfo)) ? Convert.ToString(Investigation.PassengersWithMinorInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                        </td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.OthersWithMinorInjuryInfo)) ? Convert.ToString(Investigation.OthersWithMinorInjuryInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>None</td>

                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.CrewsKilledInfo)) ? Convert.ToString(Investigation.CrewsKilledInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                        </td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.PassengersKilledInfo)) ? Convert.ToString(Investigation.PassengersKilledInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                        </td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.OthersKilledInfo)) ? Convert.ToString(Investigation.OthersKilledInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Total</td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.CrewsTotalInjury)) ? Convert.ToString(Investigation.CrewsTotalInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                        </td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.PassengersTotalInjury)) ? Convert.ToString(Investigation.PassengersTotalInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                        </td>
                                                                        <td>
                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Investigation.OthersTotalInjury)) ? Convert.ToString(Investigation.OthersTotalInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="aircraft-info">
                                                            @using (Html.BeginForm("Assign_IIC", "Director", FormMethod.Post, new { id = "formAssign_IIC" }))
                                                            {
                                                                <form>

                                                                    @if (Model.Inv_AircraftDet != null)
                                                                    {
                                                                        if (Model.Inv_AircraftDet.Count() > 0)
                                                                        {
                                                                            int ii = 0;
                                                                            foreach (var Aircraft in Model.Inv_AircraftDet)
                                                                            {
                                                                                ii++;
                                                                                <div class="info-tittle" style="margin-top:15px;"><h2>Aircraft -@ii</h2></div>
                                                                                <div id="aircraft-details-@ii">

                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Flight Number:</label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @*@Html.Label(Convert.ToString(!string.IsNullOrEmpty(Aircraft.FlightNumber) ? Convert.ToString(Aircraft.FlightNumber) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@
                                                                                            <label>@Aircraft.FlightNumber</label>
                                                                                        </div>
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Long & Lat :</label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @*@Html.Label("", (!string.IsNullOrEmpty(Convert.ToString(Aircraft.latitudeAndlongitude))) ? String.Format("{0:N4}", Aircraft.latitudeAndlongitude) : "N/A", new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@
                                                                                            <label>@Aircraft.latitudeAndlongitude</label>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputPassword1">Departure Airport:</label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @Html.Label(Aircraft.DepatureAirport, new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                        </div>
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Destination Airport:</label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @Html.Label(Aircraft.DestinationAirport, new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputPassword1">Passengers Onboard:</label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @Html.Label(Convert.ToString(Aircraft.PassengersOnBoard), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                        </div>
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Crew Onboard:</label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @Html.Label(Convert.ToString(Aircraft.CrewOnBoard), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                        </div>
                                                                                    </div>

                                                                                    @*<div class="form-group">
                                                                                            <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Passenger Details:</label>
                                                                                            <div class="col-sm-8 col-form-box" style="margin-top:10px;">
                                                                                                <table class="table table-bordered table-hover">
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th>Injuries</th>
                                                                                                            <th>Crew</th>
                                                                                                            <th>Passengers</th>
                                                                                                            <th>Others</th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>Fatal</td>
                                                                                                            <td>
                                                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.CrewsWithFatalInjury)) ? Convert.ToString(Aircraft.CrewsWithFatalInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })


                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.PassengersWithFatalInjury)) ? Convert.ToString(Aircraft.CrewsWithFatalInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })


                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.OthersWithFatalInjury)) ? Convert.ToString(Aircraft.CrewsWithFatalInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td>Serious</td>
                                                                                                            <td>
                                                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.CrewsWithSeriousInjury)) ? Convert.ToString(Aircraft.CrewsWithSeriousInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.PassengersWithSeriousInjury)) ? Convert.ToString(Aircraft.PassengersWithSeriousInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.OthersWithSeriousInjury)) ? Convert.ToString(Aircraft.OthersWithSeriousInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td>Minor</td>
                                                                                                            <td>
                                                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.CrewsWithMinorInjury)) ? Convert.ToString(Aircraft.CrewsWithMinorInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.PassengersWithMinorInjury)) ? Convert.ToString(Aircraft.PassengersWithMinorInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.OthersWithMinorInjury)) ? Convert.ToString(Aircraft.OthersWithMinorInjury) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td>None</td>
                                                                                                            <td>
                                                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.CrewsKilled)) ? Convert.ToString(Aircraft.CrewsKilled) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.PassengersKilled)) ? Convert.ToString(Aircraft.PassengersKilled) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.OthersKilled)) ? Convert.ToString(Aircraft.OthersKilled) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </div>*@

                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                                            Make and Model:
                                                                                        </label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @Html.Label(Convert.ToString(!string.IsNullOrEmpty(Aircraft.AircraftModel) ? Convert.ToString(Aircraft.AircraftModel) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                        </div>
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                                            Engine Info:
                                                                                        </label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.AircraftEngineInfo)) ? Convert.ToString(Aircraft.AircraftEngineInfo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                                            Aircraft Category:
                                                                                        </label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.AircraftCategory)) ? Convert.ToString(Aircraft.AircraftCategory) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                        </div>
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                                            Registration:
                                                                                        </label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @Html.Label(Convert.ToString(!string.IsNullOrEmpty(Aircraft.AircraftRegistration) ? Convert.ToString(Aircraft.AircraftRegistration) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                        </div>
                                                                                    </div>


                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                                            Maximum Take Off Mass (kg):
                                                                                        </label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @*@Html.Label(Aircraft.AircraftMaximumMass, new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@
                                                                                            <label>@Aircraft.AircraftMaximumMass</label>
                                                                                        </div>
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                                            MSN:
                                                                                        </label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @*@Html.Label(Convert.ToString(!string.IsNullOrEmpty(Aircraft.MSN) ? Convert.ToString(Aircraft.MSN) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@
                                                                                            <label>@Aircraft.MSN</label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                                            Operator Name:
                                                                                        </label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @*@Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.OperatorName)) ? Convert.ToString(Aircraft.OperatorName) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@
                                                                                            <label>@Aircraft.OperatorName</label>
                                                                                        </div>
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                                            State of the Operator:
                                                                                        </label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @*@Html.Label(Convert.ToString(!string.IsNullOrEmpty(Aircraft.StateofOperator) ? Convert.ToString(Aircraft.StateofOperator) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })*@
                                                                                            <label>@Aircraft.StateofOperator</label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail1">
                                                                                            Operator Contacts:
                                                                                        </label>
                                                                                        <div class="col-sm-3 col-form-box">
                                                                                            @Html.Label((!string.IsNullOrEmpty(Convert.ToString(Aircraft.OperatorContactNo)) ? Convert.ToString(Aircraft.OperatorContactNo) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    }

                                                                    <div class="info-tittle" style="margin-top:15px;"><h2>All Investigator-in-charge:</h2></div>


                                                                    <div class="form-group">


                                                                        <table class="table table-bordered table-hover">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Name </th>
                                                                                    <th>Current Cases</th>
                                                                                    <th>Current Tasks</th>
                                                                                    <th>Profile/Skills</th>
                                                                                    <th>Email ID</th>
                                                                                    <th>Assign As IIC</th>
                                                                                    <th>Assign As Team Member</th>
</thead>
                                                                            <tbody>
                                                                                @{ int i = 0; }
                                                                                @foreach (var iic_assign in Model.list_iic_incharge)
                                                                                {
                                                                                    i += 1;

                                                                                <tr>
                                                                                    <td>
                                                                                        @Html.LabelFor(ModelItem => iic_assign.FirstName, iic_assign.FirstName + " " + iic_assign.MiddleName + " " + iic_assign.LastName, new { @title = iic_assign.FirstName + " " + iic_assign.MiddleName + " " + iic_assign.LastName })
                                                                                    </td>

                                                                                    <td>@Html.DisplayFor(ModelItem => iic_assign.noofcases)</td>
                                                                                    <td>@Html.DisplayFor(ModelItem => iic_assign.NoofEvents)</td>
                                                                                    <td><label class="form-values"><a href="" class="iic_profile" data-iic="@Html.DisplayFor(ModelItem => iic_assign.UserID)" data-toggle="modal">View Profile</a></label></td>
                                                                                    <td>@Html.DisplayFor(ModelItem => iic_assign.EmailAddress)</td>
                                                                                    <td>
                                                                                        @if (Investigation.LKInvestigationStatusTypeID == 1)
        {
            if ((Investigation.IICAssigned) == iic_assign.FirstName)
            {
                                                                                @Html.RadioButtonFor(m => m.IICAssigned, iic_assign.UserID, new { @checked = true, @disabled = true, id = "IICAssigned_" + i, @class = "ac-tm-iic" })
}
else
{
                                                                                @Html.RadioButtonFor(m => m.IICAssigned, iic_assign.UserID, new { @checked = false, @disabled = true, id = "IICAssigned_" + i, @class = "ac-tm-iic" })

}
}
else
{
                                                                                @Html.RadioButtonFor(m => m.IICAssigned, iic_assign.UserID, new { id = "IICAssigned_" + i, @class = "ac-tm-iic" })
}

                                                                                    </td>
                                                                                    @if ((Convert.ToInt32(Session["roleid"]) == 3)@*&& (Convert.ToInt32(TempData["INV_STATUS"]) != 2)*@)
{
                                                                                <td><input type='checkbox' id="TeammemberList_@i" name="TeammemberList[]" class="tm_list" value="@iic_assign.UserID" /></td>
}
                                                                                </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>


                                                                </form>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (Investigation.LKInvestigationStatusTypeID == 3)
                                                {
                                                <div class="x_panel assign-inv">
                                                    @if (Investigation.InvestigationType == "21")
                                                    {
                                                    <button type="button" class="btn btn-save" id="btnAssign" onclick="assignInvestigator();" disabled>Assign Accredited Representative</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-save" id="btnAssign" onclick="assignInvestigator();" disabled>Assign IIC and Team Members</button>
                                                    }
                                                </div>
                                                }
                                            </div>
                                        </div>
                                    }

                                }


                                <!-- sumitted form btns -->
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="iic_assigned_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:75%">

        <!-- Modal content-->
        <div class="modal-content" id="profile_data">


            <div class="modal-footer">

                <button type="submit" class="btn btn-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="mailSendModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="location.href='@Url.Action("IIC_Assigned", "Director", new { Inv_Id =Convert.ToInt32(HttpContext.Current.Session["InvFileID"]) })'">&times;</button>

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnIICassigned" onclick="location.href='@Url.Action("IIC_Assigned", "Director", new { Inv_Id =Convert.ToInt32(HttpContext.Current.Session["InvFileID"]) })'">Close</button>
            </div>
        </div>
    </div>
</div>