﻿@model ISM_Project.Models.Form39
@{
    ViewBag.Title = "IIC_Assigned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper">
                
                    @foreach (var Investigation in Model.Form35_DI)
                    {
                        <div class="main-wrapper">
                            <div class="x_panel">
                                <div class="x_panel_center iis-assign-wrapper">
                                    <div class="assign-tag">
                                        <i class="fas fa-check-circle"></i>
                                    </div>
                                    <div class="success-value">
                                        <label class="case-no">AAI Case No</label>
                                        <label class="case-person"> @Investigation.InvestigationNumber</label>
                                    </div>
                                    <div class="divi"></div>
                                    <div class="success-msg">
                                        Succesfully Assigned to @Investigation.IICAssigned
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10"></div>
                                    <div class="col-sm-2">
                                        <a href="@Url.Action("DI_Filled_Form35","Director",new { id=Investigation.InvestigationFileID})" class="iic_profile">Back to Incident</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>